[2022-02-14 18:20] steeling opened #4532 "Remove certificate.Certificater"
This is part of a larger set of refactoring opportunities for Certifacte Management in OSM

Each cert provider currently implements near-identical code for certificate.Certificater. The certificate.Certificater interface makes no API calls, and just returns data stored from the struct. Because of this, there is no need to have an interface at all. We can simply replace all references with the raw

[2022-02-14 18:26] steeling opened #4533 "Create certificate.Provider interface that manages shared cert provider functionality"
Currently, each cert provider implements a suite of shared functionality like cache management, and certificate rotation. The current Cert Provider interface is:

[code]

Currently, the only method that results in API calls is `IssueCertificate`. The rest of the methods deal strictly with the cache. Because of this, we can greatly reduce the amount of code a provider is responsible for, by impleme

[2022-02-14 18:30] steeling opened #4534 "Remove factory-style (cert) provider.Config"
Currently, there is a provider.Config type that acts as a factory style generator for creating a cert provider. As part of the identified work for simplifying the cert management code, we can remove this type altogether.

Removing the config class removes an inconsistency in how the provider is instantiated, while also removing an unnecessary layer of abstraction.

With removing the config class,

[2022-02-14 18:30] steeling commented on #4501
Looking at the code base, I've identified some refactoring opportunities prior to adding a new cert manager:

- [ ] [Remove certificate.Certificater](https://github.com/openservicemesh/osm/issues/4532)
- [ ] [Leverage a new certificate.Administrator type](https://github.com/openservicemesh/osm/issues/4533)
- [ ] [Switch to options interface, remove provider.Config, factory-style code](https://gith

[2022-02-14 21:29] shalier commented on #4526
@ashdubeyaz It looks like you're using the service frontend's port instead of the targetPort for the IngressBackend, could you change it to the targetPort?

[2022-02-14 23:23] ashdubeyaz commented on #4526
just to clarify ... you are asking to change the port number to 8080 in the IngressBackend configuration ... because the frontend service's target port is 8080?

[2022-02-14 23:24] steeling commented on #4533
While we're at it, we can collapse the rotor functionality directly into the new manager. The fact that this is separate is an artifact from a lack of a generic manager type.

[2022-02-14 23:50] steeling commented on #4531
Drive-by comment for whoever picks this up, this is likely due to https://github.com/openservicemesh/osm/issues/3477

[2022-02-15 00:09] #3886 closed

[2022-02-15 00:09] #3864 closed

[2022-02-15 00:09] #3852 closed

[2022-02-15 00:50] ashdubeyaz commented on #4526
Unfortunately, the change did not have an effect. I am still getting 500 error. attached is the log from the ingress controller log.

[ingress-controller-pod.log](https://github.com/openservicemesh/osm/files/8064901/ingress-controller-pod.log)

[2022-02-16 01:39] bridgetkromhout commented on #3521
We should check the script, see if it is emitting unhelpful errors, and fix it.

[2022-02-16 10:15] richardwhiuk opened #4545 "Add UDP encryption support"
**Please describe the Improvement and/or Feature Request**

UDP is commonly used for intra-cluster communication and securing this traffic is critical to a zero trust security model. Using service mesh to fulfil this need simplifies securing Kubernetes clusters.

Encryption could either be achieved with DTLS, or by tunnelling the traffic over TCP.

**Scope (please mark with X where applicable)**
-

[2022-02-16 10:22] richardwhiuk opened #4546 "Add support for pods with multiple network interfaces"
**Please describe the Improvement and/or Feature Request**

Support for pods with multiple network interfaces, where only the default network interfaces (eth0) should be subject to service mesh interception

In our use case, multi-network k8s cluster (multus) is used, which runs into some problems with OSM (since OSM programs some Linux kernel rules which impact the additional network interface /

[2022-02-16 12:48] trstringer commented on #3521
Thanks, @bridgetkromhout! I added it to the vFuture milestone so we can triage this work (also it won't be considered for the stale bot anymore).

[2022-02-16 16:55] #4447 closed

[2022-02-16 17:36] trstringer commented on #4546
Thank you for opening up this issue! I have added it to our future planning milestone.

[2022-02-17 14:50] #4532 closed

[2022-02-17 18:49] steeling opened #4551 "[Enhancement] Push all k8s clients into pkg/k8s"
Right now there are 5 separate clients for issuing requests to Kubernetes, including:

pkg/smi
pkg/configurator
pkg/policy
pkg/k8s
pkg/config

We should push all of these into the pkg/k8s library, and restructure the code to have a single client that interacts with the k8s master. This creates a more intuitive client/server relationship, and keeps all k8s constructs in a single location, which hel

[2022-02-17 20:43] shalier commented on #4526
@ashdubeyaz It looks like it's because Redis is TCP-based, for the redis-cart service please add `appProtocol: tcp` - ingressBackend should still be using the frontend's targetPort: 8080. [Additional info on appProtocol](https://release-v1-0.docs.openservicemesh.io/docs/guides/app_onboarding/app_protocol_selection/)

[2022-02-18 21:47] slofurno opened #4552 "webhook injector calls fail"
**Bug description**: failing webhook calls prevent pods from being created

Error creating: Internal error occurred: failed calling webhook "osm-inject.k8s.io": failed to call webhook: Post "https://osm-injector.osm-system.svc:9090/mutate-pod-creation?timeout=20s": dial tcp 10.3.146.3:9090: i/o timeout

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI

[2022-02-19 00:38] slofurno commented on #4552
looks like this is just another gke specific issue. for anyone else trying to run osm on gke: https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules

[2022-02-19 00:38] #4552 closed

[2022-02-20 00:12] #3751 closed

[2022-02-21 00:10] #3703 closed

[2022-02-21 00:10] #3701 closed

[2022-02-21 00:10] #3663 closed

[2022-02-21 00:10] #3563 closed

[2022-02-22 00:10] #3559 closed

[2022-02-23 00:11] #3547 closed

[2022-02-23 00:11] #3523 closed

[2022-02-23 08:49] raj13aug commented on #1810
Which tool is used for visualization in OSM? Looking at similar features like that available in Kiali?

[2022-02-24 00:10] #3213 closed

[2022-02-24 00:10] #3173 closed

[2022-02-24 00:10] #3116 closed

[2022-02-24 16:40] schristoff commented on #4469
This issue is waiting the completion of #4533 :)

[2022-02-24 21:28] steeling commented on #4531
closing as a dup against #3477. We will add all debugging and planning to that issue

[2022-02-24 21:28] #4531 closed

[2022-02-25 00:10] #3046 closed

[2022-02-25 05:08] mudit-01 opened #4559 "Clarity over contribution ladder"
**Please describe what should be documented**
As per the current doc(https://github.com/openservicemesh/osm/blob/main/CONTRIBUTOR_LADDER.md) there are 3 roles Contributor, Maintainer, and Approver.
But as per these docs https://github.com/openservicemesh/osm/blob/cd14c005e519a25a87a29a43f7a5ccf46485a734/docs/pull_request_review_guide.md
https://github.com/openservicemesh/osm/blob/37dfb86504bfa160d

[2022-02-25 16:26] steeling commented on #102
Related issues

* #2012
* #1001
* #2172

[2022-02-25 19:26] #4559 closed

[2022-02-25 21:10] steeling commented on #2316
I'll add, similar to waiting for startup, is waiting for shut down. This is particularly useful for jobs, that only reach completion when *all* containers stop. However the sidecar never stops (but *is* injected to pods backed by jobs).

This is closer to a bug and may bring the priority of this issue up higher

[2022-02-26 01:08] jaellio commented on #4434
Investigation and proposals doc: https://docs.google.com/document/d/1is5iRPnJvItzwyXNNYlmj5gRtaxX-txYdp2FH0RZDeY/edit?usp=sharing

[2022-02-28 00:12] #4399 closed

[2022-02-28 17:11] #2152 closed

[2022-03-01 00:12] #2899 closed

[2022-03-01 17:37] steeling opened #4563 "Single container for health check forwarder and sidecar"
Spawned from the [discussion here](https://github.com/openservicemesh/osm/pull/4558#discussion_r814374479), replying to the last comment:

I'm not concerned about terminology, but I do think this is classified as part of the data plane. [“The control plane is the part of a network that controls how data is forwarded, while the data plane is the actual forwarding process”.](https://www.cloudflare.c

[2022-03-01 18:49] #4434 closed

[2022-03-02 00:16] #2728 closed

[2022-03-03 00:12] #2470 closed

[2022-03-03 17:21] nojnhuh opened #4568 "Update control plane metrics"
**Please describe the Improvement and/or Feature Request**

Based on [this doc](https://docs.google.com/document/d/1NB42lJ0Uvrevuqsv3ab8h-q_4bvX0FTWWrN_EPNf4NQ/edit?usp=sharing), I propose the following changes to the metrics generated by OSM's control plane components:

#### Keep

Metric|Type|Description
-|-|-
k8s_api_event_count|Counter|Represents the number of events received from the Kubernete

[2022-03-03 17:28] nojnhuh commented on #4528
Fixed in #4553

[2022-03-03 17:28] #4528 closed

[2022-03-03 17:44] shashankram commented on #4568
@nojnhuh for the metrics that are being changed or removed, could you kindly add a column stating why they are being updated/removed? If you capture this table in the doc, I can leave follow-up questions on the doc itself.

[2022-03-03 18:06] nojnhuh commented on #4568
@shashankram Done

[2022-03-03 18:28] nojnhuh commented on #2078
Done in #4402

[2022-03-03 19:59] shahriak opened #4572 "Expose MeshConfig parameters to be overriden via Add-on profile"
**Please describe the Improvement and/or Feature Request**

Currently OSM Add-on does not provide a mechanism to override any meshConfigs at the time off install. I am aware that it is possible to patch the meshConfig once OSM is deployed onto the cluster, however, this does not seem like a very straightforward solution and requires custom logic on our end. The ask is to expose config via add-on p

[2022-03-03 20:06] shahriak opened #4573 "Expose config in Add-on profile to Inject sidecar on the given list of namespaces"
**Please describe the Improvement and/or Feature Request**

The ask is to provide a mechanism (possibly in add-on profiles) to be able to send in a list of namespaces such that all these namespaces if they don't exist will be created and automatically be injected with OSM sidecars. The reason for this is for those that follow Helm deployments for Applications, helm v3 does not allow creating metad

[2022-03-03 20:22] shashankram commented on #4572
@shahriak The OSM AKS addon is not managed as a part of this open source project. Kindly follow up with the AKS team managing the OSM addon for enhancements required in the addon.

[2022-03-03 20:22] #4572 closed

[2022-03-03 20:22] shashankram commented on #4573
@shahriak The OSM AKS addon is not managed as a part of this open source project. Kindly follow up with the AKS team managing the OSM addon for enhancements required in the addon.

[2022-03-03 20:22] #4573 closed

[2022-03-03 20:33] shahriak opened #4574 "Allow plugging in custom CA at the time of install via Add-on profile"
**Please describe the Improvement and/or Feature Request**

Currently OSM creates a default secret via Tresor package initially if there is no secret with name osm-ca-bundle present in the cluster. The ask is to be able to allow plugging in custom CA at the time of install which will create the secret based on the given certificate. The reason for this is OSM currently does not auto-rotate the sec

[2022-03-03 20:39] shashankram commented on #4574
@shahriak The OSM AKS addon is not managed as a part of this open source project. Kindly follow up with the AKS team managing the OSM addon for enhancements required in the addon.

[2022-03-03 20:39] #4574 closed

[2022-03-04 00:12] #2430 closed

[2022-03-04 19:02] nojnhuh opened #4575 "CRD reconciler handles the same updates twice"
**Bug description**:

While adding metrics to the reconciler as a part of #4568 I noticed the metric increasing by one after deleting a CRD but by two each time I update a CRD. These are the changes I've made to add the metrics: https://github.com/nojnhuh/osm/commit/e724c77f0fd966c63429dbe6be98176efd410d0c

After adding some more logs it looks like the second update is the same as the first, not t

[2022-03-05 00:11] #2172 closed

[2022-03-05 00:11] #2111 closed

[2022-03-05 00:11] #2083 closed

[2022-03-05 00:11] #2081 closed

[2022-03-07 00:11] #2052 closed

[2022-03-07 10:15] mudit-01 commented on #4448
Hi @johnsonshi now `osm namespace remove` will remove the metrics annotation https://github.com/openservicemesh/osm/pull/4539

also, the command `osm metrics enable` helps mention that multiple namespaces can have metrics enabled or disabled.
![image](https://user-images.githubusercontent.com/53465654/157011092-b29706cc-89cd-4a16-9aff-3f238531709e.png)

[2022-03-07 11:49] borqosky opened #4576 "Cert Manager and HTTP Validation with OSM blocked"
**Bug description**:
When you create ingress (supplying deployment and svc managed under mesh) with some `Issuer` (ACME HTTP challenge) cert-manager annotation it spawns new ACME HTTP01 challenge solver pod (with accompanying service and ingress). Names're randomly generated, so can't be added as backend destination in `ingressbackendspec` for OSM - because of its http validation is hanging
**Affe

[2022-03-07 17:20] shashankram commented on #4576
Discussion on Slack: https://cloud-native.slack.com/archives/C018794NV1C/p1646217753270429

[2022-03-07 18:01] #4226 closed, assigned to allenlsy

[2022-03-08 08:23] borqosky commented on #4576
in [IngressSourceSpec](https://release-v1-0.docs.openservicemesh.io/docs/api_reference/policy/v1alpha1/#policy.openservicemesh.io/v1alpha1.IngressSourceSpec) API there is `kind` field. Adding it into [IngressBackendSpec](https://release-v1-0.docs.openservicemesh.io/docs/api_reference/policy/v1alpha1/#policy.openservicemesh.io/v1alpha1.BackendSpec) would solve the problem. Like @shashankram suggest

[2022-03-08 18:15] shashankram commented on #4576
@borqosky It seems like you want to use Ingress with OSM but are not able to create the IngressBackend resource as the backend needs to be a Service and that Service is unknown to you when cert-manager creates the Pod, Service, and Ingress objects.

At the moment, this cannot be supported, because OSM leverages the backend to determine which pods (backing a service) are authorized to accept traffi

[2022-03-08 18:45] borqosky commented on #4576
@shashankram thx for a hint. I think better to use it on [pod-scoped-inbound-port-exclusions](https://main--osm-docs.netlify.app/docs/guides/traffic_management/iptables_redirection/#2-pod-scoped-inbound-port-exclusions). I see cert-manager has an option to add annotation to newly created pods [here](https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L24

[2022-03-08 18:49] mudit-01 commented on #4514
resolved

[2022-03-08 18:49] #4514 closed

[2022-03-09 00:11] #2012 closed

[2022-03-09 09:48] borqosky commented on #4576
The only way I get it workaround is by specifying global port inbound exclusion:
[code]
However, I see in cert-manager there is built-in [annotation](https://github.com/cert-manager/cert-manager/blob/b1180c59ad588e73ac25b0d70a86661cf7c180e1/pkg/issuer/acme/http/service.go#L110), used by Istio for similar case. Can it be used similarly by OSM?

[2022-03-09 17:11] shashankram commented on #4576
Could you not annotate just the pod as described in https://release-v1-0.docs.openservicemesh.io/docs/guides/traffic_management/iptables_redirection/#2-pod-scoped-inbound-port-exclusions? Could you confirm the annotation was correctly applied on the pod?

[2022-03-10 00:10] #1860 closed

[2022-03-10 08:21] borqosky commented on #4576
@shashankram I couldn't find such option in cert-manager config (for adding annotation in ACME solver pod). The only way to mutate pod manifest with ports exclusion is `opa` mutating webhook (with accompanying rego rules).

[2022-03-10 08:21] borqosky commented on #4576
@shashankram I couldn't find such option in cert-manager config (for adding annotation in ACME solver pod). The only way to mutate pod manifest is with ports exclusion `opa` mutating webhook.

[2022-03-10 14:28] chandan9778 opened #4583 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
**Bug description**:
Currently we have installed osm on AKS cluster
once osm is enabled on namespace level we are unable to access any ingress based(Exposed via nginx ingress controller) application and  getting **upstream connect error or disconnect/reset before headers. reset reason: connection failure after envoy**
**Affected area (please mark with X where applicable)**:
- Install

[2022-03-10 15:29] trstringer commented on #4583
This looks like it could be related to [this nginx ingress controller bug](https://github.com/kubernetes/ingress-nginx/issues/5608) that was resolved [in this nginx ingress controller PR](https://github.com/kubernetes/ingress-nginx/pull/8098). This fix is included in [nginx ingress controller v1.1.1](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.1).

Can you look at your

[2022-03-10 16:10] trstringer commented on #4583
Can you provide nginx ingress controller error logs pertaining to these failures?

[2022-03-10 17:16] shashankram commented on #4583
@chandan9778 Have you looked at https://release-v1-0.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/? If not, please take a look to confirm you have applied the ingress configurations correctly.

[2022-03-10 17:24] shashankram commented on #4576
@borqosky okay, the above confused me.
It looks like cert-manager must add an annotation on the pod for OSM to either exclude the port or prevent sidecar injection. I am unsure what exactly are you trying to accomplish at the end. The requirement in OSM is that if you want to allow ingress to a backend service, you need to specify the backend in the IngressBackend configuration much like what's do

[2022-03-10 17:37] chandan9778 commented on #4583
@shashankram yes applied the configuration correctly as per the docs ,The error am getting only when  enabling osm for any of the ingress based application.

[2022-03-10 17:48] shashankram commented on #4583
@chandan9778 Please share the following YAML configurations (redact info where necessary):
1. k8s Service for which ingress failing
2. k8s Ingress configuration
3. OSM IngressBackend configuration

[2022-03-10 18:07] allenlsy opened #4586 "Order of Envoy sidecar being injected into the containers list."
**Bug description**:

OSM injector currently **appends** Envoy sidecar into the pod containers list. It is very likely that Envoy will be the last container in the list. The order of the container matters in some cases. Kubelet creates containers sequentially (and non-blocking) according to the list. We have a use case that want to ensure Envoy is completely ready before starting application conta

[2022-03-10 18:18] shashankram commented on #4586
Ordering does not ensure app will startup correctly if it depends on network connectivity. In fact, it also needs Envoy configuration to be correctly configured by the controller before the app can be ready to send traffic over the network.

I am closing this as a duplicate of https://github.com/openservicemesh/osm/issues/2316 which pertains to resolving app startup issues due to Envoy. @allenlsy,

[2022-03-10 18:27] chandan9778 commented on #4583
@shashankram please find above mentioned yamls for your reference
**##INGRESSBACKEND.YAML###**
apiVersion: policy.openservicemesh.io/v1alpha1
kind: IngressBackend
metadata:
  name: xyz
  namespace: namespace-name
spec:
  backends:
  - name: xyz-service
    port:
      number: 8080 # targetPort of httpbin service
      protocol: https
    tls:
      skipClientCertValidation: false
  sources:
  - ki

[2022-03-10 18:46] shashankram commented on #4583
@chandan9778 thanks, could you kindly format the snippet, see https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code

Also would you mind sharing the MeshConfig YAML: `kubectl get meshconfig osm-mesh-config -n <osm namespace> -o yaml`

[2022-03-10 19:18] chandan9778 commented on #4583
@shashankram modified the above code snippet as per the standardand also please find the osm-messh-config yaml.
`apiVersion: config.openservicemesh.io/v1alpha1
kind: MeshConfig
metadata:
  creationTimestamp: "2022-03-08T11:32:10Z"
  generation: 5
  name: osm-mesh-config
  namespace: kube-system
  resourceVersion: "xxx"
  uid: xxx
spec:
  certificate:
    certKeyBitSize: 2048
    ingressGateway:

[2022-03-10 19:41] chandan9778 commented on #4583
@shashankram yes you are correct that is a typo both are same in my case and also  have followed the exact same steps as mentioned in the URL. https://release-v1-0.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/#https-ingress-mtls-and-tls

[2022-03-10 19:49] shashankram commented on #4583
@chandan9778 Just to confirm, are you suggesting following the steps exactly as provided in https://release-v1-0.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/#https-ingress-mtls-and-tls do not work for you? Could you share how you installed Nginx?

[2022-03-10 19:57] chandan9778 commented on #4583
i have follwed this yaml to install nginx into my cluster.
https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/cloud/deploy.yaml

[2022-03-10 21:15] shashankram commented on #4583
@chandan9778, do you also mind trying the HTTP based ingress workflow and verifying if that works for you? If HTTP works, we can upgrade the configuration to HTTPS and debug what's going on. If HTTP ingress doesn't work, it means there's a misconfiguration or something basic that isn't working.

Also please share the Envoy log from the backend pod taken while the request to the backend fails.

[2022-03-10 23:42] GermanSVG opened #4588 "glpat-Ps4HcmLqamoXD-bXEiEy"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI Tool                   [ ]
- Metrics

[2022-03-11 00:13] #1763 closed

[2022-03-11 00:13] #1718 closed

[2022-03-11 00:13] #1702 closed

[2022-03-11 01:13] jaellio commented on #4502
[Proposal doc](https://docs.google.com/document/d/19-rmjK6WiemecHr0htpNUXsdaOXpBWHTWngDCCcETtA/edit?usp=sharing)

[2022-03-11 01:26] shalier commented on #4394
I've verified that this is resolved with https://github.com/kubernetes/ingress-nginx/issues/5608
![image](https://user-images.githubusercontent.com/69616256/157783558-a278bb0b-6c8a-4b46-bb70-b4cc32f226ee.png)

[2022-03-11 01:26] #4394 closed

[2022-03-11 07:51] borqosky commented on #4576
@shashankram with [it](https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L249) you can annotate only webhook pods (part of the cert-manager deployment).
So, to bypass OSM on ACME solver pods you can:

- pass `global port exclusion` (8089 for cert-manager solver pods) into OSM config
- mutate ACME solver pods with `port exclusions` annotation by using M

[2022-03-11 11:39] chandan9778 commented on #4583
@shashankram tried HTTP based ingress workflow still getting the same [upstream connect error or disconnect/reset before headers. reset reason: connection failure]
Also please find envoy logs for your reference.
[code]

[2022-03-11 17:58] shashankram commented on #4583
The log indicates the connection to the upstream (destination) service was reset. @chandan9778 I think the next step would be to provide a standalone repro so that we can take a look. Please let me know if that's possible.

[2022-03-11 18:01] shashankram commented on #4576
Do any of these work for you to address this problem? Is there anything in specific you are expecting from OSM other than these alternatives?

[2022-03-11 18:41] shashankram commented on #4588
@GermanSVG Not sure if this bug was filed by accident, as there is nothing described in the title or description. If you encountered an issue with OSM, kindly open a bug and ensure to provide necessary info describing the issue. Thanks

[2022-03-11 18:41] #4588 closed

[2022-03-11 19:04] shashankram commented on #4583
@chandan9778, in that case, please share the following info (redact sensitive info but preserve config correctness).

1. k8s service yaml
2. Nginx HTTP ingress yaml
3. Request that is failing (e.g. curl http://foo.bar:8080/baz)
4. OSM IngressBackend yaml
5. OSM MeshConfig yaml
6. Complete Envoy sidecar log from backend service pod
7. Config dump of backend sidecar: `osm proxy get config_dump <pod>

[2022-03-13 00:11] #1684 closed

[2022-03-13 00:11] #1681 closed

[2022-03-13 00:11] #1603 closed

[2022-03-13 00:11] #1596 closed

[2022-03-14 00:11] #1537 closed

[2022-03-14 16:33] johnsonshi commented on #4061
Would rather do this manually for v1.1, then as part of a future release have an automated Grafana UI generation step as part of Github Actions release.

[2022-03-14 18:07] allenlsy commented on #4223
We will split this issue into two:

* Document on OSM performance
* Document on OSM scalability

Thus a new issue will be created for scalability documentation and this issue will be updated to only document on performance.

These results are still valid for performance documentation.

[2022-03-14 18:32] allenlsy opened #4591 "Document OSM scalability"
This is is separated from original issue #4223 .

This issue tracks the progress of OSM scalability documentation work. The document will be added to osm-docs repo.

The load test should consist of the following at minimum (values are based on reasonable estimations):

* 1000 services
* 1000 pods
* 20000 requests per second throughout the mesh

We plan to test the potential factors that may affect

[2022-03-14 21:35] nojnhuh commented on #4568
Looking for feedback on exactly how Kubernetes webhook metrics should look:

Currently, osm-injector runs a mutating webhook to inject sidecars to Pods, osm-controller runs a validating webhook for OSM and SMI custom resource types, and osm-bootstrap runs a conversion webhook for OSM and SMI custom types.

I'm thinking since both validating and mutating webhooks overlap quite a bit since they're b

[2022-03-15 00:11] #1531 closed

[2022-03-15 00:11] #1427 closed

[2022-03-15 16:08] macruz opened #4592 "HPA fails to calculate metrics on an osm-enabled namespace"
**Bug description**:

When configuring an HPA on an osm-enabled namespace, the HPA is not able to calculate the CPU values correctly.
Suspect that the issue is because envoy does not have any limits defined, which leads to the following error on HPA (from the example below):
 "Warning  FailedGetResourceMetric       41s (x10 over 2m57s)   horizontal-pod-autoscaler  failed to get cpu utilization: mi

[2022-03-15 16:54] nojnhuh commented on #4592
Sidecar container cpu/memory limits can be set in the MeshConfig at `spec.sidecar.resources`: https://docs.openservicemesh.io/docs/api_reference/config/v1alpha1/#config.openservicemesh.io/v1alpha1.SidecarSpec. If you set them and restart the deployment do you still see the error?

[2022-03-15 17:27] #4282 closed

[2022-03-15 18:30] macruz commented on #4592
Thanks for the quick reply.

I checked the current config and the resources are indeed by default not defined:

[code]

Adding some values there just to test and validate (these are random, your mileage may vary):

[code]

And scaling up the deployment again we can see that we have now 2 limits sections:

[code]

It takes about 2 minutes but the HPA eventually is able to collect data and scale acc

[2022-03-17 00:11] #1426 closed

[2022-03-17 00:11] #1390 closed

[2022-03-17 18:21] #4331 closed

[2022-03-17 18:47] trstringer commented on #4592
Thanks for opening this issue! Definitely something we can take into account.

[2022-03-17 18:47] #4592 closed

[2022-03-18 18:41] aakash-rajur opened #4598 "standalone prometheus data source and grafana dashboard installation?"
**Bug description**:
- the provided helm chart seems to install prometheus deployment with prometheus scrape config mandatorily
- the provided helm chart seems to install grafana deployment with grafana dashboards mandatorily
- the chart seem to be inflexible to situations where both prometheus and grafana are pre-installed in cluster
- no option to add or remove any of the prometheus data source

[2022-03-19 00:10] #1243 closed

[2022-03-20 00:11] #1001 closed

[2022-03-20 00:11] #982 closed

[2022-03-21 16:42] allenlsy commented on #4223
PR for the document: https://github.com/openservicemesh/osm-docs/pull/309

[2022-03-21 20:00] jaellio opened #4602 "Exclude leaf certificates from webhook cabundles"
**Please describe the Improvement and/or Feature Request**

Currently, the `CABundle` specified in the validating, conversion, and mutating webhook configurations is set to the respective webhook's certificate chain. On startup, each webhook server instance issues a certificate and then attempts to create a Kubernetes secret to store the certificate. Only one instance for each webhook server type

[2022-03-22 00:12] #4443 closed

[2022-03-22 00:12] #981 closed

[2022-03-22 00:12] #745 closed

[2022-03-22 00:13] #597 closed

[2022-03-22 21:03] allenlsy commented on #4591
Related PR: https://github.com/openservicemesh/osm-docs/pull/342

[2022-03-23 00:12] #522 closed

[2022-03-23 00:12] #512 closed

[2022-03-23 15:27] nojnhuh commented on #4575
I don't remember being a part of those early discussions, so I don't know. It looks like https://github.com/openservicemesh/osm/issues/1909 is the earliest reference I can find for reconciling resources like this in general and https://github.com/openservicemesh/osm/issues/4065 specifically for CRDs. @shashankram may be able to help.

[2022-03-23 16:36] shashankram commented on #4575
I don't understand the comparison being drawn here as the reconciler was introduced for a very targeted use case - to reconcile the CABundle field (among a few other fields) in k8s resources (webhooks, CRDs) to its original value if it was accidentally changed by a user who has permission to change them. This was also a requirement from some customers running OSM in a managed environment, where th

[2022-03-23 20:16] keithmattix opened #4608 "CRD Reconciler depends on conversion webhook patch"
**Bug description**:

While trying to troubleshoot #4575, I noticed that deleted CRDs weren't being reconciled and added back as expected. Upon further inspection, I realized that CRDs are only reconciled [if a specific reconciler label](https://github.com/openservicemesh/osm/blob/6bda5c3a34bf20ed33b3479ae554665d0f882f67/pkg/reconciler/client.go#L63) is present on the manifest. That label is only

[2022-03-24 00:11] #507 closed

[2022-03-24 08:07] shanghai636848 opened #4609 "osm-init Back-off restarting failed container"
modprobe: can't change directory to '/lib/modules': No such file or directory
iptables-restore v1.8.7 (legacy): iptables-restore: unable to initialize table 'nat'
Error occurred at line: 2
Try `iptables-restore -h' or 'iptables-restore --help' for more information.

[2022-03-24 09:10] mudit-01 commented on #4609
Hi @shanghai636848 which env you are using and which version of OSM?
Also, can you give the steps you followed before encountering the error?

[2022-03-24 16:46] shashankram opened #4610 "Drop support for k8s v1.19 and update the CI to use latest k8s version and APIs"
**Please describe the Improvement and/or Feature Request**

Drop support for k8s v1.19 which has been deprecated upstream.
Further, update the CI to use the latest k8s version by default (v1.23) and update the tests to use the `networking.k8s.io/v1` API for ingress.

**Scope (please mark with X where applicable)**
- CI System                  [X]

[2022-03-24 17:04] shashankram commented on #4575
The reconciler is a generic framework meant to reconcile any undesirable changes to the CRD and control plane webhooks to their original state, only as long as the reconciler is enabled. It does not prevent users from making changes or removing them, which may be required in some cases during maintenance or migrations, or during the uninstall of the software. So the idea behind using a reconciler

[2022-03-24 19:26] shalier opened #4613 "Uninstall command should suggest existing mesh to uninstall"
**Please describe the Improvement and/or Feature Request**

Right now `osm uninstall mesh` will show the meshes present in the cluster and defaults to suggesting to uninstall mesh name 'osm' in namespace 'osm-system' - this gives the impression that there is such a mesh in the 'osm-system' namespace even when there is not
![image](https://user-images.githubusercontent.com/69616256/159991229-b22aba

[2022-03-24 19:43] #4610 closed

[2022-03-26 00:11] #291 closed

[2022-03-26 00:11] #281 closed

[2022-03-26 00:11] #85 closed

[2022-03-26 11:21] benediktwetzel opened #4616 "How to add a namespace when using Helm"
**Please describe what should be documented**
How to add a namespace to the mesh when using Helm? I could not find an option in the values.yaml file which corresponds to the `osm namespace add <namespace>` command of the osm cli (analogous for the `osm metrics enable --namespace <namespace> command`).

**Please suggest where in the repo the document should be located**
For example in the  [Helm in

[2022-03-26 11:38] #4616 closed

[2022-03-28 00:12] #2986 closed

[2022-03-28 14:04] #4401 closed

[2022-03-28 16:10] nojnhuh commented on #4546
@richardwhiuk Adding those iptables commands does seem to work from the light testing I've done so far. I'm a bit concerned with that exact approach though of specifying eth0 there since I can see where that wouldn't necessarily be correct for all clusters, or even all nodes within the same cluster. I'll look into how we can determine what that should be from within the same init container where t

[2022-03-28 16:41] shashankram commented on #4500
Initial support for circuit breaking is complete.

A new issue will track further enhancements which will be a part of the next milestone.

[2022-03-28 16:41] #4500 closed

[2022-03-28 17:33] majoli opened #4617 "Images not working"
I enjoyed the information given by the page but i would love it if the images would work properly :)

[2022-03-28 18:19] trstringer commented on #4617
Hello and thank you for opening this issue! Can you provide more specifics? What is not working properly?

[2022-03-28 18:34] majoli commented on #4617
sorry i just recognized that i am in the wrong version.
https://release-v0-11.docs.openservicemesh.io/docs/guides/ha_scale/scale/

The images wont work here but for v1 they work. Google sent me to the old guides for any reason.

[2022-03-29 00:13] #3702 closed

[2022-03-29 07:16] benediktwetzel opened #4618 "How to use PostgreSQL in OSM Cluster"
First, thank you very much for this work!

I would like to use OSM to enable monitoring for my application. To do this, OSM injects Envoy proxies into all pods. This works fine for almost all pods. But when OSM is running, the connection to the PostgreSQL pod (V:11.2) does not work. The error message is (in Keycloak) `An error occurred while setting up the SSL connection`.

I tried to switch off t

[2022-03-29 16:40] #4523 closed

[2022-03-29 16:47] shashankram opened #4619 "Implement support for setting 'status' fields on custom resources"
**Please describe the Improvement and/or Feature Request**

Some custom resources such as `IngressBackend` and `UpstreamTrafficSetting` have a `status` field that can be set. Currently, `UpdateStatus()` API in the `k8s.Controller` interface can be used to update the status of the object. However, this is not a robust solution for the following reasons:
1. The object read from the cache whose statu

[2022-03-29 16:49] #4602 closed

[2022-03-29 16:59] #4608 closed

[2022-03-29 17:10] shashankram opened #4621 "Add load testing support in e2e framework"
**Please describe the Improvement and/or Feature Request**

Add load testing support with [fortio](https://github.com/fortio/fortio) in the e2e framework.
Currently, the e2e framework allows sending synchronous HTTP requests using `curl`. However, this is inconvenient to use to test more complex scenarios such as circuit breaking, where parallel connections may need to be initiated with a given nu

[2022-03-29 18:27] allenlsy opened #4622 "[Root] OSM performance and scalability test in v1.2"
**Please describe the Improvement and/or Feature Request**

This is the root Github issue for tracking the progress and plan of OSM performance benchmarking and scalability test at the release of v1.2. The scripts o the test resides in the [osm-perftest](https://github.com/openservicemesh/osm-perftest) repo.

### Setup & Automation

- [x] [load generator send requests to multiple endpoints](https:

[2022-03-29 20:38] allenlsy commented on #2993
The pending perf & scalability doc (will be published in early April 2022) will include latency, CPU and memory usage of data plane as RPS increases. It's not compared against connections. We will continue the work.

[2022-03-29 21:57] keithmattix commented on #3477
Is the issue that OSM can't route to specific statefulsets via a headless service or is it something else? Endpoints actually [do get created](https://kubernetes.io/docs/concepts/services-networking/service/#with-selectors) as long as the headless service has a selector, so is this issue specifically describing the non-selector use-case?

[2022-03-29 23:45] steeling commented on #3477
The endpoints may get created, but we don't properly route to them.

A couple things:

Headless services are not addressable themselves. That is, a headless service, "my-headless-svc", does not contain any DNS records directly. Instead, the pod's backing the headless service are each individually addressable. https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

So right now, w

[2022-03-30 19:36] nojnhuh opened #4623 "Event handling retains memory under moderate load"
**Bug description**: When more than a moderate amount of Kubernetes events are processed by osm-controller, its memory usage continuously grows until it gets OOMKilled.

At ~10 events/sec, memory usage stays constant. At ~20 events/sec, memory usage grows. ~60 events/sec is enough to exhaust the 1G default memory limit in about 2.5 hours. 1k-1.5k events/sec hits the limit in about 3 minutes.

**Ex

[2022-03-30 19:55] shashankram opened #4624 "Update Retry policy API types"
**Please describe the Improvement and/or Feature Request**

Update the [Retry policy API](https://github.com/openservicemesh/osm/blob/main/pkg/apis/policy/v1alpha1/retry.go) to be consistent with API definitions for custom resources.
1. Change optional fields to pointer values
2. Change duration fields to use the type `metav1.Duration`

For example, refer to https://github.com/openservicemesh/osm/

[2022-03-31 10:00] mudit-01 commented on #4613
One suggestion it will be more helpful if it asks the user to enter the name of the mesh rather than suggesting otherwise in the case of multiple meshes user will keep on selecting meshes by Y or N

[2022-03-31 17:49] #4530 closed

[2022-04-04 05:01] marcindulak commented on #3456
:eyes:

[2022-04-04 05:02] marcindulak commented on #3452
:eyes:

[2022-04-04 18:30] allenlsy commented on #4621
If the goal of this issue overlaps of the OSM perf and scalability test suite, I think it's not necessary to migrate to fortio. We can add perf and scalability test as part of the CI. However if the goal is to improve features, e.g. further customize request in e2e test, or even to have a simple regression check on the latency, then it worth to use Fortio.

[2022-04-04 18:46] shashankram commented on #4621
The goal is to improve traffic test scenarios in the e2e framework to test features such as circuit breaking. This is absolutely required in the e2e framework where we need to test more complex scenarios outside the "performance and scalability" scenarios.

[2022-04-06 00:11] #2385 closed

[2022-04-06 04:30] naqvis opened #4632 "Sidecar Injection is tightly coupled with implementation -> Envoy"
**Please describe the Improvement and/or Feature Request**

current implementation of `mutatingWebhook.createPatch` is tightly coupled with `envoy` implementation, thus making it difficult to extend OSM for others reference implementations.

Can you please abstract out `Injector` functionality so that it is no longer implementation specific?

https://github.com/openservicemesh/osm/blob/30e53621b68

[2022-04-06 21:24] nojnhuh commented on #4623
It looks like something in between the informers receiving notifications from Kubernetes and pulling that same event off OSM's broker's workqueue isn't keeping up with more than 10 events/sec.

If I modify the scenario above to run
[code]

and log the values for those annotations with the following changes to osm-controller:
[code]

I can see the informer logs keeping up but the broker logs fallin

[2022-04-06 21:37] shashankram commented on #4623
@nojnhuh the workqueue is meant to rate limit k8s events so that the control plane does not get overwhelmed when there are too many events to digest. This is expected if you are seeing the same events being rate limited. This does not mean there is a memory leak, but if the workqueue keeps growing at a rapid rate, it will fill up and block reads till the rate limiter allows further requests, durin

[2022-04-07 03:59] naqvis commented on #4632
Thank you @trstringer. Doing our exploration phase we identified that OSM is vendor neutral and offers extension point for other control plane and/or sidecars proxies. We are planning to setup a PoC to implement OSM control plane by using [Pipy](https://github.com/flomesh-io/pipy).

[2022-04-07 12:05] trstringer commented on #4632
In regards to OSM, the control plane makes up almost the entire solution that is OSM specific. Therefore if you were to use another control plane, and keep the data plane as Envoy, then it would quickly resemble a different service mesh solution. Is that what your desire is?

And also, is there a gap in the OSM control plane that we could address, instead of using a different control plane?

[2022-04-07 13:21] naqvis commented on #4632
Sorry for the confusion. By `control plane` in my previous message was meant to say `proxy control plane` (highlighted in red rectangle).

OSM open & pluggable architecture with support of SMI open doors for extensibility, and we (Pipy team) are planning to run a PoC to plug Pipy as OSM data plane (similar to OSM reference implementation of envoy) to bring Pipy light-weight, programmable, ARM read

[2022-04-07 13:39] #4617 closed

[2022-04-07 14:11] trstringer commented on #4598
Thank you for opening this issue! The approach that we've taken with Prometheus and Grafana out of the box with OSM is a very generic but common usage of these tools. Instead of having additional controls to customize these experiences, another possibility is to install, configure, and manage Prometheus and Grafana away from OSM.

This would give you the desired level of control and as a power use

[2022-04-07 18:09] shashankram opened #4634 "Implement troubleshooting tooling within OSM CLI"
**Please describe the Improvement and/or Feature Request**
Implement a troubleshooting tool within OSM CLI to detect, verify, and troubleshoot the correctness of the system for various scenarios.

Previously, a proof-of-concept for this was built as a part of the [osm-health](https://github.com/openservicemesh/osm-health) project. However, there are several limitations with osm-health and it needs

[2022-04-07 18:17] steeling commented on #4634
I have some thoughts in this area, but don't have the time on my plate currently. This seems large enough scope to warrant a small design doc prior to moving forward with implementation

[2022-04-07 18:41] steeling commented on #4634
Yup! I see 3 ways to get data to inspect:

1. Open a port-forward session to a sidecar and get a config dump
2. Open a port-forward session to a (new) gRPC server on the osm-controller that has a defined service for interpreting various commands.
3. Open a port-forward session to the sidecar-wrapper (this doesn't exist yet, but future designs are going to require a custom image that has some other

[2022-04-07 18:49] shashankram commented on #4634
First, some background:
This troubleshooting tool is a P0 requirement for this project. We cannot afford any delays as we need to be able to troubleshoot reliably and efficiently in user environments ASAP. So we will move ahead with whatever is quick and available in terms of implementation and iterate and make improvements as necessary.

Regarding the specifics of what's an absolute must to have

[2022-04-07 19:22] nojnhuh commented on #4623
@shashankram The [workqueue example](https://github.com/kubernetes/kubernetes/blob/8b5a19147530eaac9476b0ab82980b4088bbc1b2/staging/src/k8s.io/client-go/examples/workqueue/main.go) only rate limits re-enqueues due to failures, not every event from the informer handlers like we do, so it can keep up in real-time fine.

I suspect rate limiting every single event isn't worth it because putting that e

[2022-04-07 19:37] shashankram commented on #4623
@nojnhuh I wasn't able to infer much from the graphs but would like to understand more about how this test was performed and what variables were used. Could you share more details regarding these (#num events, #memory usage, #cpu usage etc.) and compare with and without `AddRateLimited`? The basic idea of using `AddRateLimited` is to ensure we don't poll the workqueue in a tight loop. I don't thin

[2022-04-07 19:55] nojnhuh commented on #4623
This is the same scenario as I described above but scaled up:
- 100 services (and therefore endpoints) in a monitored namespace
- Spam updates on all the endpoints (I was running 20 replicas of a pod doing `while true; do kubectl annotate ep -n events --all --overwrite date=$(date +%Y-%m-%dT%T.%N) done`)

Did you measure what the cost of doing this is? From what I can see based on the graphs above

[2022-04-07 20:38] trstringer opened #4636 "Integrate with OpenPolicyAgent GateKeeper for unified policy definitions"
**Please describe the Improvement and/or Feature Request**

OPA GateKeeper is a Kubernetes implementation for policy definition and enforcement. By adding GK integration with OSM we can unblock users that are looking to have centralized policy definitions with OPA.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs

[2022-04-07 20:57] shashankram commented on #4623
When the eventing framework was introduced to fix the various deadlocks in the code, the idea was to also avoid event storms in case k8s sends events at a rate the controller cannot handle. The default rate limiter was a good start for this. It doesn't make sense to come up with a random QPS without determining what an acceptable threshold is. This is the first time we are getting to profiling how

[2022-04-07 21:02] shashankram commented on #4636
OSM currently has alpha support for external authorization using OPA: https://release-v1-0.docs.openservicemesh.io/docs/guides/integrations/external_auth_opa/

Is the use case here different?

[2022-04-07 22:07] trstringer commented on #4636
Yes, the different use case is that GateKeeper provides a Kubernetes-native layer on top of OPA that gives user a more intuitive way of working with policies. So even though we support the OPA Envoy plugin, GateKeeper is a different approach to solving this problem that has a better user experience.

[2022-04-07 22:10] nojnhuh commented on #4623
What does it look like when the controller can't handle the events?

If it's a CPU spike, then from a profile I took with these changes it looks like over 50% of the CPU is being used just decoding JSON from the API (which happens before the informer handlers even run, so that's still true without these changes). The informer handler where we add to the queue takes less than 3% and `pkg/messaging.

[2022-04-07 22:22] shashankram commented on #4636
Thanks for sharing. Do you think we should drop support for the existing OPA integration and use Gatekeeper as the interface to integrate OPA with OSM so users have a simple yet robust experience?

[2022-04-07 22:24] trstringer commented on #4636
I do think so. A unified approach would be a more direct and better experience for users that prefer OPA-based policy management.

[2022-04-07 22:40] shashankram commented on #4623
This is precisely why there is a rate limiting workqueue && coalescing of messages, and not just one or the other. Both serve different purposes.

We currently do not have error paths implemented where we need to re-enqueue messages due to transient failure, but we definitely need to rate limit those to ensure we don't have the dispatcher executing in a tight loop with an unbounded amount of event

[2022-04-07 22:49] trstringer commented on #4623
I do think we need to see what this looks like with a larger order of magnitude of events (million, etc.). Until we start to push this until we break something, both with rate limiting and without rate limiting, we will be unsure the behavior of the disaster with the different approaches.

I'm a little weary to drop rate limiting, but without much objective data behind my hesitation. Generally spe

[2022-04-07 22:56] keithmattix opened #4637 "(*feat) Migrate to EndpointSlices instead of Endpoints API"
**Please describe the Improvement and/or Feature Request**

Stable as of Kubernetes 1.21, [EndpointSlices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) are "a more scalable and extensible alternative to Endpoints." Specifically, they associate the pod name with its backing ip address in the manifest, AND they [contain zone/node information](https://kubernetes.io/docs/c

[2022-04-07 23:07] shashankram commented on #4623
One of the primary reasons a rate limiter helps is that it protects the controller from spending unnecessary cycles at all costs when the threshold exceeds reasonable limits. Even if the existing broker implementation is resilient to event storms at the moment, there is no guarantee it will in the future or when it misbehaves due to a bug. If we determine an acceptable threshold, e.g. 1000 qps, I

[2022-04-07 23:16] steeling commented on #4623
The multiple layers of rate-limiting is a little headspinning. Do we really want to process one event per second?

[code]

We're rate limiting what we're adding to the queue, *and* while reading from the queue, just to requeue it to a separate queue (pubsub), which has it's own capacity and therefore can block on it's own (ie: has a 3rd level of rate limiting), I think we can (hopefullly) agree it

[2022-04-08 01:11] steeling commented on #4623
Looking at this a bit further:

1. Each pubsub has a capacity of 0, meaning writes to each subscriber will block.
2. There are a finite set of subscribers. We can assume they are running continuously, and constantly. Even with this (worst case scenario), I have 0 fear of overload
3. The workerqueue looks to have been implemented on the first implementation of the pubsub broker system, which makes

[2022-04-08 16:14] shashankram opened #4638 "Add stricter validations for IngressBackend and UpstreamTrafficSetting resources"
**Please describe the Improvement and/or Feature Request**
Add validations in the validating webhook to ensure duplicate resources targeting the same destination is not permitted, as these would result in policy conflicts.

- For IngressBackend, ensure multiple IngressBackends cannot specify the same backend service
- For UpstreamTrafficSetting, ensure multiple UpstreamTrafficSettings cannot speci

[2022-04-08 16:19] shashankram commented on #4623
This doesn't process 1 item per second, it processes items from the queue as soon as it is available.

[2022-04-08 16:30] shashankram commented on #4623
I disagree with some of the comments made.

We need a workqueue for the following reasons:
1. To asynchronously process k8s events and not block informer goroutines on work the controller is doing. This is a standard communication pattern in controllers. Previously we had a simple PubSub without a workqueue, and the results were disastrous with deadlocks and blocking all over the code, see https:/

[2022-04-08 17:13] steeling commented on #4623
Responses inline below:

It absolutely does. Checkout the implementation for `wait.Until`.

If there's a deadlock, that's a bug. IMO Fixing it with delays is a hack, and we should fix the deadlock if it still exists. These delays cause blocks (only during the delays, and because the workqueue impl is backed by a slice, it has an unbounded capacity), so although it won't cause a full deadlock, it c

[2022-04-08 17:57] shashankram commented on #4623
I don't think so.

[code]

The function executed by `wait.Until` runs invokes `processNextItem()` continuously as long as there is an item in the queue. `processNextItem` only returns false when the queue is shutdown, so the processing should happen continuously. If the queue shuts down for some reason, then `wait.Until` will try to reinitiate it every 1s unless the controller signals the processi

[2022-04-08 18:03] steeling commented on #4623
This playground link @3s demonstrates the wait i'm describing https://go.dev/play/p/nPsYahtNa61

[2022-04-08 18:41] shashankram commented on #4623
Correct, to see how the processing works, see https://go.dev/play/p/ucjniJb3Sbu
Items are processed from the queue instantly.

[2022-04-08 19:00] steeling commented on #4623
With that, my points above still stand, and I think we should go with Jon's recommendation of removing the delay.

[2022-04-08 19:20] trstringer commented on #4623
I disagree with some of the points highlighted here. By definition this is not a deadlock. A delay or any form of rate limiting would never solve a deadlock. So while this isn't a true deadlock, this is resource contention.

Rate limiting is a common approach to solving this problem that I don't think we have data to prove that it isn't effective.

Retrying consistently and linearly can have its o

[2022-04-08 19:25] steeling commented on #4623
To clarify, I meant retrying to hide the errors (which would require a retry), is the hack, not to prevent the need for retries. Subtle difference, but wanted to point it out. In the end I maintain my argument that there's no resource contention on the channel receivers, since those process one at a time.

But overall, data speaks, and I agree with your approach of testing both sides

[2022-04-09 00:12] #4380 closed

[2022-04-11 00:12] #4440 closed

[2022-04-11 00:12] #4070 closed

[2022-04-11 00:12] #3449 closed

[2022-04-11 00:12] #3447 closed

[2022-04-11 00:12] #3446 closed

[2022-04-12 00:12] #3441 closed

[2022-04-12 00:12] #3188 closed

[2022-04-12 15:12] allenlsy commented on #4591
PR is merged. https://github.com/openservicemesh/osm-docs/pull/342

[2022-04-12 15:12] #4591 closed

[2022-04-12 15:13] allenlsy commented on #4223
PR is merged. https://github.com/openservicemesh/osm-docs/pull/342

[2022-04-12 15:13] #4223 closed, assigned to allenlsy

[2022-04-12 15:39] steeling opened #4644 "OSM Regression Testing/Profiling"
With the new [load test suite](https://github.com/openservicemesh/osm-docs/pull/342), we have an opportunity to bring regression testing into our releases.

This is also a good opportunity to grab profiles (pprof) for each scenario and have folks perform some manual inspection to determine bottle necks. This in turn will better feed into our prioritization around performance improving efforts.

[2022-04-12 17:38] nojnhuh commented on #4623
I ran an experiment for @trstringer to see if the allocated memory is ever freed after the workqueue is done processing all of the backed up events. tl;dr Prometheus shows the memory is still allocated several hours later without any more events coming through, but generating more events doesn't increase it either like it does at startup.

Here's a Prometheus screenshot showing osm-controller memo

[2022-04-12 20:26] jaellio commented on #4502
[Design Doc](https://docs.google.com/document/d/1hoakV5kFaMlgatz_G1-q9pG-Pmwx6i_Ej8y4PFAI_6s/edit?usp=sharing)

[2022-04-13 00:13] #1540 closed

[2022-04-13 12:43] trstringer commented on #4623
Instead of completely removing the rate limiter, which is a safeguard for future changes or scenarios, why don't we just raise the rate limiter QPS? That should put us in a good spot with this problem while also keeping the safeguard in place, but with a much looser configuration.

[2022-04-13 15:47] steeling commented on #4623
We never poll in a tight loop. We only poll at max, once the last proxy has finished updating the last message sent. If we keep the rate limiting, I think we should try to explain its intent.

There's a couple other bugs/edge cases I've found when digging through this code, which I think further highlights the need to simplify. I'll submit a draft PR by end of day with the changes I think we shoul

[2022-04-13 16:39] steeling commented on #4623
![Untitled drawing (4)](https://user-images.githubusercontent.com/2824417/163227923-a0e35072-908e-43e0-ba7b-09785497feb6.png)

Here's a brief synopsis of our queueing/eventing implementation. There's also the global ticker which happens periodically. I propose we do the following (which is slightly different from the above PR):

1. remove the rate limiter from informers.
2. remove any and all coal

[2022-04-13 20:52] steeling commented on #2683
I think we should look to start this up again. I found some issues in the current xDS eventing system that can lead to: signficant delays in updates to *all* proxies due to a single slow proxy ([head of line blocking](https://en.wikipedia.org/wiki/Head-of-line_blocking))

The pubsub channel is a 0 capacity queue. The first message gets pulled off an internal queue immediately, to begin sending out

[2022-04-14 16:37] shashankram commented on #4623
I propose we do the following (which is slightly different from the above PR):

I am open to simplifying and addressing existing bottlenecks, although in a systematic approach. Here's my suggestion on how we should go about this:.

1. Ensure removing the rate limiting (using `Add` instead of `AddRateLimited`) on k8s events does not result in a cascade of failures internally. The rate limiter was a

[2022-04-14 18:57] keithmattix opened #4653 "(*bug) Envoy connections fail if app container binds to eth0"
**Bug description**:

OSM's Envoy sidecar currently proxies communication with sibling containers over localhost (i.e. 127.0.0.1). This means that backend applications that explicitly bind to the pod IP refuse connections from the Envoy proxy. According to Kubernetes conventions, applications should bind to the pod IP and not localhost; therefore, OSM should proxy traffic via the eth0 interface an

[2022-04-14 18:58] keithmattix commented on #4583
Root cause was determined to be #4653; closing in favor of that issue

[2022-04-14 18:58] #4583 closed

[2022-04-14 21:33] jcr010910 opened #4654 "Inject `osm-init` as FIRST initContainer instead of last"
I'm deploying an application via helm.
It's simply two pods: An app pod with DB pod.
The app pod has one initcontainer which verifies that the database pod is ready to respond to DB queries.

When we deploy the application outside OSM, it works fine.
When we add the application namespace to OSM and reinstall it, it fails.

the current work around, is to remove the side car from the DB pod `openser

[2022-04-14 22:56] trstringer commented on #4654
Thank you for opening this issue, @jcr010910! We're going to take a further look into this.

[2022-04-14 23:46] shalier commented on #4654
@jcr010910 Could I get the following resources:

- error logs for `osm-controller` and `osm-injector`
- `osm-mesh-config` meshconfig
- related Services yaml
- related Deployments yaml

[2022-04-15 04:32] TylerHaigh opened #4656 "Docs: Configure OSM to use cert-manager after install"
**Please describe what should be documented**

Hi Team,
Is it possible to configure OSM to use cert-manager after it has been installed? The docs on the below links only provide info for setup before OSM installed in the cluster.

* https://release-v0-11.docs.openservicemesh.io/docs/guides/certificates/#configure-cert-manger-for-osm-signing
* https://release-v1-0.docs.openservicemesh.io/docs/demos

[2022-04-15 15:34] trstringer commented on #4656
Thanks for raising this issue, @TylerHaigh! We will look further into this.

[2022-04-15 19:30] nojnhuh opened #4659 "Kubernetes version e2e test doesn't set versions correctly"
**Bug description**: The e2e tests for different Kubernetes versions defined in [tests/e2e/e2e_k8s_version_test.go](https://github.com/openservicemesh/osm/blob/a918abff99a2106f913302db2fc8705651d2a72d/tests/e2e/e2e_k8s_version_test.go) doesn't correctly set Kubernetes versions such that the tests actually run on kind clusters using those versions.

CI logs report a version matching kind's default

[2022-04-15 20:51] shashankram commented on #4659
Good catch @nojnhuh. Would it make sense to override the default in the test, reset the version immediately after cluster install, and use the default version otherwise?

[2022-04-15 21:11] nojnhuh commented on #4659
I think the root of the problem is that these tests require their own specific cluster setups but CI is configured to run each bucket of tests entirely in one cluster. The framework has a `-cleanupKindClusterBetweenTests` that we can maybe use to get this working, but otherwise the framework wasn't really designed to handle tests like this that are tightly coupled to specific cluster configuration

[2022-04-15 21:21] shashankram commented on #4659
That explains the behavior. I forgot that in the CI we reuse the cluster between tests. Not sure if it's worth bucketing per version just for 3 tests. An alternative to getting coverage for at least 2 versions is to ensure the demo (maestro) and e2e run against different versions.

[2022-04-17 00:14] #2099 closed

[2022-04-18 20:49] keithmattix commented on #4636
Here's some background information I've gathered after some research:

[OPA Gatekeeper](https://github.com/open-policy-agent/gatekeeper) is a policy enforcement engine _specifically for Kubernetes resources_. It's deployed as a validating webhook and executes potential resources submitted to the API server for compliance against policy defined in the cluster (via CRDs). One of the most exciting fe

[2022-04-18 20:52] jcr010910 commented on #4654
@shalier , please check this file contents:
[4654.zip](https://github.com/openservicemesh/osm/files/8508110/4654.zip)

[2022-04-18 20:58] steeling commented on #4656
Our current docs on certificate rotation do incur downtime of the services https://release-v0-11.docs.openservicemesh.io/docs/guides/certificates/#rotate-the-root-certificate-tresor.

We are currently working on a [feature to allow certificate rotation with zero downtime](https://github.com/openservicemesh/osm/issues/4502). One of the side effects of this is that we will allow zero-downtime rotati

[2022-04-19 00:11] #3195 closed

[2022-04-19 04:07] mudit-01 opened #4663 "Mention of GA for v1.0 release"
**Please describe what should be documented**
Currently, there is no mention in the OSM repo or in the doc website about v1.0 being GA release of OSM.
**Please suggest where in the repo the document should be located**
Can we mention it in release notes or in the readme?

[2022-04-19 12:24] steeling opened #4665 "Allow declarative management of the mesh config"
The mesh config is currently created using the Create command (imperative) (without the --save-config option). This is done within the code base itself, from the [osm-bootstrap deployment](https://github.com/openservicemesh/osm/blob/main/cmd/osm-bootstrap/osm-bootstrap.go#L229).

Declarative management (kubectl apply) allows you to manage your k8s manifest through "declared" files. This is the de-

[2022-04-19 12:24] steeling commented on #4665
We can see how the objects are serialized at https://github.com/kubernetes/kubectl/blob/18a5313a74f7d83f6b54377d72b421b5ebfa66c9/pkg/util/apply.go#L130

[2022-04-19 14:09] steeling commented on #4636
I'm wondering if there's been some confusion on native OPA vs Gatekeeper. Have the customers requests been with respect to having OSM configure Gatekeeper policies to prevent certain actions, or to allow users to perform custom traffic management policies via [OPA/Envoy integration](https://www.openpolicyagent.org/docs/v0.22.0/envoy-authorization/).

It's almost certainly the latter, as us using a

[2022-04-19 14:39] trstringer commented on #4636
My understanding is that we would want to allow OSM users to specify policies through a common policy engine (OPA) that can be delivered through the Kubernetes-native approach with GateKeeper. Put another way, all policies (including OSM) at OPA policies, implemented through GK.

[2022-04-19 15:14] steeling commented on #4636
Gatekeeper is geared towards a specific type of policies, which is admission control. This is separate from configuring traffic rules or integrating with Envoy to affect the data plane.

[2022-04-19 15:24] steeling commented on #4636
More info here https://github.com/openservicemesh/osm/issues/1874

[2022-04-19 15:30] keithmattix commented on #4636
@steeling's distinction is correct; Gatekeeper's value-add is strictly admission control for business policies custom to an organization. The difference between policies enforced with gatekeeper vs our own validating webhook is that the former validates best practices and the latter validates correctness. For example, our validating webohook should absolutely allow users to create IngressBackends

[2022-04-19 15:35] steeling commented on #4636
IMO I see less value in Gatekeeper. Either a user can configure their own, or they want our input. If they want our input, we should use the default webhooks, since that will apply to all users, not just gatekeeper users.

If we have a set of recommended ones, maybe we add a flag, or leverage a configmap, etc, again to cover all users. Happy to discuss though! I do like the idea of furthering our

[2022-04-19 18:09] steeling commented on #4665
spoke with thomas, bringing this into v1.2 due to the low effort involved.

[2022-04-19 20:00] steeling opened #4668 "Don't inject sidecar twice"
kubectl has an awesome command called `kubectl debug`, that allows a user to copy a pod definition, recreate it, but with a new debugger pod attached. This could have some great use cases for our debugging scenarios, however there's an issue in that the osm-injector will see this new pod (which will have the OSM sidecar and volumes already attached), and try to recreate it.

There would also likel

[2022-04-19 21:10] steeling commented on #4665
PR is out, FYI if users want to migrate this *now*, they can simply follow the k8s docs here:

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#migrating-from-imperative-command-management-to-declarative-object-configuration

[2022-04-20 12:39] srinman opened #4674 "fix this url please"
https://github.com/openservicemesh/osm)

[2022-04-20 13:15] trstringer commented on #4674
Hello! Can you clarify? That is the URL for this GitHub repo (which works).

[2022-04-20 17:47] steeling opened #4675 "Canonicalize on 1 or multiple meshes per cluster"
Right now the code is sort of in this mid-way state between allowing multiple meshes in a cluster, and having one mesh per cluster.

Do we have a stance on what we want to do going forward? For instance some feature requests may be simpler to implement based on the single mesh assumption.

FWIW somebody could more or less achieve the benefits of multiple meshes through certificate manipulation if

[2022-04-20 18:06] trstringer commented on #4675
That's a good question, and agreed that we're somewhere in between implementations for single vs multiple mesh. I think the driving question that we need to answer here (which I don't have the answer to right now) is if we want OSM to be focused on single or multi-tenant usages for Kubernetes. The argument to supporting multiple meshes in a single cluster would be if there were multiple teams (or

[2022-04-20 18:59] nojnhuh commented on #4568
As it stands, the only remaining item is adding `reconciliation_count`. I would call that soft-blocked on #4575 since we could probably hack around that to make the metrics accurate but I would say that's not worth it over just fixing that issue first.

[2022-04-20 19:19] keithmattix commented on #4675
In a practical sense, multi-mesh is essentially just multi-trust-domain right? I have a hard time envisioning an organization running multiple trust domains in a single cluster. An empty TrafficTarget already denies traffic, right? Is there a scenario where that's not sufficient?

[2022-04-20 19:21] shashankram commented on #4675
Here's some context from the time we introduced this feature:
The initial idea to support multiple meshes was to address multi-tenancy within the same cluster and provide isolation primitives in terms of policies, for both the user and control plane. This was done using the `openservicemesh.io/monitored-by: <mesh-name>` label. An immediate use case back then was to allow multiple CI runs from diff

[2022-04-20 19:22] srinman commented on #4674
I noticed a ) at the end of the url which breaks the link. It works without
the )

On Wed, Apr 20, 2022, 9:15 AM Thomas Stringer ***@***.***>
wrote:

[2022-04-20 19:25] #4621 closed

[2022-04-20 21:40] steeling commented on #4675
Multiple CI runs is an interesting case, although I'd imagine that applies to us more so than to customers? If so, it seems like what we have with KIND is a working solution.

My vote would be to remove the ability to have multiple meshes. If we ever do find a strong customer need, we can re-introduce the feature by allowing multiple cert chains (1 per tenant), and mapping those to each logical me

[2022-04-20 22:03] steeling opened #4678 "Expose version info via prometheus"
Expose OSM version info via prometheus. This will allow us to join the version info against other metrics to correlate issues against versions, particularly during upgrades.

[2022-04-21 13:04] trstringer commented on #4674
Where do you see this URL though? I'm having a hard time understanding the location of the issue.

[2022-04-21 16:08] srinman commented on #4674
here it is
https://release-v1-0.docs.openservicemesh.io/docs/getting_started/install_apps/

On Thu, Apr 21, 2022, 9:04 AM Thomas Stringer ***@***.***>
wrote:

[2022-04-21 16:21] trstringer commented on #4674
Ah ok, I totally understand. I've opened up a PR to fix this. Thank you!

[2022-04-21 16:28] shashankram commented on #4675
I can imagine a similar scenario for customers, though it is uncommon in practice.

Multiple meshes within a cluster are not just about certificates. There is a lot more to it. The multi-mesh feature allows multiple control plane instances to co-exist and manage a logical mesh instance without interfering with each other, ie. a policy applied in 1 mesh will have no bearing on other meshes.

Curren

[2022-04-21 16:28] #4678 closed

[2022-04-21 16:37] keithmattix commented on #4675
Just to throw another wrinkle into this, multi-mesh is a superset of a separate, more common problem: canary upgrades between control plane mesh versions. During most implementations of this process, two instances of the control plane are running at the same time, but each instance is handling a subset of resources. Before coming to a decision on the larger question of multi-mesh support, it's pro

[2022-04-21 18:10] shashankram commented on #4101
Closing this as it is a duplicate of https://github.com/openservicemesh/osm/issues/4634 which is already in-progress.

[2022-04-21 18:10] #4101 closed

[2022-04-21 18:11] #4674 closed

[2022-04-21 18:16] trstringer commented on #4663
Thanks for opening up this issue! Currently the [README already reflects the production readiness of the project](https://github.com/openservicemesh/osm#project-status). We follow semantic versioning in the project, and therefore rely on the [semver](https://semver.org/) guidelines and definitions.

Let me know if that helps clarify!

[2022-04-21 19:26] #4638 closed

[2022-04-21 19:51] allenlsy commented on #4622
@trstringer feel free to assign this task to me. I plan to work on this in Q2.

[2022-04-22 00:36] shalier commented on #4654
@jcr010910 The order of the init-containers isn't the issue because either:
- the init-container fails if it starts first because it redirects the healthcheck to a non-existent sidecar
- Or, it starts after to perform the healthcheck but mTLS wouldn't be applied since the sidecar isn't up yet

You should bring the healthcheck into your application code. You'll need to be careful since kubernetes d

[2022-04-22 05:54] mudit-01 commented on #4663
Thanks @trstringer got it 👍🏽

[2022-04-22 11:45] #4663 closed

[2022-04-26 13:27] trstringer commented on #4675
These are all really good points. From my perspective, we have three options here:

1. Keep the underlying multi-mesh code as-is and remove the user experience from the CLI so that it isn't confusing.
1. Remove all the multi-mesh code from the product.
1. Complete the multi-mesh feature so that is usable and reliable.

My personal vote would be for the first option. Without a heavy user demand I'm

[2022-04-26 15:37] steeling commented on #4654
A couple thoughts:

1. If you do remove the initcontainer, you may want to look into something like [envoy-preflight](https://github.com/monzo/envoy-preflight) to ensure the sidecar starts before the application container.
2. You could keep everything as is, but use an [Ingress Backend](https://release-v0-11.docs.openservicemesh.io/docs/guides/traffic_management/ingress/#ingressbackend-api), which

[2022-04-26 17:29] allenlsy opened #4694 "Document online profiling setup and process"
**Please describe the Improvement and/or Feature Request**

Support adding a continuous profiling tool helps to monitor the performance of OSM in more detail than the current observability tools, as it periodically runs the profiling process and stores stack traces to a centralized server. There are existing solutions for this purpose. Some options are:

* Pyroscope: https://github.com/pyroscope-i

[2022-04-26 21:17] steeling commented on #4619
1. I don't think we should implement 1 off support for retries specifically on status updates. There are other things we can/should update throughout the code as well, where retries may be useful, and this should be part of a general reconciler.
2. Since this is simply a need to retry a failed write, level-triggered reconciliation would be the recommended fix.
3. We currently have level based reco

[2022-04-26 21:35] steeling commented on #4619
I also think we should try to come up with a concrete repro before attempting any specific fix

[2022-04-26 21:43] keithmattix commented on #4619
I agree with @steeling's last point; without a repro, this is all theoretical. If we can't justify the cycles for a repro, then we probably need to reprioritize this issue

[2022-04-26 22:05] #4469 closed

[2022-04-26 22:05] shalier opened #4697 "CLI `version` command should specify if no meshes are in the cluster"
**Bug description**:
CLI `version` command should specify if no meshes are in the cluster OR not show the table if no meshes are in the cluster
![bug_version_should_say_no_meshes](https://user-images.githubusercontent.com/69616256/165399842-49600fda-7ca4-4db1-9d7a-b1561aa7785b.jpg)

**Affected area (please mark with X where applicable)**:
- CLI Tool                   [x ]

**Environment**:
- OSM v

[2022-04-27 09:43] nlamirault opened #4699 "ServiceMonitor feature"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2022-04-27 19:40] steeling commented on #4675
I agree with everything mentioned. I think the one question that remains would be, if adding a new feature, should we maintain the ability to maintain a second mesh? If the answer is no, then over a long enough period of time we would likely end up with a frankenstein feature that would need to be rewritten from scratch.

That said, I think it's a good approach in the interim, and I'd add my vote

[2022-04-28 07:58] mudit-01 commented on #4697
I would like to work on it

[2022-04-28 08:04] tbertenshaw opened #4702 "ARM 64 node support"
**Please describe the Improvement and/or Feature Request**
Wanted to know what pieces are missing in order to support ARM nodes.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ x]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2022-04-28 11:02] naqvis commented on #4632
Adding to previous message. We have been able to successfully implement [Pipy](https://github.com/flomesh-io/pipy) as a **Proxy Control Plane**. We have successfully executed **92%** of E2E test cases on both **AMD64** and **ARM64** architecture while remaining 8% were ignored for time-being and we will continue working on them.

Source code is available on fork of osm at [flomesh-io/osm](https://

[2022-04-28 12:14] trstringer commented on #4697
Thanks for volunteering for this work, @mudit-01! I'll assign this item to you.

[2022-04-28 14:33] nshankar13 commented on #4702
Hi @tbertenshaw

You can change the default sidecar image by editing the MeshConfig:

`kubectl patch meshconfig osm-mesh-config -n osm-system -p '{"spec":{"sidecar":{"envoyImage":"envoyproxy/envoy:v1.19.1"}}}' --type=merge`

If you update the meshconfig like this, are the envoy sidecar injections able to take place?

We are also in the process of adding an ARM64 test to our release process so hope

[2022-04-28 15:36] #4656 closed

[2022-04-28 21:00] #4653 closed

[2022-04-29 02:55] naqvis commented on #4702
We have made changes to run osm and its E2E test cases on ARM64 , but haven't yet submitted changes to main repo. We started our journey to implement [Pipy](https://flomesh.io) as osm proxy control plane. https://github.com/openservicemesh/osm/issues/4632

[2022-05-02 11:44] caishu97 commented on #4702
Try this https://github.com/flomesh-io/osm/wiki/How-to-setup-osm-to-run-on-arm64-platform , it works for me and Flomesh dev team. We run osm on ubunt2x arm64 server version on apple m1 UTM based VM.

[2022-05-02 16:24] nshankar13 opened #4707 "OSM NoInstall Nightly Job failing for e2e_client_server_connectivity test."
**Bug description**: NoInstall nightly job is failing the e2e_client_server_connectivity_test, likely due to an error with how the meshconfig is set.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2022-05-02 18:41] shalier commented on #4654
@jcr010910 closing this issue, please re-open if there are any further questions on your end

[2022-05-02 18:41] #4654 closed

[2022-05-02 23:23] jaellio opened #4710 "Add MeshRootCertificate informer client"
**Please describe the Improvement and/or Feature Request**

Part of #4502

To support automated and automatic root certificate rotation, OSM must watch for changes to MRC resources and perform the appropriate actions based on the type of change. OSM will watch for MRC and MRC status creations, updates, and deletes.

The issue is scoped to adding informers and not the responses to events. For an ex

[2022-05-02 23:59] jaellio opened #4711 "Define certKeyBitSize and serviceCertValidityDuration certificate settings in the MeshRootCertificate"
**Please describe the Improvement and/or Feature Request**

Part of #4502
Dependent on #4710

I propose removing the spec.certificate fields from the OSM MeshConfig CRD and specifying the settings in the MeshRootCertificate CRD. This change would combine all OSM certificate settings into a single resource. A new version of the MeshConfig CRD, v1alpha3, would be created.

Changes to the new fields

[2022-05-03 01:20] jaellio opened #4712 "Create a MeshRootCertificate on osm install"
**Please describe the Improvement and/or Feature Request**

Part of #4502

Create a MeshRootCertificate resource when installing OSM.

Notes:
- the MRC custom resource would use the existing certificate provider values defined in `values.schema.json`. The same default values would apply
- the MRC resource must also be cleaned up on uninstall

**Scope (please mark with X where applicable)**
- New F

[2022-05-03 01:27] jaellio opened #4713 "Use MeshRootCertificate resource to configure OSM certificate manager on startup"
**Please describe the Improvement and/or Feature Request**

On injector, bootstrap, and controller start-up read from the MeshRootCertificate to configure the certificate manager.

**Scope (please mark with X where applicable)**
- New Functionality          [x]
- Certificate Management     [x]

[2022-05-03 19:12] #4707 closed

[2022-05-03 19:27] nshankar13 opened #4716 "OSM ARM 64 support"
**Please describe the Improvement and/or Feature Request**

Ensure that OSM CLI and control plane components work on ARM64 environments. Also tests, demos, and release pipelines need to be configured so that they can run both on AMD and ARM.

OSM install & envoy: https://github.com/openservicemesh/osm/issues/4702
PR to parameterize nodeselector, affinity, tolerations: https://github.com/openservic

[2022-05-03 21:57] steeling commented on #4711
we also need to add the Vault Port to the VaultSpec

[2022-05-04 16:36] shashankram commented on #4699
@nlamirault Thanks for opening this issue. Could you describe in the issue why this is required and how is it useful. Adding additional context will help us review this requirement better and see how we can integrate it into our existing observability story.

[2022-05-04 23:27] schristoff opened #4723 "Validate MeshRootCertificate"
Please describe the Improvement and/or Feature Request
Part of https://github.com/openservicemesh/osm/issues/4502

Add validating webhook for MeshRootCertificate that:

- Allow at most 2 MeshRootCertificate resources in either the pending-up, pending-down, complete, inactive, error or unknown state to be created. MeshRootCertificates that are inactive are not included in the count
    - If there a

[2022-05-05 10:37] mudit-01 commented on #4448
Hi @johnsonshi I can work on this, which task should I start with first?

[2022-05-06 21:57] #4624 closed

[2022-05-09 00:12] #4563 closed

[2022-05-09 07:36] dasMulli opened #4725 "WebSocket support"
**Please describe the Improvement and/or Feature Request**
Currently establishing WebSocket connections to in-cluster services can fail in envoy producing upgrade failure logs.

Envoy however does support WebSocket upgrades given the appropriate upgrade config. This upgrade config should be supported in OSM.

**Scope (please mark with X where applicable)**
- New Functionality          [x ]
- Insta

[2022-05-09 08:25] dasMulli opened #4726 "Question / Doc: Expose TCP services"
I'm unable to figure out using the documentation if/how tcp-based services can be exposed to mesh-external or cluster-external sources or if that szenario is even supported.

This includes:
* Gradually onboarding services to the cluster but still allowing inbound TCP connections (SMTP and AMQP in my case)
* Exposing TCP-based services (IngressBackend with `protocol: tcp` doesn't seem to work)

[2022-05-09 09:19] mudit-01 commented on #4726
Hi @dasMulli this can help https://release-v1-1.docs.openservicemesh.io/docs/demos/egress_policy/#tcp-egress ?

[2022-05-09 09:26] dasMulli commented on #4726
@mudit-01 this is about egress, i'm looking for TCP ingress

[2022-05-09 15:24] #4613 closed

[2022-05-10 01:11] jaellio commented on #4712
Some thoughts and questions regarding creating MeshRootCertificate creation on install:

Creating the MeshRootCertificate on OSM install
- Should the MeshRootCertificate be created in the same way the MeshConfig is created? Currently, on install a ConfigMap containing the preset mesh configurations is created. The osm-bootstrap is responsible for loading the preset mesh configuration and then crea

[2022-05-10 14:01] steeling commented on #4712
If you mean by creating a configmap first I see no reason to do so. I believe the reasons to do this initially for the mesh config are now obsolete.

If there are any secret values required in an MRC, a standard approach would be to add a field `secretRef` which is an object that contains secret name, secret key, and maybe namespace (or just use same namespace).

Wait/error (kill the pod) seems li

[2022-05-10 15:47] dasMulli commented on #4725
Prototype implementation using a feature flag seems to make what I need work: https://github.com/openservicemesh/osm/compare/release-v1.1...dasMulli:feature/websockets-on-release-v1.1

[2022-05-10 18:14] phillipgibson opened #4731 "Review OSM for FedRamp Compliancy"
**Please describe the Improvement and/or Feature Request**
Service meshes are an integral to many secured environments that have [FedRamp](https://www.fedramp.gov/) compliancy. This issue will track the discovery of items under FedRamp that are specific to the OSM service mesh layer only. The output will be to create a backlog of items to complete to make OSM FedRamp compliant.

**Scope (please ma

[2022-05-11 07:05] dasMulli commented on #4725
Thanks, I'll work on a PR for that.

A few questions I'd still have:

1. Do we want to allow only one `HTTPUpgradeType` configuration - even though `CONNECT` is probably not going to be used a lot, it would still force someone to choose either `websocket` or `CONNECT`.
2. Defaults. Do we want it on by default at some point?

[2022-05-11 13:40] steeling opened #4733 "Allow mTLS at egress"
Phase 1 could simply be a boolean on egress that applies mTLS with the existing mesh certificate. The onus would be on users to distribute the root certs appropriately.

Phase 2 could be providing another public key for validation.

[2022-05-11 16:33] shashankram commented on #4733
@steeling could you please describe in detail the motivation for this issue and what is being requested here.
Does this pertain to egress (pod to external) traffic or something else?

[2022-05-11 16:40] shashankram commented on #4725
Those are good questions. Based on my understanding from the [upgrade_config doc](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-msg-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-upgradeconfig), it seems like Envoy does not support multiple upgrade types at the moment?

[2022-05-11 17:30] steeling commented on #4725
Why not add this as a default, and just always allow it? As in, not even provide a toggle to turn it off?

If there is a reason to turn it off, I think that would indicate there's a reason to turn this on/off on individual services. In that case it likely shouldn't be a field on the mesh_config. Do others have thoughts?
Adding this on the `mesh_config` feels like the wrong place, since that would

[2022-05-11 18:01] shashankram commented on #4725
As noted in https://github.com/openservicemesh/osm/issues/4725#issuecomment-1124004397, it's okay to have a global default, and such defaults should be added in the MeshConfig. For per upstream configuration, this would need to be incorporated into the UpstreamTrafficSetting CRD.

However, the other upgrade option `connect` is unlikely to be commonly used, so I think to simplify this we can set th

[2022-05-11 18:11] #4710 closed

[2022-05-11 18:28] benediktwetzel opened #4735 "Question: is there any way to monitor tcp based (Postgres) traffic?"
I use PostgresQL as database. The network protocol is TCP (set by port name).

I want to monitor the network traffic between my components and Postgres. But I am not able to collect any metrics from or to Postgres (only metrics with label value "unknown" are available). In the documentation I found the following: "HTTP requests that invoke a local response from Envoy have “unknown” destination_* l

[2022-05-11 18:55] nojnhuh commented on #4735
@shashankram Yes, the `osm_request_total` and `osm_request_duration` metrics are only expected to work for HTTP traffic currently. Envoy exposes TCP metrics on [clusters](https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats) and [listeners](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/stats) which may be enough depending on what yo

[2022-05-11 19:23] shashankram commented on #4735
Since PostgreSQL will use TCP-based (appProtocol: tcp) routing in OSM, at the very least default metrics for TCP clusters should be published by Envoy.

We can provide further metrics by:
1. Adding custom metrics/labels using WASM for TCP: #2506
2. Allow setting `appProtocol: postgresql` on service ports, where we add the additional `postgres_proxy` filter for such ports

@benediktwetzel, are you

[2022-05-11 19:56] dasMulli commented on #4725
@shashankram so that means similar to my draft PR just with the default being `"websocket"` instead of `""`?

I do agree that "connect" is unlikely to be used unless someone wants to implement an HTTP proxy within a service mesh.

I think they do support multiple differnt upgrade types, so for example websocket upgrades (`GET /mysocket HTTP/1.1\nUpgrade: websocket\nConnection: Upgrade`) and a conn

[2022-05-11 20:03] shashankram commented on #4725
Yes, let's set `{UpgradeType: "websocket"}` for the [http connection manager](https://github.com/openservicemesh/osm/blob/main/pkg/envoy/lds/http_connection.go#L49). Since we don't care about `connect` for now, we don't need to worry about exposing additional values.

[2022-05-11 21:07] jaellio opened #4737 "Refactor OSM Hashicorp Vault authentication"
**Please describe the Improvement and/or Feature Request**

Currently, if Vault is selected as OSM's certificate provider, the user must provide the Vault token using the --set option on osm install or by overriding the default `values.yaml` file on a helm install. The token is used by each control plan component to authenticate to the Vault server. With the addition of the MeshRootCertificate cus

[2022-05-12 19:21] shalier opened #4739 "Add status field to Retry Policy"
**Please describe the Improvement and/or Feature Request**

https://github.com/openservicemesh/osm/pull/4600#discussion_r869584107
Look into adding a status field that would indicate when the retry policy has been applied.

**Possible use cases**

It would make retry policy easier to test for integration tests.
https://github.com/openservicemesh/osm/pull/4600/files#diff-b686359f6909e411a9c7efc26ca

[2022-05-12 22:20] #4725 closed

[2022-05-13 21:19] jaellio opened #4745 "Deprecate osm.vault.token in favor of a secret reference"
**Please describe the Improvement and/or Feature Request**

If Vault is the chosen certificate provider, the user must set the `osm.vault.token` value. I propose removing this option. Instead, we would require the user to create a Kubernetes secret storing the Vault token and set a new `osm.vault.tokenSecretName` value. The secret name would be used to populate the Vault provider token secret refe

[2022-05-14 00:11] jaellio opened #4746 "Implement watch on MeshRootCertificate Status changes"
**Please describe the Improvement and/or Feature Request**

Implement a process to subscribe MRC status changes and update the Issuers accordingly.

Part of #4502

**Scope (please mark with X where applicable)**
- New Functionality          [x]
- Certificate Management     [x]

[2022-05-17 16:58] keithmattix opened #4748 "Enable Permissive Mode by Default"
**Please describe the Improvement and/or Feature Request**
For upstream OSM, permissive mode is currently disabled by default. In order to ensure a smooth first user experience, permissive mode should be enabled by default

**Scope (please mark with X where applicable)**
- Permissive Traffic Policy  [X]

**Possible use cases**
As a first-time OSM user, I want to be able to experience the benefits

[2022-05-18 15:47] steeling commented on #4748
We should also consider enabling this by default for ingress/egress traffic

[2022-05-18 15:57] steeling commented on #4733
Yes this is for pod to external traffic, to meet security requirements around mTLS

[2022-05-18 16:01] steeling commented on #4665
closed with PR #4673

[2022-05-18 16:01] #4665 closed

[2022-05-18 16:02] steeling commented on #4533
Closed through above PR's

[2022-05-18 16:02] #4533 closed

[2022-05-18 16:11] steeling commented on #1974
No this would be separate. We can create a new issue for custom trust domains, I don't believe that's currently captured

[2022-05-18 16:32] shashankram commented on #4733
mTLS is supported with Egress, though the TLS origination for external traffic must happen within the application code.

[2022-05-18 16:34] phillipgibson commented on #1974
Ok I'll create an issue outlining the use case.

[2022-05-18 17:58] keithmattix commented on #4733
(emphasis mine)

I think we can do better than this. Automatic mTLS on egress is a much better user-experience IMO.

[2022-05-18 18:20] shashankram commented on #4733
Enabling provisioning user TLS certificates is an option that can enable this.
However, note that this mechanism was intentionally not supported as a design choice in an effort to keep the behavior simple without the added complexity of needing to deal with custom certificates. If users are requesting for this feature, we can consider extending the current capability.

[2022-05-18 18:42] keithmattix commented on #4733
Why do we need to provision user certificates? If the user provisions OSM with an intermediate CA, wouldn't sibling CAs (i.e. certs derived from the same root as the intermediate) automatically be trusted?

[2022-05-18 19:05] shashankram commented on #4733
That would work. What I meant is that for mTLS to an external destination not managed by OSM, customers will likely want to bring their own cert or not use self-signed certs, as the intermediary/root cert for the external destination is not derived from a cert issued by OSM. If we are talking about one-way TLS (not mTLS), it's simpler in terms of configuration.

@steeling could you kindly add more

[2022-05-18 19:12] shashankram commented on #4733
correction: s/mTLS/TLS

[2022-05-18 20:08] keithmattix commented on #4733
@shashankram I see what you're saying; self-signed Tresor certificates wouldn't work, but the cert-manager or Vault provider pointing to an intermediate CA should. That way, all the service certs would be derived from that intermediate and be able to talk to the external destinations

[2022-05-19 15:55] #3521 closed

[2022-05-19 16:43] keithmattix opened #4750 "[Research] Explore SPIFFE/SPIRE Integration"
**Please describe the Improvement and/or Feature Request**

[SPIRE](https://github.com/spiffe/spire) is a CNCF incubating project for platform-agnostic workload identity. At a very basic level, SPIRE could be used as a CA integration for OSM. However, SPIRE also provides the opportunity to for OSM to leverage the [SPIFFE](https://spiffe.io/) protocol to unlock heterogeneous workloads (e.g. VMs, se

[2022-05-23 18:51] #3477 closed

[2022-05-23 20:45] steeling opened #4754 "Feature: Custom Trust Domains"
We have received feature requests from customers that require custom trust domains for their services. This means that certificates issued should have a common name of the format:

`<identity-name>.<namespace>.<custom-trust-domain>`

Additionally, we should add the DNS entry with the custom trust domain in `k8s.GetHostnamesForService`.

With the new MRC, we can build this in such a way that we can

[2022-05-23 23:13] jaellio commented on #4711
Should changes to certKeyBitSize and serviceCertValidity duration cause all existing, non-expired certificates to be rotated or should it only be updated for all future certs?

[2022-05-23 23:45] steeling commented on #4711
Hmm good question!

I was actually surprised to see that we don't use certKeyBitSize for the CA generation for tresor. If we switch that, then that means a certKeyBitSize change for tresor would require a full rotation of the CA.

The other certificate manager's don't face that problem. From a user perspective, if I made those changes, I would expect them to occur sooner than later, but I think it

[2022-05-24 22:01] steeling commented on #4754
Brief proposal https://docs.google.com/document/d/1nLI4PcfB7-hdPvJipQwQ9dw28f8G7p77iqv3VzsCRFI/edit#

[2022-05-25 14:30] steeling commented on #4754
Kind of. That is actually already possible although the service certs won’t have the custom trust domain.

This is for users that use a PKI with a requirement that all certs have a specific trust domain

[2022-05-25 16:02] keithmattix opened #4761 "Feature: Allow permissive mode to be enabled/disabled per namespace"
**Please describe the Improvement and/or Feature Request**

Permissive mode, while not as secure as the alternative, is the simplest way to get up and running with OSM. As such, many users may want to enable permissive mode on a per-namespace basis for various use-cases (e.g. multi-tenancy, selective onboarding, implicit trust in vendor namespaces, etc.)

**Scope (please mark with X where applicab

[2022-05-25 17:52] phillipgibson opened #4764 "Allow for use of JWT token authorization to workloads in the mesh"
**Please describe the Improvement and/or Feature Request**
Allow for client JWT token to be used as an authz method to access workloads in the mesh.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- In

[2022-05-25 17:57] keithmattix commented on #4761
Sure thing!

So essentially, OSM has two different trust models by default:

1. everything's trusted
2. nothing's trusted

My proposal is to add a third mode of operation: everything in my namespace is trusted. This matches Kubernetes convention where the namespace boundary is also the boundary for trust. This tertiary mode of execution is useful in scenarios where users may want to enable permiss

[2022-05-25 18:31] phillipgibson commented on #4731
It appears having a cipher suite configuration may not assist with this and a specific Envoy image may need to be used that doesn't container additional cipher suites and only those specific to FIPS compliancy.

[2022-05-25 20:28] steeling commented on #4764
Note that this is currently possible by integrating with OPA https://github.com/openservicemesh/osm/issues/1874

[2022-05-25 20:41] shashankram commented on #4761
Do you see a need to allow permissive mode for apps across namespaces to communicate? If we can keep the configuration simple (all or just within selected namespaces), it seems reasonable. If it is intended to support more complex permutations, I would consider enabling them through a more granular policy mechanism.

[2022-05-25 20:47] keithmattix commented on #4761
@shashankram no - I think the we keep things simple and not try to handle the cross-namespace case. That's a security issue waiting to happen, and at that point, users should be configuring granular access rules anyway

[2022-05-25 21:29] shashankram commented on #4761
I don't think that should be a security issue as the intent would be explicit, but rather result in additional permutations that are not intuitive.

Note that the current permissive mode is about automatic service discovery and connectivity configuration vs explicit authorization policies. Apps still connect with each other in a trusted manner using mTLS, just that this happens without authorizati

[2022-05-25 22:30] phillipgibson commented on #4764
Do we want to be tied to OPA for enabling this, or having something more native?

[2022-05-26 13:13] phillipgibson opened #4766 "Provide mTLS certificate issuance outside of OSM self-signed mechanisms"
**Please describe the Improvement and/or Feature Request**
There are secured environments that cannot utilize self-signed certificates. Certificates need to be signed by existing PKI infrastructure and maintain cert chain.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy

[2022-05-26 13:15] steeling commented on #4766
Can we close this as completed with support through cert manager?

[2022-05-26 13:17] phillipgibson commented on #4766
@steeling can you ref the issue # on that one pls? I'll take a look at it.

[2022-05-26 13:28] #4766 closed

[2022-05-26 13:42] keithmattix commented on #4764
In my experience, setting up OPA is nontrivial for something that's as commoditized as JWT auth. For OPA, you've got to set up an OPA server, spend time learning Rego, craft policies that are just right, and figure out if the latency of an extra request is acceptable. With envoy's JWT filter, traffic never leaves the sidecar, and we're able to create a simpler abstraction. Just some food for thoug

[2022-05-26 13:45] phillipgibson commented on #4764
I do feel that utilizing OPA for this feels heavy, especially if Envoy has the APIs ready for this.

[2022-05-26 14:55] keithmattix commented on #4761
That's fair - my original comment was concerning the "default" (i.e. out of the box) trust modes when first installing OSM; apologies if that wasn't clear.

I see where you're coming from with simplifying the permutations for permissive mode, and I'm good with that. The 2 forms you described make sense 👍🏾

[2022-05-26 16:24] #4634 closed

[2022-05-26 18:17] allenlsy commented on #4694
Issue completed

[2022-05-26 18:17] #4694 closed

[2022-05-27 06:59] GiuseppeChiesa-TomTom opened #4769 "Unable to configure Ingress + traffic splitting"
**Bug description**:
Following documentation I would like to configure [osm with traffic split between 2 services](https://release-v1-1.docs.openservicemesh.io/docs/demos/canary_rollout/), and have the root service be [exposed via ingress controller](https://release-v1-1.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/) (nginx).

Documentation reports how to test the traffic split only from a

[2022-05-27 16:36] shashankram commented on #4769
Hi @GiuseppeChiesa-TomTom SMI traffic splitting is applicable only to pods participating in the service mesh. In OSM, we recommend not adding a sidecar to the ingress controller/gateway pod, and as such, it is technically not a part of the meshed pods managed by OSM controller so SMI traffic policies cannot be applied to un-meshed (pods without the proxy sidecar) ingress controller/gateway pods.

[2022-05-27 19:08] #4659 closed

[2022-05-31 16:19] shashankram commented on #4769
I am unsure about what you are suggesting here.

Since you are looking to use SMI traffic splitting for your ingress gateway, the only way this is possible is by having a sidecar on your ingress gateway and using SMI traffic policies instead of k8s Ingress routes to route traffic from the ingress gateway to your backend services.

[2022-05-31 16:37] shashankram commented on #4769
Since @GiuseppeChiesa-TomTom mentioned using Nginx ingress, using the Gateway API is unlikely to be feasible as it is still being scoped by the k8s Nginx project (https://github.com/kubernetes/ingress-nginx/issues/7517).

[2022-05-31 19:49] shalier commented on #4739
Closing the issue, using polling suffices for integration testing for now

[2022-05-31 19:49] #4739 closed

[2022-05-31 19:53] jaellio opened #4774 "Update OSM contributor roles"
**Please describe what should be documented**
The goals of these modifications are to clarify contributor roles, provide more transparency about the process to become a maintainer and incentivize contributions.

Suggested modifications:
- In contributor_ladder.md, clarify the requirements of a Maintainer
  - Expand on the requirement "Demonstrates a broad knowledge of the project across multiple a

[2022-06-01 01:26] shalier opened #4777 "Add support for wildcard destinations for Retry Policy"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [X ]

**Possible use cases**

Implement wildcard destinations so a user can apply the retry policy to all destinations for a service, instead of having to list every single destination in the retry policy

[2022-06-01 01:26] shalier commented on #4489
https://github.com/openservicemesh/osm/issues/4777

[2022-06-01 01:30] shalier opened #4778 "Add validation webhook for retry policy"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [ x]

**Possible use cases**

Implement validation webhook for retry and remove checks here - https://github.com/openservicemesh/osm/blob/main/pkg/envoy/rds/route/route_config.go#L299-L316

[2022-06-01 09:53] dasMulli commented on #4726
What would be needed for TCP ingress? As in: does it interfere with mTLS config in other lesteners / filter chains etc, parts of work that would need to be done etc.

[2022-06-01 13:58] benediktwetzel commented on #4735
May i can reopen this issue.

I am not able to retrieve the envoy metrics for TCP based clusters.

I have added your snippet to my service monitor:

[code]
Do you have an idea what could be the problem?

[2022-06-01 19:48] shalier opened #4779 "Add retriable headers field for Retry Policy"
**Please describe the Improvement and/or Feature Request**

For the retryOn field in retry policy, you can set it to various policies that Envoy has set https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-on
One of the policies is retriable_headers, which when set would have allowed users more control over what to retry on https://www.envoyproxy.

[2022-06-01 21:18] allenlsy opened #4780 "Add documentation on integration with Prom Operator"
**Please describe what should be documented**

[Prom operator](https://github.com/prometheus-operator/prometheus-operator) can be used to configure metrics collection with Prometheus. Although OSM implements the configuration with osm metrics enable command, prom operator is becoming a popular approach to do a better job than OSM CLI tool.

A documentation should cover:

Installation of Prom Opera

[2022-06-02 16:49] steeling opened #4783 "[Optimization] Leverage standard map + mutex in ProxyRegistry"
The ProxyRegistry uses a sync.Map, which has the downfall of not being able to get the count. The current solution is to iterate the map (while holding its lock) and count the number of items.

Using a RW mutex + a normal map would yield improvements

[2022-06-02 18:25] nshankar13 opened #4784 "OpenShift Nightly Job Failing"
**Bug description**: OpenShift nightly job has been failing the e2e_statesfulsets_test.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2022-06-02 19:26] trstringer commented on #4764
I agree with @keithmattix. I think relying on OPA is fine for an immediate solution to unblock users, but we should be making this a lot easier. I'd say we should prioritize this work in the mid-term and something we should strongly consider for an upcoming release.

[2022-06-03 13:26] trstringer opened #4786 "Add API and feature usage metrics"
**Please describe the Improvement and/or Feature Request**

Operators running OSM at scale will likely want to be able to gather metrics on what is being used by different clusters (traffic targets, traffic splits, etc.). Currently OSM provides granular Envoy metrics and some [control plane metrics](https://release-v1-1.docs.openservicemesh.io/docs/guides/observability/metrics/#control-plane), but

[2022-06-03 16:59] nojnhuh commented on #4575
Closing since I'm no longer seeing this issue consistently. I occasionally see it the first time I `kubectl patch` a CRD, but never after that, so I think this may just be a side effect of how the API handles things that we can't control.

[2022-06-03 16:59] #4575 closed

[2022-06-04 08:03] marcindulak commented on #3456
:eyes:

[2022-06-06 16:56] #4712 closed

[2022-06-06 17:01] nshankar13 commented on #4784
OpenShift nightly job is now failing the e2e_certmanager test, need to debug.

[2022-06-06 17:14] jaellio commented on #4489
Awesome work on this @Shalier!! 🎉🎉🎉

[2022-06-06 20:39] nshankar13 commented on #4784
Seems to be an intermittent issue due to: https://cert-manager.io/docs/concepts/webhook/#webhook-connection-problems-shortly-after-cert-manager-installation

[2022-06-06 20:59] #4568 closed

[2022-06-07 16:09] keithmattix opened #4793 "(refactor): Centralize informer handling"
**Please describe the Improvement and/or Feature Request**

We currently tightly couple our informers to specific objects (e.g. [k8s controller](https://github.com/openservicemesh/osm/blob/main/pkg/k8s/client.go#L48), [configurator](https://github.com/openservicemesh/osm/blob/main/pkg/configurator/client.go#L35), [smi](https://github.com/openservicemesh/osm/blob/main/pkg/smi/client.go#L71), and [p

[2022-06-07 16:44] granwizzard opened #4794 "Envoy custom settings for securityContext."
Hello,

I'm having an issue related to being in compliance with the security best practices when deploying OSM through, Azure portal, Az CLI or even directly on the cluster.
We are following a security baseline where the container Pods needs to be in compliance with several policies, in one of these policies where its role is to enforce the drop of certain capabilities, can't run as root, etc... i

[2022-06-07 17:55] shashankram commented on #4793
@keithmattix I believe this is a duplicate of https://github.com/openservicemesh/osm/issues/4551.  Do you agree?

[2022-06-07 18:05] keithmattix commented on #4793
Oh I completely forgot that issue existed. Yeah this is the same thing; feel free to close

[2022-06-07 18:10] #4793 closed

[2022-06-08 14:51] phillipgibson opened #4797 "Enable Envoy Access Logging"
**Please describe the Improvement and/or Feature Request**
Allow configuration in OSM to allow the ability to enable Envoy access logging. This Envoy configuration is documented as part of the project [Access logging](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/access_logging).

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Ins

[2022-06-08 15:06] #4784 closed

[2022-06-08 16:31] shashankram commented on #4797
Hey @phillipgibson, I believe access logging is enabled for Envoy. Is there a problem you are seeing with these not being seen in the Envoy logs?

[2022-06-08 16:40] phillipgibson commented on #4797
Not a problem if this is enabled. I guess we need to provide some docs on how to view and/or access the logs. Use case is to send  stdout to a SEIM system.

[2022-06-08 16:46] shashankram commented on #4797
@phillipgibson I am going to close this issue as access logging is enabled. Would you mind opening an issue in the `osm-docs` repo pertaining to the documentation request.
Thanks

[2022-06-08 17:17] shashankram commented on #4797
@phillipgibson The access log should look like this in the Envoy logs:
[code]

[2022-06-08 17:29] #2402 closed

[2022-06-08 20:27] shashankram opened #4799 "Retries: consolidate retries into UpstreamTrafficSetting API"
**Please describe the Improvement and/or Feature Request**

The UpstreamTrafficSetting API is used to configure settings for traffic directed to upstream services. Currently, circuit breaking and rate limiting are a part of the UpstreamTrafficSetting spec.

A long term goal has been to consolidate the retry policy into the same UpstreamTrafficSetting API, as it allows more fine-grained control ove

[2022-06-08 22:20] nojnhuh commented on #2316
Overall, I'm inclined to say the issue regarding startup is better solved by workloads than by OSM.

This same problem is theoretically possible with just Kubernetes without OSM if, for example, the endpoints controller is backed up for whatever reason (since Kubernetes informers also operate on an eventual consistency model) where a Service might exist but Endpoints have not yet been set to route

[2022-06-09 00:20] steeling commented on #2316
I agree with Jon. It might be useful to provide documentation (although it exists externally), such that when people search for this issue with OSM they find our recommended solutions

[2022-06-10 14:18] steeling commented on #4723
When this gets implemented, with the new trust domain we should also validate that no parts in `strings.Split(TrustDomain, ".")` are the empty string

[2022-06-10 16:42] benediktwetzel opened #4806 "Question: Filter HTTP Request by Path or Method"
Is there any way to filter the metric/http request by a specific requested path (e.g. /login/login.html)? Or is it possible to filter by HTTP methods, like GET or POST?
 Unfortunately I am not able to find anything in the docs.

Thanks a lot!

[2022-06-10 16:56] shashankram commented on #4806
Hey @benediktwetzel, are you looking to filter stats specifically?
If yes , the default stats emitted by Envoy do not encode path/method specific info. See https://github.com/envoyproxy/envoy/issues/1585 and https://github.com/envoyproxy/envoy/issues/13673 for more info.
It may be possible to aggregate stats by these HTTP attributes, but that likely requires a WASM extension which we don't support

[2022-06-10 18:01] steeling commented on #4806
Specifically for path, this would actually be really tough for any service mesh to do properly for a couple reasons:

1) [Metric label cardinality limits](https://prometheus.io/docs/practices/instrumentation/#do-not-overuse-labels), and an unbounded set of of potential paths could grind any timeseries DB to a halt.
2) Paths often contain identifiers, ie: `/users/abc`, might be an exact path, or it

[2022-06-10 18:32] shashankram commented on #4799
@shalier As a part of #2018, I am going to add support to plumb the policy in UpstreamTrafficSetting at the inbound route and virtual_host level. Since retries and rate limiting policies are at the same level, it would be easier for you to update the retries code once the initial part of #2018 is done. However, you may independently start updating UpstreamTrafficSetting API schema as I don't inten

[2022-06-10 19:10] benediktwetzel commented on #4806
Yes, I do understand your point. Maybe filtering/labeling by paths is not suitable in practice.

But labeling by HTTP method should be possible. I think this could be a good feature in many situations.

[2022-06-11 00:14] #3452 closed

[2022-06-13 16:58] jaellio opened #4810 "Preserve validity duration during cert rotation"
**Bug description**:

Currently, when any certificates issued by OSM are rotated in the `checkAndRotate` method they are reissued with a validity duration of 24 hours regardless of the previously set validity duration.  If the `serviceCertValidityDuration` is updated in the MeshConfig, the new value isn't used when reissuing expired certificates.

**Affected area (please mark with X where applicab

[2022-06-13 22:37] jaellio opened #4815 "Configure certificate manager in response to MRC and MRC status changes"
**Please describe the Improvement and/or Feature Request**

To do:
- [ ] Update the issuers in the Manager based on the MRC status changes

In response to MRC and MRC rotation stage status changes update the `Manager` struct.

All MRCs events should be considered valid. The validating webhook is responsible for performing validation on adds, updates, and deletions of MRCs.

Outstanding Questions:

[2022-06-14 00:06] jaellio opened #4817 "Update conversion, validating, and mutating webhook configurations based on certificate manager updates"
**Please describe the Improvement and/or Feature Request**

Update conversion, validating, and mutating webhook configurations based on certificate manager updates

To do:
- [ ] Subscribe to updates to the conversion, validating, and mutating webhook certificates on the cert rotation chan in the certificate Manager.  On updates, update the respective webhook configuration

**Scope (please mark wit

[2022-06-14 00:15] #4609 closed

[2022-06-14 00:15] #4598 closed

[2022-06-14 03:48] jaellio opened #4818 "Update OSM bootstrap secret on certificate manager updates"
**Please describe the Improvement and/or Feature Request**

For each manager update, issue a new certificate and update the OSM bootstrap secret if it hasn't already been updated.

To do:
- [x] Move envoy bootstrap config creation logic to envoy/bootstrap package https://github.com/openservicemesh/osm/commit/226ee6499208fb2871f77660208b778661db9652
- [x] Implement builder pattern for envoy bootstr

[2022-06-14 03:49] #4746 closed

[2022-06-14 04:12] jaellio opened #4819 "Support updating the tls config without restarting the server"
**Please describe the Improvement and/or Feature Request**

On each request, get the tls config using [`getConfigForClient`](https://pkg.go.dev/go.step.sm/crypto/tlsutil#Renewer.GetConfigForClient). The tls config returned will contain a certificate issued using the up-to-date manager struct issuer settings. This change will allow OSM to update certificates used in the TLS without having to restar

[2022-06-14 18:32] steeling commented on #4794
We should probably default this to run as non-root.

If we did this, do you need further customization?

[2022-06-14 18:38] keithmattix commented on #4794
I'll call out that this is technically the initContainer and not the sidecar; the init container needs some root privileges (i.e. NET_RAW and NET_ADMIN) in order to change iptables rules, but it doesn't have to run as root to do so

[2022-06-14 20:07] #4774 closed

[2022-06-15 10:25] kamellemann opened #4820 "OPENSSL Error when enabling MESH for Namespace in inter-namespace communication (OPENSSL_internal:WRONG_VERSION_NUMBER})"
**Bug description**:
Error
{"EventId":104,"LogLevel":"Error","Category":"Microsoft.Extensions.Diagnostics.HealthChecks.DefaultHealthCheckService","Message":"Health check gateway-schema-builder threw an unhandled exception after 14.597ms","Exception":"Grpc.Core.RpcException: Status(StatusCode=\"Unavailable\", Detail=\"upstream connect error or disconnect/reset before headers. reset reason: connecti

[2022-06-15 10:30] kamellemann commented on #4820
Namespace Annotations:
  labels:
    kubernetes.io/metadata.name: osm-test
    XYZ/appdomain: osm-tests
    XYZ/team: Integration
    **openservicemesh.io/monitored-by: osm**
  annotations:
    cattle.io/status: >-
      {"Conditions":[{"Type":"ResourceQuotaInit","Status":"True","Message":"","LastUpdateTime":"2022-05-25T12:55:39Z"},{"Type":"InitialRolesPopulated","Status":"True","Message":"","Last

[2022-06-15 17:58] allenlsy opened #4822 "[Root] Performance test & tool improvement"
**Please describe the Improvement and/or Feature Request**

OSM load testing tool has provided scripts to do:

* Single load test job run
* Load test suite definition and execution
* Auto metrics collection

We suggest a list of further improvements to the testing tool and results analysis tasks:

### Load test tool

- [ ] [Use alternative load generation tool](https://github.com/openservicemesh/o

[2022-06-16 07:46] granwizzard commented on #4794
This would be a step in a good direction, but not enough, unfortunately. Nowadays with the zero-trust model, security posture, and new vulnerabilities being found sooner or later, it will require new changes/tweaks.

[2022-06-16 07:59] framctr opened #4826 "Installation timed out"
**Bug description**:
Correctly downloaded the osm binary for Linux amd64. Launch `osm install` command from WSL2, with kubectl v1.21 and cluster GKE with kubernetes v1.21. After some time OSM returns: `Error: timed out waiting for the condition`. If relaunching: `Error: timed out waiting for the condition`

Inside Kubernetes there is the (empty) namespace.
[code]

**Affected area (please mark with

[2022-06-16 15:03] defenestration commented on #4699
Not the OP but maybe i can provide more context.  The Prometheus Operator deployed by [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) (and probably other projects) does not support the prometheus.io annotations , and instead uses PodMonitor/ServiceMonitor CRDS to figure out what to scrape.  It would be convenient for OSM to suppor

[2022-06-16 16:45] shashankram commented on #4799
@shalier I wanted to also note that before proceeding with an implementation, it would make sense to verify if merging the Retries policy with the UpstreamTrafficSetting API is feasible. I have outlined a sketch in the description, but it does not imply the design is vetted.

[2022-06-16 17:42] allenlsy commented on #4826
@framctr can you provide the fail reason of osm-bootstrap and its log if available?

[2022-06-16 18:19] framctr commented on #4826
Well, in the namespace `osm-system` there are no pods....

There is a Service named osm-bootstrap.

[code]

[code]

[code]

[code]

[2022-06-16 18:23] framctr commented on #4826
For a moment appeared a `preinstall container`:
[code]

[2022-06-16 18:42] allenlsy commented on #4826
Can you run `kubectl describe deploy osm-bootstrap -n osm-system` to check the reason why the osm-bootstrap is not up? The reason message is under the `Conditions` field. I want to rule out the reason that the cluster does not have enough resources.

Another thing you can do is to check the osm-bootstrap deployment to see if there is pod crashloop. If there is, can we get its log with a re-install

[2022-06-16 19:19] framctr commented on #4826
Currently I have 3 nodes, each one with 2vcpu and 8GB.

kubectl decribe osm-bootstrap:
[code]

[code]

[2022-06-16 20:14] keithmattix commented on #4826
I'm not sure this is a resource issue. If you would, try to re-install and watch/log the pods in the `osm-system` namespace. That'll help us get into specifics

[2022-06-16 20:29] allenlsy commented on #4826
3 nodes with the spec your mentioned should be sufficient for the OSM sample application. I initially concerned about if there are node affinity settings that cause the resource issue. Seems that's not the case here.

Anyway, we need to understand why osm-bootstrap pod is not up. That's the prerequisite for other OSM control plane pods. Can you also check if osm-bootstrap Docker image is accessibl

[2022-06-16 20:50] granwizzard commented on #4794
We are allowing the OSM to run in a namespace where the policy is excluded for this namespace, but as soon as we onboard a new namespaces to OSM is where we are facing the issues, the policy is mandatory for all namespaces except the one where we are running OSM.

If this is true and is requirement, NET_RAW or NET_ADMIN to be allowed, how can we apply best practices security practices for K8s clus

[2022-06-16 21:36] allenlsy commented on #4761
"trust" should be re-phrased as "allowed" or "authorized".

I agree with these 2 forms of permissive mode as well. We can scope this feature as follows:

The permission policies among namespaces should be stored somewhere. If permissive mode is enabled in MeshConfig, by default it should be the all-namespace permissive mode. If a namespace has specified permission policy, then only the allowed nam

[2022-06-16 23:07] allenlsy opened #4828 "Guide of migration to OSM from other service mesh products"
**Please describe what should be documented**

Based on our experience as many customers who consider and intend to use OSM come from other popular service mesh products, it will be great if there is a guide on migrating to OSM.

The guide should at least cover:

* Migrate from basic/default profile installation of another service mesh to OSM
* Migrating policies in another mesh into SMI manifests

[2022-06-17 00:18] keithmattix commented on #4794
Can your security policies have an exception list based on container name? Only a single container (the initcontainer) requires those privileges.

If that's not workable, then we can look into moving the initialization logic requiring those privileges to a CNI plugin so that each individual pod in the mesh doesn't have to have a container with such high privileges

[2022-06-17 02:33] saranstarz opened #4829 "Traffic to service through AzureLoad balancer blocked after injecting osm envoy proxy"
We have a service running on kubernetes (setup using aks engine) that is exposed to VMs outside the cluster using Azure Internal Load balancer as shown below. The clients inside the VM connect to the service using GRPC w/http2.

VM (outside k8s) ---- LB -- Service(inside K8s)

When I was evaluating OSM, I created an alternate path to the service using Contour and OSM.
With OSM the topology looks l

[2022-06-17 05:39] framctr commented on #4826
I used labels to define pod affinity for my project, but they do not conflict with osm labels at all.

I checked the images on all 3 nodes and only on one of them I found just 2 images, but no osm-bootstrap one.
[code]

I insert also the output of `describe osm-bootstrap`:

[code]

I tried to pull the `osm-bootstrap` image manually on all the nodes, but nothing...

[2022-06-17 14:56] keithmattix commented on #4820
Hi! Thanks for filing this issue. To confirm, are you saying that the Gateway -> Mesh pod connection is failing?

[2022-06-17 15:36] kamellemann commented on #4820
We had the problem that the pods (Gateway) in the Mesh did not start as their startup probe failed (pods validating against other pods in the mesh). The error was "Detail="upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER")".
To validate that this issue was n

[2022-06-17 16:23] keithmattix commented on #4820
Try following this guide: https://release-v1-1.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/

One thing to keep in mind is that the ingress controller/gateway _should not_ have the Envoy sidecar injected. That could be the cause of your errors

[2022-06-17 16:48] shashankram commented on #4829
Currently, the only way to access a service that is a part of the mesh is by using an Ingress controller, and using the IngressBackend configuration to permit external clients to access the backend service.

Have you looked at https://release-v1-1.docs.openservicemesh.io/docs/guides/traffic_management/ingress/?

[2022-06-17 16:55] kamellemann commented on #4820
Sorry for the misunderstanding. Our ingress is Azure Application Gateway which is not Part oft the mesh. We just installed nginx for testing and validating the issue in the mesh. Our Main pods in the mesh are part of a graphql deployment. The graph gateway is one Part of graphql. The graphql gateway has a startup Probe that will query another pod in the mesh. This Probe falls with the same error.

[2022-06-17 17:01] shashankram commented on #4820
With Azure Application Gateway, you cannot use mTLS ingress (such as https://deploy-preview-389--osm-docs.netlify.app/docs/demos/ingress_k8s_nginx/#https-ingress-mtls-and-tls) because App Gateway does not allow provisioning a client certificate issued by OSM's certificate provider.

I think even one-way TLS HTTPS ingress may not work with App Gateway due to limitations in how App Gateway expects t

[2022-06-17 17:05] kamellemann commented on #4820
Thank's for the hint. I'll validate this on monday and come back with the result.
I wish all of you a great weekend

[2022-06-17 17:50] allenlsy commented on #4826
@framctr I still don't have any clue. But since preinstall was once created, I want to check its log.

Can you use [stern](https://github.com/wercker/stern) (you will need to install it) to get log from all osm pods, with the command `stern osm- -n osm-system`?

[2022-06-17 17:52] saranstarz commented on #4829
Thank you for the response. We are a brownfield deployment and I was exploring options to check the possibility of a smooth transition to using OSM without disrupting the existing connections.

[2022-06-20 05:57] kamellemann commented on #4820
I´ve validated the ingress. The error is only for traffic **inside** the mesh. I´ve deployed another service in the mesh and published the service via AGIC without any issue (service is up and running and external communication is working fine):
spec:
  tls:
    - hosts:
        - xyz.domain.de
      secretName: tls-secret
  rules:
    - host: xyz.domain.de
      http:
        paths:
          - p

[2022-06-20 05:59] kamellemann commented on #4820
Our  demo nginx deployment is configured without any ingress. Its just the communication against the service that will cause this issue:
kind: Service
apiVersion: v1
metadata:
  name: nginx2
  namespace: osm-test
  uid: 0b059492-11b1-47d8-bbd8-b81dae0d733e
  resourceVersion: '25402636'
  creationTimestamp: '2022-06-15T10:40:19Z'
  labels:
    osm-proxy-uuid: 6eb31b27-6267-47e6-ac18-ebcef7b7d562

[2022-06-20 06:50] stephaneey commented on #4794
Hello @keithmattix,

A very good incentive to grow the adoption of OSM (at least for AKS) would be to make sure that the add-on deploys a mesh that is compliant by default with the Azure Policies. Today the Azure policy add-on and the OSM one are mutually exclusive. This could be a show stopper in many organizations.

Best Regards

[2022-06-20 08:08] granwizzard commented on #4794
This initContainers always have the same name? In my case, I'm testing this using the Defender for Cloud built-in policy for K8s.

This is a good idea if possible because the end goal is not to exclude but to be in compliance.
In my case, we are using Kubenet and not CNI, because of networking constraints, so it sounds like even if you implement your suggestion it will not be compatible with Kuben

[2022-06-20 08:27] stephaneey commented on #4794
Istio does this with their CNI plugin, which can be used with Calico behind the scenes. Calico is also a managed add-on. It'd be great if OSM could do something similar, without enforcing Azure CNI which is indeed problematic with IPs.

[2022-06-20 09:12] kamellemann commented on #4820
Microsofts reference architecture is also using Azure Application Gateway with OSM and mTLS
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/containers/aks-pci/aks-pci-ra-code-assets#tls-encryption

https://api.mtr.pub/mspnp/aks-baseline-regulated/blob/main/docs/deploy/12-workload.md

[2022-06-20 09:22] kamellemann commented on #4820
![flow](https://user-images.githubusercontent.com/24431844/174569852-8330339e-3dc7-45c4-930f-5415ef011a41.svg)

The implementation uses mTLS. mTLS support can be implemented with or without a service mesh. If you use a mesh, ensure that it's compatible with the certificate issuer of your choice. This implementation uses [Open Service Mesh](https://openservicemesh.io/).

The ingress controller in t

[2022-06-20 16:18] shashankram commented on #4820
@kamellemann could you share more details on the service to which traffic is failing, and by collecting a bug report using the command:
`osm support bug-report`

For usage, see `osm support bug-report -h`.

E.g.
[code]

To collect report from all pods and namespaces:
[code]

[2022-06-20 16:33] shashankram commented on #4820
@kamellemann, in response to https://github.com/openservicemesh/osm/issues/4820#issuecomment-1160196100, the image there does not indicate Azure Application Gateway Ingress Controller supporting mTLS to the backend pod, but rather a different ingress controller. I do not believe Azure Application Gateway Ingress Controller supports mTLS. For Azure specific solutions, kindly reach out to the Azure

[2022-06-20 16:58] denniszielke opened #4830 "Simplify e2e mTLS scenario for Ingress"
**Please describe the Improvement and/or Feature Request**
My primary use case for OSM is end-to-end mTLS. However it is a lot of effort to implement this with for example Nginx because I need not only to create an ingress object but also configs for IngressBackend, certificate and matching configs. This is hard to automate and introduces a lot of room for errors.
I would like for OSM controller t

[2022-06-20 17:09] kamellemann commented on #4820
@shashankram I´de already a ticket open on Microsoft side. They did not found any issue on MS Side:

"Hello Dominik,

Hope you are doing well.

I have been looking at the issue and I am at a dead end on my side. OSM seems to be correctly configured in your AKS cluster and other pods are working fine. The issue seems to be specific for your image “lichtblickartifactory-docker.jfrog.io/graph-schema-

[2022-06-20 17:15] shashankram commented on #4830
@denniszielke thanks for bringing up your concern. Could you clarify what exactly are you expecting OSM to do differently in terms of autogenerating configs, and which configs you expect OSM to read to generate these configs?

OSM's ingress capability is meant to be decoupled from the ingress controller and API used to configure the ingress controller. Different ingress controllers use different I

[2022-06-20 17:17] kamellemann commented on #4820
[osm.tar.gz](https://github.com/openservicemesh/osm/files/8942569/osm.tar.gz)

[2022-06-20 17:22] shashankram commented on #4820
@kamellemann, kindly reopen that support ticket and request that the ticket be forwarded to the OSM AKS addon team. Since this was installed using the AKS addon, it would be best for you to involve the OSM AKS addon team so they can assist you with your issue, as the Azure team will have more visibility into what's going on there.

In the meantime, please also share the exact requests that are fai

[2022-06-20 17:25] kamellemann commented on #4820
@shashankram : thank´s for the fast response. I´ve already uploaded the report. The request that is failing is health probe of the pod.
I´ve also deployed nginx and a second container with curl in the mesh. As soon as i try to just curl the nginx pod, i also got the error regarding wron TLS version.
I´ll also try to reopen the ticket.

[2022-06-20 17:29] shashankram commented on #4820
Could you share the steps to reproduce this in a self-contained repro if possible?
Also could you confirm the bug-report was generated immediately after the issue was reproduced?

Please share the request URL here.

[2022-06-20 17:57] kamellemann commented on #4820
For the probe:
livenessProbe:
            httpGet:
              path: /health
              port: http
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /health/startup
              port: http
              scheme: HTTP
            t

[2022-06-20 19:22] #4829 closed

[2022-06-20 20:23] nshankar13 commented on #4820
Hi @kamellemann, taking a look. Just to confirm, you're seeing this openSSL version error between pods in the mesh even without AGIC / nginx ingress deployed on the cluster?

[2022-06-20 20:27] kamellemann commented on #4820
Hi @nshankar13 , yes i can confirm. Its just inside the mesh without any ingress involviert.

[2022-06-21 01:38] jaellio opened #4835 "Create e2e tests for root certificate rotation"
**Please describe the Improvement and/or Feature Request**

Create e2e tests to verify root certificate rotation.

Scenarios to verify:
- For each rotation stage verify the following
  - issued certificates are in the expected state (issued by the expected issuer and validated by the expected issuer(s))
  - ADS server is using expected certs
  - webhooks are using expected certs
  - webhook ca bun

[2022-06-21 15:22] nshankar13 commented on #4820
@kamellemann I set up an AKS cluster with the OSM add-on v1.0.0 enabled, and created nginx and curl deployments inside the mesh and I was able to curl the nginx pod without any issues - the only difference is that the kubernetes version was v1.22.6, not 1.23.3. I'm taking a look at your osm_bug_report logs to see if there's anything else going on in the osm control plane components.

In the meanti

[2022-06-21 16:46] nshankar13 commented on #4820
Tested again w/ k8s 1.23.3 and this also worked.

[2022-06-21 19:30] nshankar13 commented on #4820
Update: I am seeing these error level logs in the osm-controller pod for ingress and envoy/ads. @kamellemann can you fetch the logs from the envoy container in the failing pod and print them out here? I don't see those logs in the bug-report.

`{"level":"error","component":"ingress","time":"2022-06-11T08:27:02Z","file":"gateway.go:176","message":"Current ingress gateway cert spec is nil, but a cer

[2022-06-21 20:43] jaellio opened #4839 "Support updating TLS config without restarting server"
**Please describe the Improvement and/or Feature Request**

On each request, get the tls config using [getConfigForClient](https://pkg.go.dev/go.step.sm/crypto/tlsutil#Renewer.GetConfigForClient). The tls config returned will contain a certificate issued using the up-to-date manager struct issuer settings. This change will allow OSM to update certificates used in the TLS without having to restart

[2022-06-22 00:55] LefeWareSolutions opened #4840 "Does OSM have any documentation or instructions/tools to validate mTLS traffic?"
**Please describe what should be documented**
I have a client who wishes to explore OSM as a potential replacement for Linkerd for their AKS cluster services meshes. They are specifically interested in the mTLS service to service communication feature and would like me to setup a quick POC to prove that mTLS is actually being used.

Linkerd has a whole documentation page, as well as the "linkerd v

[2022-06-22 05:20] kamellemann commented on #4820
Hi @nshankar13,
first of all thank´s for your great support. Bellow the logs from one pod facing the Problem:

{"EventId":60,"LogLevel":"Warning","Category":"Microsoft.AspNetCore.DataProtection.Repositories.FileSystemXmlRepository","Message":"Storing keys in a directory '/root/.aspnet/DataProtection-Keys' that may not be persisted outside of the container. Protected data will be unavailable when c

[2022-06-22 05:24] kamellemann commented on #4820
[envoy.txt](https://github.com/openservicemesh/osm/files/8954622/envoy.txt)
[graph-schema-registry.txt](https://github.com/openservicemesh/osm/files/8954623/graph-schema-registry.txt)
[pod.txt](https://github.com/openservicemesh/osm/files/8954624/pod.txt)

[2022-06-22 05:26] kamellemann commented on #4820
@nshankar13 , if it would help, we can have a Teams-Session.

[2022-06-22 17:05] #4810 closed

[2022-06-22 18:37] nshankar13 commented on #4820
Hi @kamellemann, yes I think that would be a bit easier for debugging. Is dwilsberg@wilsberg.info the correct address?

[2022-06-22 20:45] shashankram opened #4843 "e2e_hashivault_test.go occasionally fails in CI"
**Bug description**:
The e2e_hashivault_test.go has become flaky in the CI after recent changes to certificate management.

This test is failing in the CI occasionally. The most recent failure on `main` is captured in https://github.com/openservicemesh/osm/actions/runs/2544748359
Logs: https://github.com/openservicemesh/osm/actions/runs/2544748359#artifacts

**Affected area (please mark with X whe

[2022-06-22 20:45] shashankram commented on #4843
Per @jaellio, this seemed to happen around the time https://github.com/openservicemesh/osm/pull/4816 was merged. @keithmattix assigning this one to you.

[2022-06-23 06:35] kamellemann commented on #4820
HI @nshankar13 , yes, this is the correct address.

[2022-06-23 13:22] thorker opened #4845 "Endless envoy-bootstrap-config secrets"
**Bug description**:

Missing clean up of unreferenced envoy-bootstrap-config secrets, so we got 4k of it.
All secrets got no OwnerReference.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
-

[2022-06-23 15:34] phillipgibson commented on #4794
I'm looking to work with the Az Policy team for OSM, but I want to confirm a statement here. As @keithmattix mentioned, the only container with root is the init container. Once the init container programs the IP tables, it goes away. Are you saying the Az Policy is still flagging OSM workloads as running with privileges? I need to check when the next time around the policy inspects the pods privil

[2022-06-23 16:48] shashankram commented on #4845
This seems like a regression as the [code](https://github.com/openservicemesh/osm/blob/main/pkg/k8s/announcement_handlers.go) should handle the cleanup of secrets via k8s garbage collection through OwnerReferences.

/cc @jaellio

[2022-06-23 16:56] jaellio commented on #4845
@steeling has also been seeing this issue. I'll sync with him.

[2022-06-23 17:28] framctr commented on #4826
@allenlsy Actually I'm busy with the final part of a project. When I will finish it, I will return to this OSM issue.

[2022-06-23 18:32] patst commented on #4845
Would be interesting to have a trace log for the cases at https://github.com/openservicemesh/osm/blob/8fd236e8e104279b4d951a32720e06f4257fd80a/pkg/k8s/announcement_handlers.go#L71 when a conflict error is raised.

Don't know if something else is updating Secret objects in parallel but that may interfere with the handler.

[2022-06-23 19:23] steeling commented on #4619
So my theory on this bug is that UpdateStatus (which is called in a single place, and is triggered through regular proxy updates), will eventually reach a stable state, particularly if we enable a resync/ticker.

However there are other calls

1. https://github.com/openservicemesh/osm/blob/28b32389bb8d792d2ac2f8ab8433b647a4a0926d/pkg/ingress/gateway.go#L143
2. https://github.com/openservicemesh/os

[2022-06-23 19:51] steeling opened #4847 "Fix head of line blocking in pubsub"
With the pubsub used in the message broker, we allow for many publishers and many subscribers. In the current implementation, if a subscriber fails to read from its subscribed channel (or is slow to do so), it blocks publishers from being able to publish. In the worst case, a backed up subscriber can prevent certificates from being rotated, or block updates to proxies.

This can essentially take d

[2022-06-23 22:11] ams0 commented on #4830
@denniszielke I'd like to share here some instructions I came up with the invaluable help of @keithmattix for an mTLS scenario with ingress-nginx and keycloak, that might be of interest for you:

Let me go thru the setup :

1.	Install a 1.24.0 cluster
2.	Install OSM and add the namespaces:

[code]

3.	Install ingress-nginx, with fixes for this i[ssue](https://github.com/Azure/AKS/issues/2955)

[co

[2022-06-23 23:47] LefeWareSolutions commented on #4840
Thanks ! This was extremely helpful and got me on the right path. Would be useful to have this process simplified and part of the actual OSM documents :) !

[2022-06-23 23:47] #4840 closed

[2022-06-24 19:59] kamellemann commented on #4820
We´ve got this issue solved by adding an BAckendIngress to our deployment. Thanks to @nshankar13 and @shashankram . They did a great job!!!!

kind: IngressBackend
apiVersion: policy.openservicemesh.io/v1alpha1
metadata:
  name: yopass
  namespace: yopass
spec:
  backends:
  - name: yopass
    port:
      number: 1337
      protocol: http
  sources:
  - kind: IPRange
    name: xxx.xxx.xxx.xxx/24

[2022-06-24 19:59] #4820 closed

[2022-06-24 20:19] nojnhuh commented on #2316
Regarding the shutdown issue, I've done some exploratory work in #4841 to make OSM stop sidecars when Jobs are done. Based on that, it seems like the overall simplest, safest, and most flexible workaround until there is first-class support for sidecars in Kubernetes is for Jobs in the mesh to stop the sidecars themselves by calling Envoy's `/quitquitquit` admin endpoint.

For containers running sh

[2022-06-27 09:46] granwizzard commented on #4794
Hi Philip,

All our containers have to run with the following security context as the minimum hardening.

          securityContext:
           runAsNonRoot: true
           runAsUser: 1000
           capabilities:
              drop: [
                NET_RAW
              ]

In some cases, we are also enforcing to only allow container images coming from specific container registries where we can

[2022-06-27 12:55] benediktwetzel opened #4849 "Question: Performance Overhead/Latency when using OSM"
Using service meshes can add latency to http communications. For [Istio](https://istio.io/latest/docs/ops/deployment/performance-and-scalability/#latency) and [Linkered](https://www.cncf.io/blog/2021/12/17/benchmarking-linkerd-and-istio-2021-redux/) I found studies that tried to quantify the amount of additional latency in ms. I can't find a similar study for OSM, is there a benchmark for OSM perf

[2022-06-27 13:38] stephaneey commented on #4794
Hey @keithmattix @phillipgibson

As explained earlier, the OSM and the policy addons are mutually exclusive. Trying to inject anything with OSM is denied by the policy. Easy to test: just enable Azure Policy addon on your cluster. Fine tuning one of the policies (allowing NET ADMIN and NET RAW) should do the trick but you have to do that for every namespace that is part of the mesh. This results i

[2022-06-27 17:20] keithmattix opened #4850 "Disallow privilege escalation on envoy sidecar"
**Bug description**:
The only container in all of OSM that requires anything resembling admin privileges is the init container. When we inject the Envoy sidecar, we need to set the [allowPrivilegeEscalation](https://kubernetes.io/docs/concepts/security/pod-security-policy/#privilege-escalation) field on the pod to false.

**Affected area (please mark with X where applicable)**:
- Envoy Control Pla

[2022-06-28 01:35] naqvis commented on #4632
Please keep it opened, as we are in the process of drafting a proposal to decouple data-plane interface from vendor specific implementation.

[2022-06-28 10:31] benediktwetzel commented on #4849
Thank you!

[2022-06-28 10:31] #4849 closed

[2022-06-28 19:02] #4843 closed

[2022-06-28 23:59] ruokun-niu opened #4855 "Question: Pkg for implementing 'osm namespace add' in golang"
Hi! I am currently working on a project that uses the OSM's TrafficSplit capabilities. I am wondering if it is possible for me to implement `osm namespace add <namespace>` in a golang file, instead of using the cli (Main goal is to achieve everything without installing cli)? I have looked into OSM's packages and I was unable to find a function/package that achieves this.

[2022-06-29 16:42] shashankram commented on #4855
Hey @ruokun-niu, `osm namespace add` adds the `openservicemesh.io/monitored-by=<mesh-name>` label and the `openservicemesh.io/sidecar-injection=enabled` annotation on the namespace, by default. It provides flags that override the default behavior.

Depending on your use case, you could simply do the same in your Go code using k8s API. Since most of the CLI code is defined under `cmd/cli`, to make

[2022-06-29 22:42] #4850 closed

[2022-06-30 13:33] #4534 closed

[2022-06-30 13:44] steeling opened #4862 "Leverage a builder pattern for all generated Envoy configs"
[See motivation here](https://docs.google.com/document/d/1L_u-XlVU8Fog-uFS3Uf0O2nz8IArQy82cd6Npxm038Y/edit#)

This issue will serve as the master issue for translating all Envoy config generation code to builders.

There are 2 additional caveats to using builders:

- [ ] All inputs to the builder should be OSM objects. That is to say, if the input is a k8s service, the input should instead be a `s

[2022-06-30 13:53] steeling opened #4863 "Push all k8s clients into a layer of clients"
We currently have ~5 flavors of kubernetes clients:

* k8s.Controller
* generated "controller" clients for our CRD's
* A large informerCollection type
* a `kube.Client`
* kubernetes.Interface

Instead, we should leverage "layers" of clients, such that our business logic is only aware of 1 layer. This might looks like:

[code]

As we do this, no functions should accept a client object just to make

[2022-06-30 14:37] mudit-01 opened #4864 "Need guidance for Maintainer role"
**Please describe what should be documented**
Hi, OSM maintainers I have been actively working in OSM for a few months and would like to level up to the maintainer position and need some guidance for the same.
It would be very helpful if I can work closely with someone so that I can level up on the contribution ladder.
Thank you
**Please suggest where in the repo the document should be located**

[2022-06-30 18:20] #4855 closed

[2022-06-30 19:35] shalier commented on #4864
@openservicemesh/osm-maintainers PTAL

[2022-07-01 16:11] steeling commented on #4863
recording an example from a recent code review, of the unforunate way in which we must currently construct these clients:

[code]

This is all to create objects that send HTTPs requests to the same API server. These should be consolidated into a single client for ease of use.

[2022-07-01 21:09] allenlsy opened #4872 "Add CI job that runs the full load test suite"
**Please describe what should be documented**

This is a sub-issue for #4822

Create a CI job runs the internal OSM load test suite (currently a private project) periodically.

This CI job works as:

1. Pull [osm-perftest](https://github.com/openservicemesh/osm-perftest) repo.
2. Execute the script that performs the full load test suite. The final result will be saved in a local csv file on the jo

[2022-07-01 22:10] steeling commented on #4872
do you know what scopes you need the token to have?
https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes

[2022-07-01 22:15] allenlsy commented on #4872
@steeling since the job only need to read osm-perftest repo, according to the doc, I think `(no scope)` grants read-only permission which is sufficient for our case.

[2022-07-03 17:54] mifurm opened #4873 "What is the update proces for OSM? How often does OSM team deliver the updates?"
**Please describe what should be documented**
The update process for OSM is not clear for me.
**Please suggest where in the repo the document should be located**'
We would like to have a statement saying every month / week the OSM will have a new version. This is especially important from the security perspective.

[2022-07-05 06:34] naqvis opened #4874 "[Refactoring Proposal] Abstraction for Proxy Control Plane component - comes with refactoring & reference implementation"
Reference: https://github.com/openservicemesh/osm/issues/4632
Proposal wiki link : [Abstractions for OSM Proxy Control Plane](https://github.com/flomesh-io/osm-edge/wiki/Abstractions-for-OSM-Proxy-Control-Plane)

Consideration has been taken to keep the changes transparent to osm end-user and defaults to current `envoy` as driver, but users wishing to proceed with 3rd party driver implementation c

[2022-07-05 06:35] naqvis commented on #4632
Separate issue https://github.com/openservicemesh/osm/issues/4874 has been raised with detailed proposal

[2022-07-05 16:58] #4622 closed

[2022-07-05 17:07] trstringer commented on #4496
Completed in https://github.com/openservicemesh/osm/pull/4842.

[2022-07-05 21:36] steeling commented on #4872
A PAT will give access to a user's private repo's, so we should figure out another way to do this, including considering open sourcing that repo if we want.

[2022-07-06 14:42] steeling commented on #4748
done

[2022-07-06 14:42] #4748 closed

[2022-07-06 14:44] steeling commented on #4551
closing in favor of https://github.com/openservicemesh/osm/issues/4863

[2022-07-06 14:52] teomanS opened #4875 "Question regarding collecting metrics directly from application pods in the mesh"
There is a documentation for getting envoy sidecar metrics from BYO Prometheus. Documentation link is https://release-v0-11.docs.openservicemesh.io/docs/guides/observability/metrics/#byo-prometheus
on the other hand there is no documentation about getting application metrics from pods which have envoy proxy sidecar.

Our application publish it's own metrics via localhost:8070/actuator/promethues u

[2022-07-06 15:08] steeling commented on #4875
the sidecar will attempt to apply mTLS for that route. You will need to a) change your scraping to HTTPS, and b) setup an [IngressBackend](https://release-v1-1.docs.openservicemesh.io/docs/api_reference/policy/v1alpha1/#policy.openservicemesh.io/v1alpha1.IngressBackend) for that route such that it does not attempt to verify the clients certificate as part of mTLS.

Let's keep this issue open, as t

[2022-07-06 17:41] stephaneey commented on #4794
Hey @keithmattix @phillipgibson @granwizzard

Just to let you know that I had a discussion with fellow experts on this. It's a no-brainer that CNI remains the best way to avoid granting elevated RBAC permissions to containers but Azure Policy can be fine tuned to exclude OSM-INIT & OSM-ENVOY containers from the evaluation. I had overlooked it because the built-in initiative does not allow you to d

[2022-07-06 19:16] phillipgibson commented on #4794
We'll work on getting the documentation updated with this info for the time being.

[2022-07-06 19:25] phillipgibson commented on #4873
@mifurm please check out our [Release Process](https://github.com/openservicemesh/osm/blob/main/docs/release_process.md) doc. Specifically under the frequency heading.

[2022-07-06 23:00] ruokun-niu opened #4878 "Question: TargetPort in OSM TrafficSplit"
Hi OSM repo,

Currently I am working on a project that utilizes the traffic-splitting feature from Open Service Mesh, and I have a question regarding the TargetPort property of the traffic split root service.

According to [SMI's documentation](https://github.com/servicemeshinterface/smi-spec/blob/main/apis/traffic-split/v1alpha2/traffic-split.md#ports), in order to achieve traffic-splitting, we n

[2022-07-07 00:19] ruokun-niu commented on #4878
Hi @shashankram , thank you for the prompt response. I am creating a root service with no pods backing it. So in this case, I do not need to configure the TargetPort so that it is matching the pods' ContainerPort correct?

[2022-07-07 08:19] granwizzard commented on #4794
Hi @stephaneey,

I'm already investigating the workaround, now I'm only receiving a denied message, and is related to the securityContext where you need to pass "MustRunAsNonRoot" on the osm-init container in the manifest.

Thanks.

[2022-07-07 14:50] teomanS commented on #4875
`http-monitoring`  created for just exposing application metrics but It accepts connections from other pods.

By the way I added monitoring namespace  ,which prometheus is installed , to servicemesh and auto injected sidecars to pods.
My error change to "http://172.17.6.124:8070/actuator/prometheus:EOF"  error.  I'm able to get metrics from pod at monitoring namespace with curl command via http-mo

[2022-07-07 14:53] steeling commented on #4875
@teomanS remember that you'll need to use HTTPS not HTTP

[2022-07-07 15:18] teomanS commented on #4875
I changed service definition:
apiVersion: v1
kind: Service
metadata:
annotations:
prometheus.io/path: /actuator/prometheus
prometheus.io/scrape: "true"
prometheus.io/scheme: https
name: monitoring-svc
namespace: dev-ns
spec:
ports:

name: http-monitoring
port: 80
protocol: TCP
targetPort: 8070
selector:
app: myapp
sessionAffinity: None
type: ClusterIP

and changed the ingressBackend definition:
ki

[2022-07-07 15:50] steeling commented on #4875
@shashankram do we need not support referencing pods by IP directly? If so, this would then turn into a feature request to allow pods to be addressed by their IP, which I would expect would work as a user as well.

There's also likely other use cases where clients may want to leverage an IP address directly

[2022-07-07 16:28] shashankram commented on #4875
@teomanS, please answer this question so I can understand your scenario better.

@steeling could you clarify the scenario further?

[2022-07-07 16:29] ruokun-niu commented on #4878
Yeah that supports my understanding as well. I was also able to implement TrafficSplit without configuring the TargetPort. I guess configuring the TargetPort is only needed by cURL, not OSM

[2022-07-07 16:57] shashankram commented on #4878
Thanks for confirming @ruokun-niu. Is there anything else pending on this issue or can it be marked as resolved?

[2022-07-07 18:06] ruokun-niu commented on #4878
Hi @shashankram, thank you for your help. I'll close this issue now

[2022-07-07 18:07] shashankram commented on #4875
Currently no, see https://github.com/openservicemesh/osm/issues/2097

[2022-07-07 23:18] jaellio opened #4879 "Define MeshRootCertificate API"
**Please describe the Improvement and/or Feature Request**

Part of #4502

- Create MRC CRD
- Add MRC API types

**Scope (please mark with X where applicable)**
- New Functionality          [x]
- Certificate Management     [x]

[2022-07-07 23:22] #4879 closed

[2022-07-08 07:14] framctr commented on #4826
`stern` command gives me empty output... I will try on another cluster and also another local machine with linux instead of Windows+WSL. I will update with results 🤞

[2022-07-08 07:40] teomanS commented on #4875
we are using this service only for scraping metrics using a Prometheus client.

[2022-07-08 11:26] teomanS commented on #4875
Hi,

For workaround I changed the prometheus scraping configuration and replaced the __address__ tag with the full kubernetes service dns name.

I added these lines under kubernetes-service-endpoints job's configuration:
[code]

After this change, prometheus started to access endpoints via kubernetes svc url rather than IP:Port combination.
Targets are listed like this:
"http://monitoring-svc.dev-

[2022-07-08 16:11] fsforza opened #4880 "Update Traffic Split SMI Spec to v1alpha4 to support A/B Testing"
**Please describe the Improvement and/or Feature Request**
It would be very nice that Open Service Mesh updates Traffic Split to version v1alpha4 to offer the A/B testing feature
https://github.com/servicemeshinterface/smi-spec/blob/main/apis/traffic-split/v1alpha4/traffic-split.md

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
-

[2022-07-08 16:28] shashankram commented on #2368
Duplicate of https://github.com/openservicemesh/osm/issues/4880

[2022-07-08 16:28] #2368 closed

[2022-07-08 16:30] shashankram commented on #4875
In that case, the easiest thing to do would be to exclude the scraping port (8070) from sidecar interception (see https://release-v1-1.docs.openservicemesh.io/docs/guides/traffic_management/iptables_redirection/#inbound-port-exclusions) and keep the prometheus pod outside the mesh (don't inject the sidecar).

[2022-07-08 17:07] framctr commented on #4826
Yes. Obviously I run It before. I'm having problems with gcloud and the issue is probably due to this. Unfortunately I have no more time to dedicate to OSM. I close this issue.

[2022-07-08 17:07] #4826 closed

[2022-07-08 19:38] steeling commented on #4619
will read the design doc and get to reviewing early next week

[2022-07-09 13:39] naqvis commented on #4874
Any input or feedback is appreciated

[2022-07-11 16:38] shashankram commented on #4874
Hey @naqvis, thanks for the detailed proposal. This is definitely an interesting topic worth reviewing and discussing in greater detail. I am wondering if you would be able to draft the proposal in a Google doc so that it facilitates easier discussion via comments on the doc. Here's a [design doc](https://docs.google.com/document/d/1VTdte9v0JpX7odMtXlGsLlGwDlnXBAEZAf8PMJ_EyY4/edit?usp=sharing) I d

[2022-07-11 17:02] allenlsy commented on #4428
I want to explain my thoughts on the implementation before proceeding.

First we need to add a `IsGRPC` attribute to the [`HealthProbe`](https://github.com/openservicemesh/osm/blob/3a7c924c9ebdedf9513220fc5d1c527b933f71b9/pkg/models/healthprobe.go#L6) struct to identify GRPC probe. To front grpc health check with Envoy, since grpc uses HTTP under the hood, Envoy can proxy grpc health check with HT

[2022-07-11 19:57] allenlsy commented on #4636
Do we have an agreement on whether working on this item for v1.3 or put it to vFuture for now?

[2022-07-11 20:26] steeling commented on #4874
I'll add that https://github.com/openservicemesh/osm/issues/4862 and https://github.com/openservicemesh/osm/issues/4863 have implications in how we will change:

* Endpoints providers
* Internal MeshCatalog representations like Policy objects
* K8s clients
* Possibly other internals as well

My gut tells me that attempting an additional refactor simultaneously with the two linked above would be un

[2022-07-12 01:47] naqvis commented on #4874
Thanks @shashankram and @steeling

 Sure I'll take a look at design doc and try to draft this proposal in google doc format.

I assume there is a confusion here, proposal is to refactor existing design so that its no longer coupled with reference implementation. Proposal provides links to reference implementations as a proof of concept to support refactoring works. We in no means are requesting OS

[2022-07-12 03:44] phillipgibson commented on #4864
@mudit-01 please review the contribution ladder here https://github.com/openservicemesh/osm/blob/main/CONTRIBUTOR_LADDER.md

[2022-07-12 03:50] mudit-01 commented on #4864
Thanks, @phillipgibson I came across https://github.com/openservicemesh/osm/blob/main/CONTRIBUTOR_LADDER.md#review-process and what to know more about how I can work with any maintainer for moving up in the role ladder?

[2022-07-12 12:16] naqvis commented on #4874
I've created [proposal doc](https://docs.google.com/document/d/14-InAIlfvD0wApFguhWpC5ap-6Ldkix3y849wO-zFqg/edit?usp=sharing) and granted editor rights to all.

[2022-07-12 13:46] mudit-01 commented on #2294
I can work on it pls assign it to me

[2022-07-12 16:06] allenlsy commented on #4545
According to the information [here](https://github.com/envoyproxy/envoy/issues/10584), Envoy does not support DTLS as of today.

[2022-07-12 16:30] steeling opened #4887 "Automate Release process"
Using a workflow pipeline (like azure devops), we'd be able to automate the release pipeline, removing both manual toil, and potential error from human involvement.

This is not an all or nothing thing either, we can begin by automating portions of the release process, and slowly add to it

[2022-07-12 17:14] keithmattix opened #4888 "Build and publish a FIPS compliant OSM control plane"
**Please describe the Improvement and/or Feature Request**

Our users may need to run OSM in FIPS compliant environments. Therefore, we need to publish a set of control plane images that are FIPS compliant.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- CI System                  [X]

**Possible use cases**

[2022-07-12 23:41] jaellio commented on #4817
Part of #4839

[2022-07-12 23:55] jaellio opened #4890 "OSM CLI command for root cert rotation and checking status"
Add a command to the OSM CLI to allow users to initiate OSM root certificate rotation and move between rotation stages. The command should also output the current status of a rotation if one is ongoing.

**Todo:**
- [ ] Design doc https://docs.google.com/document/d/1MQZ4QPeKV2pxZ30uaYIxMjVYQUGdgQmK0eLYy1JzpHs/edit#
- [ ] Customer meetings/ feedback on design
- [ ] Implementation
- [ ] Testing
- [

[2022-07-13 00:16] #4623 closed

[2022-07-13 16:51] jaellio opened #4891 "OSM root certificate rotation metrics"
Create metrics to assess and track root certificate rotation.

The metrics should help the user answer the following questions:
- What rotation stage is each component in?
- How many certificates have been reissued for each rotation stage?
- How many active (issued and not expired) certificates issued by OSM are present in each component?
- Has an error occurred during root certificate rotation?
-

[2022-07-13 17:07] jaellio opened #4893 "Support OSM root certificate rotation rollback"
If OSM root certificate rotation fails, OSM should be able to recover and revert to a previous stable state. This issue proposes adding the functionality to support root certificate rotation rollback on error or on user request

Questions to consider:
- Should the user be able to stop root certificate rotation at any stage and revert to a previous stable state?
- How should OSM handle reverting to

[2022-07-13 17:09] jkotalik opened #4894 "Specifying root service port to a port other than containerPort/TargetPort of the leaf service doesn't not work"
According to the SMI documentation, we can have a configuration where the root service port is 8080 and the leaf service has a targetPort other than 8080: https://github.com/servicemeshinterface/smi-spec/blob/main/apis/traffic-split/v1alpha4/traffic-split.md#ports
[code]

When trying this on the `httpbin` canary rollout sample though, I wasn't able to see this sample work with this kind of configu

[2022-07-13 17:20] shashankram commented on #4894
@jkotalik thanks for the detailed repro steps.

I have a suspicion this happens due to a race condition somewhere. Will try to repro the issue.

[2022-07-13 17:55] Parul-mahajan opened #4895 "Osm-gitops"
Please help me!

Is it possible to use gitops or github actions with flagger and osm with multiple pods. I am working on the basic demo osm bookstore app on aks cluster.

And how will this CI/CD pipeline work.

https://github.com/clarenceb/bookstore

I am new to whole gitops and service mesh part can someone help me with relevant resources

[2022-07-13 17:58] jaellio opened #4896 "Cleanup inactive MeshRootCertificates"
After a successful OSM root certificate rotation, there will be a MeshRootCertificate resource in an inactive state. The user or OSM should be able to clean up the unused MeshRootCertificate resource.

Questions to consider:
- Should the user be able to specify if they want OSM to clean up the inactive MeshRootCertificate or if they want to perform the cleanup manually?
- Should OSM immediately de

[2022-07-13 18:36] shashankram commented on #4878
On investigating this issue further, I do see an assumption in the code where we use the TargetPort value on the leaf service and set it as the value of the TargetPort on the root service in internal objects while building the route configuration objects within the control plane.

I'll investigate what it takes to relax the TargetPort requirement to be the same as the TargetPort on the leaf servic

[2022-07-13 18:42] jaellio opened #4897 "Dynamically load Envoy bootstrap certificate from filesystem"

[2022-07-13 18:46] #4897 closed

[2022-07-13 20:15] keithmattix opened #4898 "v1.2.0.rc.1 breaks bundled contour installation"
**Bug description**:
The latest release candidate breaks Contour Envoy pods due to a stale helm chart. Versions of contour >[v1.18.1](https://github.com/projectcontour/contour/releases/tag/v1.18.1) require Helm chart changes (i.e. a volume mount) not present in the contour chart version specified as a dependency of the OSM chart. We should also consider using semver dependencies instead of pinning

[2022-07-14 03:26] tfbubu111 commented on #4675
Hi @shashankram

Hope you are doing well.
Do we have any plan support multiple mesh in future? Tks.

[2022-07-14 15:08] #4898 closed

[2022-07-15 13:28] odidev commented on #4716
Team, I would like to see the enablement of testing on Arm64. If you need any help I am happy to contribute.

[2022-07-15 17:30] steeling commented on #4166
@shashankram good to close this? I don't think we should be in the business of restarting pods, and if that's the only solution to remove the sidecar then this seems like a non-starter

[2022-07-15 18:06] shashankram commented on #4166
I am in favor of closing this as I don't believe we should be restarting user app pods to remove the sidecar when a namespace label is removed.

This can easily be achieved as follows:
[code]

[2022-07-15 18:06] #4166 closed

[2022-07-15 18:13] keithmattix opened #4903 "Add e2e tests for bundled chart (e.g. Contour)"
**Please describe the Improvement and/or Feature Request**

Add e2e tests to validate the behavior of integrations (e.g. Contour)
**Scope (please mark with X where applicable)**

- Tests                      [X]

**Possible use cases**

[2022-07-15 18:26] shashankram commented on #4166
Also wanted to note that we could probably implement auto rejection of connections from proxies not a part of the mesh based on k8s label changes on namespaces/pods, however it would be easier simply to request the user to run the above 2 commands, as an unmanaged sidecar is the last thing a user would want.

[2022-07-15 18:54] steeling commented on #4501
closing this for now, as the recommendation would be to use cert-manager or CSI driver

[2022-07-15 18:54] #4501 closed

[2022-07-15 19:08] steeling commented on #1974
So right now custom trust domains leave an awkward story with respect to the webhooks, which require a certificate SAN of `<service>.<namespace>.svc`

So this would alleviate that issue for customers that may need to integrate with their own PKI.

[2022-07-15 22:23] #4894 closed

[2022-07-16 12:20] gdippolito commented on #4616
I had the same issue. It wasn't easy to find. The following annotation is required on the namespace `openservicemesh.io/metrics=enabled`

[2022-07-17 13:20] mifurm opened #4906 "Bug in Getting Started (https://release-v1-1.docs.openservicemesh.io/docs/getting_started/install_apps/#view-the-application-uis)"
**Please describe what should be documented**
In the section (View the Application UI) of OSM you refer to ./scripts/port-forward-all.sh script. The script is using set of other forward scripts, one for bookstore (./scripts/port-forward-bookstore-ui-v1.sh). The bookstore script is looking for pod with label bookstore-v1 while there is no such app in the cluster.
**Please suggest where in the repo

[2022-07-18 16:15] shashankram commented on #4906
@mifurm Yes this due to a recent change in `main` regarding labels on the bookstore app + service. Will fix this on `main`.

[2022-07-18 16:32] shashankram commented on #4906
Never mind, figured this is an existing issue unrelated to the recent change I made. Will fix this along with the other labeling changes to the app manifests and scripts.

[2022-07-18 16:39] shashankram opened #4908 "Make manual bookstore demo terminal friendly without needing UI navigation"
**Please describe the Improvement and/or Feature Request**
Currently, the manual bookstore demo documented in the [getting started guide](https://main--osm-docs.netlify.app/docs/getting_started/install_apps/) requires a bunch of additional scripts (port-forward, tail, etc.) and UI navigation with multiple windows to understand the demo.

This issue proposes to make the manual bookstore demo purely

[2022-07-18 17:15] steeling commented on #4702
closing in favor of https://github.com/openservicemesh/osm/issues/4716

[2022-07-18 17:42] steeling commented on #1376
@shashankram thoughts on closing this out? This seems like an abstract support more features bug, vs something concrete.

If it has concrete features we can call those out in individual issues.

[2022-07-18 17:47] steeling commented on #4896
I don't think we should be automating deletions here. If you think  of a standard CI/CD setup, it would be very easy to delete, and another run comes in but still has the old MRC, now it will re-create it, but without the data on its state OSM will think its a new one, and begin a rollout to that.

[2022-07-18 17:54] #4524 closed

[2022-07-18 17:58] allenlsy commented on #4524
This issue is not completely resolved. PR #4904 only fixed item 2 in the description. Most important item is ensuring error handled exactly once. We haven't worked on it. I suggest re-open this issue.

[2022-07-18 18:07] shashankram commented on #1376
@steeling I don't have a strong opinion on whether we want to repurpose this issue or create a new issue to allow a mechanism to directly configure Envoy. This is an extremely high level ask, which likely needs a lot of thought to design a mechanism that will not conflict with existing policy APIs.

Also, note that this issue was filed 2 years ago, but we haven't prioritized this, so it's likely n

[2022-07-18 18:17] #4906 closed

[2022-07-19 23:33] jaellio commented on #1974
Hey @steeling! I'm trying to get a better understanding of this issue. Could you share some documentation about Kubernetes webhooks requirements for certificate SANs? Should custom certs be allowed for all webhooks? Could you elaborate on the awkward story here with respect to custom trust domains?

[2022-07-20 16:00] steeling commented on #1974
K8s requires that the SAN is of the form `<service>.<namespace>.<svc>`

This is a problem for users who are integrated with a PKI setup where they are required to leverage a custom trust domain. Enabling a "Bring your own Control plane certs", would allow these certs to not go through their custom PKI setup.

Alternatively we could have some flags or something that allows 2 cert managers, 1 for a

[2022-07-20 16:01] steeling commented on #1974
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#configure-admission-webhooks-on-the-fly

[2022-07-20 16:38] steeling opened #4920 "Leverage Builder pattern for LDS"
Subtask of #4862, this is specifically for the LDS configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get *more data*.

It *can* use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-20 16:38] steeling opened #4921 "Leverage Builder pattern for CDS"
Subtask of #4862, this is specifically for the CDS configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get *more data*.

It *can* use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-20 16:39] steeling opened #4922 "Leverage Builder pattern for SDS"
Subtask of #4862, this is specifically for the SDS configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get *more data*.

It *can* use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-20 16:40] steeling opened #4923 "Leverage Builder pattern for EDS"
Subtask of #4862, this is specifically for the EDS configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get *more data*.

It *can* use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-20 16:40] steeling opened #4924 "Leverage builder pattern for RDS"
Subtask of #4862, this is specifically for the RDS configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get *more data*.

It *can* use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-20 16:57] steeling opened #4925 "Leverage Builder pattern for trafficpolicy.* objects"
Subtask of #4862
This isn't quite needed for *every* object type, but for some of the more complex objects it makes sense.

The mesh catalog currently has 2 responsibilities:

1. Querying the underlying clients to retrieve control plane data
2. constructing the trafficpolicy.* objects.

We should separate these and move the logic of data construction into a builder object. There should be one buil

[2022-07-20 17:01] steeling opened #4926 "Normalize trafficpolicy objects by decoupling from envoy configs"
Subtask of #4862.

Currently traffic policy objects are coupled with envoy configs in that they contain denormalized data, to more closely represent the envoy config. However, do to domain separation, they should have no knowledge of envoy configs, and let the construction responsibility belong with the builders.

An example of this is in `trafficpolicy.InboundTrafficPolicy`, which has a list of `

[2022-07-20 18:14] steeling commented on #4925
FYI This may be splittable into further sub tasks as well

[2022-07-20 18:18] steeling commented on #4874
As a heads up, we've allocated #4862 to our v1.3 release. I think trying to apply another layer of refactoring/abstraction simultaneously would lead to the incorrect layers of abstraction being drawn, so I think it best we revisit this after the v1.3 release

[2022-07-20 18:47] steeling opened #4928 "Move init*Monitor to the informer collection"
Part of #4863

In pkg/k8s/client.go, the init*Monitor funcs should be on the informer collection itself.

[2022-07-20 18:51] nshankar13 commented on #4716
Putting this issue on hold until Contour releases support v1.23 of envoy-distroless. Older versions of envoy-distroless do not have an ARM64 image, so sidecar injection will fail on ARM machines. Once contour releases support, we can upgrade the envoy version both for OSM and Contour.

[2022-07-20 18:52] steeling opened #4929 "Remove the configurator object"
The configurator object essentially provides 2 useful methods:

1. GetMeshConfig
2. GetOSMNamespace

These 2 methods should be moved to the pkg/providers/kube client object.

The rest of the methods are convenience field accessors on the MeshConfig object itself. These can be moved to the meshconfig object, such that new calls will be:

provider.GetMeshConfig().GetServiceValidityDuration().

This

[2022-07-20 19:04] steeling commented on #4863
The new layers of clients will be:

For the purpose of this, any of our CRD's, or SMI k8s objects can be considered "OSM objects".

Current provider -> handles all calls that take OSM object input, and OSM object output.
- has a k8s.Client for reads -- note that this does not need to be an interface.
- has a kubernetes.Interface for writes -- alternatively we can push the write functionality into

[2022-07-20 19:08] steeling opened #4930 "Remove all* instances of functions that accept a client"
Ok, not quite all, but a good start would be in the `pkg/` subdirectory. We can omit anything for `cmd/`, and `pkg/cli`.

There's a lot of functions that take in a client object, like `GetKubernetesServerVersionNumber` that provide functionality specific to k8s, while taking in a k8s specific client. Instead, it should just be on the client object, as that allows us to abstract the underlying impl

[2022-07-20 19:12] steeling opened #4931 "Remove the large interface definitions"
"Interfaces should be defined by where they are consumed, not by where they are instantiated"

["The bigger the interface, the weaker the abstraction."](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=5m17s)

A k8s.Controller, doesn't need to know how it is used. Instead, whatever is consuming can define it's most limited interface, namely the methods *that client* uses.

For instance, once #4929 is

[2022-07-20 19:15] steeling opened #4933 "Collapse all k8s funcs/methods onto k8s.Client"
From #4863 collapse all of the k8s input/output methods/funcs onto the k8s.Client object.

This includes any function that accepts a controller/client object as a parameter, as well as all of

pkg/smi
pkg/configurator
pkg/policy
pkg/k8s
pkg/config

[2022-07-20 21:42] keithmattix opened #4934 "[Root] Multicluster Research & Design"
This issue tracks the **research and design** work for OSM's multicluster implementation.

The following GitHub issues are subtasks that collectively make up this effort:

- [x] #4935
- [x] #4750

Each subtask should be a part of the OSM Multicluster Research + Design project (just like this one is).

As research is done, please use our multicluster [GitHub discussions category](https://github.com

[2022-07-20 21:59] keithmattix opened #4935 "[Research] Investigate MultiClusterService (MCS) APIs"
Kubernetes sig-multicluster hosts a set of APIs for describing services that exists between clusters. We need to investigate the APIs, their semantics, existing implementations, and what a potential implementation would look like for OSM.

**Deliverables**
A markdown file briefly describing what the MCS APIs do, whether or not OSM will implement support for it (based on discussion here and in GitH

[2022-07-21 09:14] mudit-01 commented on #4864
@phillipgibson any update on the mentor thing?

[2022-07-21 21:26] allenlsy commented on #4750
Do we want to add this to v1.3? If we plan to adopt SPIFFE and SPIRE in the multicluster design, this item can be a prerequisite of it.

[2022-07-21 21:30] keithmattix commented on #4750
Sure, it's probably worth exploring the extent to which we may want to utilize SPIFFE/SPIRE

[2022-07-21 21:35] allenlsy commented on #4750
I suggest a deliverable for this issue:

* Pros and cons comparing SPIFFE to the current service identity mechanism in OSM. Especially explore the scenario if they are used in multicluster environment
* Rough task list if we migrate from current service identity component to SPIFFE.
* (optional) POC using SPIFFE in OSM

[2022-07-21 22:06] keithmattix commented on #4750
Good idea! I added it to the description

[2022-07-22 01:11] trstringer commented on #4750
Yeah this works for me! Adding it to v1.3.

[2022-07-22 17:58] shalier commented on #4875
@teomanS closing this issue, please re-open if there are any further questions on your end

[2022-07-22 17:58] #4875 closed

[2022-07-26 23:56] jaellio opened #4943 "MeshRootCertificate CRD is not removed when deleting cluster wide resources"
**Bug description**:

`osm uninstall mesh --delete-cluster-wide-resources` does not remove the meshRootCertificate CRD. When deleting the cluster wide resources the MeshRootCertificate CRD should be deleted.

![image](https://user-images.githubusercontent.com/69616256/181125316-0a0ea0e7-9661-4184-b699-e34710331f89.png)

The current workaround is to manually delete the MeshRootCertificate CRD.

**A

[2022-07-27 16:25] jsturtevant commented on #4817
/assign

[2022-07-27 16:34] steeling opened #4944 "Leverage Builder pattern for envoy bootstrap config"
Subtask of https://github.com/openservicemesh/osm/issues/4862, this is specifically for the bootstrap configs.

We should create a builder object that takes as inputs all data, and calls build. It should not make any network calls, or call out to other methods to get more data.

It can use nested builders if it makes sense to do so. See the parent issue and associated design doc for more info.

[2022-07-27 17:51] #4943 closed

[2022-07-27 18:17] allenlsy commented on #4935
A quick summary of MCS API and thoughts related to OSM project (deliverable) is posted https://github.com/openservicemesh/osm/discussions/4945

[2022-07-27 22:40] shashankram opened #4946 "TestSubscribeRotations unit test fails in CI"
**Bug description**:
The test `TestSubscribeRotations` fails in the CI. Refer to the CI run https://github.com/openservicemesh/osm/runs/7549446959?check_suite_focus=true.

[code]

**Affected area (please mark with X where applicable)**:
- Certificate Management     [X]
- Tests                      [X]

[2022-07-27 22:57] jsturtevant commented on #4817
Just added a few notes from looking into this issue:

Webhooks that need updates:

[Mutating Webhook](https://github.com/openservicemesh/osm/blob/8030047c6dd9d237522b63e28fe175ec9a08fb74/pkg/injector/webhook.go#L39)
[CRD conversion webhook](https://github.com/openservicemesh/osm/blob/fa17242a34b39d87b6555774795563aede46efaa/pkg/crdconversion/crdconversion.go#L41)
[Validating webhook](https://githu

[2022-07-27 23:12] jsturtevant commented on #4817
after looking into I believe this might already be partially implemented via:

https://github.com/openservicemesh/osm/blob/8030047c6dd9d237522b63e28fe175ec9a08fb74/pkg/validator/server.go#L52-L54

and

https://github.com/openservicemesh/osm/blob/8030047c6dd9d237522b63e28fe175ec9a08fb74/pkg/injector/webhook.go#L352-L361

It looks like the other two web hooks do similar things:

https://github.com/o

[2022-07-27 23:16] jsturtevant commented on #4817
actually, it looks like the webhooks don't currently subscribe to events via https://github.com/openservicemesh/osm/blob/7abf10d787d37cbc79c207888e70248c3a9eef66/pkg/certificate/manager.go#L341

[2022-07-28 13:18] dantdj opened #4948 "Support different liveness/readiness probes on more than one container in a pod"
**Please describe the Improvement and/or Feature Request**

Currently the automatic health probe forwarding (described here: https://release-v1-2.docs.openservicemesh.io/docs/guides/health_checks/health_probes/) only handles automatically generating forwarding rules in the injected Envoy container for one container's configured probe within a pod. This should instead be able to handle generating c

[2022-07-28 17:52] allenlsy commented on #4944
@steeling can we mark this issue as completed?

[2022-07-28 19:13] shashankram commented on #4920
I am refactoring the existing HTTP connection manager code. I'll ensure to follow this pattern, but a heads up to not refactor the LDS part of the code till that's done. Thanks

[2022-07-28 19:52] allenlsy opened #4950 "Potential incorrectness when proxy rapidly connect and disconnect to the control plane"
**Bug description**:

When a proxy sends connect and disconnect request to the registry almost simultaneously, the end result is indeterministic. It will depends on sequence that requests are processed. This may lead to incorrect result.

Possible solution is to associate a nonce or version number to the requests.

[Discussion in previous PR here](https://github.com/openservicemesh/osm/pull/4912#d

[2022-07-29 18:43] #4783 closed

[2022-07-29 21:09] steeling commented on #4944
yup!

[2022-07-29 21:09] #4944 closed

[2022-08-01 18:42] jsturtevant opened #4956 "Handle/record errors and events for webhooks and other components"
**Please describe the Improvement and/or Feature Request**

Should consider consistent approach to raising events for errors and other major events that happen in the system.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissiv

[2022-08-02 13:32] phillipgibson commented on #4908
I thought about re-architecting the demo app down to a single view to show all the activity. I'm thinking we should decouple it from the build as well as a separate project. Thoughts?

[2022-08-02 13:38] phillipgibson commented on #4895
Hey @Parul-mahajan. Have you checked out our [Flagger integration doc](https://release-v1-2.docs.openservicemesh.io/docs/guides/integrations/flagger/). That might be the best starting point.

[2022-08-02 14:11] phillipgibson commented on #4636
I've done a demo of this integration and the scenario was an OPA endpoint outside the cluster was providing an extra gate to ensure the traffic policy was in place. I could delete the OSM policy and OPA would still block the traffic. That's probably the main use case for this integration is that a separate team can ensure the integrity of the OSM policies. If the OPA rego template and OSM policy c

[2022-08-02 15:59] shashankram commented on #4908
Currently, it's a hassle to maintain the demo specific scripts such as the port-forwarding ones. I'd rather we drop the UI from the demo and make it a purely terminal experience so that the documented demo is testable on the CI as well.

I didn't get the part about decoupling it from the main repo. Could you share the motivation for that?

[2022-08-02 19:11] nshankar13 commented on #4716
Update, contour has released support for v1.23 of envoy. https://github.com/openservicemesh/osm/pull/4954. However, the ARM64 image for envoy-distroless v1.23.0 seems to have the amd binary (https://github.com/envoyproxy/envoy/issues/22261), so sidecar injection is still failing when testing with the envoy-distroless v1.23.0 image, will likely need to wait for v1.23.1.

[2022-08-02 19:30] jsturtevant commented on #4750
/assign

[2022-08-02 20:40] nshankar13 commented on #4716
Looks like we also need to update some of the test images that we use for client and server pods: for instance https://github.com/openservicemesh/osm/blob/main/tests/e2e/e2e_permissive_smi_switching_test.go#L65

[2022-08-02 23:42] shalier opened #4962 "Migrate MRC Status State to use Conditions"
[Conditions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties) are a pattern for status reporting in Kubernetes that has several advantages over a single field with a set of enumerated values.  A good example of a resource that uses conditions effectively is [pods](https://maelvls.dev/kubernetes-conditions/#pod-exa

[2022-08-02 23:47] keithmattix commented on #4962
Should we consider using [conditions](https://github.com/kubernetes/community/pull/4521/files) here?

[2022-08-03 13:53] SoerenHenning commented on #4408
I ran into the same issue. Is there any documentation on the OSM on how to fix it?

[2022-08-03 19:09] jaellio commented on #4896
Got it, thank you for adding that context. Closing.

[2022-08-03 19:09] #4896 closed

[2022-08-03 20:10] ksubrmnn opened #4965 "Determine compatibility between HostProcess, containerD, L4WfpProxy, K8s, Windows Server, and OSM versions"
Find minimum Windows Server version needed to support L4WfpProxy HNS policy, containerD, and HostProcess.

[2022-08-04 04:24] mudit-01 commented on #2294
Hi pls assign it to me.

[2022-08-04 14:12] keithmattix opened #4966 "Upgrade to Go 1.18 or higher"
After the release of Go 1.19, Go 1.17 has fallen out of support. We need to upgrade to Go 1.18 or higher to receive the latest security fixes.

[2022-08-04 14:19] steeling commented on #4966
Not that we shouldn’t upgrade, but do you have a link to that support policy?

[2022-08-04 14:35] keithmattix commented on #4966
Sure: https://go.dev/doc/devel/release#policy

[2022-08-04 16:09] allenlsy commented on #2683
@steeling Can we use this issue as the root of subtasks of snapshot cache?

[2022-08-04 21:24] steeling opened #4967 "Error when performing upgrades on v1.0.0"
We have a bug in our upgrade path when upgrading from v1.0.0 forwards:

1. The v1.0.0 osm-bootstrap attempts to write a mesh config on startup @ version v1alpha1. It does this prior to starting it's servers, which include the crd conversion webhook.
2. In an upgrade, the new one comes up, which now writes the new version v1alpha2. Similarly, it does not start it's servers until this is successfull

[2022-08-04 22:10] steeling opened #4968 "Listen to single pod updates in the ADS Server's `watchForUpdates` method"
All code refers to code after https://github.com/openservicemesh/osm/pull/4963 is submitted

Right now the `watchForUpdates` only listens to the ProxyUpdate topic on pubsub. We'll need to add topics to the certmanager's Rotation pubsub, `GetProxyUpdatePubSub`, that are still on a single channel, but where the message allows us to derive the pod that needs to be updated.

ie, in certmanager we have

[2022-08-04 22:13] steeling commented on #4968
part of #2683

[2022-08-04 22:14] steeling commented on #4968
@allenlsy

[2022-08-05 20:53] keithmattix commented on #4864
Hi @mudit-01; sorry for the delay! I'm pleased to inform you that @allenlsy has agreed to help mentor you through the contributor ladder! Allen is an extremely talented engineer, and he'll be able to help you move through the contributor ladder. We can talk about the details on Slack, but I'll consider this issue closed 👍🏾

[2022-08-05 20:53] #4864 closed

[2022-08-05 20:54] steeling opened #4970 "Migrate pkg/cli/verifier/* to use the kube.Provider for all queries"
This will require translating from k8s inputs to to OSM inputs. ie: `NewPodConnectivityVerifier` should become `NewProxyConnectivityVerifier`

We should keep everything in cmd/cli aware of k8s, but it should translate into the OSM types to request info from the kube client.

This will help us reduce and reuse existing code for querying the control plane.

[2022-08-05 21:31] shashankram commented on #4970
Let's discuss this before working on the task. I don't think we need to spin up a controller within the CLI just to make fetch objects from the API server.

[2022-08-05 21:41] steeling commented on #4970
When you say "spin up" what do you mean? Are you referring to informer cache related things?

If that's the case I agree, and have some plans to address that (thought I had created a bug but now seeing that's not the case)

[2022-08-05 22:57] shashankram commented on #4970
I am referring to not needing to run a controller (informer client, event handling + cache) within the CLI binary.
Let's not refactor any of the code till we are clear on what the current gaps are.

[2022-08-07 00:16] #4769 closed

[2022-08-08 08:38] mudit-01 commented on #4864
Thanks!!! @keithmattix for the update and @allenlsy for taking me as a mentee :).

[2022-08-08 17:12] allenlsy commented on #4923
https://github.com/openservicemesh/osm/pull/4957

[2022-08-08 19:54] #4920 closed

[2022-08-08 20:43] allenlsy commented on #4968
In the current xDS server implementation, the proxy subscribes to the cert rotation event [here](https://github.com/openservicemesh/osm/blob/273d5cd4e899cfbf5f7fc09f824fe8eefe41f13b/pkg/envoy/ads/stream.go#L75), without `specific-pods-topic`. The topic used is the service identity string. Can we just do the similar, subscribe to the cert rotation with just service identity? This should happen in t

[2022-08-08 21:06] steeling commented on #4968
I think it's much simpler to reason about if we have a single location for dispatching proxy events. We can publish on multiple topics simultaneously, so we should be able to get it working on the single topic without breaking the prior xDS server implementation

[2022-08-08 23:52] steeling opened #4974 "Create a workflow to generate 2 clusters provisioned with ServiceImports/Exports"
@allenlsy has been experimenting with Submariner. Submariner is a unique MCS implementation that creates ServiceImports/Exports and populates with the IP address of the Submariner gateway, which handles network connectivity across clusters.

As a service mesh, we will need to create our own network connectivity solution, agnostic to submariner. This bug is explicitly to create a workflow to "join"

[2022-08-08 23:56] steeling opened #4975 "Experiment/Research Envoy's Proxy Protocol V2"
Envoy has a [proxy protocol V2](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/proxy_protocol)

Let's write up a summary of how it works, and create a demo for this.

The end result should be a sidecar in cluster A, that targets `service B` in cluster B, but is proxied through a "Gateway" envoy proxy, and finally to the destination service sidecar.

Where in t

[2022-08-08 23:59] steeling opened #4976 "Document user stories around Multicluster tooling"
What CLI commands are needed? Some ideas to get the ball rolling:

- [ ] For inspecting the health of a multicluster mesh
- [ ] Joining a set of clusters
- [ ] removing a cluster from a multicluster mesh
- [ ] Insepcting certificates across the mesh
- [ ] inspecting network topology
- [ ] Viewing single services that may exist in multiple clusters
- [ ] ?

Add as a component to the design doc http

[2022-08-09 00:01] steeling opened #4977 "Document metrics/alerts required for multicluster"
What are new metrics or recommended alerts that we may need for multicluster?

[2022-08-09 16:38] allenlsy commented on #4974
FYI, we had invested in setting up a multicluster environment before using Kind or AKS:

https://github.com/openservicemesh/osm/pull/3984
https://github.com/openservicemesh/osm/pull/3915

Want to hear your opinion if we can still leverage these changes and start this issue.

[2022-08-09 16:44] steeling commented on #4974
I imagine a tool could be agnostic to the clusters themselves. Passing in 2 kubectl context names should allow it to work anywhere

[2022-08-09 17:03] keithmattix commented on #4845
We're looking to address this in our upcoming release. There should be an error log in the OSM controller when this occurs: https://github.com/openservicemesh/osm/blob/e6304c1/pkg/k8s/announcement_handlers.go#L70

Could anyone running into this error please confirm that you see this log line in the osm-controller?

[2022-08-09 17:36] #4966 closed

[2022-08-09 18:54] keithmattix opened #4979 "Investigate the use of a FIPS-compliant Envoy data plane"
**Please describe the Improvement and/or Feature Request**

Our users may need to run OSM in FIPS compliant environments. Therefore, we need to investigate requirements around providing a FIPS-compliant Envoy data plane.

**Scope (please mark with X where applicable)**
- Sidecar Injection          [X]
- CI System                  [X]

**Possible use cases**