[2022-08-09 20:16] #4888 closed

[2022-08-09 21:13] jsturtevant commented on #4754
Synced with @steeling, this work is complete but dependent on cert-rotation work to be released

[2022-08-09 21:14] nshankar13 commented on #4716
Also need to update manifest yamls for manual demo: https://raw.githubusercontent.com/openservicemesh/osm-docs/release-v1.2/manifests/apps/bookbuyer.yaml

[2022-08-10 20:33] shashankram commented on #4924
@nshankar13, this will be impacted by the work I am doing for HTTP rate limiting as a part of https://github.com/openservicemesh/osm/issues/2018. I might wrap that in a week or so. Can this wider refactor of the RDS code wait till then?

[2022-08-10 21:12] steeling commented on #4967
It looks like if `enableReconciler` is set to true it can lead to issues as well

[2022-08-11 17:42] ksubrmnn opened #4986 "Determine feasibility of requiring containerD for Windows"
Research if Windows customers need Docker or are willing to use containerD for service mesh

[2022-08-11 17:52] ksubrmnn opened #4987 "Determine feasibility of requiring HostProcess for Windows CNI plugin"
Research if OSM users require CNI plugins to run on the node or if a HostProcess DaemonetSet is allowed

[2022-08-11 18:54] ksubrmnn opened #4988 "Publish CNI image"
Create and publish Windows CNI image (and/or binary) and determine where to keep code (in osm repo or other)

[2022-08-11 18:56] ksubrmnn commented on #4986
[containerD](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd)
[Docker](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker)

[2022-08-11 19:00] ksubrmnn commented on #4987
[HostProcess](https://kubernetes.io/docs/tasks/configure-pod-container/create-hostprocess-pod/)

[2022-08-11 19:05] ksubrmnn commented on #4965
[L4WfpProxyPolicy](https://github.com/erfrimod/hcsshim/blob/master/hcn/hcnpolicy.go#L165)

[2022-08-11 19:07] ksubrmnn opened #4989 "Create chainable OSM CNI plugin for Windows"
OSM CNI plugin for Windows should determine if the pod is in the mesh or not and add L4wfpProxyPolicy accordingly.

Investigation is needed to see if the webhook annotations are available before the CNI plugin runs.

[2022-08-11 19:39] ksubrmnn opened #4990 "Create DaemonSet for Windows CNI deployment"
Assuming containerD and HostProcess are feasible (#4986 and #4987), then create a DaemonSet that runs the Windows CNI binary (#4989) and makes the appropriate CNI config changes ensuring that our CNI doesn't replace the current one but is rather chained at the end.

[2022-08-11 19:41] ksubrmnn commented on #4990
[Example HostProcess CNI Deployment](https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/hostprocess/flannel/flanneld/flannel-overlay.yml)

[2022-08-11 19:51] ksubrmnn opened #4991 "Create Hybrid-OS cluster tests"
Set up job to run e2es on K8s clusters with Windows nodes and Windows pods in the mesh.

[2022-08-11 19:52] ksubrmnn opened #4992 "Clean up previous test clusters"
After #4991 is completed, delete current [Windows job](https://github.com/openservicemesh/osm/actions/workflows/windows-nightly.yml)

[2022-08-11 19:54] ksubrmnn opened #4993 "Configure hybrid-OS option for bookstore demo script"
Add configurability to bookstore demo script to run demo with a mix of Windows/Linux nodes/pods

[2022-08-11 20:03] ksubrmnn opened #4994 "Create Windows feature release plan"
Determine alpha, beta, GA release criteria

[2022-08-11 20:04] ksubrmnn opened #4995 "Windows blog post"

[2022-08-11 20:04] #4995 closed

[2022-08-11 20:12] ksubrmnn commented on #4989
Per @jsturtevant, the flow is `kubectl apply > webhook (mutating or validating) -> kubelet -> containerd -> cni` so webhook annotations should be available to the CNI plugin

[2022-08-11 20:22] ksubrmnn commented on #4989
[Example API call from CNI plugin](https://github.com/projectcalico/calico/blob/master/cni-plugin/pkg/k8s/k8s.go)

[2022-08-12 18:52] allenlsy commented on #4974
We can have a subtasks list here:

- [ ] one script to setup environment on two existing clusters. The scripts creates k8s resources required for the development of OSM multicluster features
- [ ] CLI tool to manage the multicluster environment, e.g. `osm import-service`, `osm export-service` etc. This provide us a smooth process to further custom the environment.

More subtasks can be added if ne

[2022-08-12 21:48] allenlsy commented on #4977
There are some metrics that should be provided by MCS API implementation rather than multicluster service mesh. But I'm putting them all together here.

### Metrics

#### In participating cluster

* Number of `ServiceImport` `ServiceExport` resources. This should be equivalent to number of services imported and exported
* Rate of sync request with the broker, group by status
* Cross cluster reques

[2022-08-15 15:12] phillipgibson commented on #4797
@shashankram can you provide the command that shows the log output?

[2022-08-15 15:44] nshankar13 commented on #4925
Currently, the logic for constructing traffic policies is entirely handled by the mesh cataloger. For instance, the inbound mesh traffic policy is built in the GetInboundMeshTraffic policy in inbound_traffic_policies.go, outbound in outbound_traffic_policies, etc. Instead, this logic can reside in an "inboundTrafficPolicyBuilder" object, which would be defined in pkg/traffic policies. Instead of c

[2022-08-15 16:15] #4923 closed

[2022-08-15 16:18] shashankram commented on #4797
The access logs are a part of Envoy logs as noted in my previous comment.
You can retrieve the Envoy logs using `kubectl logs <pod> -n <namespace> -c envoy [options]`

[2022-08-15 16:18] #4797 closed

[2022-08-15 16:53] jaellio opened #4997 "Investigate OSM root certificate rotation failure states and potential recoveries"
How to handle reverting an in-progress or failed root certificate rotation
How to depict an error state
How status should be represented
How to determine when to progress through each rotation stage
The root certificate rotation failure states and how to handle each failure scenario
What commands the users need to navigate the rotation stages and errors

Doc: [OSM Root Certificate Rotation Unknown

[2022-08-15 16:56] jaellio opened #4998 "Root certificate rotation MVP"
#Get OSM root certificate rotation in a working state to be tested and receive feedback from customers.

MVP Goals
- Support manual root certificate rotation through status updates using the kubectl --subresource command
  - Nice to have: CLI commands to navigate rotation stages
- Support happy path rotation and reverting rotation
  - Progression between rotation stages, no MRC deletion
- Metrics

[2022-08-15 17:06] nshankar13 commented on #4925
Another option is to additionally build sub builders for the trafficPolicies themselves - for instance, distinguishing between the inboundMeshTrafficPolicyBuilder and the inboundTrafficPolicy builder (the meshtrafficpolicy objects stores the trafficpolicies for each port). However, this may only be necessary if the meshtrafficpolicybuilder code gets too long / unwieldy.

[2022-08-15 17:32] phillipgibson opened #4999 "Investigate how to send Envoy access logs to external data store like a SEIM"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2022-08-15 18:07] keithmattix commented on #4999
We should use this chance to leverage OpenTelemetry support:  https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/access_loggers/open_telemetry/v3/logs_service.proto

[2022-08-15 18:27] shashankram opened #5000 "Certificate rotation broken in long running environments"
**Bug description**:
I noticed that in 2 of my setups running for several days, certificate rotation is broken. This leads to expired certificates in Envoy never being rotated, leading to complete traffic disruption between apps.

Log on the client:
[code]

Stat on the client:
`cluster.demo/fortio|8080.ssl.fail_verify_error: 50`

The `certs` stat `osm_bug_report_2928885602/namespaces/demo/pods/for

[2022-08-15 18:30] shashankram commented on #4999
Previously, we used FluentBit for this. You can run it as a sidecar to stream logs to an external data store.
The FluentBit configuration can be tweaked to parse and forward access logs.

[2022-08-15 18:53] keithmattix commented on #4999
Yeah, the advantage of the OTel approach is that it's not specific to fluentbit and it occurs directly in the Envoy proxy, so you prevent the Yet-Another-Sidecar problem

[2022-08-15 18:56] shashankram commented on #4999
That does seem like a more integrated solution with Envoy that would be preferable.

[2022-08-15 19:07] phillipgibson commented on #4999
I'm in agreement with using OTel to make this happen.

[2022-08-15 19:36] steeling commented on #5000
The attached files are all showing that the days_until_expiration is in the future.

I've also setup a local cluster with a 30s service validity duration and have verified that certs are both being rotated and properly propagated to the sidecar

[2022-08-15 19:38] shashankram commented on #5000
I don't think the `days_until_expiration` is accurate. It may have overflowed. The expiration date is in the past as seen below.
[code]

[2022-08-15 19:39] steeling commented on #5000
Oh interesting, I missed that.

Would you be able to upgrade to debug/trace logs on the controller to get more info as well?

[2022-08-15 19:43] shashankram commented on #5000
I have trace logging enabled.

Strangely, none of the cert serial no I see in the logs below match the ones displayed in the debug server's `/debug/certs` output:
[code]

[code]

[2022-08-15 19:52] steeling commented on #5000
and the logs in the bug report are all INFO logs unfortunately. Are you seeing any logs with the message `Certificate has been updated for proxy`, which would be at the debug level?

[2022-08-15 19:57] shashankram commented on #5000
With the current validity duration (24h), I don't see this log after enabling trace logging.

Interestingly, none of the cert serial no I see in the logs match the ones in the output of `/debug/certs`. That seems incorrect.

[2022-08-15 20:09] steeling commented on #5000
FWIW I'm unable to reproduce this locally

[2022-08-15 20:15] shashankram commented on #5000
I have seen this twice on a long running testbed. It could likely be a race somewhere or an issue with an XDS response erroring with no retries in place like you mentioned.
I've also not seen this issue in short lived testbeds.

Restarting the pods will likely result in fixing this, but I didn't want to till we have analyzed all the info from the bug-report.

Also were you able to determine why th

[2022-08-15 20:19] steeling commented on #4925
A couple things here:

1) We should be deconstructing these objects as much as possible. For instance, inboundMeshTrafficPolicyBuilder, is used in 3 builders (LDS, CDS, RDS). It also has exactly 3 fields, each field uniquely is distinctly used by one of the builders above. That is to say, that object does not need to exist. Instead, there should be 3 methods on the MeshCatalog in its place:

1. Ge

[2022-08-15 20:32] steeling commented on #5000
I can't see how that can happen since they're pulling off the same cache, unless your browser is caching some old results?

[2022-08-15 20:35] shashankram commented on #5000
Nope, I am refreshing the API request and see the timestamp change for the problematic cert:
[code]

This seems to indicate there is some bug where the cert for CN `default.demo.cluster.local` is never being refreshed, or there are multiple certs corresponding to this CN in the cache and the debugger is picking the expired one, which is also incorrect.

[2022-08-15 21:15] nshankar13 commented on #4925
GetInboundTrafficMatches
GetInboundHTTPRouteConfigsPerPort
GetInboundClustersConfigs

Little confused by this, isn't the point of using the builder pattern here so that the meshcataloger doesn't have to construct the trafficpolicies or build the traffictargets, routingRules, etc?

[2022-08-15 21:55] steeling commented on #4925
The MeshCatalog will be analogous to the response.go's NewResponse method.

It will make  queries to the compute.Interface, and set fields on a builder object, finally calling `Build`.

Except instead of one NewResponse, there can be N methods (one for each object type), each method following that pattern

[2022-08-16 00:09] nshankar13 commented on #4925
Got it.

Just to clarify, by this, did you mean that we should have a generic builder object that handles Inbound, Outbound, Ingress, and Egress, instead of having a distinct builder for each of these traffic policies?

[2022-08-16 00:30] steeling commented on #4925
Great question!

Maybe, it's quite possible it would be cleaner to do it that way. I'd say that's up to whoever implements it :)

[2022-08-16 15:47] #4817 closed

[2022-08-16 16:13] shashankram opened #5002 "Improve behavior of certificate issuance and rotation fuctions"
**Please describe the Improvement and/or Feature Request**
Some of the code pertaining to cert issuance and rotation seems to do more than it should, specifically `IssueCertificate` and `checkAndRotate` have logic in them that seems out of place.

- `IssueCertificate()` checks if a cert should be rotated. This should not be the case. `IssueCertificate()` should either issue a new cert, or get the

[2022-08-16 17:38] steeling commented on #5002
FYI we'll need to move off the sync.map so we can do an atomic compare and swap

[2022-08-16 17:44] nshankar13 opened #5003 "Fix OpenShift nightly job"
**Bug description**: OpenShift nightly job has been failing because the current chart in main (latest-main) blocks installation on k8s clusters less than v1.22.9, and the OpenShift cluster nodes are currently k8s v1.20.0.

`chart requires kubeVersion: >= 1.22.9-0 which is incompatible with Kubernetes v1.20.0+9689d22`.  The nodes on the OpenShift cluster should be updated to v1.23.0 or above so tha

[2022-08-16 18:00] nshankar13 commented on #5003
Once this is resolved, the process for upgrading the cluster should also be documented.

[2022-08-16 19:06] phillipgibson commented on #4986
Confirmed that Windows Containers does utilize containerD for runtime.

[2022-08-16 19:17] shashankram commented on #5002
Why is that necessary?

[2022-08-16 19:37] jaellio commented on #5000
When `IssueCertificate()` is called on a certificate that needs to be rotated and is in the cache, `shouldRotate()` is called on the cert. If the cert needs to be rotated `shouldRotate()` should return true, and a new cert is issued using the same prefix as the old certificate. The existing entry in the cache for the prefix is updated.

Previously, there was a `RotateCertificate` method which call

[2022-08-16 19:46] shashankram commented on #5000
There's also the addition of `singleflight.Group.Do()` which is another layer of caching that can result in unintended behavior if there are multiple calls to `IssueCertificate()` at the same instant, which which case the result from the first call is shared as a response to subsequent calls:
[code]

I'd rather have the rotation be an atomic operation, which checks if a cert needs to be rotated, t

[2022-08-16 23:04] steeling commented on #5000
So agreed the above can be better, but I don't think that is what is causing the issues we are seeing. There's nothing to make me think a race condition can occur here that would perpetuate after a cert has expired (assuming a new Issue cert request is generated, which we have seen in our debugging session).

It also doesn't explain the debugger mismatch.

Anyways, I have some thoughts on a potent

[2022-08-16 23:07] #4950 closed

[2022-08-17 05:38] steeling commented on #5000
If anybody is digging into this tomorrow, I think a good line of investigation would be if the pubsub is getting backed up and with singleflight, preventing new IssueCertificate calls from actually doing anything https://github.com/openservicemesh/osm/issues/4847.

[2022-08-17 16:27] shashankram opened #5007 "'osm version' command returns invalid output with locally compiled versions"
**Bug description**:
When using locally compiled binaries, the `osm version` command returns an invalid output:
[code]

Since the version defaults to `dev` in the Makefile for local builds, outputting `dev` as a version should suffice to indicate a developer build of the software.

**Affected area (please mark with X where applicable)**:
- CLI Tool                   [X]

**Expected behavior**:
Dev

[2022-08-17 17:23] patst opened #5008 "Make container injection idempotent to support Velero+Restic Restore"
**Please describe the Improvement and/or Feature Request**
We are using Velero together with [restic](https://velero.io/docs/v1.9/restic/) on AKS to backup our cluster and the persistent volumes.

Right know there is an issue during restore of Pods in OSM enabled namespaces and we raised an issue in the velero project at https://github.com/vmware-tanzu/velero/issues/5193 .

During a velero restore

[2022-08-17 17:28] shashankram commented on #5000
I am curious to know if we still need to rely on the pub-sub model for generating Envoy configs with the snapshot cache. I am hoping using the snapshot cache is simple enough such that on an event (or batch of events), simply writing to the cache suffices, vs waking up individual gRPC stream goroutines per proxy via events.

[2022-08-17 17:55] nshankar13 commented on #5003
Update: Nodes have been upgraded by following these steps to upgrade OpenShift cluster:

https://docs.openshift.com/container-platform/4.7/updating/updating-cluster-cli.html
https://docs.openshift.com/container-platform/4.7/updating/understanding-upgrade-channels-release.html

Previous openshift version is 4.7.3, current is 4.10.26, and nodes are now k8s v1.23.5.

Will mark this as closed once nig

[2022-08-17 18:41] allenlsy commented on #4933
`pkg/smi` cannot be directly collapsed into `k8s.Client` as there will be [circular import](https://github.com/openservicemesh/osm/blob/52bd5a7d8d190fc2e02a13f252250cd585a66619/pkg/smi/types.go#L24).  Therefore we will create a new `Client` interface in `pkg/mesh`. This MeshClient will do that job that communicate with k8s resources.

[2022-08-17 19:43] #2993 closed

[2022-08-17 20:25] steeling commented on #4933
Hey @allenlsy, there may be some misunderstanding here on how to accomplish this.

The methods on the SMI client should be moved to the k8s client, and the SMI client should go away. Any necessary fields can be added to the k8s client. Take a look at this PR which did the same for the configurator https://github.com/openservicemesh/osm/pull/5006

[2022-08-17 20:33] steeling commented on #5000
That's a great question. I'd be curious to know how "expensive" it is to build out the configs each time, or if it would be deemed acceptable to continuously reconstruct all of the configs on a loop without needing to know that a k8s event is triggering a new event.

Right now we have the message broker acting as a notification mechanism that something changed and needs to be reconstructed and tha

[2022-08-17 20:53] steeling commented on #2683
@shashankram moving the [conversation about the snapshot cache](https://github.com/openservicemesh/osm/issues/5000#issuecomment-1218304031) here.  Looking at the github description https://github.com/envoyproxy/go-control-plane, I'm not entirely sure the snapshot cache is smart enough to do internal diffs to determine when a change is needed. Instead, we set a new version on each update (even if c

[2022-08-17 21:18] steeling commented on #5000
@shashankram so whether we move to snapshot cache (and remove pubsub, fully leveraging loop based approach), or keep snapshot cache (but keep pubsub + a loop based approach), I think the solution I propose in https://github.com/openservicemesh/osm/issues/5000#issuecomment-1217256850 would suffice. In that by moving the rotation to be implicit upon calls to IssueCertificate, we remove the pubsub al

[2022-08-17 21:21] shashankram commented on #2683
Yes, I believe that's fine because the Envoy instance will compute the diff anyway. In that regard, the value of using the snapshot cache is to avoid using our controller implementation of the XDS state machine and let the cache deal with it. We've seen quite a few bugs in the past with the XDS state machine implementation in the controller, and using the snapshot cache will simplify what we need

[2022-08-17 21:22] jaellio commented on #5000
Has the root cause been identified for this issue? If so, could it be reiterated here? Does the solution need to be included in a patch release of v1.2?

[2022-08-17 21:30] steeling commented on #4967
expanding on my last comment: the reconciler attempts to keep things at the current version. If 2 OSM versions are up for a brief period of time, one which has written the new CRD's/webhook/etc, the old version will try to rewrite them.

@jaellio this also breaks cert rotation for those webhooks

[2022-08-17 21:31] shashankram commented on #5000
I think most of your suggestion seems reasonable. The part that bothers me is the need to rely on something like Ticker to periodically update proxy certs when no event appears "for a while" because this could result in traffic loss for the duration until this ticker updates the proxies with the new certs. This is why I think we should continue to immediately update certs that are about to expire

[2022-08-17 21:33] steeling commented on #5000
ya that makes sense, although we could mitigate with having ticker time less than cert check time, but in general I do agree with your point. I think having a ticker makes sense for this and a few other cases as well.. solely relying on the ticker has its own problems though as you mention

@jaellio I want to see if i can repro this issue to confirm the cause first.

[2022-08-17 21:48] keithmattix commented on #5000
@steeling Can you please update as soon as you have a repro? This is a high priority issue that I think is worth the time.

[2022-08-17 22:09] steeling commented on #5000
Ok, so I have this currently happening, and confirmed its none of the above theories, here's my new one:

1. Why the serial numbers are different:

The logs print the SerialNumber from the cert object which is an Aliased string, it set via `c.SerialNumber = SerialNumber(x509Cert.SerialNumber.String())`

The debugger prints the `x509Cert.SerialNumber`, which a *big.Int, via `fmt.Sprintf("... %x", x

[2022-08-17 23:09] allenlsy commented on #5000
The debugging log above was printed all in one call `getCertHandler()`. Looking at these log lines:

[code]

From the log, I think the time printing the log is 2022-08-15.

`Valid Until` and `x509.NotAfter` have the same timestamp (2022-08-12 19:05:52), and both called `time.Until(<time object>)` in the debugger but get two very different results.

In the source code of `time.Until`:

[code]

Did

[2022-08-17 23:32] steeling commented on #5000
@allenlsy that's due to the monotonic time, but you're on the right track!

There's a lot of text in this thread so easy to miss, but the last comment goes over it in more detail, and calls out the issue.

[2022-08-17 23:32] #5000 closed

[2022-08-18 14:59] nshankar13 commented on #5003
OpenShift nightly job is passing again: https://github.com/openservicemesh/osm/runs/7889995412?check_suite_focus=true

[2022-08-18 14:59] #5003 closed

[2022-08-19 17:17] keithmattix commented on #4967
Doesn't the reconciler also re-create the mutatingwebhookconfiguration if it's deleted?

[2022-08-19 18:07] shashankram commented on #5008
Seems like a reasonable ask. My only concern is around false positives that may arise from checking attributes such as container and image names, and other attributes that are entirely under the user's control when deploying an app. A malicious user could make their app and/or init-container look similar to the proxy and proxy-init container thereby bypassing sidecar injection if the checks introd

[2022-08-19 22:09] jaellio opened #5015 "Enable MeshRootCertificate using feature flag"
Currently using the MeshRootCerticate is enabled using a binary flag. This flag can only be set on install. Adding EnableMeshRootCertificate as a feature flag in the MeshConfig will allow users to upgrade to using an MRC for their certificate provider without reinstalling. Enabling MRCs will also allow users to rotate OSM's root certificates.

Questions to consider:
- What should happen when the u

[2022-08-22 06:51] patst commented on #5008
@shashankram thanks for your thoughts.

I agree, swapping an existing envoy and osm-init container spec (and only them!) sounds like the best option and would help us. I think that is the option Istio is going for as well (see https://github.com/istio/istio/blob/324b3e098fd75e051a2cc8a82fe86b594aa48909/pkg/kube/inject/webhook.go#L508-L513 )
This should not be a breaking change and pretty straightf

[2022-08-22 16:56] #4929 closed

[2022-08-22 17:09] allenlsy commented on #4933
PR for pkg/policy: https://github.com/openservicemesh/osm/pull/5014

[2022-08-22 19:11] steeling commented on #2683
agreed! curious on your opinion on once we migrate to snapshot cache, whether we should keep the messaging.Broker, to know to trigger config generation on changes, or to purely rely on a continuous loop to constantly trigger config generation

[2022-08-22 21:04] shashankram commented on #2683
I don't think we should have a continuous loop to trigger config generation, but rather a combinarion of event driven approach with coalescing and the addition of a periodic reconciler such as Ticker if necessary to recover from transient inconsistencies in the system. Constantly generating config in a tight loop when there's no change in the system has the downside of both controller and Envoy op

[2022-08-22 22:17] steeling opened #5016 "Properly rotate ingress gateway certificate"
The ingress gateway certificate is currently only rotated if it is in the cache. We should either:

a) ensure IssueCertificate is always called when the controller starts up (we can change the `c.msgBroker.SubscribeKubeEvents(events.MeshConfig.Updated())` to `c.msgBroker.SubscribeKubeEvents(events.MeshConfig.Updated(), events.MeshConfig.Created())

of

b) Query and watch for the secrets, which rem

[2022-08-22 22:18] steeling commented on #5016
@jaellio FYI

[2022-08-22 23:45] #4839 closed

[2022-08-23 17:04] steeling commented on #5008
@patst what version of OSM are you running? https://github.com/openservicemesh/osm/pull/4688 should have fixed the issue, which didn't get released till v1.2.

RE: security issue, if a malicious user has the ability to create/mutate pods already then we're I'd say the cluster is already compromised. I'm of the opinion this is not a problem for OSM to solve.

[2022-08-23 17:22] shashankram commented on #5008
I disagree. Such a scenario is especially common with `Insider Threats`. Just because a user has permission to create an application, doesn't mean they should be allowed to somehow bypass the sidecar injection process because of a loophole in the product. Bypassing sidecar injection is an explicit action, either via labeling the namespace or by annotating the pod to disable sidecar injection. Atte

[2022-08-23 18:31] shashankram commented on #5008
If they do, they have enough permissions via `NET_ADMIN` to do so. This isn't the same as simply naming an application container to trick the software to do something undesirable.

[2022-08-23 18:33] steeling commented on #5008
Fair point on permission, however I still disagree. If they can mutate containers it is still game over.

This would be better solved with Gatekeeper or notary to ensure images are signed/attested

[2022-08-23 18:40] shashankram commented on #5008
It's always desirable to reduce the attack surface, especially when it's trivial to do so as in this scenario. I don't think it comes at any extra cost to detect that a user is attempting to have an init and proxy container that may conflict with and/or potentially bypass our software. In fact, I'd argue it's desirable to have this check in place regardless of security implications.

[2022-08-23 18:48] patst commented on #5008
thanks for your reply. We are using OSM as AKS addon. Today we started upgrading to AKS 1.24.3 which contains OSM v1.2. The above behaviour was observed using OSM v1.1.1.

I will test tomorrow if v1.2 works with velero and restic

[2022-08-23 22:13] jsturtevant commented on #4750
I've got my raw notes in this [gist](https://gist.github.com/jsturtevant/2b4dca0716b70faec61a6abc7aed9521).  I will summarize the outcomes here:

#### spiffe integration in OSM

The aspects of SPIFFE that we are primarily interested in are the [x509 SVIDs](https://github.com/spiffe/spiffe/blob/main/standards/X509-SVID.md) and the [Spiffe ID](https://github.com/spiffe/spiffe/blob/main/standards/SPI

[2022-08-24 00:08] jsturtevant commented on #5002
I found a need to have more structure to the incoming IssueCertificate request.  Right now we take this prefix and optionally attach the trust domain (if not present).  To be able integrate spiffe, I have to know the internal structure of this a bit more than I would like to get the parts needed to for the Spiffe id in the certificate provider.  For example I need the trust domain, and currently t

[2022-08-24 15:25] whitneygriffith commented on #4922
Currently working on testing for SDS

[2022-08-24 16:28] jsturtevant opened #5022 "Add feature flag that turns spiffe id generation on in Certificates"
This does not implement the feature but creates the feature flag to that can be used to turn the feature on/off.

[2022-08-24 16:28] jsturtevant opened #5023 "Add feature flag that uses on spiffe id validation in certificates and uses spiffe id for Identity"
This can't be done at same time in backwards compatible way with out re-issuing all the Service Certificates.

It might be possible to automate this but might be just as easy to just wait given time frame to flip a switch or start a new deployment with this enabled. Another option is creating a cli helper tool that can verify the certs are set through the Mesh

[2022-08-24 16:28] jsturtevant opened #5024 "Implement spiffe ID generation in x509 certificates"
This adds the field to the certificate in the SAN URI field but does not turn on validation or use it.

May want to clean up our IssueCertificate Interface, right now it uses prefixes and it could benefit from more structure to make parsing decisions easier later

[2022-08-24 16:28] jsturtevant opened #5025 "Implement spiffeid x509 validation for Certifices"

[2022-08-24 16:28] jsturtevant opened #5026 "Implement using spiffeid to make RBAC decisions for Identity"

[2022-08-24 16:28] jsturtevant opened #5027 "Add support in the OSM debugger to view this addition certificate fields for Spiffe"

[2022-08-24 16:28] jsturtevant opened #5028 "Prototype of SPIRE using SDS server"

[2022-08-24 16:28] jsturtevant opened #5029 "prototype of using SPIRE as certificate provider"

[2022-08-24 16:30] jsturtevant opened #5030 "SPIFFE support"
Root issue for SPIFFE Support (created from research in #4750

#### spiffe integration in OSM

The aspects of SPIFFE that we are primarily interested in are the [x509 SVIDs](https://github.com/spiffe/spiffe/blob/main/standards/X509-SVID.md) and the [Spiffe ID](https://github.com/spiffe/spiffe/blob/main/standards/SPIFFE-ID.md).  In the future we may be interested in a few the other APIs specified b

[2022-08-24 16:30] jsturtevant opened #5031 "SPIRE support"
Root issue for SPIRE Support (created from research in https://github.com/openservicemesh/osm/issues/4750

#### Spire integration
Spire has a few advantages that would likely be worth exploring further like workload attestation plugins, federation, certification rotation.  Attestation could be a big draw here.

There are several stages that could be implemented for the spire integration. This woul

[2022-08-24 16:31] shashankram opened #5032 "Add e2e test for global rate limiting"
**Please describe the Improvement and/or Feature Request**
Add e2e test for global rate limiting based on the demo in https://github.com/openservicemesh/osm-docs/pull/433

**Scope (please mark with X where applicable)**
- Tests          [X]

[2022-08-24 16:38] jsturtevant commented on #5030
This work is required for Spire support #5031

[2022-08-24 16:42] jsturtevant commented on #5030
A proto-type of this work can be found at https://github.com/openservicemesh/osm/compare/main...jsturtevant:osm:spiffeid?expand=1.  This could be used to do spire prototype.

[2022-08-24 16:49] jsturtevant commented on #4750
I've taken comment https://github.com/openservicemesh/osm/issues/4750#issuecomment-1224943168 and split it out into separate issues so work can be broken down. See mentioned issues for future work.

[2022-08-24 16:49] #4750 closed

[2022-08-24 17:22] jsturtevant opened #5033 "Add documentation to website for SPIFFE integration"

[2022-08-24 17:22] jsturtevant opened #5034 "E2E tests for SPIFFE that cover the scenario around validation and RBAC"

[2022-08-24 17:43] mudit-01 commented on #4903
Hi pls assign this to me.

[2022-08-24 17:49] keithmattix commented on #4903
You got it @mudit-01. Thanks for helping to tackle this issue!

[2022-08-24 17:49] keithmattix commented on #5027
s/OMS/OSM?

[2022-08-24 18:01] shashankram commented on #2018
The core functionality is now complete.

[2022-08-24 18:01] #2018 closed

[2022-08-24 18:08] nshankar13 opened #5035 "Scoping issue #4967"
**Please describe the Improvement and/or Feature Request**

Working with @steeling to plan implementation

Scoping issue [#4967](https://github.com/openservicemesh/osm/issues/4967)
**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Perm

[2022-08-24 18:31] shashankram commented on #4924
@nshankar13 the rate limiting work is complete.

[2022-08-24 19:18] shalier commented on #4890
Waiting on Root certificate rotation MVP [#4998](https://github.com/openservicemesh/osm/issues/4998), to help figure out our unknowns and get additional feedback

[2022-08-24 19:21] steeling opened #5036 "Set SAN Matcher for multiple Certs during a cert rotation"
If an MRC changes the trust domain (or in the future switches to a SPIFEE ID), then the envoy config needs to have the DNS SAN matcher set to include both the new and old principal.

We should validate this is correct with E2E tests.

[2022-08-24 19:22] steeling commented on #5036
This is necessary on both the Inbound and outbound, so both SDS, and the RBAC filter need it

[2022-08-24 19:25] steeling commented on #5036
A simple way might be for the `GetTrustDomain` on the certificate.Manager to become `GetTrustDomains`, which returns both old and new

[2022-08-24 21:29] keithmattix opened #5038 "Make LocalProxyMode default to PodIP"
Now that #4653 has been fixed for a bit, we should decide when we want to change the `LocalProxyMode` default from `Localhost` to `PodIP`, as the latter is more consistent with typical Kubernetes behavior.

[2022-08-24 21:41] jaellio commented on #4723
Blocked on #4962

[2022-08-24 21:49] jaellio commented on #4745
Blocked by version supportability constraint. Cannot add a breaking change between minor osm versions.

[2022-08-24 22:15] jaellio commented on #4711
This is a nice to have for v1.3 but not a requirement. Removing from v1.3 milestone.

[2022-08-24 22:18] jaellio commented on #5015
Supporting enabling the use of the MeshRootCertificate without requiring osm to be reinstalled would require significant refactoring. Internally, we would have to reassign the certificate manager singleton that is distributed throughout the codebase to be a certManager rather than an MRCCompat Client. Additionally, supporting multiple certificate manager implementations and certificate provider re

[2022-08-24 22:18] #5015 closed

[2022-08-25 05:41] jaellio opened #5040 "Remove MRCCompatClient"
Part of #4998

The MRCCompatClient was created to support the transition to using a MeshRootCertificate custom resource to configure the certificate provider on osm install and facilitate OSM root certificate rotation. As specified in #4718, the MRCCompatClient allowed us to support a single implementation of certificate.Manager regardless of whether or not an MRC resource was used to configure th

[2022-08-25 06:17] jaellio opened #5041 "Deprecate enableMeshRootCertificate binary flag"

[2022-08-25 06:21] jaellio commented on #5040
Blocked on:
- #4818
- #4723
- #4815
- #4962

[2022-08-25 06:25] jaellio commented on #5041
Blocked on:
- #5040

[2022-08-25 16:39] nshankar13 commented on #4967
The issue seems to be due to the way that the CRD patching is coupled with the cert rotation handler code -> we pass in the `patchCrds` method in `crdconversion.go` as `onCertChange` - thus, the first time the certificate gets issued to the conversionwebhook, patchCrds is called before the server is started.

One potential solution is to not immediately call `patchCrds` the first time the certific

[2022-08-25 16:44] nshankar13 commented on #4967
One potential follow up task to this though could be to "bulletproof" this solution by ensuring that k8s only uses the new osm-bootstrap conversionwebhook server to update the meshconfig. While the apiconversion could in theory still work using the old webhook server, down the road there may be situations where we want to only use the new webhook servers. One idea that @steeling proposed is adding

[2022-08-25 18:00] steeling commented on #4967
actually patchCRDs is not the issue (we can verify that the new CRD gets created), but that immediately upon startup the bootstrap attempts to create the new meshconfig version (via `ensureMeshConfig`). It's this creation, which happens prior to the patchCrds call that is causing the issue.

[2022-08-25 18:38] nshankar13 commented on #4967
@steeling it looks like both ensureMeshConfig and patchCrds are issues. For `ensureMeshConfig`, we call `MeshConfigs.update()` if the meshconfig already exists. `patchCrds` eventually calls `CustomResourceDefinitions.Update()` - I think both of these `update()` calls need to happen after the conversionwebhookserver gets started.

[2022-08-26 09:05] thorker opened #5042 "rbac_access_denied_matched_policy[none] by using AuthenticatedPrincipal"
**Bug description**:
Currently, we are testing AKS 1.24 & OSM 1.2.0 and as soon as we added the AuthenticatedPrincipal to our IngressBackend, the connectivity breaks. In the envoy logs we see the responsecodedetails rbac_access_denied_matched_policy[none].

We are using the configuration from the [guide](https://release-v1-2.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/) at another setup w

[2022-08-26 15:47] shashankram commented on #5042
@thorker could you share the following configurations (please redact sensitive/PII data):
1. Backend k8s service yaml
2. IngressBackend service yaml
3. MeshConfig yaml: kubectl get meshconfig osm-mesh-config -n <osm-namespace> -o yaml

Additionally, could you confirm if [HTTP ingress](https://release-v1-2.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/#http-ingress) and `HTTPS ingress with o

[2022-08-26 16:12] thorker commented on #5042
HTTP Ingress & HTTPS ingress (skipClientCertValidation: true) works.

Configurations are the same in both AKS, but in the new version it doesn't work anymore. We only adapted the guide to your services.

[code]

[code]

[code]

[2022-08-26 16:19] shashankram commented on #5042
Could you also share the following:
1. Envoy logs during the time the request fails: kubectl logs <pod> -n <ns> -c envoy -f --tail=50
2. Backend sidecar's config dump (redact values for all `inline_bytes` and certificate fields): osm proxy get config_dump <pod> -n <ns>

[2022-08-26 16:40] jaellio commented on #5016
I think with our current implementation the ingress gateway certificate is always in every controller's cache. [Here](https://github.com/openservicemesh/osm/blob/5270634d2bacb578e5ca66a7d409ff73aecb069d/pkg/ingress/gateway.go#L53) we call `handleCertChanges` regardless of whether or not we have subscribed to add or update MeshConfig events. Therefore, on startup, every controller will issue a new

[2022-08-26 17:46] steeling commented on #4967
Spoke offline, but for posterity, k8s calls this out here https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#writing-reading-and-updating-versioned-customresourcedefinition-objects

So explicitly, the conversion does not happen when writing a CRD.

More definitively, even if it did, the conversion would have already taken place from the `ensu

[2022-08-26 20:32] nshankar13 commented on #4967
Discussed this with @steeling over a call, but another option is to get rid of the crdconversion webhook (and server) entirely. If we look at the conversionHandler methods for the crds in crdconversion.go, each crdconversion handler (except the meshconfig) does nothing if the apiVersions are the same between the previous and current CRD in the upgrade. If the new CRD has additional fields, those f

[2022-08-26 20:52] steeling commented on #4967
To clarify a bit the points above:

our current webhooks do nothing that the implicit conversion wouldn't do anyways, when `strategy` is set to `None`. Further:

1. Currently, the conversion webhook that is used will unintuitively be from the old pod, since the new pod needs the conversion to happen prior to the webhook starting.
2. In a future case, where there are multiple objects being converte

[2022-08-26 20:55] shashankram commented on #4967
The conversion webhook is necessary when there are schema changes between the versions of the resource and we want to transparently handle these without user intervention. For e.g., consider a field `foo` that has been dropped in the new version in favor of a new field `baz`. We want a framework in place where if the value of `foo` can be translated to the value `baz`, that's possible. Otherwise,

[2022-08-26 21:04] steeling commented on #4967
Currently the conversion webhook does nothing however, except cause bugs and headaches. I recommend that, if and when, we ever need to drop a field, we can revisit how to go about that, and whether a conversion webhook is even the right choice, given some of the caveats I mentioned above

[2022-08-26 21:49] steeling commented on #4967
Sure we can do a proposal, and punt on the decision till that's out.

As a quick point to get some data, I'm curious if we tried to quantify the effort if that would shed some light on the decision? Let's say we had a PR out to rip that code out, how much work would you anticipate it would be to revert the PR in the future? My estimate is on the order of days, which to me indicates we'd be safe go

[2022-08-29 03:05] keithmattix opened #5044 "Add new fields and statuses/conditions to MRC resource"
To enable declarative certificate management and rotation, the MeshRootCertificate resource needs a new `intent` field to describe whether or not it is meant to be "active" or "passive". More states may be possible later (e.g. "decomissioned"), so this should not be expressed with a simple boolean field.

Additionally, the MeshRootCertificate status subresource (represented by the `MeshRootCertifi

[2022-08-29 03:08] keithmattix commented on #4962
We should likely close this in favor of #5044

[2022-08-29 03:11] keithmattix commented on #4723
Note: Make sure the logic from the [rotation design doc](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.r5r6bqgddlfx) is include (especially the finalizer).

[2022-08-29 03:24] keithmattix opened #5045 "osm-controller should set initial status/conditions"
Based on [Step 2](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.41lj1oqg6git) in the design doc, osm-controller should monitor the MRCAdded event and initiate the status fields (including conditions). Furthermore, osm-controller should confirm the connection to the issuer and update the `Accepted` condition accordingly (error or success).

Be aware

[2022-08-29 03:37] keithmattix opened #5046 "Create pattern for spawning level-triggered reconciliation loop for certs"
Many steps in the MRC certificate rotation [process](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.sy0tyhbqfylp) requires the spawning/management of independent reconciliation loops based on certain combinations of MRC conditions. To reduce the cognitive overhead of re-writing these loops for each step, there should be a general pattern for starting

[2022-08-29 06:06] thorker commented on #5042
[code]

[2022-08-29 07:36] piotrgwiazda opened #5047 "Document and support tracing with Azure Application Insights"
**Please describe the Improvement and/or Feature Request**

As Open Service Mesh is now provided as Azure Kubernetes Service add-on, the most natural way for handling distributed tracing will be using Azure Application Insights and its Application Map.

This is technically possible using Open Telemetry Collector with Zipkin receiver and Azure Monitor exporter, however the fields are not mapped end

[2022-08-29 14:42] piotrgwiazda opened #5048 "Missing name in tracing"
**Bug description**:

In https://github.com/openservicemesh/osm/blob/main/pkg/injector/envoy_container.go#L43 the `--service-cluster` parameter is set based on ServiceAccount and pod.Namespace.

As a result for a simple deployment all services in a mesh are identified as "default.".
- The name component could be based on some other parameter, e.g. deployment name
- The namespace component of name

[2022-08-29 14:43] piotrgwiazda commented on #5047
The naming issue seems to be related to https://github.com/openservicemesh/osm/issues/5048

[2022-08-29 16:48] #4962 closed

[2022-08-30 00:03] jaellio commented on #5045
Dependent on #5044

[2022-08-30 00:03] jaellio commented on #5045
Dependent on #5044

[2022-08-30 01:17] clarenceb commented on #4840
@shashankram Sorry, I missed this mention.  Sure, if you think it's still useful then I can do that.  Is that just creating an issue and PR here: https://github.com/openservicemesh/osm-docs ?

[2022-08-30 16:01] shashankram commented on #4840
Yes, we could add this to our [traffic troubleshooting guide page](https://release-v1-2.docs.openservicemesh.io/docs/guides/troubleshooting/traffic_management/) with the heading `Verifying mutual-TLS` similar to how the existing sections on Ingress, Egress, etc.

Alternatively, if you prefer to reference https://github.com/clarenceb/osm-mtls-check directly, that works as well.

[2022-08-30 16:30] #4974 closed

[2022-08-30 16:34] #4922 closed

[2022-08-30 18:35] jaellio opened #5052 "MRC status/condition refactoring design"
This issue tracks the design progress of the MeshRootCertificate (MRC) status and root certificate rotation stage refactoring. The design doc describes the MRC's statuses and conditions and how they change throughout the rotation process.

Design doc: https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit

Issue discussing the benefits of conditions for the MRC: https

[2022-08-30 18:53] nshankar13 opened #5053 "Update envoy to v1.23.1 and test sidecar injection on ARM64"
**Please describe the Improvement and/or Feature Request**

When envoy-distroless v1.23.1 is available both for AMD and ARM, and contour starts supporting envoy v1.23.1, we will need to update to v1.23.1. In addition to the usual testing of running the contour demo, we will also need to test sidecar injection on ARM64, with envoy-distroless v1.23.1, as this will be the first envoy-distroless image

[2022-08-30 19:41] steeling commented on #5046
FWIW Service level certs can be reconciled through a generic loop in the proxies.

I'm not sure if that leaves anything outside of rotation events

[2022-08-30 21:31] jaellio commented on #5007
Assigning to @lam-man

[2022-08-30 21:37] jaellio commented on #5007
For reference, this is the PR that added the remote osm version to the `osm version` CLI output https://github.com/openservicemesh/osm/pull/4395

[2022-08-30 21:51] keithmattix commented on #5046
The reconciliation loops are for the MRC resource's status fields, not specific certificates. I'm now realizing that "reconcile" is an overloaded term in OSM; I'm referring to the generic "edge-triggered" vs. "level-triggered" reconciliation concept

[2022-08-31 04:04] psandytang commented on #5042
I am also facing the exact same issue when I upgraded from 1.23.8 to 1.24.3 in AKS. Could this be due to serviceaccounts no longer generate secrets by default?

[2022-08-31 15:33] nshankar13 commented on #4967
@shashankram @steeling I'm wondering if it would be possible to incorporate this logic as part of the helm pre-install hook / init-bootstrap container instead of relying on the conversionwebhook. This wouldn't necessarily simplify the complexity of the code / implementation itself (for instance, the convertMeshConfig method in config_meshconfig_conversion.go), but at least as part of a pre-install

[2022-08-31 16:00] keithmattix commented on #5042
@thorker could you provide the envoy config dump that Shashank requested? `osm proxy get config_dump -n acc000-def-example` should work

[2022-08-31 16:21] thorker commented on #5042
[envoy-config.txt](https://github.com/openservicemesh/osm/files/9463225/envoy-config.txt)

[2022-08-31 16:36] jsturtevant commented on #5030
A document outlining the work required: https://docs.google.com/document/d/1WSneAPSUeZOSJLhSzGXogVLxLXCqI_NRououxdxFAl4/edit?usp=sharing

[2022-08-31 17:01] nshankar13 opened #5059 "Leverage Builder Pattern for InboundMeshTrafficPolicy"
**Please describe the Improvement and/or Feature Request**

Subtask of https://github.com/openservicemesh/osm/issues/4925.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [X]
- SMI Traffic Split Policy   [X]
- Permissive Traffic Policy  [X]
- Ingress                    [

[2022-08-31 17:01] nshankar13 commented on #4925
Subtasks:
- https://github.com/openservicemesh/osm/issues/5059

[2022-08-31 17:04] nshankar13 opened #5060 "Leverage Builder Pattern for OutboundMeshTrafficPolicy"
**Please describe the Improvement and/or Feature Request**

Subtask of https://github.com/openservicemesh/osm/issues/4925

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [X]
- Permissive Traffic Policy  [ ]
- Ingress                    [

[2022-08-31 17:07] nshankar13 opened #5061 "Leverage Builder Pattern for IngressTrafficPolicy"
**Please describe the Improvement and/or Feature Request**

Subtask of https://github.com/openservicemesh/osm/issues/4925

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [X

[2022-08-31 17:24] nshankar13 opened #5062 "Leverage Builder Pattern for EgressTrafficPolicy"
**Please describe the Improvement and/or Feature Request**

Subtask of https://github.com/openservicemesh/osm/issues/4925

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [

[2022-08-31 21:04] keithmattix commented on #4967
The current implementation of conversion webhooks is essentially equivalent to a `None` conversion strategy. We've got the webhooks in source control, so it doesn't seem like it would be too difficult to revert. If removing code and changing our conversion strategy will fix a bug while effectively being a no-op, that seems like the pretty clear winner here to me, especially as we're trying to get

[2022-09-01 16:09] shashankram commented on #5042
@thorker, @psandytang, it appears the root cause for the issue has been identified. A patch fix will be available for this bug soon. The fix is provided in https://github.com/openservicemesh/osm/pull/5063.

Thanks

[2022-09-01 16:16] keithmattix commented on #5048
Thanks for raising these issues @piotrgwiazda! @whitneygriffith I'm assigning this to you to make sure our tracing works as expected. Feel free to use this issue to gather any more context you need

[2022-09-01 18:32] keithmattix commented on #5042
Now that #5063 is merged, this issue can likely be considered closed. Do you agree @shashankram?

[2022-09-01 18:34] nshankar13 commented on #5042
@keithmattix should we wait until the hotfix is rolled out, including for the add-on?

[2022-09-02 10:18] vishalpant opened #5067 "Not able to upgrade OSM control plane"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [X]
- CLI Tool                   [ ]
- Metrics

[2022-09-02 15:23] shashankram commented on #5067
Hey @vishalpant, it seems like you are experiencing an issue with the OSM AKS addon. The OSM AKS addon is managed by Microsoft. Could you kindly open a support ticket against Microsoft if the issue you are experiencing pertains to the usage the OSM AKS addon in Azure.

Further, it seems like you are attempting to manually upgrade the service mesh that was installed as an AKS addon using the `osm m

[2022-09-02 22:34] #4933 closed

[2022-09-04 00:16] #4806 closed

[2022-09-06 03:50] steeling opened #5075 "Helm Chart broken"
When v1.2.1 was released, it's chart was pushed as version 1.2.0, which is incompatible with the code at that version.

So we'll need to rewrite the old v1.2.0 chart, and make sure that v1.2.1 gets published (which currently doesn't exist)

[2022-09-06 16:58] trstringer opened #5079 "Add vulnerability checking to the CI pipelines"
**Please describe the Improvement and/or Feature Request**

Our CI pipeline should be actively checking for Go vulnerabilities with the newly announced [govulncheck](https://go.dev/blog/vuln) tooling to catch issues as soon as possible.

**Scope (please mark with X where applicable)**
- CI System                  [X]

**Possible use cases**

CI vulnerability checking.

[2022-09-06 17:01] lam-man commented on #5007
Thanks @jaellio . I will work on this.

[2022-09-06 17:13] shashankram opened #5080 "Define process for PR backports and make backports a prerequisite in the release guide"
**Please describe the Improvement and/or Feature Request**
Based on the [discussion](https://cloud-native.slack.com/archives/C018794NV1C/p1662049281958249), it seems like a good idea to define a documented process regarding PRs that need to be backported to one or more release branches.

This document would describe the process to backport changes going into main that need to be backported to one

[2022-09-06 17:15] keithmattix commented on #5080
Note from an offline convo I had with @steeling: when backporting for a patch, perhaps we should use a staging branch of sorts so that all of the proposed changes live in one place, are applied in one PR and are thus revertable in one PR.

[2022-09-06 17:38] shashankram commented on #5080
Wondering what's the use case for such a workflow. It would be an additional overhead to maintain a staging branch just for backports, and I haven't seen such a branching strategy commonly used.

We could still add backports in a single PR, but I'd rather have PRs backported in a timely manner versus doing it all towards the end of the release.

[2022-09-06 21:20] jsturtevant commented on #5028
prototype: https://github.com/jsturtevant/osm/compare/spiffeid...jsturtevant:osm:spire?expand=1

The changes required are detailed in https://docs.google.com/document/d/1WSneAPSUeZOSJLhSzGXogVLxLXCqI_NRououxdxFAl4/edit#

[2022-09-06 21:20] #5028 closed

[2022-09-06 21:21] jsturtevant commented on #5031
Details of changes required in for SPIRE as the CA for Pod to pod communication at in "phase 2" of https://docs.google.com/document/d/1WSneAPSUeZOSJLhSzGXogVLxLXCqI_NRououxdxFAl4/edit#

[2022-09-06 23:41] jaohurtas opened #5084 "Sidecar injection fails, trying to access osm-injector in wrong namespace"
**Bug description**:

OSM error trying to access osm-injector in kube-system namespace when it is in th osm-system namespace

Error in application replicaset:
failed to call webhook: Post "https://osm-injector.kube-system.svc:9090/mutate-pod-creation?timeout=20s:
service "osm-injector" not found"

The sidecar is not injected

**Affected area (please mark with X where applicable)**:
- Install

[2022-09-07 00:25] keithmattix commented on #5084
Thanks for filing this issue! Can you please post the OSM CLI command you used to install the mesh? Note that if you don't specify a `osmNamespace` when installing OSM, it will default to the namespace the helm release is installed in (which in turn defaults to your kube context namespace if unset)

[2022-09-07 16:03] jaellio opened #5087 "Handle MRCAdded event for MRC with no conditions"
Defined in [Certificate Provisioning Step 2](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.41lj1oqg6git)

On osm install, an MRC resource is created by OSM. The status fields have not been set. When a CRD is created, the status fields cannot be set since the status is a subresource of the CRD. If there is only 1 MRC and the intent is `spec.intent=ac

[2022-09-07 16:10] jaellio opened #5088 "Handle MRCUpdated event when provisioned condition status set to TRUE"
Defined in [Use new cert for validation Step 3](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.sy0tyhbqfylp)

On MRCUpdated event:
1. Check if `status.state=Error`. If no error, continue
2. Check if `spec.intent=passive` and there are 2 MRCs in the mesh. If yes, continue
3. If `provision/accepted.status=True` and was previously `False` continue
4. Up

[2022-09-07 16:12] jaellio opened #5089 "Handle MRCUpdated event when ValidatingRollout condition reason set to Pending"
Defined in [Use new cert for validation Step 3](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.sy0tyhbqfylp)

All control plane components receive MRCUpdated event and check for ValidatingRollout as Pending
  - Each component starts its process of adding the new MRC to the cert chain
    - Individually time-bounded: either xDuration (specified per ce

[2022-09-07 16:15] jaellio opened #5090 "Create timer loop for updating certificateStatus"
Defined in [OSM MRC Status Design Doc](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.sy0tyhbqfylp)

Used for updating `certificateStatuses` to `Validating`, `Issuing`, and on delete.

- [ ] update MRC spec to add upper bounds ???
- [ ] implement a looping pattern to be used by each control plane component. Loop terminates at end of time bound or whe

[2022-09-07 16:18] jaellio opened #5091 "Handle MRCUpdated event when spec.State set to passive"
Defined in [Update status Step 2](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.gmxmn5fw46m9)

- osm received MRCUpdated event with `spec.intent=passive` and all `status.certificateStatues=Issuing`
- issuers don't change
- set `status.condition.IssuingRollback` to `True` and the reason to `PassiveStateAndCertIsBeingIssued`
- set `status.condition.Va

[2022-09-07 16:22] jaellio opened #5092 "Handle MRCUpdated event when spec.State set to active"
Defined in [Start issue with new certificate Step 5](https://docs.google.com/document/d/1QF7wL1su4CUzwo3Yo2_vFL90XG2d-wUhBU6uifNrkws/edit#heading=h.e5jt97f5t23g)

- [ ] swap issuers
- [ ] start timer loop to update containerStatus
- [ ] start MRC reconciliation loop for IssuingRollout to True (**Verify this should be initiated in this step)
- [ ] start MRC reconciliation loop for Provisioning, Iss

[2022-09-07 16:30] jsturtevant opened #5093 "Create design document for SPIFFE/SPIRE changes"
**Bug description**:
Create design document for SPIFFE/SPIRE changes.  Creating this issue for sprint tracking purposes.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress

[2022-09-07 16:30] jsturtevant commented on #5093
document: https://docs.google.com/document/d/1WSneAPSUeZOSJLhSzGXogVLxLXCqI_NRououxdxFAl4/edit#

[2022-09-07 16:43] jaellio commented on #5087
Duplicate of #5045

[2022-09-07 17:03] shashankram commented on #5032
This task is done.

[2022-09-07 17:03] #5032 closed

[2022-09-07 17:14] jsturtevant opened #5095 "Update the IssueCertificate Provider Interface to include more than CN string"
**Bug description**:

Right now, only CN is passed to the interface. This has all the information needed but has a lot of variability depending on the cert type.  If we make this a struct with the values, it will make creating the spiffe id for the URI SAN easier vs parsing it manually.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access

[2022-09-07 17:16] keithmattix commented on #4619
Some of the work around certificates will create another pattern for this

[2022-09-07 17:18] keithmattix commented on #4754
@steeling If the work for this is complete, can we close this? I think we've captured cert-rotation work elsewhere

[2022-09-07 17:43] keithmattix commented on #4502
Automatic root certificate rotation is out of scope for our immediate plans; we're going to start with a user-guided rotation and then elicit feedback from users

[2022-09-07 17:48] mudit-01 opened #5096 "bug while enabling metrics in unit test"
**Bug description**: Currently the createNamespaceSpec function adds a label to enable metrics instead of [annotation](https://release-v1-2.docs.openservicemesh.io/docs/guides/observability/metrics/#metrics) at https://github.com/openservicemesh/osm/blob/main/cmd/cli/namespace_test.go#L895

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Acce

[2022-09-07 18:39] keithmattix commented on #2683
@steeling Does #5056 close this issue?

[2022-09-07 18:48] keithmattix commented on #4946
@shashankram @steeling This appears to be fixed in CI; can we close this issue?

[2022-09-07 18:50] keithmattix commented on #4967
Fixed in #5065

[2022-09-07 18:50] #4967 closed

[2022-09-07 18:54] #4946 closed

[2022-09-07 19:00] keithmattix commented on #4794
Since we have a workaround for Azure Policy and CNI work is being tracked in #1610, I'm going to close this

[2022-09-07 19:00] #4794 closed

[2022-09-07 19:03] keithmattix commented on #1974
@jaellio Does the current cert-rotation work enable this? My guess is no

[2022-09-07 19:04] keithmattix commented on #3829
Are we still encountering this bug?

[2022-09-07 19:10] keithmattix commented on #102
I think this is definitely a feature we should implement in the next couple of releases

[2022-09-07 19:12] keithmattix commented on #4935
@allenlsy Can we close this?

[2022-09-07 19:12] keithmattix commented on #4908
+1 from me

[2022-09-07 19:16] keithmattix commented on #5080
Oh I didn't mean to maintain a long-lived staging branch; just once we've decided to create a patch for a backport, we make PRs into a holding area so we can backport all the work into the release branch into 1 PR

[2022-09-07 19:17] keithmattix commented on #5075
This was fixed in #5077 and #5082

[2022-09-07 19:17] #5075 closed

[2022-09-07 19:18] #5067 closed

[2022-09-07 19:20] keithmattix commented on #5042
This has been fixed and released in v1.2.1 of upstream, so I'm closing this

[2022-09-07 19:20] #5042 closed

[2022-09-07 19:23] keithmattix commented on #4976
Is the deliverable for this issue CLI commands or user stories?

[2022-09-07 19:29] shashankram commented on #5080
I understood your suggestion, but unsure about the need for such a staging branch. I'd rather backport PRs at the time of merge to `main` vs queuing them all to merge them in 1 PR. I don't see a benefit in doing so, as the branch itself is staging the commit until the release is cut.

What's your reasoning for wanting a staging branch?

[2022-09-07 19:30] steeling opened #5098 "Break up the *TrafficPolicy objects"
All of the trafficpolicy.*TrafficPolicy (Ingress, Egress, Outbound, Inbound), have 2-3 methods:

1. TrafficMatches
2. HTTPRouteConfigsPerPort
3. ClusterConfigs

Each objects is constructed via a `Get*TrafficPolicy` method, however each call results in a single use case of each field. That is, the RDS builder uses `HTTPRouteConfigsPerPort`, the LDS builder uses `TrafficMatches`, and the CDS builder

[2022-09-07 19:31] steeling commented on #5059
Subsumed by https://github.com/openservicemesh/osm/issues/5098

[2022-09-07 19:31] steeling commented on #5060
Subsumed by https://github.com/openservicemesh/osm/issues/5098

[2022-09-07 19:31] #5060 closed

[2022-09-07 19:31] steeling commented on #5061
Subsumed by https://github.com/openservicemesh/osm/issues/5098

[2022-09-07 19:31] #5061 closed

[2022-09-07 19:31] steeling commented on #5062
Subsumed by https://github.com/openservicemesh/osm/issues/5098

[2022-09-07 19:31] #5062 closed

[2022-09-07 19:44] steeling commented on #4976
user stories, that may have CLI commands proposed as a solution to those user stories.

Basically to plug into a tooling section in a larger design doc

[2022-09-07 19:44] allenlsy commented on #4935
yes we can mark it as completed I think

[2022-09-07 19:45] #4935 closed

[2022-09-07 19:48] jaohurtas commented on #5084
I believe I just used  "osm install" and it created the osm-system namespace

[2022-09-07 19:50] steeling commented on #2683
Yes it does!

[2022-09-07 19:57] keithmattix commented on #5080
The use case I was thinking of was being able to return the release-branch to its previous state relatively easily, but a `git checkout commithash` + a PR will usually accomplish the same end result. Feel free to disregard

[2022-09-07 21:06] steeling opened #5099 "Implement a k8s.Controller that does not use informers"
This client should adhere to the k8s KubeController interface, but should implement methods on the k8s apiserver instead of on the informer client.

This can be used in places where we don't want to enable the informer cache, but do still want the abstractions provided by the meshcatalog and compute Interface

This can be done be either:

a) creating a new object with identical method signatures
b

[2022-09-07 21:07] steeling commented on #5099
@keithmattix  FYI
@shashankram FYI this would be a pre-req to [#4970](https://github.com/openservicemesh/osm/issues/4970)

[2022-09-07 21:09] shashankram commented on #5099
We will still be using a SharedIndexInformer within the controller though right, or are you proposing to not use informers anymore?

[2022-09-07 21:20] steeling commented on #5099
correct, i think just the CLI, and I believe @keithmattix has a use case for certificates where there is a concern of a potential race condition due to cache being out of sync?

This is more to allow more pieces of the code to access the underlying k8s infra through the mesh catalog or compute.Interface

[2022-09-07 21:30] shashankram commented on #5099
Ok if that helps avoiding duplication and simplifies CLI, sounds reasonable

[2022-09-07 21:39] keithmattix commented on #2683
Fixed in #5056

[2022-09-07 21:39] #2683 closed

[2022-09-08 18:57] #5044 closed

[2022-09-08 19:34] jsturtevant opened #5102 "osm controller forwarding of the envoy config is no longer working on debug endpoint"
**Bug description**:
The osm controller forwarding of the envoy config is no longer working:

http://localhost:9092/debug/proxy?stream-id=5&cfg=true

[code]

Certs works:
http://localhost:9092/debug/proxy?stream-id=5

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy

[2022-09-08 19:36] allenlsy commented on #4977
ping @steeling for comments here.

[2022-09-08 19:53] steeling commented on #5102
Do you have steps to repro?

[2022-09-08 19:58] jaellio commented on #5102
I ran the demo script with the debug server enabled, port forwarded the debug server, and then navigated to debug/proxy.

I think I found the small bug though!

[2022-09-08 20:56] #4754 closed

[2022-09-08 22:18] #5102 closed

[2022-09-09 09:31] lorenzo-biava commented on #4948
@dantdj Exactly. And there is no indication (in the doc, or validation during the mutation of the pod) that the config is invalid. So you get persistent failures on the other sets of probes, as Envoy listeners might not even be configured (say your last container has a TCP probe, ports 15901/2 won't have any listener at all).

A use case of ours is to add tracing sidecars in a Pod, and we would li

[2022-09-09 16:10] lam-man commented on #5007
I was able to reproduce the problem. Working on the fix.

[2022-09-09 16:13] keithmattix commented on #4815
Superceded by #5092 and similar issues

[2022-09-09 16:13] #4815 closed

[2022-09-09 16:16] jaellio commented on #5052
Design approved. Beginning implementation.

[2022-09-09 16:16] #5052 closed

[2022-09-09 23:14] keithmattix commented on #4948
Thanks for bringing this to our attention. #3773 was closed due to inactivity, and the underlying issue still persists. I took a stab at a fix in #5106; I believe this should fix your issue!

[2022-09-10 16:01] dantdj commented on #4948
Hey Keith - thanks for looking at this! I'll keep an eye on that PR :)

[2022-09-11 20:21] srinman opened #5107 "broken link"
Please check this documentation
https://release-v0-11.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/

This following command in the documentation fails because httpbin.yaml is not found in this location.  Please repoint this to working location. Thanks.
kubectl apply -f https://raw.githubusercontent.com/openservicemesh/osm/main/docs/example/manifests/samples/httpbin/httpbin.yaml -n httpbin

[2022-09-12 00:56] keithmattix commented on #5107
Hi @srinman - please take a look at the latest version of our documentation:
https://release-v1-2.docs.openservicemesh.io/docs/demos/ingress_k8s_nginx/

The download link should be correct in the latest version the docs

[2022-09-12 09:49] lorenzo-biava opened #5108 "K8s headless services targeting the same endpoints (pod + port) break the Mesh"
**Bug description**:

When multiple K8s services target the same endpoints (pod + port), or a single service targets the same port twice (with different names), the Envoy configuration is invalid and part of it are discarded, breaking the Mesh connectivity (e.g. outbound listener).

Sometimes such configuration can be a mistake, sometimes it's perfectly reasonable (e.g. if you need a Service just

[2022-09-12 13:22] #5035 closed

[2022-09-12 15:21] #4921 closed

[2022-09-12 15:21] #4924 closed

[2022-09-12 16:37] keithmattix commented on #4934
@steeling could you create an issue for your multicluster design doc and link it here?

[2022-09-12 16:37] keithmattix commented on #5030
@jsturtevant It feels safe to assume that full SPIFFE support isn't part of this milestone (v1.3) correct?

[2022-09-12 16:38] shashankram commented on #5108
@lorenzo-biava I am unable to reproduce this issue by creating 2 different services targeting the same pod.

I deployed the simple [curl to httpbin demo](https://release-v1-2.docs.openservicemesh.io/docs/demos/permissive_traffic_mode/), and then created a second service called `httpbin2` whose selector matches the httpbin pod. I was able to access the backend pod via both `httpbin` and `httpbin2`

[2022-09-12 17:39] steeling commented on #4934
Let's just repurpose this issue as the design doc?

[2022-09-12 19:26] nshankar13 commented on #4925
https://github.com/openservicemesh/osm/issues/5098

[2022-09-12 20:00] keithmattix commented on #5053
Fixed by #4954

[2022-09-12 20:00] #5053 closed

[2022-09-12 21:46] steeling opened #5111 "Push coalescing into the per-proxy update go-routine"
I already have a draft PR that does this, so after https://github.com/openservicemesh/osm/pull/5109 is submitted we can discuss how relevant this is on the PR itself.

Pushing the coalescing down into the per-proxy goroutine will have the following benefits:

1. ~700 lines of code deleted, results in huge simplifications. The message broker's coalescing code is arguably the single most complicated

[2022-09-12 21:49] steeling opened #5112 "move envoy.Proxy into new pkg/models directory"
Blocked on https://github.com/openservicemesh/osm/pull/5109

The envoy.Proxy model no longer has any references nor specifics to envoy. With the decoupling from envoy provided in https://github.com/openservicemesh/osm/pull/5109, it naturally makes sense to have `envoy.Proxy`, become `models.Proxy`

[2022-09-13 09:11] lorenzo-biava commented on #5108
The key appears to be Headless services for this bug (clusterIP: None)

[code]

[code]

[2022-09-13 13:46] shashankram commented on #5108
@keithmattix could you look into this

[2022-09-13 17:37] steeling opened #5117 "CRDs are roll forward only"
CRD's should not be able to rollback, since a rollback could drop fields and result in data loss. It also may attempt to remove a previous CRD version that was marked as `stored`, which is not allowed, and could cause failures.

See https://docs.google.com/document/d/1BnRHTxwXTcxl8NkvCRSRZJdFIATJNLr4GWUeWHswD_I/edit# for ideas on how to accomplish this.

[2022-09-13 17:38] steeling opened #5118 "Policy: Document release supportability"
We should document how many releases we will support bug fixes, and security patches. ie: the last 3 minor releases.

See https://docs.google.com/document/d/1BnRHTxwXTcxl8NkvCRSRZJdFIATJNLr4GWUeWHswD_I/edit#heading=h.c4u4bgowo40e for more info

[2022-09-13 17:41] steeling opened #5119 "Policy: Document supported release tooling"
NOTE: There needs to be further discussion and agreement on this before we decide.

Narrowing down our supported release tooling will greatly simplify our release processes. ie: by removing helm from our official support of release tooling, we can focus on tooling that is specific to OSM. This can allow us to place more guardrails and safety checks in the OSM cli.

We can still allow power users t

[2022-09-13 17:42] steeling opened #5120 "Policy: Document rollback support"
Right now our rollbacks are broken and unsupported. First, we must allow rollbacks to work, then we should document the support for them. ie: we may not want to allow a rollback by more than X minor versions. See https://docs.google.com/document/d/1BnRHTxwXTcxl8NkvCRSRZJdFIATJNLr4GWUeWHswD_I/edit#heading=h.c4u4bgowo40e for more info

[2022-09-13 17:42] steeling opened #5121 "Policy: Document FeatureFlags support"
I'm advocating we remove FeatureFlags from our API supportability. See the policy proposals in https://docs.google.com/document/d/1BnRHTxwXTcxl8NkvCRSRZJdFIATJNLr4GWUeWHswD_I/edit#heading=h.c4u4bgowo40e

[2022-09-13 17:43] steeling opened #5122 "Policy: Document upgrade process/guideliness"
We should have better policies around release processes.

For instance, upgrades must go through each minor version one at a time

[2022-09-13 17:47] steeling opened #5123 "Policy: Document OSM's CRD best practices and policies"
CRD's are complicated, see the list of caveats here https://docs.google.com/document/d/1BnRHTxwXTcxl8NkvCRSRZJdFIATJNLr4GWUeWHswD_I/edit#heading=h.c4u4bgowo40e.

We should document our CRD policies, and some best practices. This includes, roll-forward-only CRD's and never dropping a field unless upgrading the OSM major version

[2022-09-13 17:48] steeling opened #5124 "Colocate all webhooks"
Having the validating and mutating webhook on the same binary, helps keep versions coupled. This is a task to simply move the validating webhook from the osm-controller to the osm-injector.

[2022-09-13 17:50] steeling opened #5125 "Support rollbacks"
Rollbacks are currently unsupported in OSM. There's a lot of ways to accomplish this. The main tasks are:

1. Roll-forward only CRD's
2. Execute any special commands necessary to restore prior state.
3. What tooling do we use to execute the rollback. For instance a lot of tools would recommend: download the version of the CLI corresponding to the version you wish to release, and issue the rollback

[2022-09-13 17:53] steeling opened #5126 "Automate portions of our release process"
What portions of our release can we automate?  Automation not only makes our jobs easier, but removes the possibility for human error. For instance in the last release we introduced a bug where we didn't properly upgrade the chart version.

Let's try to remove all manual steps, for both standard releases and patch releases

[2022-09-14 14:45] keithmattix commented on #5119
This feels like we need to create a Discussion on GitHub or a thread in Slack

[2022-09-14 21:57] keithmattix commented on #5108
Hi @lorenzo-biava. I did some digging and it turns out that having multiple headless services targeting the same pod isn't supported by OSM due to some Envoy limitations. The reason for this is because at the L4 level where Envoy is doing filter chain matches, there's no `Host` header or other L7 context we can use in order to determine which service to send traffic to. Does that make sense? I'd b

[2022-09-14 22:45] lorenzo-biava commented on #5108
@keithmattix Thanks for the explanation. It does, yet OSM should do something to make that configuration working, even if it's just dropping one of the duplicated services.
The 2 services don't even have to be onboarded to the mesh (i.e. with Envoy); it's enough to have the discovery enabled in that namespace (the monitored-by=osm label) to disrupt the entire mesh.
This is a reliability and securi

[2022-09-14 22:56] keithmattix commented on #5108
Ah, understood, and I agree. I'll put together a PR and some docs to pick a service at random

[2022-09-14 23:02] lorenzo-biava commented on #5108
What about adding an annotation or label to the Services to have them
ignored?

You can still pick at random (well maybe the first alphabetically?) to
avoid breaking the config, but you leave a bit of control over which
service will be used (they might have overlapping endpoints, not
necessarily identical ones, so they won't be just interchangeable).

Alternatively, you could just merge all the en

[2022-09-15 17:49] #5095 closed

[2022-09-15 21:10] jaellio commented on #5045
@keithmattix What are your thoughts on how we should handle step 2? Should the validating webhook be responsible for limiting the number of active/passive MRCs that are added? If somehow more than 2 MRCs exist, how should the controller respond? Should it set a special condition on the MRC, or should the MRC be in an error state?

[2022-09-15 22:06] keithmattix commented on #5045
The validating webhook should limit MRCs to 2. If by some chance, an MRC gets past the webhook, the controller should ignore add events if there are 2 MRCs with status/conditions set

[2022-09-16 02:38] steeling commented on #4637
Going to resize this to a medium, and bring it into the Multicluster project board, as the MCS API will exclusively create endpoint slices, not endpoints

[2022-09-16 14:37] steeling commented on #5045
With this + upgrades we have more reasons for an internal state object. With 2 phase commit we can completely avoid the scenario of having multiple mesh certs in the wrong state

[2022-09-16 16:29] allenlsy opened #5134 "Failure on re-running e2e test on existing Kind cluster"
**Bug description**:

When running e2e test locally with Kind cluster, we want to re-use the created Kind cluster to perform test multiple times. It works for the first run, running with args `-cleanupKindCluster=false -installType=KindCluster`. For the consequent runs, we removed `-installType=KindCluster`. This will use `SelfInstall` as the install type by default, which means no new Kind cluste

[2022-09-16 16:48] shashankram opened #5136 "Add capability to export and configure Envoy access logs"
**Please describe the Improvement and/or Feature Request**

Add capability to configure Envoy access logging per pod(s) and namespace, with regards to the access log format and the ability to export access logs to an OpenTelemetry collector.

Tasks:
- [x] [Design doc](https://docs.google.com/document/d/1CZo79XlSBgwr2dOrbR1YDYzPveuk6lr6cAIkl75rW3g/edit?usp=sharing)
- [x] Add ability to configure ac

[2022-09-16 18:17] jsturtevant opened #5138 "Error running osm support bug-report in e2e tests"
**Bug description**:
When looking into CI flake in #5137 and #5131 found:

[code]

See https://github.com/openservicemesh/osm/actions/runs/3069634707/jobs/4958564544#step:5:399

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]

[2022-09-16 18:58] jsturtevant opened #5139 "E2E tests are flaking"
**Bug description**:

I noticed some flakes where random things failing. I am not sure if these are all related and after looking at logs and commits in the last few days I don't see any thing jumping out as the issue.

- 9/16/2022 - https://github.com/openservicemesh/osm/actions/runs/3069568739/jobs/4958431162 (kafka doesn't reach concensus)

[code]

- 9/16/2022 - https://github.com/openserviceme

[2022-09-17 01:25] ceekay47 commented on #5040
Hi @jaellio , I would to like work on this. Can you please help me get started? Thanks!

[2022-09-18 01:18] zaminda commented on #2082
What's the status of this now?

[2022-09-19 16:56] steeling opened #5140 "Allow HTTP ExtAuth configs"
Our current ExtAuth configuration only allows forwarding requests via gRPC. We should additionally allow HTTP

[2022-09-19 16:57] steeling commented on #5140
Some useful resources to get started:

https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto#envoy-v3-api-msg-extensions-filters-http-ext-authz-v3-authorizationrequest

https://github.com/salrashid123/envoy_external_authz/blob/master/authz_server/grpc_server.go

[2022-09-19 20:31] steeling opened #5141 "Decouple envoy config serving, generation, and control loop"
Right now, envoy config generation, serving, and the control loop -- which is the part that watches for k8s updates and schedules proxy updates on the workerpool, are all intermingled in the same package.

By separating these out, we gain finer control over generating the configs, serving the configs (serializing them to the envoy proxies), and the control loop, which could help us integrate with

[2022-09-19 21:35] steeling commented on #4632
@naqvis you may be interested in https://github.com/openservicemesh/osm/pull/5109, which does some of the decoupling you're requesting

[2022-09-19 21:59] steeling commented on #4874
Commeting here for posterity, but https://github.com/openservicemesh/osm/pull/5109 tackles this decoupling in a different way. https://github.com/openservicemesh/osm/issues/5112 will help move that forward too. Note that now the envoy.Proxy object contains no specific envoy references, so will become osm.Proxy.

There's still a lot in this current proposal with respect to different sidecars specs,

[2022-09-20 16:05] lam-man commented on #5007
PR for the issue has been created. Thanks!

[2022-09-20 17:10] #4968 closed

[2022-09-20 18:55] jaellio commented on #5040
HI @ceekay47! Thank you so much for your interest in picking up this issue! This change is currently blocked on several other issues. Let me see if there is another good first issue that is currently unblocked.

[2022-09-20 22:07] #5141 closed

[2022-09-21 00:20] #3736 closed

[2022-09-21 20:22] #4948 closed

[2022-09-21 20:24] keithmattix commented on #4948
This fix should be released with OSM v1.3

[2022-09-22 02:00] ceekay47 commented on #5040
Sure @jaellio. That would be really awesome. Thanks!

[2022-09-22 16:02] jsturtevant commented on #5030
SPIFFE support could make it, depending on timeline for #5131 merging which is ready for review.  There is one more PR after that for the functionality to use the SPIFFE ID in the certs (#5025 and #5023) which I should be able to get implemented next week.   This would not include SPIRE support which requires a few refactors and Ingress work.

[2022-09-22 16:13] palmerabollo commented on #1531
related https://github.com/openservicemesh/osm/issues/2280 :(

[2022-09-22 20:04] keithmattix commented on #1531
@shashankram has been doing some interesting work in this area around otel compliant logging. Tracing support should be available within the next couple of releases

[2022-09-23 00:00] steeling opened #5149 "Set sidecar keep alive"
https://github.com/envoyproxy/envoy/issues/6323

We’ve seen customer issues where a sidecar disconnects from the control plane irregularly but thinks it’s still connected, resulting in certificates expiring and requests failing.

We should also see if the snapshot cache enables keep Alives so we can detect disconnections on the server side.

This is not verified as the cause of the issue but my le

[2022-09-23 02:07] steeling commented on #5149
keep alive isn't handled by snapshot cache, but we're already setting in https://github.com/openservicemesh/osm/blob/main/pkg/envoy/server/grpc.go#L57, so we just need to do this on the client. Let's assume another default of 30-60s. We don't need to expose this as a toggle to users for now

[2022-09-23 02:13] steeling opened #5150 "Bump RenewBeforeCertExpires above 30s"
RenewBeforeCertExpires is hardcoded to 30s + some jitter between 0-5s. This doesn't give much time to rotate certs on larger implementations.

This should likely be set to a function of 1/3 of the original validity duration of the certificate itself, or something similar.

Otherwise, there's a lot of potential for bugs here:

1. Keep alive set to 60s on client side, doesn't recognize a proxy has d

[2022-09-23 15:16] lam-man commented on #5079
@trstringer I think this is still not taken. Would you mind assigning it to me?

[2022-09-23 15:30] keithmattix commented on #5079
Thanks for your willingness to tackle this! You're now assigned to the issue 👍🏾

[2022-09-23 15:32] lam-man commented on #5079
Thanks @keithmattix !

[2022-09-23 19:30] shashankram opened #5152 "Remove duplicate definition of informer keys"
**Please describe the Improvement and/or Feature Request**
Informer key names for k8s clients  are duplicated, see https://github.com/openservicemesh/osm/blob/main/pkg/k8s/types.go#L55-L89 and https://github.com/openservicemesh/osm/blob/main/pkg/k8s/informers/types.go#L11-L47

This is confusing and unintuitive.

Consolidate these constants and reuse them.

[2022-09-24 00:19] #4830 closed

[2022-09-24 00:19] #4777 closed

[2022-09-24 00:19] #4699 closed

[2022-09-24 17:39] keithmattix commented on #4847
Still valid

[2022-09-24 17:49] keithmattix commented on #4733
Keep open

[2022-09-26 17:11] whitneygriffith commented on #5048
@piotrgwiazda we were able to fix the missing name in tracing and have updated the docs which will be available in our next release which will be out in <2 weeks! If you need this fix before then feel free to build the latest [OSM](https://github.com/openservicemesh/osm)

[2022-09-26 17:11] #5048 closed

[2022-09-26 17:47] #4723 closed

[2022-09-26 17:52] #4818 closed

[2022-09-26 20:37] #5134 closed

[2022-09-26 22:45] #5022 closed

[2022-09-26 22:52] jsturtevant commented on #5027
completed in #5131

[2022-09-26 22:52] #5027 closed

[2022-09-26 22:52] jsturtevant commented on #5024
completed in #5131

[2022-09-26 22:54] #5024 closed

[2022-09-26 22:55] #4448 closed

[2022-09-27 02:42] #5112 closed

[2022-09-27 15:35] steeling opened #5156 "Remove the mock mesh catalog, and the meshcatalogger interface"
With the new split of MeshCatalog, compute.Interface, and k8s.Client, there is no need to have an interface for the MeshCatalog. The MeshCatalog strictly contains business logic, with no actual API calls being made within the catalog itself.

As such there's no need to have an interface for it. The biggest hurdle will be to migrate all of the `NewMockMeshCataloger` calls to instead mock the `compu

[2022-09-27 15:37] steeling commented on #4931
I'm going to close this issue, and split it into multiple issues to allow parallelizing the work

[2022-09-27 15:37] #4931 closed

[2022-09-27 15:38] steeling opened #5157 "Remove pkg/ingress dependency on k8s"
remove the k8s.Controller and kubernetes.Interface from pkg/ingress.client, in favor of the compute.Interface, and switch usage of update/delete/get/list Secret to the new secret methods.

[2022-09-27 15:40] steeling opened #5158 "Remove pkg/debugger dependency on k8s.Controller"
The debugger package shouldn't need a dependency on k8s.Controller. Currently it calls GetPodForProxy, and uses the pod info to port-forward.

ie: `PortForwardToProxy(ctx context.Context, proxy *envoy.Proxy, int localPort) (close func(), error)`. This should replace the calls in pkg/debugger, such that we can remove the k8s.Controller for the debug struct.

[2022-09-27 15:41] steeling opened #5159 "Remove pkg/certificate dependencies on k8s"
Replace usage of pkg/certificate/castorage/k8s with the new compute client's secret methods. Probably best to get rid of the packages under pkg/certificate/castorage altogether, and move any required methods into pkg/certificate/providers.

[2022-09-28 00:25] #4887 closed

[2022-09-28 00:25] #4880 closed

[2022-09-28 00:26] jsturtevant commented on #5023
Since we can rely on the MRC handing rotation of the certificate for us we don't need an additional flag to insure the Serivce certs are all generated properly. #5160 uses the MRC rotation approach. Closing.

[2022-09-28 00:26] #5023 closed

[2022-09-28 16:35] djsly commented on #5108
@keithmattix , more on this, we also discovered that for the same use case, this error was breaking other services in different namespaces. Their outbound listeners weren't getting created, I presume by the error mentioned in this ticket. It seems that once OSM stops processing other output listeners on error.

[2022-09-28 19:06] #4444 closed

[2022-09-28 19:20] steeling opened #5162 "Non-determinism in envoy/bootstrap unit test"
go test ./pkg/envoy/bootstrap --run TestBuild --count 10

On a 10 second glance, it looks like the order of the probes matters here, and is failing the tests if they're out of order

[2022-09-28 20:33] keithmattix commented on #5162
Ah, this is because the OriginalHealthProbes data structure moved from a slice to a map and maps are unordered. I'll fix the test to check both versions

[2022-09-28 21:58] keithmattix commented on #5108
Hmm, that shouldn't happen; the outbound listener loop [doesn't return on error](https://github.com/openservicemesh/osm/blob/76db0c6d81c67b1434bd248f0463ca43870862cb/pkg/envoy/lds/inmesh.go#L466). Furthermore, each sidecar's config request is processed separately. If you remove the duplicate headless services, do the services in the other namespace start working again?

[2022-09-28 23:05] lorenzo-biava commented on #5108
The issue has always been across namespaces, based on the policies used.
The outbound listener config is created by OSM controller. Is just Envoy
that doesn not like it.

Il gio 29 set 2022, 05:58 Keith Mattix II ***@***.***> ha
scritto:

[2022-09-29 15:07] #5090 closed

[2022-09-29 15:14] keithmattix commented on #4997
@jaellio I think this is done?

[2022-09-29 15:57] steeling opened #5165 "Endpoints associated with non-meshed ingress do not get"
Endpoints related to the mesh, but *outside* of the mesh do not trigger an event loop, ie: the endpoints associated with an ingress.

We enumerate all of the endpoints for the ingress service to use as a filterchain match when the ServiceKind is specified in the Ingressbackend config. This service can be outside the mesh, which means the endpoints gets filtered in the `c.informers[Endpoints].AddEv

[2022-09-29 16:10] #5165 closed

[2022-09-29 16:12] steeling opened #5166 "Add validation for IngressBackend"
If an IngressBackend is creating/updated to use a source kind of Service, we should verify that the service is in a namespace that has the  "openservicemesh.io/monitored-by" label on it, corresponding to this mesh.

Otherwise when the pods restart the endpoints may not get picked up. This will yield a better customer experience, and remove one additional scenario we need to debug.

[2022-09-29 16:59] jaellio commented on #5046
Closing and taking a different approach

[2022-09-29 16:59] #5046 closed

[2022-09-29 17:02] steeling opened #5167 "Add design doc details on obsevability for multicluster"
Add details on observability to https://docs.google.com/document/d/1Do9iw55mRuQii6W_l8ULbDiVZb1iG7dLhL75Nz_D8OE/edit

See [#4977](https://github.com/openservicemesh/osm/issues/4977)

[2022-09-29 17:02] steeling commented on #4976
Here's the doc where we will plug this info into https://docs.google.com/document/d/1Do9iw55mRuQii6W_l8ULbDiVZb1iG7dLhL75Nz_D8OE/edit

[2022-09-29 17:03] steeling commented on #4975
This  will likely be necessary when/if we implement gradual mTLS across a mesh

[2022-09-29 17:03] steeling opened #5168 "create the meshedcluster object"
Should look something like

[code]

Create both the CRD, go structs, generated client code, and add to the informer cache

[2022-09-29 17:04] steeling opened #5169 "create the mc tunnel deployment and service"
as part of the helm chart.

Optional: it would be nice if the mc-tunnel used a custom image, to abstract that we are using a plain sidecar. This gives us flexibility in the future to migrate away from it if needed

[2022-09-29 17:04] steeling opened #5170 "reconcile the mc tunnel and deployment on and off"
This can be done with existence of a meshed serviceexport, or the MeshedCluster property.

We can either create/delete the deployment, or scale down to 0 replicas, but we need to consider if a user sets a PDB, or HPA, how that may work if we delete the deployment and how that plays with this reconciliation

[2022-09-29 17:06] steeling opened #5171 "Configure mc-tunnel over xDS"
Configure the mc-tunnel's envoy configs, this should be a single inbound-listener (no outbound listener required) that uses the tls-inspector to forward to the in-cluster service.

[2022-09-29 17:06] steeling opened #5172 "add the mcs CRDs and generated clients. add an informer to the k8s.Client"
Since the MCS api is not yet part of k8s, we'll need to install the APIs ourselves. We should bundle the yaml definitions, and leverage the generated clients to add an informer to the k8s.Client, with appropriate methods for Get/List ServiceImport/Export

https://github.com/kubernetes-sigs/mcs-api/tree/master/pkg/apis/v1alpha1

[2022-09-29 17:06] steeling opened #5173 "consume MCS api to configure the remote-cluster's inbound listener"
Should we add an additional listener here? This will reduce performance impact on in-cluster requests, but will require some iptable updates

[2022-09-29 17:08] steeling opened #5174 "consume MCS api to configure the outbound sidecar"
Configure the outbound listener to watch the clusterset.local services and forward to the appropriate endpoints.

[2022-09-29 17:10] steeling opened #5175 "Create diagrams for MCS scenarios"
Add diagrams to the appendix here https://docs.google.com/document/d/1Do9iw55mRuQii6W_l8ULbDiVZb1iG7dLhL75Nz_D8OE/edit#

We should include diagrams for:

- [ ] How MCS API is consumed (control plane)
- [ ] Request flow (data plane)
- [ ] Flat/multi-network

[2022-09-29 17:37] keithmattix opened #5176 "Add resync interval to MRC informer"
The `MeshRootCertificate` informers need to have a resync interval in order to provide a retry mechanism for event handlers. This can be done in `pkg/informers/informers.go` when the MRC informer is created in `WithConfigClient`

[2022-09-29 20:45] keithmattix opened #5179 "Retrieve the CA for new, passive MRC"
When an `MRCEvent` is received by osm-controller (i.e. a certificate.Manager in leaderMode) and the MRC in question matches the following criteria: `spec.intent == Passive && len(status.Conditions) == 0`

The osm-controller should retrieve the CA. If an error occurs, set the `Accepted` condition's reason to `ErrorRetrievingCA`, and set status.state to `Error`. `IssuingRollout` and `ValidatingRollo

[2022-09-30 13:56] allenlsy commented on #4863
@steeling can we close this issue now?

[2022-09-30 14:45] phillipgibson commented on #1035
This has been lingering for a while. We should probably put a plan together to enable this feature.

[2022-09-30 15:49] steeling commented on #4863
I have one final PR i'll have out early next week

[2022-09-30 17:39] keithmattix opened #5181 "Move each componentStatus to ValidatingRollout"
[updateMRCComponentStatus](https://github.com/openservicemesh/osm/blob/main/pkg/certificate/mrc_reconciler.go#L131), should see that the MRC in question has the following attributes:

```spec.intent == Passive && status.Conditions[type=Accepted].Status == True && status.Conditions[type=ValidatingRollout] => { x.Status == False && x.Reason == Pending }```

And then move the componentStatuses to Val

[2022-09-30 22:34] jsturtevant commented on #5139
see pods time out again:

[code]

https://github.com/openservicemesh/osm/actions/runs/3161948366/jobs/5148127884

[2022-10-02 00:22] #4726 closed

[2022-10-03 00:20] #3773 closed

[2022-10-03 13:26] #5150 closed

[2022-10-03 16:47] #5087 closed

[2022-10-03 16:47] #5088 closed

[2022-10-03 16:50] keithmattix commented on #4934
@steeling That sounds good; can you link the design doc PR to this issue?

[2022-10-03 16:54] #5045 closed

[2022-10-03 16:54] #5089 closed

[2022-10-03 16:54] #5091 closed

[2022-10-03 16:54] #5092 closed

[2022-10-03 17:04] keithmattix commented on #4862
@steeling has this been completed?

[2022-10-03 17:40] lam-man commented on #5079
Progress update: Figured out how to run the Go vulnerability check in GitHub Action. However, the CI job I created always got killed by GitHub Actions when running the command `govulncheck ./...`. I am trying to resolve this. Thanks!

[2022-10-03 21:57] steeling commented on #4862
Ya, closing out

[2022-10-03 21:57] #4862 closed

[2022-10-04 00:45] steeling commented on #5149
We need to set these on the cluster https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#config-cluster-v3-upstreamconnectionoptions

[2022-10-04 17:06] #5162 closed

[2022-10-04 19:03] #5152 closed

[2022-10-04 21:18] keithmattix opened #5190 "Set ValidatingRollout condition to True once cert is propagated"
Per the [gist](https://gist.github.com/keithmattix/9ac73abbcb5721b0ce58102ac3ebff29). Once all componentStatuses are set to validating, set ValidatingRollout condition to True with reason PropagatedCAToTrustChains and set status.state to Validating. Set transitionStatus to nil.

[2022-10-05 19:10] #5172 closed

[2022-10-05 22:01] steeling commented on #5036
Adding a pointer, the method `GetTrustDomain` should return multiple trust domains if we are in the middle of a rotation that is currently changing changing the trust domain

[2022-10-05 23:57] #4863 closed

[2022-10-06 03:42] jsturtevant commented on #5139
was a flake introduced by a change and should be resolved by #5191

[2022-10-06 03:43] jsturtevant commented on #5139
I saw the kafka consensus flake again on https://github.com/openservicemesh/osm/actions/runs/3194154634/jobs/5213475797

[2022-10-06 22:57] jsturtevant commented on #5139
kafka consensus: https://github.com/openservicemesh/osm/actions/runs/3200435451/attempts/1

[2022-10-07 03:03] keithmattix commented on #5139
One thing I might try is throwing the Kafka test into its own bucket to see if the flakes continue

[2022-10-07 16:41] #5098 closed

[2022-10-10 00:20] #4895 closed

[2022-10-10 14:12] shashankram commented on #5108
@keithmattix assigning this one to you as you already have a [PR](https://github.com/openservicemesh/osm/pull/5164) out.

[2022-10-10 16:53] shalier commented on #5107
@srinman Closing this issue. Feel free to re-open this issue if the link doesn't work!

[2022-10-10 16:53] #5107 closed

[2022-10-10 17:10] #4997 closed

[2022-10-10 18:52] steeling commented on #5158
The `PortForwardToProxy` method should exist on the compute client in `pkg/compute/kube`

[2022-10-10 18:52] steeling commented on #5158
The `PortForwardToProxy` method should exist on the compute client in `pkg/compute/kube`

[2022-10-11 08:11] srinman commented on #4674
Awesome, thanks!

On Thu, Apr 21, 2022, 12:21 PM Thomas Stringer ***@***.***>
wrote:

[2022-10-11 23:31] keithmattix commented on #5108
So, I'm doing some local testing for this, and I can't reproduce the bug in the `main` branch of OSM. It appears that switching our adoption of the Envoy snapshot cache introduced some dedup logic for this use-case. I'm doing some digging to find a line of code to confirm, but I'm ~80% sure this shouldn't happen in v1.3+ of OSM

[2022-10-11 23:56] djsly commented on #5108
We will be upgrading to AKS 1.24 which brings 1.2   I’m guessing it will take so w time for us to be able to test. On Oct 11, 2022, at 7:31 PM, Keith Mattix II ***@***.***> wrote:﻿
So, I'm doing some local testing for this, and I can't reproduce the bug in the main branch of OSM. It appears that switching our adoption of the Envoy snapshot cache introduced some dedup logic for this use-case. I'm d

[2022-10-12 03:54] keithmattix commented on #5108
OSM supports N-2 versions, so now that I've confirmed that this is fixed in HEAD, I'll look into a backport/patch for OSM v1.2

[2022-10-12 19:20] ksubrmnn opened #5198 "Create MVP for manual root certificate rotation"
**Please describe the Improvement and/or Feature Request**

Create a process by which OSM users can manually rotate the root certificate without any downtime. This issue only focuses on creating an MVP and not covering all possible edge cases.

For more details, please review the [Simplified Proposal for Manual Root Cert Rotation MVP](https://docs.google.com/document/d/1bh3Yfn5DXWjmzdKa4XHlk-9KepU

[2022-10-13 18:13] #5036 closed

[2022-10-14 01:17] keithmattix commented on #5108
Ok so I've got a full understanding of this bug, and the good news is that it's confined to OSM versions before v1.2. The first thing that completely left my mind until recently is that OSM didn't fully support headless services in the mesh _until_ v1.2, so that explains the problems that you're seeing in v1.1.1. Once you upgrade to v1.2, you shouldn't really run into this issue.

Now, the reason

[2022-10-14 01:18] #5108 closed

[2022-10-14 05:23] Shiva2199 opened #5203 "upstream_reset_before_response_started{connection_failure,TLS_error:_268435612:SSL_routines:OPENSSL_internal:HTTP_REQUEST}"
**Bug description**:
We have installed OSM on Azure, we are facing issue with one of our service where serviceB is not able to call serviceA where both services are inside mesh. I have created httproutegroup and traffictarget but still we see below errors in envoy and osm-controller.

ENVOY:
{"start_time":"2022-10-14T04:54:00.738Z","upstream_service_time":null,"protocol":"HTTP/1.1","request_id":"b

[2022-10-14 12:13] keithmattix commented on #5203
Are the services in question headless services? OSM didn't support headless services at all until v1.2

[2022-10-14 14:28] Shiva2199 commented on #5203
no they are not headless services

[2022-10-14 16:01] keithmattix commented on #5203
If you're running OSM on Azure via the addon, please open a support ticket so that we can best debug this issue. Thanks

[2022-10-14 23:47] jaellio opened #5205 "Validate simplified root cert rotation process"
Update the validating webhook to perform additional validation on the MeshRootCertificate. Currently, there is only basic MRC validation. With the changes included in #5201 validation can be added to help enforce the proper initialization and rotation of MRCs to facilitate root certificate rotation.

Validation to add:
- check valid MRC intent combinations
- allow at most 2 active MRCs
- verify al

[2022-10-15 00:31] jaellio opened #5206 "Create e2es for root certificate rotation MVP"

[2022-10-17 02:38] lam-man commented on #5079
- Result update: **I think this issue is blocked due the memory limitation of our CI environment (VM for Github Actions).**
    - Result of `free -m` for VM:
[code]
- Suggestion: Increase the memory limit for Github Action VMs.
- Details:
    - The first thought I had is that `govulncheck` will check modules parallelly and consume more memory than expected. I then ran the command `govulncheck` mod

[2022-10-17 18:16] #4999 closed

[2022-10-17 19:52] #5176 closed

[2022-10-17 22:24] shalier commented on #5159
Blocked on https://github.com/openservicemesh/osm/issues/5099, when switching to using the compute client `getHashiVaultOSMToken` fails because computeClient.GetSecret uses the informer and returns not found since the secret doesn't have the label that the informer filters on.

[2022-10-19 11:26] odidev commented on #4716
As per your comment here the images which need to be updated are [kennethreitz/httpbin](https://hub.docker.com/r/kennethreitz/httpbin/) and [songrgg/alpine-debug](https://hub.docker.com/r/songrgg/alpine-debug). I have looked into it and found that the last update of both the images in dockerhub and GitHub is around 4 and 6 years respectively.

Can we replace them with some other images as they may

[2022-10-19 18:12] jsturtevant opened #5214 "OSM CLI command support for automated root cert rotation"

[2022-10-19 18:12] jsturtevant commented on #5214
implemented by #5207

[2022-10-19 22:03] shalier opened #5217 "Update the release guide"
**Please describe what should be documented**
Add the commands used for backporting issues to the release branch

**Please suggest where in the repo the document should be located**

[2022-10-20 00:22] #4993 closed

[2022-10-20 00:22] #4992 closed

[2022-10-20 00:22] #4991 closed

[2022-10-20 00:22] #4987 closed

[2022-10-20 15:33] nshankar13 opened #5219 "Remove pkg/debugger dependency on meshcatalog"
The debugConfig should no longer be coupled to a meshcatalog object. This will require invoking methods such as `ListTrafficSplits()`, `ListServiceAccountsFromTrafficTargets()`, etc from the compute client.

**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Acce

[2022-10-20 15:45] vijaygos opened #5221 "Ability to by-pass proxy for egress traffic"
**Please describe the Improvement and/or Feature Request**
Currently there is no way to by-pass traffic routing through proxies. If OSM is deployed for a specific namespace or workload, all traffic in that namespace is routed through the OSM proxy.
We need to a way to specify an IP based exception list either through an opt-in model or opt-out model to be able to by-pass proxies when needed.

**Sc

[2022-10-20 16:05] shashankram commented on #5221
Hey @vijaygos, this is already supported in OSM.

Take a look at:
[Outbound IP range exclusions](https://release-v1-2.docs.openservicemesh.io/docs/guides/traffic_management/iptables_redirection/#outbound-ip-range-exclusions)
[Outbound IP range inclusions](https://release-v1-2.docs.openservicemesh.io/docs/guides/traffic_management/iptables_redirection/#outbound-ip-range-inclusions)

[2022-10-20 16:12] jsturtevant commented on #5206
closing in favor of #4835

[2022-10-20 16:12] #5206 closed

[2022-10-20 16:15] #5158 closed

[2022-10-20 16:17] jsturtevant commented on #4998
For more details, please review the [Simplified Proposal for Manual Root Cert Rotation MVP](https://docs.google.com/document/d/1bh3Yfn5DXWjmzdKa4XHlk-9KepUNb_EgDDrzd1G_deY/edit#heading=h.86n6n6h1rqmo)

[2022-10-20 16:17] jsturtevant commented on #5198
closing in favor of #4998

[2022-10-20 16:17] #5198 closed

[2022-10-20 16:37] jaellio opened #5222 "Rename MRC intent -> role"
Related discussion: https://github.com/openservicemesh/osm/pull/5201#discussion_r997197274

[2022-10-20 18:16] shashankram opened #5223 "Make app protocol detection of service port less error prone"
**Please describe the Improvement and/or Feature Request**
Currently, OSM implicitly uses http as the app protocol for a k8s service port if it can't derive the port's protocol using the `appProtocol` field or from the port's name.
https://github.com/openservicemesh/osm/blob/ee7e846a2ff0005f962e8bd867944c3f2a46b6f7/pkg/compute/kube/client.go#L511-L525

It's possible for a k8s service to use the sa

[2022-10-20 20:55] jaellio opened #5226 "Optimize MRC event handling on startup"
In response to each MRCEvent the MRC reconciler lists all MRCs in the mesh. Listing all MRCs for each event is done to achieve a level-triggered design. On startup or restart, each existing MRC triggers a create event resulting in O(NM) operations, where N is the number events and M is the number of MRCs in the mesh. This could potentially have an impact on the mesh's performance.

One approach to

[2022-10-20 22:28] #5217 closed

[2022-10-21 18:07] shashankram opened #5229 "Unit test TestGetInboundMeshTrafficPolicy flakes in CI"
**Bug description**:
Unit test
TestGetInboundMeshTrafficPolicy/multiple_services,_SMI_mode,_1_TrafficTarget,_1_HTTPRouteGroup,_1_TrafficSplit_and_multiple_trust_domains flakes in the CI.

[code]

Failed run: https://github.com/openservicemesh/osm/actions/runs/3299314699/jobs/5442591548

**Affected area (please mark with X where applicable)**:
- Tests                      [X]

[2022-10-21 18:09] shashankram commented on #5229
@nshankar13 assigning this one to you as this test started to flake after the recent refactoring.

[2022-10-21 18:23] jsturtevant commented on #5229
is there a link to where it failed?  This might be after I added this test.  @shalier reported it to me as well, but wasn't able to reproduce with `go test -run=TestGetInboundMeshTrafficPolicy -count 30` or `go test -run=TestGetInboundMeshTrafficPolicy -race`

[2022-10-21 18:27] shashankram commented on #5229
I reran the test in the CI so it overwrote the previous run.
I thought I pasted the error but it seems like it didn't correctly get copied to my clipboard!

Could you share the change that you think might have caused this?

[2022-10-21 18:30] jsturtevant commented on #5229
this test was introduced in https://github.com/openservicemesh/osm/pull/5193

[2022-10-21 18:32] shashankram commented on #5229
@jsturtevant I was able to retrieve the logs. Seems like Github preserves the logs from older runs now. I updated the description with more info.

[2022-10-21 18:32] shashankram commented on #5229
Thanks, assigned it to you. Hopefully, the logs suffice.

[2022-10-21 18:51] jsturtevant commented on #5229
The way the certificates are rotated for this test is changing in #5201 which is close. Will revisit if we continue to see it after that merges.

[2022-10-21 19:10] #5223 closed

[2022-10-21 20:39] jsturtevant commented on #4893
With the new design in #5201, we implicitly support this since I user could move from one stage to another. If we have a fully automated solution, we can revisit this as part of the design there.

[2022-10-21 20:39] #4893 closed

[2022-10-21 20:40] jsturtevant commented on #5190
not currently needed, may revisit componentStatuses later

[2022-10-21 20:40] #5190 closed

[2022-10-21 20:41] jsturtevant commented on #5181
not currently needed, will revisit componentStatuses at later point

[2022-10-21 20:41] #5181 closed

[2022-10-21 20:43] jsturtevant commented on #4890
rotation as initial mvp is covered in https://github.com/openservicemesh/osm/pull/5207

Status is something to do in next phase.

[2022-10-22 00:22] #4994 closed

[2022-10-22 00:22] #4965 closed

[2022-10-23 00:23] #4986 closed

[2022-10-24 18:01] trstringer commented on #4845
@schristoff, can you investigate and see if we're still seeing this behavior and if the log line is logged from @keithmattix's message? Thanks!

[2022-10-24 18:02] trstringer commented on #4845
Sizing it as `size/S` because it is just verification/validation at this point. We can/should resize if we uncover this problem still exists and needs a code change.

[2022-10-25 11:07] adprakash4 opened #5231 "Egress traffic fails due to duplicate filter chains resulting from headless service configuration with OSM version 1.2.1"
**Bug description**:
With OSM version 1.2.1, we are seeing that even though egress is enabled in the mesh config. Envoy is blocking all the outgoing traffic from the Pod.

Due to that we are not able to achieve the initial Readiness in some our pods.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Polic

[2022-10-25 16:45] nshankar13 commented on #4925
Update: The traffic policy objects have been broken up in favor of individual methods in `pkg/catalog` traffic_policies files (ex: GetInboundMeshConsterConfigs, GetOutboundMeshClusterConfigs, etc). However, we still want these methods to be part of a separate builder object (InboundMeshTrafficPolicyBuilder, for instance) rather than being coupled with the meshcatalog itself.

[2022-10-26 04:20] jagojar opened #5232 "kubectl patch meshconfig does not work"
**Bug description**:
In the documentation at url: https://release-v1-0.docs.openservicemesh.io/docs/getting_started/traffic_policies/

Command to update the **enablePermissiveTrafficPolicyMode** does not work

I have used:
kubectl patch meshconfig osm-mesh-config -n osm-system -p '{"spec":{"traffic":{"enablePermissiveTrafficPolicyMode":true}}}'  --type=merge

I get the following error message:
Err

[2022-10-27 04:42] mudit-01 commented on #4903
working on this pls don't close

[2022-10-27 08:54] mudit-01 commented on #5166
Hi @steeling I can work on it.

[2022-10-31 00:19] #5008 closed

[2022-10-31 00:19] #5002 closed

[2022-10-31 07:11] mudit-01 commented on #4903
@keithmattix For this issue is there specific bundled chart that is required like contour or there is some other expectation?

[2022-10-31 14:55] keithmattix commented on #4903
@mudit-01 just contour! We need an E2E test (similar to the existing ones) that tests that requests can be made to contour after installing the helm chart

[2022-11-02 00:17] #4990 closed

[2022-11-02 00:17] #4989 closed

[2022-11-02 00:17] #4988 closed

[2022-11-02 22:15] jsturtevant opened #5236 "Move Service Identity expansion to PrincipalIdentity to XDS config generators for inbound traffic policy"
**Please describe the Improvement and/or Feature Request**

We expand the Identity to a Principal during proxy configuration generation except during generation of the inbound_traffic_polocies:

https://github.com/openservicemesh/osm/pull/5160#discussion_r987153057

https://github.com/openservicemesh/osm/blob/main/pkg/catalog/inbound_traffic_policies.go#L198-L206

this layer in our abstractions do

[2022-11-02 23:08] jsturtevant opened #5237 "Avoid setting default meshroot certificate if one is already present in the cluster"
**Please describe the Improvement and/or Feature Request**

If the default meshrootcertificate is rotated out and the bootstrapper restarts then it will then attempt to recreate the default meshrootcertificate. Once validation (#5220) is in place this will fail causing the bootstrapper to crashloop.

One way to solve this would be to check if there are any `Active` Meshroot certificates and don't

[2022-11-03 01:16] schristoff commented on #4845
Heya all,
I attempted to reproduce the error above and I am no longer seeing it.
I am going to close this issue, and if any of y'all see the issue again please open a new issue with reproduction steps so we can continue to assist.

Thank you!

[2022-11-03 01:16] #4845 closed

[2022-11-03 12:10] alexanderxc commented on #4408
@SoerenHenning, the solution is highlighted herein. In short, just deploy a yaml similar to the following after you create the namespace and before you deploy rook:

[code]
You might add this to the common.yaml if you are not using helm.

Best,
A

[2022-11-03 19:24] #5219 closed

[2022-11-04 17:02] SanyaKochhar opened #5239 "Update DESIGN.md to reflect changes made during refactoring"
A number of components and interfaces in the repo have changed with refactoring (ex: MeshCatalogger, MeshSpec, Endpoints provider interfaces). These changes need to be reflected in [DESIGN.md](https://github.com/openservicemesh/osm/blob/main/DESIGN.md).

[2022-11-04 17:20] jaellio commented on #5156
Updating to size/M to reflect the amount of work required to create all 3/4 PRs.

[2022-11-07 09:54] lorenzo-biava opened #5240 "Allow per-workload resource req/limit for sidecar injection"
**Please describe the Improvement and/or Feature Request**

Currently, the injected Envoy's resource req/lim can be set globally via the MeshConfig.
However that setting is pretty limited, and does not take into account workloads (Deployments/STS/DS) that can perform very differently in terms of traffic, and would require substantially different settings.
Also those values have side-effects on the

[2022-11-07 17:15] #5203 closed

[2022-11-07 17:34] shashankram opened #5241 "Allow specifying the removal of HTTP query string from access logs"
**Please describe the Improvement and/or Feature Request**

Currently, OSM does not have a way to remove query string from the reuqest path that is a part of the access log. For example, consider the below access log:
`[2022-10-19T20:23:53.392Z] authority=httpbin.httpbin:14001 path=/get?secret=password bytes_received=0 bytes_sent=0`

Since it's possible for the query string to contain sensitive in

[2022-11-07 19:39] #5136 closed

[2022-11-07 21:32] ksubrmnn opened #5242 "OpenShift nightly job fails"
**Bug description**:
The [OpenShift nightly job](https://github.com/openservicemesh/osm/actions/workflows/openshift-nightly.yml) has been failing with a timeout. This job runs the e2es against the OpenShift cluster.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy

[2022-11-07 22:05] #4998 closed

[2022-11-08 16:53] SanyaKochhar commented on #5156
1. Migrate NewMockMeshCataloger to NewMockInterface - addressed in #5233
2. Remove the MeshCatalogger interface - addressed in #5244
3. Move the compute.Interface and NewMockInterface to the catalog package - addressed in #5244

[2022-11-09 01:07] jsturtevant commented on #4745
Another approach that can enable this without removing immediately would be to use the `osm.vault.tokenSecretName` on the MRC and if not found look it up. This is the approach taken in #5027. Once we have this transition can then remove in a later release.

[2022-11-09 08:49] lorenzo-biava opened #5246 "osm-healthcheck (v1.1.2) should not run as root"
**Bug description**:

Injected osm-healthcheck container runs as root (at least on v1.1.2 -- note that OSM is running v1.2.1, so there might also be some inconsistencies between the image versions).
It should be run under a different user. The container image is built with "user: 0" and it's injected without specifying a different runAsUser.

This leads to the Pod being rejected by security polici

[2022-11-09 13:51] lorenzo-biava commented on #4845
@keithmattix Similar situation. All bootstrap secrets are missing OwnerRef and are left behind.
I can see these logs from https://github.com/openservicemesh/osm/blob/v1.2.1/pkg/k8s/announcement_handlers.go#L57 :

```Failed to get secret fabric-benchmark/envoy-bootstrap-config- mounted to Pod fabric-benchmark/apps-sync-job-ccss-poller-benchmark-27800000-9hz2s```

A lot of these for different worklo

[2022-11-09 14:03] keithmattix commented on #4845
@schristoff lorenzo appears to be experiencing this bug

[2022-11-09 16:50] rcpandula opened #5247 "Unable to connect to grps end point using nginx endpoint"
**Bug description**:
I am using the docker-desktop and enabled the kubernets to deploy some of the microservices. as part of my testing, I have deployed a sample grpc service and created the ingress endpoint which is working fine with below configuration.
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-test
  labels:
    app: demoservice-v10
  annotations:
    kubernetes.io/i

[2022-11-11 02:18] rcpandula commented on #5247
Hi,

Any updates on this issue...? anybody is using the nginx with OSM...?

Thanks
Rama.

[2022-11-11 16:52] shashankram commented on #5247
The following errors are false alarms and can be ignored:

[code]

The below error likely implies a misconfiguration:
[code]

Could you share the bug report using the `osm support bug-report` command so we can diagnose this further.

Thanks

[2022-11-14 00:15] #5031 closed

[2022-11-15 00:16] #5080 closed

[2022-11-15 11:15] rcpandula commented on #5247
Hi,
I have tried running the given command below is the output:
PS C:\Users\ramachandraiah.pandu\Downloads\osm-v1.2.2-windows-amd64\windows-amd64> .\osm.exe support bug-report
[+] Created staging dir C:\Users\RAMACH~1.PAN\AppData\Local\Temp\osm_bug_report_1935124464 to generate bug report

[+] Collecting information about meshed namespaces
✓ Finished generating report for meshed namespaces

[+] Co

[2022-11-15 11:38] rcpandula commented on #5247
Also, i have attached the envoy proxy log from the target pod (i.e. periodicscript).
[envoyproxy_log.zip](https://github.com/openservicemesh/osm/files/10012249/envoyproxy_log.zip)

In this case, the ingress controller (nginx) pod IP is : 10.1.4.214 and periodicscript pod ip: 10.1.4.216. When ingress endpoint is accessed through browser, the request is reaching to envoy proxy in periodicscript, but

[2022-11-15 17:06] shashankram commented on #5247
For some reason the bug-report does not contain the dumps from the application namespace and deployments.

Could you try to generate the bug report again by explicitly specifying the application namespace and deployment/pod info as noted below. Also for Windows, you need to specify the zip extension for the output file:
[code]

[2022-11-16 09:31] rcpandula commented on #5247
Hi,  I have ran the below command and generated the bugreport2.zip

.\osm.exe support bug-report --app-namespaces uop --app-deployments uop/periodicscript --app-pods uop/periodicscript-v10-c7c54c8c-2z64v --ingress -o bugreport2.zip

The file is attached here.
[bugreport2.zip](https://github.com/openservicemesh/osm/files/10020128/bugreport2.zip)

[2022-11-16 09:32] rcpandula commented on #5247
One thing to note that the i have tried by modifying the "enableIngressBackendPolicy: true (or) false "  in meshconfig, but nothing is working.

[2022-11-16 09:35] rcpandula commented on #5247
You can ignore below messages from osm-system-controller log.
"Could not list endpoints of the source service osm-system/osm-contour-envoy specified in the IngressBackend uop/periodicscripttest"

I was trying to verify the ingress with contour, but didnt work. ALso, i forgot to remove these backends.

[2022-11-16 22:08] #5241 closed

[2022-11-17 06:54] mudit-01 commented on #5166
Is it still open to work on?

[2022-11-17 08:48] lorenzo-biava opened #5252 "Support Headless Services for Deployments as well"
**Please describe the Improvement and/or Feature Request**

Support for K8s Headless services has been introduced with https://github.com/openservicemesh/osm/issues/3477

However the same kind of support would be helpful for K8s Deployments as well.

To avoid overloading the generated Envoy config and increase resource consumption (most likely it needs to be a Listener per backend Pod?), the featu

[2022-11-17 08:48] lorenzo-biava commented on #5252
@keithmattix FYI

[2022-11-17 12:54] rcpandula commented on #5247
Hi @shashankram, could you please let me know your analysis on this issue...?

Thanks
Rama.

[2022-11-17 17:49] shashankram commented on #5247
@rcpandula could you clarify the service for which ingress is failing? The bug description indicates it pertains to the ` demo/demoservice-v10` service, however the logs are not collected for this service and its deployment. Please collect a bug-report for the corresponding namespace and app deployments as the report provided only has the logs for the app namespace `uop`.

[2022-11-17 18:28] shashankram commented on #5247
Also please collect the logs right after reproducing the issue.

[2022-11-18 04:54] rcpandula commented on #5247
Hi @shashankram, the issue is with the uop/periodicscript-v10 service. THis is the reason, I have collected the bug report for this service.

I have a ingress endpoint periodicscript service and i am trying to access from the browser. The call has reached to envoy side car proxy in periodicscript pod, and the envoy proxy accepted the new connection, but it also looking for the entry in the filter

[2022-11-18 12:09] rcpandula opened #5253 "Failed to update the 'useHttpsIngress' in osm-mesh-config"
**Bug description**:
I am trying to set the 'useHTTPSIngress:true' in osm-mesh-config by using the below kubectl command, but it is failling with below error:
strict decoding error: unknown field "spec.traffic.useHTTPSIngress"
The complete error log:
# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving

[2022-11-18 12:16] rcpandula commented on #5247
One more thing, i am trying to set '    useHTTPSIngress: true' in osm-mesh-config, but for somereasons it is failling. It is giving 'strict decoding error: unknown field "spec.traffic.useHTTPSIngress"' error.

I am using OSM v1.2.2 release version.

[2022-11-18 17:36] shashankram commented on #5253
`useHTTPSIngress` was deprecated many releases ago. Please refer to the [HTTPS ingress demo] on how to configure HTTPS with IngressBackend API.

Thanks

[2022-11-18 17:36] #5253 closed

[2022-11-18 21:56] shashankram commented on #5247
@rcpandula I looked at the `periodicscript-v10` service, and unfortunately the logs collected include the invalid Contour configuration you were experimenting with:
[code]

Kindly ensure only 1 IngressBackend resource is applied for the given backend service. Could you reproduce this issue without the test/Contour configuration as originally seen, and collect the support bundle pertaining to the o

[2022-11-20 00:16] #5121 closed

[2022-11-20 00:16] #5120 closed

[2022-11-20 00:16] #5118 closed

[2022-11-20 00:16] #5117 closed

[2022-11-20 00:16] #5111 closed

[2022-11-21 06:05] rcpandula commented on #5247
[bugreport_Current.zip](https://github.com/openservicemesh/osm/files/10053824/bugreport_Current.zip)
hi @shashankram, just now ran the setup with cleanstate and captured the logs. Please find the attached file for details.

FYI... this is development environment which contains various services in the uop namespace. By default as part of the skaffold, we are creating the default ingress endpoints f

[2022-11-21 15:56] rcpandula commented on #5247
Updated with additional log messages for ingress controller. Enabled trace for ingress controller.
[bugreport_Latest.zip](https://github.com/openservicemesh/osm/files/10058034/bugreport_Latest.zip)

[2022-11-21 17:44] #5237 closed

[2022-11-21 19:42] stephaneey opened #5254 "Documentation issue - broken link - OPA plugin"
Hello,

This page https://release-v0-11.docs.openservicemesh.io/docs/guides/integrations/external_auth_opa/ refers to a link that is broken in the following section:

[code]
The link returns a 404 and it doesn't seem to be any OPA-related doc anymore.

[2022-11-21 20:11] #5205 closed

[2022-11-21 21:34] shashankram commented on #5247
I looked at the bug report provided in https://github.com/openservicemesh/osm/issues/5247#issuecomment-1321505402 and noticed that the `periodicscript-v10` backend does not have an IngressBackend. The only IngressBackend resource available pertains to `periodicscript-test`, which is not the service we are debugging.

Could you please check if you have correctly deployed the IngressBackend resource

[2022-11-22 00:15] #5119 closed

[2022-11-22 00:15] #4737 closed

[2022-11-22 00:15] #2392 closed

[2022-11-22 07:28] rcpandula commented on #5247
Hi,
I have recaptured the bugreport after cleanup of old ingress. Now the new ingress periodicscript-v10 has backend for periodicscript service.

the logs are attached
[bugreport_3.zip](https://github.com/openservicemesh/osm/files/10064904/bugreport_3.zip)

[2022-11-22 07:30] rcpandula commented on #5247
@shashankram , can you please explain why we get below logs from the envoy...?
[2022-11-21 05:52:13.990][23][debug][filter] [source/extensions/filters/listener/tls_inspector/tls_inspector.cc:88] tls inspector: new connection accepted
[2022-11-21 05:52:13.990][23][trace][filter] [source/extensions/filters/listener/tls_inspector/tls_inspector.cc:175] tls inspector: recv: 750
[2022-11-21 05:52:13.990

[2022-11-22 08:48] stephaneey commented on #5254
Hello,

Sorry, it is indeed a broken link but I just replaced the old version with the last stable one, meaning 1.2. So, the link is the following:  https://release-**v1-2**.docs.openservicemesh.io/docs/overview/

[2022-11-22 19:26] shashankram commented on #5247
Based on the annotation  `nginx.ingress.kubernetes.io/backend-protocol: GRPC` on your ingress resource, it seems like Nginx is not encrypting the connection from the ingress pod -> backend service, but your backend service is configured to accept encrypted traffic based on the following in your IngressBackend config:
[code]

Please ensure the traffic is being encrypted when Nginx proxies the traff

[2022-11-22 22:19] #5214 closed

[2022-11-23 16:03] rcpandula commented on #5247
Hi @shashankram , based on your input i have modified the protocol to GRPCS and enabled tls passthrough for ingress controller.
Now envoy returning error : PEER_DID_NOT_RETURN_A_CERTIFICATE

[2022-11-23 11:58:18.252][19][debug][filter] [source/extensions/filters/listener/tls_inspector/tls_inspector.cc:88] tls inspector: new connection accepted
[2022-11-23 11:58:18.252][19][trace][filter] [source/e

[2022-11-23 18:09] shashankram commented on #5247
Could you try `HTTPS` and see if you see the same?

[2022-11-28 00:14] #5007 closed

[2022-11-28 00:14] #4874 closed

[2022-11-28 07:34] rcpandula commented on #5247
I have tried same thing with sample https service 'httpbin' given by OSM, and it is working for that. It seems the problem is with the grpc services only.

Could you please let me know if there is anything need to be taken care at the service implementation side to work with OSM? Also, it this OSM tested with GRPC services ...? are there any examples...?

[2022-11-28 18:18] #5242 closed

[2022-11-28 18:56] jaellio opened #5257 "Separate MRC e2e tests"
Currently, the MeshRootCertificate e2es take [40 minutes to complete](https://github.com/openservicemesh/osm/actions/runs/3567506573/jobs/5995358389). I propose splitting the MRC e2es into separate buckets (they are all currently in bucket 11) to better distribute the work.

[2022-11-28 20:36] nshankar13 opened #5259 "OSM v1.2 Upgrade not working for CRD schema changes due to reconciler."
**Bug description**:

When upgrading from v1.1.1 (or any previous version of OSM that doesn't have the `httpRoutes` field in the `UpstreamTrafficSetting CRD` -> v1.2.2 with `enableReconciler: true` set upon both installation and upgrades (ex: `osm mesh upgrade --set` ...), the CRD schema change is not persisting - when testing locally, the osm bootstrap pod logs (via local dev version of osm-boots

[2022-11-28 23:25] shashankram commented on #5247
If that's the case, this seems to be something to do with how Nginx handles `HTTPS` vs `GRPCS` as a backend protocol. From OSM's perspective, only HTTPS based connections are allowed, and gRPC would use HTTP2 so this should ideally work.

You may want to examine if Nginx handles gRPC differently when using TLS.

[2022-11-28 23:41] #5025 closed

[2022-11-29 00:15] #4632 closed

[2022-11-29 17:22] #5257 closed

[2022-11-29 20:09] #5026 closed

[2022-11-29 20:13] jsturtevant commented on #5030
spiffe certificates are now generated and used if enabled in MRC.  There are a few items in #5031 that would be needed to support SPIRE completely

[2022-11-29 20:13] #5030 closed

[2022-11-29 20:13] jsturtevant commented on #5034
completed in #5026

[2022-11-29 20:13] #5034 closed