[2020-08-24 22:21] #1609 closed

[2020-08-25 05:59] youngnick commented on #1415
Doing a first tryout of this myself, looks like @lachie83 got this one right, I did the "fix" listed in kubernetes/client-go#242, built a dev version, and `osm install` then worked fine on a GKE cluster.

The "fix": importing client-go auth plugins in `cmd/cli/install.go`.
[code]

Seems pretty dirty, but it *is* a fix.

[2020-08-25 16:02] shashankram commented on #1415
A PR is very much welcome @youngnick :-)

[2020-08-25 19:28] shashankram opened #1617 "Decouple automatic sidecar injection from namespace monitoring"
**Please describe the Improvement and/or Feature Request**
Currently, when a namespace is labeled with `openservicemesh.io/monitored-by` label, the namespace is enabled for automatic sidecar injection.

Based on previous discussions, it was decided that it would be better to decouple automatic sidecar injection from the namespace monitoring. The use case is that to selectively onboard pods in a na

[2020-08-25 19:53] michelleN opened #1618 "osm mesh delete command should be able to take mesh name as an argument"
Right now, the `osm mesh delete` command is unable to take an argument. It presents a prompt instead to delete the mesh with mesh name "osm".

The command should be able to take a mesh name that the user wants to delete as an argument. If a user doesn't give an argument, they should be presented with the prompt.

[2020-08-25 19:57] snehachhabria opened #1619 "Enable liveness probe on osm-controller pod"
As of today the osm-controller pod has only the readiness probe enabled :
https://github.com/openservicemesh/osm/blob/49d2526c49ee70ceb56689c82a3969ee5e075d43/charts/osm/templates/osm-deployment.yaml#L63 . We would like to extend this out to enable the liveness probe as well.

The endpoints for the liveness and readiness probe have been enabled here : https://github.com/openservicemesh/osm/blob/92

[2020-08-25 22:24] ksubrmnn commented on #1618
It does! `osm mesh delete --mesh-name mesh3 --namespace osm2`

[2020-08-25 22:39] nitishm commented on #1619
I can take this on @snehachhabria

[2020-08-25 23:15] michelleN commented on #1618
@ksubrmnn ah thank you.

[2020-08-25 23:15] #1618 closed

[2020-08-25 23:16] michelleN opened #1622 "rename osm mesh delete to osm mesh uninstall"
"uninstall" seems a bit clearer and this is the terminology Helm uses for removing Kubernetes resources as well. Thoughts?

[2020-08-26 00:00] snehachhabria commented on #846
OSM now supports multiple services for one service account cause of the following changes : #1567 #1553

[2020-08-26 00:07] snehachhabria commented on #1619
@nitishm thanks for volunteering to take up this issue, I am still working on the exact list resources we want to validate/check  on for the readiness/liveness of the osm-controller. Once I have come up with that list and have updated the issue, you are free to work on it.

I hope to update this issue later this week,

[2020-08-26 14:08] #1522 closed

[2020-08-26 20:51] SanyaKochhar commented on #579
This issue requires that we write a CI test that verifies the weights for the backend services of a traffic split are programmed correctly. We do have a script that can get the envoy config: https://github.com/openservicemesh/osm/blob/main/scripts/port-forward-osm-debug.sh . @shashankram do you have any other recommendations?

[2020-08-26 20:51] SanyaKochhar commented on #579
@snehachhabria are you working on this?

[2020-08-26 21:18] SanyaKochhar commented on #448
PR #1358 changed the default container registry to point to public osm images.

Related feature work for issue #1416. Docs should be updated [here](https://github.com/openservicemesh/osm/blob/main/docs/development_guide.md#create-environment-variables)

[2020-08-26 21:19] SanyaKochhar commented on #289
@michelleN can you provide more details?

[2020-08-26 21:21] SanyaKochhar commented on #396
@draychev can you provide more details?

[2020-08-26 21:24] SanyaKochhar commented on #346
@draychev has this been resolved?

[2020-08-26 21:24] draychev commented on #396
@SanyaKochhar this issue was to literally add `auth.NewAuthorizerFromEnvironment()` the way this is done in another OSS project that [requires ARM access](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/2409b00d0a66d00b1b1570972b57d48f205ae6df/pkg/azure/auth.go#L47)

We could close this issue and resurrect the effort once we have the SMI primitives to bring VMs into the servic

[2020-08-26 21:24] #396 closed

[2020-08-26 21:26] SanyaKochhar commented on #290
@michelleN could you provide more details?

[2020-08-26 21:27] snehachhabria commented on #579
@SanyaKochhar nope I am not

[2020-08-26 21:29] draychev commented on #346
@SanyaKochhar this indeed it has been resolved.
This was implemented by https://github.com/openservicemesh/osm/pull/861

[2020-08-26 21:29] #346 closed

[2020-08-26 21:40] shashankram commented on #768
This is okay to close.

[2020-08-26 21:40] #768 closed

[2020-08-27 00:17] michelleN opened #1630 "How is MetricsStore Library being used"
@draychev - Can you explain a little bit about what `pkg/metricsstore` should be doing? I can't tell how it is being used. After a new `MetricStore` is created and passed in to create `NewHTTPServer`, I don't see that it is being used unless I'm missing something.

https://github.com/openservicemesh/osm/blob/main/cmd/osm-controller/osm-controller.go#L211-L213
https://github.com/openservicemesh/osm

[2020-08-27 00:58] cjaliaga commented on #1415
Currently having the same issue with an AKS cluster with AzureAD enabled, I think this fix should also mitigate that one :)

`panic: no Auth Provider found for name "azure"`

Thanks @youngnick!!

[2020-08-27 01:28] youngnick commented on #1415
Just have to jump through some CLA hoops before I can open the PR.

[2020-08-27 04:32] elsesiy commented on #1538
I can take this one up

[2020-08-27 14:31] michelleN commented on #289
I think we can close this out. We ended up building out a debug endpoint that conveyed most of the info we needed.

[2020-08-27 14:31] #289 closed

[2020-08-27 16:01] shashankram opened #1635 "osm-controller_test.go fails due to hardcoded certificate byte length with Go 1.15"
**Bug description**:
osm-controller_test.go failed in the CI for a PR that updates the Go version to 1.15: https://github.com/openservicemesh/osm/pull/1633

https://pipelines.actions.githubusercontent.com/FqYyUlFBwgcC4xlcAlRHSOZjGFqxSg5UdT6unwZ3oA6NkQIoht/_apis/pipelines/1/runs/6464/signedlogcontent/34?urlExpires=2020-08-27T16%3A00%3A24.1924727Z&urlSigningMethod=HMACV1&urlSignature=jrS8ptfBKjM00Rv

[2020-08-27 16:24] shashankram commented on #1635
The test hardcodes the byte length of the CA certificate:
https://github.com/openservicemesh/osm/blob/main/cmd/osm-controller/osm-controller_test.go#L35

This is not going to be reliable when the package versions are upgraded.

[2020-08-27 21:58] youngnick commented on #1415
Just to be clear here, I need to get internal signoffs for this, may take a while. If anyone else wants to pick up the change, feel free.

[2020-08-27 22:05] shashankram commented on #1415
Why do you need internal signoffs? Could you create a PR from your fork.

[2020-08-27 22:07] #1617 closed

[2020-08-27 22:54] #1635 closed

[2020-08-27 23:04] shashankram commented on #1016
This should be driven through `osm cli` if annotations are required on prometheus pods post install.

[2020-08-28 00:43] youngnick commented on #1415
It's for signing the CLA. :(

[2020-08-28 06:25] tharun208 commented on #85
@michelleN I ll pick this up

[2020-08-28 06:28] tharun208 commented on #85
@michelleN, having few suggestions, instead of having a separate CLI command to check for healthiness. Can we add one more column to the `osm list` command (#1598) e.g - AGE?

[2020-08-28 16:29] shashankram commented on #1415
@youngnick Could you open a PR, you should be able the sign the CLA on Github. Or is there some other issue I am not understanding?
If you have an open PR, I can help you with it.

Would love to see Contour ingress integration!

[2020-08-28 17:02] #846 closed

[2020-08-28 18:42] michelleN commented on #1630
I'm seeing now that it configures the the metrics store for the osm-controller related metrics like latency and the api event counter and that the metrics store has a specific handler that gets registered on the osm-controller's http server. 👍

[2020-08-28 18:42] #1630 closed

[2020-08-28 18:44] nojnhuh opened #1644 "Add flag to `osm install` to override arbitrary chart values"
**Please describe the Improvement and/or Feature Request**
Currently, whenever a new chart parameter is created, it must be surfaced as a flag to `osm install` to be controllable from the CLI. Adding a generic `--set` or similar flag like the one on [`helm install`](https://helm.sh/docs/helm/helm_install/) that takes a key/value pair would allow values to still be controlled from the CLI without r

[2020-08-28 19:20] SanyaKochhar commented on #975
Closing because checks have been removed

[2020-08-28 19:20] #975 closed

[2020-08-28 19:23] SanyaKochhar commented on #965
Resolved by #1009

[2020-08-28 19:23] #965 closed

[2020-08-28 19:26] SanyaKochhar commented on #959
This design doc outlines how to document this: https://github.com/openservicemesh/osm/blob/1ddaf0de718edc0fbe47c5dc19860f0046c53342/docs/design/uninstall_osm.md

[2020-08-28 19:27] SanyaKochhar commented on #922
Can we break this down into more specific issues?

[2020-08-28 19:31] SanyaKochhar commented on #917
There's some documentation [here](https://github.com/openservicemesh/osm/blob/6ee5c21190bf1aa43b49ec64b81ae9b74c65fc80/demo/README.md#demo-web-ui) on Jaeger

@nojnhuh what's the status on documentation for Zipkin and OpenTracking?

[2020-08-28 19:33] SanyaKochhar commented on #902
@snehachhabria what's the status on this?

[2020-08-28 19:35] SanyaKochhar commented on #892
@shashankram what is the priority of this feature?

[2020-08-28 19:35] nojnhuh commented on #917
I think that's all we were looking to add for now. I don't think we need anything for Zipkin or OpenTracing if we've settled on Jaeger. @draychev Is there any more you were looking to add for this issue?

[2020-08-28 19:36] SanyaKochhar commented on #890
@shashankram @aanandr @draychev what's the status of this issue?

[2020-08-28 19:37] SanyaKochhar commented on #878
@eduser25 are you working on this issue?

[2020-08-28 19:39] SanyaKochhar commented on #836
@snehachhabria @eduser25 is anybody working on this?

[2020-08-28 19:40] SanyaKochhar commented on #824
@michelleN is this work complete? Can we close this issue?

[2020-08-28 19:45] SanyaKochhar commented on #735
@shashankram could you add more details so others could potentially pick this up?

[2020-08-28 19:50] snehachhabria commented on #902
@SanyaKochhar we haven't yet started any work on this

[2020-08-28 20:20] draychev commented on #890
@SanyaKochhar I'd say this is in design phase.
We need to come up with a good software design as well as UX and implement.
In my opinion it would be a great addition to the greater SMI community to create a go package that can find SMI conflict snad surface them (somehow) to the operator.

[2020-08-28 20:23] draychev commented on #1630
@michelleN The goal of that package is to collect metrics (these are TBD) and expose them via a prometheus metric.
We should continue to augment this with metrics that are relevant to the osm controller.

[2020-08-28 20:24] draychev commented on #917
I'd definitely like to see a move thorough documentation on "Observability with OSM"
I am going to rename this Issue to reflect this.

[2020-08-29 13:09] michelleN commented on #824
Yea we can close this issue

[2020-08-29 13:09] #824 closed

[2020-08-30 22:53] youngnick commented on #1415
The only issue is that I need my work's legal to give me the all-clear on signing the CLA before I do. Once they've done that, I'll get everything PRed. It's only a one-line change, so it's no big deal, just got to make sure I do the legal thing right first.

[2020-08-31 03:12] rajdhandus commented on #1644
trying to contribute to this.. i am getting the following error while trying to build the project..

[code]

[2020-08-31 15:56] nojnhuh commented on #1644
Currently, our build doesn't support native Windows, but WSL should work. If we need to update the docs to make that more clear, feel free to open an issue or PR for that as well.

[2020-08-31 16:22] shashankram commented on #1644
@nojnhuh I see the value here, but also need to ensure the Helm chart values file is exposed to the end user (via documentation or other means) so they know how to fill in the set.

[2020-08-31 16:32] nojnhuh commented on #1644
@shashankram Helm has a `helm show values` command that takes a local path or URL pointing to a chart and displays its values.yaml. I think that is probably enough as I envisioned this mostly for advanced use cases and keep the existing flags for commonly used options.

[2020-08-31 16:35] shashankram commented on #1644
That's great. I guess we would also need a bit of logic for chart values that require validation, ex. `meshCIDRRanges`.

[2020-08-31 16:40] nojnhuh commented on #1644
I can't remember exactly how @michelleN refactored the validation, but if we validate everything once all the values are parsed and merged, the same validation could run no matter how the values were passed in.

[2020-08-31 16:41] shashankram commented on #1644
Currently certain validations are done on the install flags.

[2020-08-31 17:39] shashankram opened #1649 "Document how mocks are generated for unit testing"
With the introduction of gomock for mocking, document how to generate mocks.

[2020-08-31 18:45] shashankram commented on #1016
Needs a bit of discussion over implementation details.

[2020-08-31 18:47] shashankram commented on #1619
@nitishm I am picking this up since it is high priority for us, hope you don't mind. Will discuss with @snehachhabria on this.

[2020-08-31 19:00] shashankram commented on #1016
Prioritizing #1619 till we iron out the proposal.

[2020-08-31 20:07] nshankar13 commented on #1622
Agreed!

[2020-08-31 22:50] eduser25 opened #1653 "Fix Egress test flag"
Enabling egress testing seems to properly enable egress on deployment (by configuration on OSM and also on bookstore infra), but seems bookbuyer/thief are expecting the wrong value:

with `ENABLE_EGRESS="true"` in `run-osm-demo.sh`:
[code]

**Bug description**:

**Affected area (please mark with X where applicable)**:
- Tests                      [X]

**Expected behavior**:
No error. expected shou

[2020-08-31 22:56] shashankram commented on #1653
Don't quite understand the issue, but here is where the egress flag is set in the CI:
https://github.com/openservicemesh/osm/blob/main/demo/cmd/common/books.go#L38

While you are it, would you mind fixing this if it is not working as expected?

[2020-09-01 00:57] yaron2 commented on #1622
Hi, Dapr perspective here: we use `dapr uninstall` for the CLI to remove Dapr from a cluster (or local machine), and that came from early user feedback that `delete` is, as you alluded, a bit misleading in that you delete _resources_ and uninstall _deployments_.

[2020-09-01 01:21] eduser25 opened #1655 "Move GetResolvableServiceEndpoints to be endpoint-provider specifc"
https://github.com/openservicemesh/osm/pull/1645 introduced `GetResolvableServiceEndpoints` on the catalog, which attempts to provide a provider-agnostic way to get a resolvable destination for a Service on the mesh. What a "Resolvable Endpoint" is, and "how to get it" is after all dependent on the provider logically speaking.

The implementation however is not provided by an `endpoint provider` a

[2020-09-01 04:26] eduser25 commented on #1653
just synchronized to master and redeployed demo.

`.env`
[code]

[code]

[2020-09-01 16:14] shashankram commented on #1653
This is failing for you locally because when you enable egress, you also need to override the `EGRESS_EXPECTED_RESPONSE_CODE` in .env file as done in the CI.

[2020-09-01 16:14] #1653 closed

[2020-09-01 19:14] nojnhuh commented on #1471
@shashankram Is the bug label still appropriate here? From the description it doesn't sound like anything is broken.

[2020-09-01 19:27] nojnhuh commented on #1451
@evalsocket What exactly is involved with integrating with krew? If it's more than some simple configuration in goreleaser, can you separate that out into a different issue?

[2020-09-01 19:27] shashankram commented on #1471
Not a bug anymore because the port forwarding scripts work with the manual demo specs. We should converge though because its a maintenance hassle to manage a common set of scripts between the automated and manual demo spec files.

[2020-09-02 00:24] shashankram opened #1658 "Destination endpoints for a service that maps to multiple ServiceAccounts doesn't honor TrafficTarget policy"
**Bug description**:
Consider the following example:
- Service-X is backed by <Pod-1, SvcAccount-1> and <Pod-2, SvcAccount-2>.
-  Client-A (Service-A, SvcAccount-A) wants to access Service-X
- User configures single TrafficTarget policy to allow `src=SvcAccount-A, dst=SvcAccount-1`

_*Note: there is no traffic split configured_

OSM will translate the TrafficTarget policy to `src=Service-A, dst=Se

[2020-09-02 18:36] nojnhuh commented on #1658
@shashankram Do you think P1 or P2 fits better here? It looks like it's possible to workaround the issue, but I can see where this definitely needs to get fixed soon anyway.

[2020-09-02 18:48] nshankar13 commented on #1424
@SanyaKochhar is this resolved / ready to be closed?

[2020-09-02 18:54] nshankar13 commented on #1416
Hi @eduser25 , is this resolved / ready to be closed?

[2020-09-02 18:59] nojnhuh commented on #1407
Hi @Yogendra0Sharma, is this still in progress? I'm happy to help if you'd like.

[2020-09-02 19:11] nojnhuh commented on #1386
@bridgetkromhout Is this specific issue only about adding the packages link to the front page of the repo, or also about actually utilizing GitHub packages and publishing releases there?

[2020-09-02 19:16] nojnhuh commented on #1376
@draychev Are there any more PRs or issues related to this in flight? If so, could you keep linking back to this issue so we can keep track of those?

[2020-09-02 20:14] nojnhuh commented on #1361
@michelleN I know you were looking into a tool to generate release notes. Has that already been integrated?

[2020-09-03 20:40] shashankram commented on #1099
Not an issue anymore.

[2020-09-03 20:40] #1099 closed

[2020-09-03 21:13] shashankram commented on #810
Closing this since there is no use case for it at the moment. Permissive mode does not work in conjunction with SMI policies.

[2020-09-03 21:13] #810 closed

[2020-09-03 21:14] shashankram commented on #551
Will revisit when required.

[2020-09-03 21:14] #551 closed

[2020-09-03 21:15] #1186 closed

[2020-09-04 15:24] bettyjunod commented on #1500
will ping you both on slack if that's cool

[2020-09-04 18:50] #1649 closed

[2020-09-04 22:37] #1622 closed

[2020-09-08 00:36] chrisvugrinec opened #1670 "osm install does not work on AKS with integrated AAD"
**Bug description**:

When installing osm on an AKS cluster with the option integrated AAD, the osm installation gives the following error:
"Error: Could not access Kubernetes cluster. Check kubeconfig"

AKS is installed with terraform containing the following block:
  role_based_access_control {
    enabled = true
    azure_active_directory {
      managed = true
      admin_group_object_ids = [v

[2020-09-08 06:58] marcusschiesser opened #1671 "Add support for WebAssembly filters"
**Please describe the Improvement and/or Feature Request**
The Envoy proxies configured by OSM can be extended at runtime with filters that are running in a WebAssembly sandbox - similar like this Istio feature: https://istio.io/latest/docs/concepts/wasm/

I see two changes that need to be done to reach that goal:

1. Using an Envoy proxy version that contains the WASM sandbox: https://github.com/

[2020-09-08 17:19] michelleN opened #1672 "add unit tests for cmd/cli/dashboard.go"

[2020-09-08 17:26] michelleN opened #1673 "add unit tests for pkg/utils"
This is a package in OSM that contains some utility or helper functions that can be used across different packages.
https://github.com/openservicemesh/osm/tree/main/pkg/utils

[2020-09-08 19:06] shalier commented on #635
Closing for now, please reopen if this becomes a requirement

[2020-09-08 19:06] #635 closed

[2020-09-08 19:07] shalier commented on #978
This has been completed, closing issue.

[2020-09-08 19:07] #978 closed

[2020-09-08 19:12] michelleN commented on #922
Closing since it is no longer relevant. We can add issues for specific commands and patterns as needed.

[2020-09-08 19:12] #922 closed

[2020-09-08 19:15] shalier commented on #1150
@michelleN can you follow up on this issue?

[2020-09-08 19:29] #1619 closed

[2020-09-08 20:00] shashankram commented on #1228
Closing this, will revisit when needed.

[2020-09-08 20:00] #1228 closed

[2020-09-08 20:01] shashankram commented on #1021
This is the case now.

[2020-09-08 20:01] #1021 closed

[2020-09-08 20:42] #1221 closed

[2020-09-08 20:58] shashankram commented on #1528
@michelleN I unassigned myself since you suggested you can take this one.

[2020-09-09 17:00] nojnhuh commented on #1671
We have some ongoing work experimenting with WASM to extend the stats Envoy tracks so we can implement SMI's metrics spec. I have some code on my fork that is functional but still very much WIP: https://github.com/nojnhuh/osm/tree/envoy-wasm

What I have so far isn't designed to be generalizable to any WASM extension, but we have #1376 open to track using Envoy's xDS to configure each proxy more g

[2020-09-09 19:03] #1292 closed

[2020-09-09 23:40] draychev opened #1678 "Create documentation site: openservicemesh.io/docs"
Create a dedicated site for OSM documentation under https://openservicemesh.io/docs/

Here is a great example from the Helm project: https://helm.sh/docs/

[2020-09-09 23:50] draychev commented on #277
ref https://github.com/openservicemesh/osm/issues/1521

[2020-09-09 23:58] draychev opened #1680 "OSM Upgrade tooling + CLI"
This Issue is to implement the infrastructure, tooling, and CLI to perform an upgrade of an existing OSM installation.
For instance:
  - `osm check-update` could output `Current installed version: X;  Available new version: Y`
  - `osm update` could perform an upgrade of the existing OSM installation (what that means is TBD)

[2020-09-09 23:59] draychev commented on #1680
ref https://github.com/openservicemesh/osm/issues/893 https://github.com/openservicemesh/osm/issues/512 https://github.com/openservicemesh/osm/issues/1603

[2020-09-10 00:05] draychev opened #1681 "Decouple Identity of payload from Service Account"
Current iteration of OSM (and SMI) relies heavily on Kubernetes Service accounts to provide an identity for a given Pod (aka: payload, contianer, Envoy, proxy, etc.)
This issue is to research and implement a mechanism by which OSM could leverage alternative ways of providing an Identity to a given payload so that this could be done in the absence of a Kubernetes cluster (for instance).

This enabl

[2020-09-10 00:07] draychev commented on #1681
ref https://github.com/openservicemesh/osm/issues/286

[2020-09-10 00:10] draychev opened #1682 "Allow multiple k8s Services to exist under the same Service Account"
We launched OSM with the deliberate choice to couple one Service Account to a single Service. This made it easy to move fast in building out the ground work for OSM.

At this stage we realize that there are scenarious where multiple Services may be served by Pods within the same Service Account.

This Issue is to remove the deliberate constraint of 1 Service - to 1 Service Account and allow for on

[2020-09-10 00:13] draychev commented on #1682
ref https://github.com/openservicemesh/osm/issues/1550

[2020-09-10 02:04] eduser25 opened #1683 "Revisit mocking on dynamic operations"
Packages like `catalog/fake.go`provide a common initialization for testing some package component while mocking most dependencies of the component itself. This testing instance is oftentimes kept during different test instances.

The problem arises when different tests using the same context instance expect dynamic results results from the mocks that might operate underneath. In this cases, the in

[2020-09-10 02:30] eduser25 opened #1684 "Better API to list services based on filters"
We are missing a way to apply filtering on the `ListServices` API on the kubernetes package, similar to what the `selectors` that can be filled in on an API call to K8s API endpoints. Some services are not interested in seeing all services, and might just be interested ie. on services on a particular namespace. They currently are required to implement apply the filtering themselves.

Has to be res

[2020-09-10 20:28] snehachhabria commented on #1599
@nshankar13 please can  we update the necessary documentation too as a part of this issue. The PR #1648 fixes the issue but docs need to be updated

[2020-09-10 20:54] nshankar13 commented on #1599
@snehachhabria ok got it!

[2020-09-10 22:29] ksubrmnn commented on #1370
@michelleN @snehachhabria can you add more detail to this? Bit confused on the exact config needed to repro this issue as we have a CI test with no split already

[2020-09-15 00:07] draychev commented on #1006
This is now done - we have a ConfigMap.

[2020-09-15 00:07] #1006 closed

[2020-09-15 19:03] nojnhuh opened #1697 "Track ingress traffic with WASM metrics extension"
**Please describe the Improvement and/or Feature Request**

Currently, custom metrics captured by the WASM extension for SMI metrics are only recorded for in-mesh traffic. The same information like success/failure rates and latency per source/destination pod/workload/namespace would also be useful for ingress traffic.

**Scope (please mark with X where applicable)**
- New Functionality          [

[2020-09-15 19:06] nojnhuh commented on #984
Now this is basically complete. Only waiting on upstream Envoy to fully support WASM filters before merging. All code is on my fork: https://github.com/nojnhuh/osm/tree/envoy-wasm

[2020-09-15 19:16] nojnhuh opened #1698 "Merge stats WASM extension once supported in upstream Envoy"
Now that the work for #984 and #1540 is largely complete, we'd like to wait for WASM filter support to land in upstream Envoy before merging those changes.

OSM Stats extension: https://github.com/nojnhuh/osm/tree/envoy-wasm
SMI Metrics API server: https://github.com/nojnhuh/smi-metrics/tree/openservicemesh

[2020-09-15 19:17] nojnhuh commented on #1540
This work is basically complete. Only waiting to merge the changes required by #984 once upstream Envoy supports WASM filters. Code is on my fork: https://github.com/nojnhuh/smi-metrics/tree/openservicemesh

[2020-09-15 19:49] nojnhuh commented on #1540
Reopening until this is merged.

[2020-09-15 19:50] nojnhuh commented on #984
Reopening until this is merged.

[2020-09-15 19:50] nojnhuh commented on #1698
Reopening the. other issues to track merges there.

[2020-09-15 19:50] #1698 closed

[2020-09-15 20:21] draychev commented on #1528
Hey - we already have a demo for permissive mode. In fact you can see it here: https://vimeo.com/453990442
I believe we can close this.

[2020-09-15 20:25] draychev commented on #354
This is finished!

[2020-09-15 20:25] michelleN commented on #354
We can do #982 separately. Egress is marked done from an MVP point of view for now.

[2020-09-15 20:25] #354 closed

[2020-09-15 20:26] draychev commented on #602
This is done!

[2020-09-15 20:26] #602 closed

[2020-09-15 20:30] michelleN commented on #966
Resolved in #1018

[2020-09-15 20:30] #966 closed

[2020-09-15 20:33] shashankram commented on #1528
I think this issue is pertaining to documenting how to use the permissive mode feature.

[2020-09-15 20:33] draychev commented on #1035
ref https://github.com/openservicemesh/osm/issues/279
ref https://github.com/openservicemesh/osm/issues/1681

[2020-09-15 20:34] michelleN commented on #279
This is a bit repetitive and some of this work is captured in other issues (linked)

[2020-09-15 20:34] #279 closed

[2020-09-15 20:38] draychev commented on #1001
We bulit OSM with the assumption that certs are always used for Envoy-to-Envoy and Envoy-to-ControlPlane communication. It'd take some work to turn off mTLS. We are leaving this issue open to hear from the community and see whether folks are interested in implementing this.

[2020-09-15 20:40] michelleN commented on #1058
Can we close this @phillipgibson ?

[2020-09-15 20:43] michelleN commented on #1083
I believe this is already documented @phillipgibson. Can this be closed?

[2020-09-15 20:50] michelleN commented on #951
@shashankram - is this issue still something we need to tackle? cc/ @draychev

[2020-09-15 20:54] shashankram commented on #951
This is still required. Its a corner case that we don't handle.

[2020-09-15 21:07] michelleN opened #1700 "(root) Integrate OSM with Flagger"
Integrate Flagger with OSM so that OSM <> Flagger has progressive traffic shifting capabilities

[2020-09-15 21:15] michelleN opened #1701 "push helm chart to dockerhub as part of OSM release process"

[2020-09-15 21:22] michelleN commented on #1521
Would [this proposal](https://github.com/servicemeshinterface/smi-spec/pull/185/files) in the SMI spec cover all of our use cases? cc/ @shashankram @draychev

[2020-09-15 21:25] draychev opened #1702 "(root) Observability Story"
This is a top level Issue to help us track the Open Service Mesh observability. As of this writing we implement the minimal Jaeger integration (see demos). We need to design and implement a full suite of observability tools.

[2020-09-15 21:37] michelleN commented on #902
Next step: we need a list a metrics to return from the osm-controller

[2020-09-15 21:37] draychev commented on #1045
@fredstanley We split the original issue into
  - High Availability https://github.com/openservicemesh/osm/issues/1045 (this issue)
  - Scalability https://github.com/openservicemesh/osm/issues/291

We are going to focus on Scalability https://github.com/openservicemesh/osm/issues/1045 in the near term.

[2020-09-15 22:01] michelleN opened #1703 "Complete CNCF project on-boarding for OSM"
https://github.com/cncf/toc/issues/535

[2020-09-15 22:02] michelleN commented on #1703
@lachie83  - are you working on this? May I assign you?

[2020-09-15 22:13] SanyaKochhar commented on #1286
@lachie83 there seem to be some usage patterns documented now. Are these sufficient and if so, can this be closed?

[2020-09-15 22:23] SanyaKochhar commented on #1702
#917 (tagging for visibility)

[2020-09-16 13:36] michelleN opened #1704 "Use Go std testing library for unit tests"
**Background:**
Historically, we leveraged [Ginkgo](https://onsi.github.io/ginkgo/), a BDD style testing framework,  and [Gomega](https://onsi.github.io/gomega/), an assertion/matcher library best paired with Gingko, for unit tests but after using it for a while we discovered:

- This is a heavier and more verbose framework than we really need
- Using the Go standard testing package is easier to w

[2020-09-16 17:28] nojnhuh opened #1707 "Remove instances of log.Fatal in Ginkgo tests"
Using `log.Fatal` and other functions that call `os.Exit(1)` under the hood forces Ginkgo to exit early. `go test` still registers the tests as failures in that scenario, but Ginkgo's pretty error output is missing which can make spotting the specific failures a bit harder.

Instead of `log.Fatal`, prefer either a different log level followed by `GinkgoT().FailNow()` or `GinkgoT().Fatal()`.

[2020-09-16 18:09] bridgetkromhout commented on #1703
@michelleN I'll follow this through - thanks!

[2020-09-16 19:43] michelleN opened #1710 "Document how to run maestro locally"
**Please describe what should be documented

**Please suggest where in the repo the document should be located
docs/

[2020-09-16 19:57] nojnhuh commented on #1710
I have gotten the maestro to run locally if I ensure it starts running immediately after the book* apps are deployed to mirror the behavior of CI. The problem arises for me when I start the maestro after the apps have been up and running for a while. The bookbuyer and bookthief checks consistently work, but the bookwarehouse check fails because its success token (`Restocking bookstore with 1 new b

[2020-09-16 20:05] michelleN opened #1711 "create an e2e framework for osm"
This issue is to create and end-to-end testing framework for OSM.  The goal is to have a mechanism by which we can quickly and easily add new test scenarios. The tool should allow a user to spin up a Kubernetes cluster (via Kind) and run all the scenarios with one command.

### Further exploration required:
  - The tests can be potentially written/defined using Ginkgo/Gomega but this is not requir

[2020-09-16 20:22] michelleN opened #1714 "define and implement a set of e2e test scenarios for OSM"
This issue is to define a list of scenarious for the OSM end to end test system. These are scenarious we want to run before each PR is merged and before each release.

These scenarios should be defined in the document in the `./docs/e2e` directory.

### Sample scenarios:
  - bookbuyer can purchase books from bookstore with an SMI policy X
  - bookthief is not able to steal books from bookstore wit

[2020-09-16 20:25] michelleN commented on #290
added more details to the description.

[2020-09-16 20:30] snehachhabria commented on #1016
@shashankram is the proposal for this ironed out ? We might need to prioritize the work on this. cc @delqn

[2020-09-16 20:41] draychev opened #1715 "Ingest the TCP Route SMI for TrafficTarget; Configure Envoy w/ TCP traffic to endpoints"
This issue is to ingest SMI TCPRoute spec and configue Envoys with the appropriate TCP configuration.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs Policy   [X]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress

[2020-09-16 20:42] draychev commented on #1715
This is partially implemented by https://github.com/openservicemesh/osm/pull/1651

[2020-09-16 20:44] shashankram commented on #1715
@draychev I believe https://github.com/openservicemesh/osm/issues/1521 is used to track this. How is this one different?

[2020-09-16 20:47] michelleN opened #1716 "Ingest the TCP Route SMI for TrafficSplit; Configure Traffic Split for TCP"
**Please describe the Improvement and/or Feature Request**
This issue is to enable traffic splitting based on TCP routes. It will require us to read TCPRoute rules referenced in a TrafficSplit resource and configure Envoy accordingly.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Spe

[2020-09-16 20:47] draychev commented on #1715
Merged into https://github.com/openservicemesh/osm/issues/1521

[2020-09-16 20:47] #1715 closed

[2020-09-16 20:51] michelleN commented on #1716
This is not yet supported in SMI. woops. Will re-open after discussion in SMI.

[2020-09-16 20:51] #1716 closed

[2020-09-16 22:22] shashankram commented on #1016
I'll look into this and come up with a proposal.

[2020-09-16 23:10] SanyaKochhar commented on #1599
@nshankar13 I see there is PR #1690 for this, can this issue now be closed?

[2020-09-16 23:12] nshankar13 commented on #1599
yes

[2020-09-16 23:12] #1599 closed

[2020-09-17 19:18] ksubrmnn commented on #976
Have you been able to repro this? Can we close this issue?

[2020-09-17 20:20] draychev opened #1717 "Add a validation ensuring we are not adding Envoy sidecar to an already meshed pod"
This issue is to create / add a validation (maybe in the Webhook server) which makes sure that OSM is not adding a sidecar to pods that are already part of another mesh (OSM or other).

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
-

[2020-09-17 20:33] draychev opened #1718 "Create an endpoint returning mesh data plane health"
This issue is to add an HTTP endpoint on OSM Controller's debug server, which returns the health of the data plane of the mesh. This is to be used to quickly debug the mesh.

For instance:
- list all pods that are in a meshed namespace
- list the pods in the meshed namespace without an Envoy
- list pods with Envoys *not* connected to OSM control plane
- list current applied xDS version for all Env

[2020-09-17 20:39] draychev opened #1719 "Cleanup certificates for terminated Pods from OSM controller cache"
In the current version of OSM certificates stay in cache for the life time of the OSM controller.  Depending on the number of Envoys that have ever joined the service mesh over the duration of the pod of the OSM controller, memory consumption for the certificates cache could grow unbounded.

To ensure that memory reserved for certificate cache does not grow unbounded we need to remove stale certif

[2020-09-17 20:40] draychev commented on #1071
This is a great issue. Let's work on cleaning the caches and other OSM artifacts when a Pod is deleted / terminated. This is a much needed performance optimization. The goal wolud be to ensure we don't have ever-growing caches.

The idea is for the Endpoints provider to signal to the rest of the system that cache for a given endpoint needs to be cleaned up. Cert manager then could delete this cert

[2020-09-17 20:40] draychev commented on #1071
This issue depends on (is partially implemented by) #1719

[2020-09-17 20:47] draychev commented on #1260
Related to https://github.com/openservicemesh/osm/issues/507

[2020-09-17 20:50] #1598 closed

[2020-09-17 20:56] draychev opened #1720 "Add check in the OSM CLI for available updates / upgrades / new versions"
This issue is to implement an OSM CLI command, which performs an upgrade of the control plane (and data plane if necessary) to the latest available version. For example: `osm check-update` could output `Current installed version: X;  Available new version: Y`

The design of this feature must ensure that Kubernetes clusters with older versions of the SMI CRDs continue to operate untinterrupted.

Fo

[2020-09-17 21:16] michelleN commented on #1260
This requires a [design doc](https://github.com/openservicemesh/osm/tree/main/docs/design) before implementing.

[2020-09-17 21:20] michelleN opened #1721 "Use FluentBit to aggregate control plane logs and forward to a sink"
This issue is to collect logs in a non vendor specific way and push it to a log sink like Microsoft Log Analytics or any other log provider.

This is experimental work so we're just trying to get to alpha level functionality here. Whatever changes made should be configured via the osm helm chart and should be able to be toggled on and off.

[2020-09-17 21:31] draychev opened #1722 "Document OSM Readiness and Liveness health probes"
Please document the readiness and liveness probes.
See PR: https://github.com/openservicemesh/osm/pull/1659

[2020-09-17 21:38] draychev opened #1723 "Measure performance and scalability of OSM control plane"
This issue is to measure the performance and scalability of OSM control plane.
We need to document the measurements and then recommend improvements.

As part of this issue we need to:
  - [x] create a benchmarking tool / framework:  https://github.com/openservicemesh/osm/issues/1916
  - [x] document the findings of the tool and publish in the OSM repo
  - [x] define test scenarios and benchmarking

[2020-09-17 21:45] draychev opened #1724 "Add a flag to OSM install to enable Envoys to send data plane logs to OSM Control Plane"
This issue is to add a new flag to the OSM install command, which will make it so Envoy proxies send their logs to the OSM control plane instead of stdout. This will also become a ConfigMap key.
Default should be - Envoys send logs to stdout (do not send to control plane).

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traff

[2020-09-17 21:49] draychev commented on #1720
ref https://github.com/openservicemesh/osm/issues/893 https://github.com/openservicemesh/osm/issues/512 https://github.com/openservicemesh/osm/issues/1603

[2020-09-17 21:51] draychev commented on #1680
Closing this issue in lieu of https://github.com/openservicemesh/osm/issues/1720

[2020-09-17 21:51] #1680 closed

[2020-09-17 22:31] michelleN commented on #959
Note: description was recently updated to reflect next iteration of the uninstall command.

[2020-09-18 05:36] aanandr opened #1726 "--enable-sidecar-injection flag in the osm namespace add cli command doesnt work"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI Tool                   [ ]
- Metrics

[2020-09-18 08:15] wenxinnnnn opened #1727 "Unsetting sidecar injection annotation when the `namespace add` command is rerun without the flag"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI Tool                   [ ]
- Metrics

[2020-09-18 16:16] shashankram commented on #1726
@aanandr please fill in the bug template with the appropriate version details
[code]

You are likely using an older build, because this works with the demo.

[2020-09-18 16:23] shashankram commented on #1727
The behavior where the annotation is not removed is intended. If you want to remove the namespace from sidecar injection you need to first remove the namespace using `osm namespace remove` command, or manually remove the annotation.

The `osm namespace add` command is a command to add a namespace to the mesh, but optionally provides a way to annotate namespaces for sidecar injection using `--enabl

[2020-09-18 16:25] shashankram commented on #1727
Accidentally closed.

[2020-09-18 16:30] shashankram commented on #1727
When the following 2 commands are run in order, the question is whether we  want to disable the sidecar injection configured by command 1 because the `enable-sidecar-injection` flag is missing in command 2, both for the same namespace.
The current behavior does not unset the sidecar injection annotation set by the first command, and only can be unset using `osm namespace remove` command.

[code]

[2020-09-18 16:32] #1726 closed

[2020-09-18 18:11] wenxinnnnn commented on #1726
Yesterday, I also encountered this problem on win10, but macbook does not have this problem.
OSM version (use osm version): v0.3.0+
Kubernetes version (use kubectl version):  v1.16
@shashankram

[2020-09-18 18:13] shashankram commented on #1726
There is no release cut with this this change included., you need to build from source since we don't have a release with this change.

[2020-09-18 18:16] shashankram commented on #1726
What is `v0.3.0+`? Where did you get the cli binary from?

[2020-09-18 18:19] wenxinnnnn commented on #1726
On win10 system, this problem can be reproduced using the binary release version v0.3.0.
Is it the cobra problem?
v0.3.0+, I mean the current master branch.

[2020-09-18 18:23] shashankram commented on #1726
Could you open a new bug for windows build? What error are you seeing?
Also please specify the version as requested:
[code]

[2020-09-18 18:26] caniszczyk opened #1730 "Update to use CNCF Code of Conduct"

[2020-09-18 18:34] wenxinnnnn commented on #1726
Need to wait until the working day, because the company's computer is win10.
---
Just because I was discovering other bugs at that time, I clearly remember the same bug he found.
Error: unknown flag: --enable-sidecar-injection
OSM version (use osm version): v0.3.0    （Binary release downloaded from github）
Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"16+

[2020-09-18 18:41] shashankram commented on #1726
The binary available on github does not have the `--enable-sidecar-injection` option. It will be available in the next release.

[2020-09-18 18:56] shashankram commented on #1527
@michelleN  can we prioritize this, more folks keep running into this issue because our docs are not updated.

[2020-09-18 20:07] ksubrmnn commented on #1727
Perhaps --enable-sidecar-injection could take an optional parameter for true/false (default is true)

[2020-09-18 20:13] shashankram commented on #1727
We wanted the default to be false. The question is whether running the `namespace add` command multiple times should alter the state of sidecar injection configuration. The `--enable-sidecar-injection` flag is a convenience, so I am not very comfortable on unsetting previously set annotations.

[2020-09-18 22:16] ksubrmnn commented on #1727
I meant something like this

[code]

Should be possible using: https://godoc.org/github.com/spf13/pflag#FlagSet.Changed

[2020-09-18 23:19] shashankram commented on #1727
I don't quite get this, but one can still pass `--enable-sidecar-injection=<true|false>` with the existing code.
The question is whether a `namespace add` command should unset a previously set sidecar injection configuration, which I don't think is a good idea.

[2020-09-18 23:41] ksubrmnn commented on #1727
After syncing with @shashankram, we've both agreed that the workflow in the [above comment] (https://github.com/openservicemesh/osm/issues/1727#issuecomment-695110220) will work for this issue.

You can use

[code]

[2020-09-19 00:56] wenxinnnnn commented on #1727
The final result of the discussion is whether the label is deleted when the namespace add command is executed?

[2020-09-21 01:53] michelleN commented on #976
No I haven't been able to reproduce. Closing for now. Thnx

[2020-09-21 01:53] #976 closed

[2020-09-21 20:39] michelleN opened #1734 "add e2e test for cert-manager"
This issue is to add e2e tests around using cert-manager in osm.

[2020-09-21 21:56] michelleN opened #1735 "Define and document security process"

[2020-09-21 21:59] michelleN opened #1736 "Design OSM multi cluster experience"

[2020-09-22 16:38] #1016 closed

[2020-09-22 19:03] draychev opened #1740 "The enableDebugServer is constant for the life of a pod; Move this to ConfigMap to make this dynamic"
This issue is to move the `enableDebugServer` from the OSM controller CLI params to the ConfigMap.
As a OSM Controller CLI param to enable or disable debug server one would have to change the Deployment spec and redeploy.
As a ConfigMap the osm controller would not have restart.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI

[2020-09-23 00:31] youngnick commented on #1415
Okay, all approved, I opened the PR for this fix.

[2020-09-23 05:44] #1415 closed

[2020-09-23 08:44] wenxinnnnn opened #1742 "Failed to restart Pod, missing private key."
**Bug description**:
After successfully installing through the osm install command, and manually restarting the osm-controller pod(not Deployment), the pod cannot be restored to health.
The reason is that when osm was installed, private.key was not written to the secret (osm-ca-bundle).

**Affected area (please mark with X where applicable)**:
- Install                    [X]
- SMI Traffic Access

[2020-09-23 16:13] #1727 closed

[2020-09-23 16:45] nojnhuh opened #1744 "OSM controller assumes services are backed by Deployments"
**Bug description**: In [GetServicesForServiceAccount](https://github.com/openservicemesh/osm/blob/0b25a309406ae9a18e9ab40a0881c900f58133a5/pkg/endpoint/providers/kube/client.go#L109), service accounts are looked up only in Deployment objects, so applications deployed as bare pods (and presumably other workload kinds) will not be configured properly via ADS. Here are the specific errors I saw in t

[2020-09-23 17:00] shashankram commented on #1744
Related: https://github.com/openservicemesh/osm/issues/1180
@nojnhuh if its the same, please consolidate, thanks.

[2020-09-23 17:14] nojnhuh commented on #1744
Thanks @shashankram, I didn't find anything like this after a cursory search but figured there must've been something related. I think I can fix this issue independent of that one, but we find a solution that fixes both we can certainly combine these.

[2020-09-23 19:14] #1744 closed

[2020-09-23 20:43] phillipgibson opened #1746 "Look into using containerd for the container runtime"
**Please describe the Improvement and/or Feature Request**
Requesting the option of using containerd as the container runtime.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2020-09-24 00:55] draychev commented on #1180
ref: https://github.com/openservicemesh/osm/pull/1745

[2020-09-24 05:39] wenxinnnnn commented on #1740
I think there are more parameters in configmap that are suitable for hot reloading. For example: tracing_enable, prometheus_scraping, etc.
In addition, after each parameter is changed, it needs to be monitored by multiple users, so it is a burden to the user.
Is it better to automatically redeploy the pod after monitoring the configmap change?

[2020-09-24 16:19] shashankram commented on #1740
Except for `envoy_log_level`, all other parameters in the ConfigMap support hot reloading.

Eventually we would like the capability to turn on/off debug server without having to redeploy. For ex. we might need to turn the debug server on to troubleshoot an issue where we can't afford to redeploy causing traffic disruption. Something of this sort should not require redeployment just to enabling deb

[2020-09-25 08:58] patricekrakow opened #1749 "osm namespace add NAMESPACE does not enable automatic sidecar injection by default"
**Bug description**:
`osm namespace add NAMESPACE` does not enable automatic sidecar injection by default

**Affected area (please mark with X where applicable)**:
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Env

[2020-09-25 10:27] wenxinnnnn commented on #1749
Do you think it is an unreasonable design or a bug?
The current design does not take the --enable-sidecar-injection command to add namespace, only add monitoring.

The steps you provide to reproduce the error, are the results achieved like this?For details, please see #1727
osm namespace add bookstore # Do not enable sidecar injection/ Do not change sidecar annotation label
osm namespace add books

[2020-09-25 10:39] patricekrakow commented on #1749
The help of `osm` says that `--enable-sidecar-injection   Enable automatic sidecar injection (default true)`, and I was understanding the `(default true)` as the sidecar injection being done by default. But, thanks to your full explanation, I am starting to understand my misunderstanding...
However, now I am not understanding the purpose of `osm namespace add bookstore` if it does not inject the s

[2020-09-25 12:33] wenxinnnnn commented on #1749
Sidecar injection is only related to end-to-end distributed tracking.
For [observability](https://github.com/openservicemesh/osm/blob/main/docs/patterns/observability.md), you can look at the document here.

[2020-09-25 13:47] wenxinnnnn commented on #1749
Sorry, I should describe in more detail.
`osm namespace add bookstore` or `osm namespace add bookstore --enable-sidecar-injection=false` only means that the pod under the namespace does not automatically inject the sidecar. But you can pass `kubectl annotate pod <pod> openservicemesh.io/sidecar-injection=enabled`, enable sidecar injection on a pod.
About `osm namespace add bookstore`,i think that

[2020-09-25 15:10] patricekrakow commented on #1749
Thanks for your explanation. I am still wondering what _the namespace is monitored by osm_ actually means. It's just that in order to answer your question _Do you think it is an unreasonable design or a bug?_ I would like to understand what `osm namespace add bookstore` actually does. Because if it turns out that `osm namespace add bookstore` is doing nothing, then yes I would even question the ut

[2020-09-25 16:54] shashankram commented on #1749
By design, OSM requires you to first enroll name namespaces in a mesh. When you enroll a namespace via the `osm namespace add` command, it informs osm-controller to start monitoring k8s resources in that namespace. This allows multiple instances of osm-controller to exist within the same cluster without interfering with each other, as would be the case if 2 instances of osm-controller end up mutat

[2020-09-25 16:54] #1749 closed

[2020-09-25 16:58] shashankram opened #1750 "Update help text for the `--enable-sidecar-injection` flag in the osm install command"
**Bug description**:
For sidecar injection to be enabled as a part of `osm namespace add`, it must be explicitly set using
[code]

However, since the default is true in the help text, the flag needs to be explicitly passed in, without which sidecar injection would be disabled. This is confusing.

The change in the help text is as a result of https://github.com/openservicemesh/osm/pull/1728.

**Aff

[2020-09-25 16:59] shashankram commented on #1749
I opened https://github.com/openservicemesh/osm/issues/1750 to resolve the help text ambiguity
[code]

[2020-09-25 17:01] shashankram commented on #1750
@wenxinnnnn would you mind looking into this.

[2020-09-25 17:15] shashankram opened #1751 "Update release guide to reflect current release process"
**Please describe what should be documented
The existing release guide https://github.com/openservicemesh/osm/blob/main/docs/release_guide.md does not reflect the correct order of operations for a release. The doc needs to be updated.

**Please suggest where in the repo the document should be located
https://github.com/openservicemesh/osm/blob/main/docs/release_guide.md

[2020-09-25 18:02] michelleN opened #1753 "disable metrics stack by default in osm install and in osm chart"
At the moment, we deploy Prometheus by default which enables us to populate the pre-built Grafana dashboards via the `osm dashboard` command. Most folks already have a Prometheus instance running in their cluster and may want to leverage their own and not spin up a new instance which requires more compute. This issue is to disable the metrics stack (Prometheus and Grafana) in the default instance.

[2020-09-25 18:41] snehachhabria opened #1754 "Enforce a single OSM controller per cluster via a feature flag"
Provide a way to constrain OSM to a single mesh per cluster.

Reason: External addons might only want to run a single instance of OSM in their cluster at all times.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic

[2020-09-25 22:30] snehachhabria opened #1757 "enable serviceCertValidityMinutes in the configmap to make it dynamic"
As of today the `serviceCertValidityMinutes` is configurable only at the time of install, we want to make this configurable at any time. Hence this needs to be added to the configmap for osm

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy

[2020-09-26 10:24] wenxinnnnn commented on #1750
ok

[2020-09-26 13:27] wenxinnnnn commented on #1757
Assign this to me?

[2020-09-28 16:02] michelleN commented on #1681
Currently looking into how we can migrate to SPIFFE to help us make identity more flexible and pluggable in OSM.

[2020-09-28 16:29] draychev opened #1759 "Provide a way to prohibit certain namespaces from being enrolled in the service mesh (block injection)"
This issue is to develop the feature to provide a list of namespaces which will never be part of the service mesh and pods in these namespaces should never be injected with an Envoy side-car.  The list of namespaces should be left to the OSM operator.
One such namespace MUST be the namespace in which the OSM Controller is installed.

**Scope (please mark with X where applicable)**
- New Functional

[2020-09-28 20:46] eduser25 opened #1761 "Seeing webhook timeouts at sizes of more than 25 pods"
In some limit testing, I am seeing timeouts from the webhook at 25~30 pod mark.
I do not have a full root cause yet.

**Affected area (please mark with X where applicable)**:
- Sidecar Injection          [X]
- Tests                      [X]

**Steps to reproduce the bug (as precisely as possible)**:
Onboard several services, several deployments. See they keep succeeding til a moment where the k8s

[2020-09-29 03:29] michelleN opened #1762 "Create an osm CLI command that dumps proxy config for a given pod"
**Please describe the Improvement and/or Feature Request**
Create an osm CLI command that dumps proxy config for a given pod. This command needs further thought, design, and discussion.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]

[2020-09-29 16:35] michelleN opened #1763 "Design how to use SPIFFE in OSM for identity of a workload"
Related to and will inform #1681

[2020-09-29 16:46] michelleN opened #1764 "add attribution guidelines to CONTRIBUTING.md"
**Please describe what should be documented
How to properly attribute code that has been inspired by another project/repo.

**Please suggest where in the repo the document should be located
CONTRIBUTING.md

[2020-09-29 21:38] draychev opened #1770 "Invalid mesh-cidr-ranges with empty string in list"
Observed the following error message in [CI run](https://github.com/openservicemesh/osm/pull/1766/checks?check_run_id=1184204417)
This is in the following PR: https://github.com/openservicemesh/osm/pull/1766
[code]

It seems that `""` is not a valid CIDR range. Easy fix for this would be to remove empty strings (regardless of the reason why these appear in the list)

**Bug description**:

**Affect

[2020-09-29 21:50] #1340 closed

[2020-09-29 21:51] draychev commented on #1770
fixed by https://github.com/openservicemesh/osm/pull/1767

[2020-09-29 21:51] #1770 closed

[2020-09-30 00:21] #1761 closed

[2020-09-30 16:24] shashankram commented on #654
This is done.

[2020-09-30 16:24] #654 closed

[2020-09-30 21:19] ritazh commented on #1711
Should enable deployment with `helm install`. Currently e2e uses osm cli to install.

[2020-10-01 18:22] shashankram commented on #1754
We already have validations for detecting existing osm-controller.

[code]

What we need from this feature request is to ensure we can program OSM in a way that prevents multiple meshes from being installed in certain environments.

[2020-10-01 20:06] shashankram commented on #1717
This validation already exists: https://github.com/openservicemesh/osm/blob/78342c9624f3daee6c2d190e20b67dd50f7a3433/pkg/injector/webhook.go#L226

We only allow to inject sidecars to pods if the namespace is monitored by the osm-controller who's webhook is invoked. Moreover, the webhook also has a namespace selector that will prevent pods in other meshes from triggering webhooks that manage other

[2020-10-01 20:07] shashankram commented on #1717
Didn't mean to close, leaving it open till @draychev acknowledges.

[2020-10-01 20:13] shashankram commented on #1757
Why is this a `P1` @snehachhabria. What is the use case for users to start tweaking cert validity period at run time?

[2020-10-01 22:37] #1750 closed

[2020-10-02 16:37] #1751 closed

[2020-10-05 15:44] michelleN opened #1785 "install watch as part of demo run"
**Please describe the Improvement and/or Feature Request**
On a new machine that didn't have `watch` installed and needed it to run the demo. Would be great to install this as part of the demo or a script to install requisites or as part of a make target.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy

[2020-10-05 18:14] #1673 closed

[2020-10-05 18:18] snehachhabria commented on #1757
By default we will install OSM with a validity of 1 day but if users  want a different validity for their version of osm we want it configurable

[2020-10-05 18:23] shashankram commented on #1757
Question was more regarding what is the use case to change the validity period? Should this be a P1?

[2020-10-05 19:33] nojnhuh commented on #1714
Current tests implemented in the e2e framework:
- A simple client pod can make requests to a service when allowed by a TrafficTarget.
- Same as above using Vault to issue certificates.
- 10x5 clients can make requests to 10x1 servers when explicitly allowed

Tests not yet implemented in the new e2e framework that we run in CI currently:
- Simple TrafficSplit scenario
- Egress works when enabled
-

[2020-10-05 20:05] bridgetkromhout commented on #1703
Adding the community meetings: https://github.com/openservicemesh/osm/pull/1786

[2020-10-05 20:06] bridgetkromhout commented on #1703
Finishing up https://github.com/cncf/toc/issues/535 - almost done.

[2020-10-05 20:13] SanyaKochhar commented on #1721
- Ensure that logs being sent to the sink are at error log level
- Enable conditionally, default to disabled
- Add documentation including an example of forwarding to a sink

[2020-10-05 20:22] draychev commented on #1757
We need to validate input and ensure that the value is within some reasonable ranges. (For example a fraction of a minute may not be reasonable as it would cause too frequent of a cert renewal.)

[2020-10-05 20:30] ritazh opened #1788 "Validating webhook to validate user-provided values"
**Please describe the Improvement and/or Feature Request**

For user configurable values, e.g via osm configmap, we need a validating webhook to reject updates if not within the tested limits.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy

[2020-10-05 20:32] ritazh commented on #1788
Question: what are other user configurable values and how are they introduced (other than the osm configmap)?

[2020-10-05 20:36] shashankram commented on #1788
SMI policies.

[2020-10-05 20:36] draychev commented on #1754
The goal of this issue is to ensure that when a feature flag or an option is enabled OSM ensures that it is the only OSM controller on a givne cluster.

P1: Document this
P2: Create the validation

[2020-10-05 20:46] #1432 closed

[2020-10-05 21:45] shashankram opened #1791 "Unit tests failure due to races"
**Bug description**:
Since the CI unit tests started to run with the `-race` flag, some unit tests have been failing.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress

[2020-10-05 23:49] shashankram opened #1793 "envoy: Outbound listener without filter chains being added"
**Bug description**:
OSM tries to add a listener without filter chains which results in envoy errors that propagate as error logs in osm-controller. If a service does not have any outbound services and egress is disabled, then the outbound listener should not be programmed.

In the demo, bookthief and bookwarehouse envoy throw these errors when egress is disabled.
[code]

**Affected area (please m

[2020-10-06 02:20] draychev commented on #1788
Related https://github.com/openservicemesh/osm/issues/1740

[2020-10-06 15:06] bridgetkromhout commented on #1730
Hi, @caniszczyk - as seen in the linked PRs, we've updated OSM to state we use the CNCF Code of Conduct. Thanks.

[2020-10-06 15:06] #1730 closed

[2020-10-06 16:59] ritazh opened #1797 "Image tag should be immutable as part of release process"
**Please describe the Improvement and/or Feature Request**

When we cut a new release, GitHub action should automatically push the latest release image tag. Once it's pushed, it should not be overridden. If release is bad, cut another release.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Tr

[2020-10-06 17:03] bridgetkromhout commented on #1678
The Helm v3 docs work well (Hugo and markdown). English docs are edited in https://github.com/helm/helm-www/tree/master/content/en/docs and displayed on https://helm.sh/docs.

I recommend not using Helm's process for the CLI doc creation: https://github.com/helm/helm-www#updating-the-helm-cli-reference-docs
- Tool removes md file headers, leading to error-prone manual fixes
- Does not support mult

[2020-10-06 17:10] ritazh commented on #1797
Check if the image tag exists. if it exists, don't overwrite
e.g. https://github.com/open-policy-agent/gatekeeper/blob/master/.github/workflows/workflow.yaml#L181-L190

[2020-10-06 17:56] #1793 closed

[2020-10-06 18:54] shashankram commented on #1791
There are more issues seen in the CI.

[2020-10-06 20:40] shashankram commented on #1225
mesh CIDRs are no longer required for egress.

[2020-10-06 20:40] #1225 closed

[2020-10-06 21:07] eduser25 opened #1798 "Installing a traffic split makes source pods lose access to individual backend services"
Filing as discussed with @ksubrmnn for doc/tracking purposes (the issue is known).

When Installing a traffic split, the source services loose access to the individual backed resources targeted by the traffic target itself.

- Traffic split in action:
[code]
-  Test traffic from sources to individual services is still allowed:
[code]

The issue seems to linger somewhere around RDS, where only the

[2020-10-06 21:55] michelleN commented on #1361
No it hasn't. Let me update the title here and put it on the project board so we pick this up.

[2020-10-07 19:49] draychev commented on #1759
Reopening this issue to think about how to deal with situations where some namespaces cannot be annotated w/ a label.

[2020-10-07 20:06] shashankram commented on #1759
@draychev  Could you share more information for such a use case? The mutatingwebhookconfiguration can only ignore namespaces based on a namespaceSelector which is limited to selector matching on labels.

[2020-10-08 18:41] shashankram opened #1800 "Investigate using Helm chart releaser for releases"
**Please describe the Improvement and/or Feature Request**
Investigate using https://github.com/helm/chart-releaser-action to release Helm charts as a part of releases.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traf

[2020-10-08 19:20] nojnhuh commented on #1800
Looks like that action will always create a new GitHub release for the chart, which probably isn't what we want, but seems like it would be simple to change:
https://github.com/helm/chart-releaser-action/blob/06d81fa7f63ab865cf0ed2045bde38529c392845/cr.sh#L77-L78

Still curious as to why the existing action is never even started vs. starting and failing.

[2020-10-08 20:54] shashankram commented on #1800
Isn't a new github release for the chart what we want to accomplish when we release a chart?

[2020-10-08 21:05] nojnhuh commented on #1800
I think the main thing we want is to publish the packaged chart onto the gh-pages branch which serves as a Helm repo, which wouldn't require a GitHub release. It might be a little confusing to have both chart releases and regular CLI releases on the releases page.

[2020-10-08 21:16] shashankram commented on #1800
I see what you mean. Would it be possible to combine this into 1 release?

[2020-10-08 21:26] #1757 closed

[2020-10-08 21:32] nojnhuh commented on #1800
The GH action uses this under the hood to do most of the work: https://github.com/helm/chart-releaser. I don't see any way to point it to an existing release. Even if it could, the action doesn't seem to accept any parameters besides a GitHub token.

[2020-10-09 00:20] shashankram commented on #1791
There is a data race in `pkg/kubernetes/events/events_test.go`

[2020-10-09 20:22] #1791 closed

[2020-10-10 19:19] ivanfarkas2 opened #1810 "Add support for Kiali"
**Add Kiali**
To be on par with Istio, Kiali is essential.

**Scope (please mark with X where applicable)**
- New Functionality          [ X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2020-10-11 04:59] hysyeah opened #1811 "make book demo applications in one namesapce"
I have run osm demo and found that osm create one namespace for each application,like that bookbuyer,bookstore,bookief,bookwarehouse.
I think deploy the demo in one namespace can make it more simplicity and more suitable for the use of namespace.

[2020-10-11 05:02] hysyeah commented on #1811
\assign

[2020-10-11 05:05] hysyeah commented on #1811
I think i can try to resolve it. someone can assign it to me ?

[2020-10-12 16:09] shashankram commented on #1811
The reason the demo uses multiple namespaces is because there are scenarios we want to showcase communication between traffic in different namespaces.

That being said, the app namespaces are driven via environment variables, so by default we could set the app namespaces to be the same: https://github.com/openservicemesh/osm/blob/main/demo/run-osm-demo.sh#L20-L23

[2020-10-12 16:33] JosephWoodward commented on #1707
I presume this issue can now be closed as it's covered by #1784 ?

[2020-10-12 16:38] bridgetkromhout commented on #1703
Holding pattern, but close to done.

[2020-10-12 16:43] nojnhuh commented on #1707
That PR may not have covered every case, so there might be a few lingering instances to touch up. I will take a look and document any other cases I find in a follow-up comment here or close this issue if I don't find any.

[2020-10-12 16:44] nojnhuh commented on #1800
The GH action we already had was working after all, the real issue was fixed with #1802.

[2020-10-12 16:44] #1800 closed

[2020-10-12 17:04] ritazh opened #1814 "Add helm install to e2e test framework"
**Please describe the Improvement and/or Feature Request**

In addition to installation via the osm cli, `helm install` needs to be added as another installation process to the e2e test framework regardless of specific scenarios we are testing.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI T

[2020-10-12 18:56] nojnhuh commented on #1707
I only found one other instance: https://github.com/openservicemesh/osm/blob/9a51c5b01c678eec650868e222ac05dd1d03b4f0/pkg/kubernetes/events/events_test.go#L32-L35

[2020-10-12 19:05] nojnhuh opened #1815 "Add an e2e test for permissive traffic policy mode"
**Please describe the Improvement and/or Feature Request**

We should add a scenario to the new e2e framework testing the permissive traffic policy mode that allows services to communicate by default vs. disallowing by default.

The general flow for the test should be:
1. Install OSM with permissive mode enabled
1. Install a simple client/server topology
1. Verify the client can reach the server
1

[2020-10-12 19:48] nojnhuh commented on #1814
@ritazh How were you thinking this should work? The ways I can think of:

1. Configure the installation method directly in each test's code
1. Add a new command line flag to make all the tests run with a particular installation method
1. Start building a matrix and always run all the tests with both methods

[2020-10-12 20:30] nojnhuh commented on #1714
Unlinking PR #1801 until all the outstanding e2e tests are merged.

[2020-10-12 20:55] #1742 closed

[2020-10-12 21:23] shashankram commented on #1600
This is due to incompatible builds used. Already have #1527 open to update the instructions so this can be closed.

[2020-10-12 21:23] #1600 closed

[2020-10-12 21:27] shashankram commented on #735
No longer necessary, will reopen when the need arises.

[2020-10-12 21:27] #735 closed

[2020-10-12 21:38] ritazh commented on #1814
@nojnhuh Ideally we should have every test run against a cluster with `helm install` and against a cluster with the osm cli to ensure both deployment methods have full coverage.

[2020-10-12 21:55] ritazh opened #1817 "Add a namespace resource for osm deployment"
**Please describe the Improvement and/or Feature Request**

Per https://github.com/openservicemesh/osm/pull/1777/files#r502142284, we need to create the namespace resource as part of the deployment manifests and the chart. This namespace resource should include the `openservicemesh.io/ignore` label.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install

[2020-10-12 21:59] ritazh opened #1818 "Join Envoy security disclosure mailing list"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2020-10-12 22:01] shashankram commented on #1759
This can be closed, new requirements to label namespace is tracked in https://github.com/openservicemesh/osm/issues/1817

[2020-10-12 22:01] #1759 closed

[2020-10-12 22:05] nojnhuh commented on #1814
@ritazh If we do the same thing for all the other install parameters like cert manager, egress enabled/disabled, permissive traffic policy, etc., I worry that every combination of different parameters would make the suite way too big. And since `osm install` is essentially a thin wrapper over `helm install` with some custom validation, I'm not optimistic we would find any issues in the e2e suite t

[2020-10-12 22:29] JosephWoodward commented on #1707
This addresses the last test you mentioned @nojnhuh https://github.com/openservicemesh/osm/pull/1819

[2020-10-12 22:33] ritazh opened #1820 "Envoy OSM release and feature compatibility"
**Please describe the Improvement and/or Feature Request**

As a new version of Envoy is added to OSM, how do we keep track of its capabilities as relate to OSM features?

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Tr

[2020-10-12 23:55] #1811 closed

[2020-10-12 23:57] shashankram commented on #1817
We don't necessarily need the ignore label on a namespace we create. We could also create a ns with a label `name` with value being the namespace.

https://github.com/openservicemesh/osm/blob/main/charts/osm/templates/mutatingwebhook.yaml#L25

@ritazh could you list the different scenarios you'd like to achieve with labeling the namespace with the ignore label? As long as the namespace is created

[2020-10-13 00:32] ritazh commented on #1817
Sure if we are explicitly deploying this namespace resource, then we could set the `name` label to be consistent with `--create-namespace` if the label gets set thru that flag.

For existing namespaces that we do want to exclude, e.g. kube-system, I think the recommendation is to use the `openservicemesh.io/ignore` label right?

[2020-10-13 00:58] #1711 closed

[2020-10-13 16:17] shashankram commented on #1817
This is correct, for existing namespaces that need to be excluded the ignore label is required.

There are a few scenarios here:
1. namespace is created by osm cli using Helm: here the `name` label on the namespace will always be present
2. namespace is created by OSM Helm chart directly from a manifest: either name or ignore label should be added
3. namespace exists prior to OSM install

Are you

[2020-10-13 18:02] ritazh commented on #1817
1: I believe the cli already does this.
2: This issue should take care this scenario. I think we should create a namespace resource via a manifest file with those labels and default to `osm-system` in values.yaml.
3: This could be taken care of by a pre-install hook. The same logic in this [PR](https://github.com/Azure/osm-azure/pull/9) can also be added in this repo. WDYT?

[2020-10-13 18:10] shashankram commented on #1817
This is correct, but if we want to create the namespace via a manifest then we should potentially remove the code to auto create the namespace.

This makes sense, and would obviate the need to auto create namespace via the helm library without a manifest, correct?

A pre-install hook would work, whoever I am unsure if in some environments if mutating an existing namespace (adding labels) will be p

[2020-10-13 18:45] draychev commented on #1723
@eduser25 I hear that you have already ran tests for this. Would you be able to document your methods and discoveries so far?

[2020-10-13 19:02] eduser25 opened #1825 "Remove hard-coded values from end to end tests"
Some of the E2E introduced recently have some values hardcoded, most notably and since some of the tests might run at different speeds depending directly on the Kubernetes deployment type, we'd want to make sure those are parametrizable and can be easilly changed when running the test. Some of the values:

- [Wait times to wait for pods](https://github.com/openservicemesh/osm/pull/1801/files#diff-

[2020-10-13 19:48] ritazh commented on #1817
That makes sense to me.

Right

If the user has the cluster-admin role to create the namespace, then they should be able to update existing namespaces to apply these labels. The next question is what about namespaces that are created _after_ osm is deployed.

[2020-10-13 19:48] eduser25 opened #1827 "Fix e2e "client-server deployment test" to verify all backends are reached"
context: https://github.com/openservicemesh/osm/pull/1822#issuecomment-707856779

- Tests                      [X]

[2020-10-13 20:01] nojnhuh commented on #1785
Installing packages is one of those things that is both very distro-specific and personal preference that I'd be afraid to maintain a script here to do it automatically. Since it's already documented as a pre-req, the most I would want to do here ideally would be point to the pre-req docs if it's not installed. If it's critical to have installed beforehand, I would suggest we download a static bin

[2020-10-13 20:20] ritazh opened #1829 "osm controller: Error fetching certificate manager of kind tresor"
**Bug description**:
After deploying via `helm install` from the latest release v0.4.1, getting pod CrashLoopBackOff and this error:
[code]

**Affected area (please mark with X where applicable)**:
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Eg

[2020-10-13 20:20] ritazh commented on #1829
cc @nojnhuh can you PTAL?

[2020-10-13 20:50] michelleN opened #1830 "update chart README as part of the release pipeline"
**Please describe the Improvement and/or Feature Request**
Update the chart README as part of the release pipeline / GitHub Action

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2020-10-13 21:04] shashankram commented on #1817
We do not need to worry about namespaces other than the control plane namespace, because I believe we already have a solution for this - either add the ignore label on the user namespace or use osm cli to do it.

[2020-10-13 22:31] ritazh commented on #1829
Update on this:

1. Repro'ed this issue with `helm install` 0.4.1 on a fresh cluster.
2. `helm install` latest chart form https://github.com/openservicemesh/osm/commit/c1265f507c5d488f2058fe97667a97cc21823e86 off main, this bug only happens on a reinstall of the chart but does not occur on a fresh cluster.

[2020-10-14 15:33] ritazh commented on #1814
@nojnhuh This is definitely a valid concern. I think at a minimum, we need to test if the installation via `helm install` installed all the components with the default values provided in the values.yaml and that they are running successfully. We want to catch issues like https://github.com/openservicemesh/osm/issues/1829 before a PR is merged or before a release is cut.

[2020-10-14 17:05] shashankram commented on #1829
@ritazh I see why this issue is seen on release v0.4.1 and main.

On v0.4.1:
- missing change https://github.com/openservicemesh/osm/pull/1816

On main:
- Upon Helm install and delete, the issue is seen because the default controller image `openservicemesh/osm-controller:v0.4.1` does not have the change https://github.com/openservicemesh/osm/pull/1816

We can cut v0.4.2 with this fix, updating the

[2020-10-14 17:43] nojnhuh commented on #1814
@ritazh I don't disagree with anything you're saying, but I think the mechanics of testing that are a little tricky.

I'm just thinking out loud here, but isn't this kind of a chicken-egg problem? Since `helm install` with no value overrides will use the last tagged osm-controller image, even if an osm-controller bug like that is fixed in a PR, the test will use an older osm-controller image witho

[2020-10-14 22:05] draychev opened #1839 "CLI delete behavior undefined when more than one OSM w same name on cluster"
This GitHub Issue is a request to improve the `osm mesh delete` experience. The CLI tool must provide **additional context** for the user to understand exactly which OSM deployment is going to be deleted.

## Current State
For example -- on the same cluster I have 2 OSM controllers installed. The OSMs have the **same mesh name** but in *different namespaces* (perhaps that should not be allowed):
[

[2020-10-14 22:23] shashankram commented on #1829
Resolved in release v0.4.2 https://github.com/openservicemesh/osm/releases/tag/v0.4.2

[2020-10-14 22:23] #1829 closed

[2020-10-14 22:28] draychev opened #1841 "CLI to list meshes should show additional context: k8s cluster, controller pods"
The `osm mesh list` command currently only shows mesh name and namespace.

For example:

[code]

## Improvement Proposal

I would like to also see the following pieces of context:
1. Pods of the OSM Controller
2. Kuberenetes cluster
3. Namespaces joined to the service mesh

[code]

---

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [

[2020-10-14 22:44] draychev opened #1842 "Document OSM ConfigMap - possible keys, values, and the effects these have"
Please document the OSM ConfigMap:
  - What's the name of the ConfigMap, which namespace is it, can this be changed?
  - What are the possible keys in the ConfigMap?
  - What are the the possible values?
  - What are the default values for omitted keys?
  - What does each key/value do? What effects does it have on the OSM Controller and service mesh?
  - What's an example of how to change the valu

[2020-10-14 23:34] shashankram opened #1845 "Integrate security scanning"
**Please describe the Improvement and/or Feature Request**
Scan source code for security vulnerabilities and integrate scanning with CI using gosec.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- In

[2020-10-14 23:39] draychev opened #1847 "Envoy deprecated option 'envoy.type.matcher.v3.RegexMatcher.GoogleRE2.max_program_size'"
The Envoy logs contain a deprecation warning, which should be addressed:

[code]

This is visible when the demo us running and Bookstore (for instance) logs are observed with: `./demo/tail-bookstore-envoy.sh bookstore-v1`

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [

[2020-10-14 23:55] shashankram commented on #1847
This is strange because it should have been fixed by 29be79c6df41c7e457c04edded231af392bf6c90.

@draychev could you check if this is a false alarm?

[2020-10-15 00:11] shashankram opened #1848 "cli: remove log.Fatal and log.Print usages in favor of stdout and stderr"
**Bug description**:
The cli code should return a reasonable output to the user instead of using log.Fatal and log.Print for conveying information. Remove such usages from the cli. There are usages of log.Fatal and Print in  https://github.com/openservicemesh/osm/blob/main/cmd/cli/dashboard.go, which are better off using `fmt` package for stdout and stderr.

**Affected area (please mark with X whe

[2020-10-15 01:14] ritazh commented on #1814
To test the binary changes in a PR, the CI can build an image from the PR, [load it to the kind cluster](https://github.com/open-policy-agent/gatekeeper/blob/master/Makefile#L108), then [set the image value to the local image we just built for helm](https://github.com/open-policy-agent/gatekeeper/blob/master/.github/workflows/workflow.yaml#L120-L121)

[2020-10-15 07:08] rushivarun commented on #1724
Hello,
I went through the cmd/cli/install.go file. I wanted to understand what where is the "settings" declared?
`installClient.Namespace = settings.Namespace()`
I am a first time contributor. Guidance would be greatly appreciated.

[2020-10-15 15:14] nojnhuh commented on #1814
Yeah, that's the flow we have implemented right now for the other tests. To test with the default values though (i.e. not overriding the image) we could really only do that on the tagged commits or else we'll get version skew.

[2020-10-15 15:30] ritazh commented on #1814
Can you please expand on this? Why do we not want to override the image? I was suggesting that we could build the image locally in the pipeline, load the image to the kind cluster, then override the image in the chart to test the PR.

[2020-10-15 15:33] nojnhuh commented on #1707
Since that call to `log.Fatal` is only run as test setup, not even inside any particular test, then using it there should be ok. My mistake, sorry for giving you the runaround @JosephWoodward.

[2020-10-15 15:33] #1707 closed

[2020-10-15 15:38] nojnhuh commented on #1814
Perhaps I wasn't fully understanding your earlier comment:

I think I was reading that as "We should test that a plain `helm install osm ./charts/osm` without any overrides works for each PR.

But yes, I agree we should override the image tag to use one built with the source from the particular PR we're testing.

[2020-10-15 17:06] shashankram commented on #1324
The CI only catches new issues, not ones already present in the existing code. There is an open issue to address the existing ones https://github.com/openservicemesh/osm/issues/1578, although I don't think that is going to happen any time soon.

@draychev could you share you observations on this?

[2020-10-15 18:19] nojnhuh opened #1851 "Verify cleanup in e2e test suite"
**Please describe the Improvement and/or Feature Request**

I don't have a clear idea of exactly what we should test for, but to catch issues like #1829 we could start with the following steps:

1. Install OSM.
1. Verify OSM pod(s) are running.
1. Delete OSM using `osm mesh uninstall` or `helm delete`.
1. Install OSM in the same location with the same parameters.
1. Verify OSM pod(s) are running.

[2020-10-15 20:13] eduser25 commented on #1851
I think this could very well be a test on its own.
We don't have graceful uninstall/cleanup calls in the framework though, cleanup takes nuclear approach and blows up the namespace altogether.

[2020-10-15 22:15] #1845 closed

[2020-10-15 23:01] snehachhabria commented on #1847
I am not able to reproduce the error locally and do not see any warnings on the envoy. @draychev  please could you double check if you are still seeing the issue ?

[2020-10-15 23:49] draychev opened #1855 "OSM CLI: provide a way to toggle ConfigMap permissive_traffic_policy_mode true/false"
At the moment one has to know how to switch from permissive trafic policy mode to observing SMI and back.
This happens via the `osm-config` ConfigMap -- setting the `permissive_traffic_policy_mode` key to `true` or `false` and reapplying - [example](https://github.com/openservicemesh/osm/blob/10a8cc38a32b303f807c9e60d73b28308663a779/demo/deploy-smi-policies.sh#L23).

It would be great to implement

[2020-10-16 05:46] rushivarun commented on #1644
Hey I am a first time contributor. Can anyone guide me through the process of running osm locally? Help would be greatly appreciated.

[2020-10-16 13:50] michelleN commented on #1855
agree we totally need this. This should be handled by the `osm mesh update` command imo. #1474

[2020-10-16 18:32] michelleN opened #1858 "e2e for testing that ignore label on a namespace takes precedence over the monitor label"
In the situation, where a namespace has the monitored-by label as well as the ignore label, the ignore label should take precedence over the monitored-by label. This should be tested.

[2020-10-16 18:48] shashankram opened #1859 "Add safety check in injector to ignore OSM's namespace"
**Please describe the Improvement and/or Feature Request**
In addition to the mutatingwebhookconfiguration to ignore namespaces, add an additional safety check in the webhook to ignore OSM's namespace.

**Scope (please mark with X where applicable)**
- New Functionality          []
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Spli

[2020-10-16 19:30] draychev opened #1860 "Converge on uniform terminology for destination / remote / outbound / downstream / server"
In sections of the OSM repo we refer to the `other side` in various terms:

  - destination service
  - remote service
  - outbound service
  - downstream service
  - server

For example in `pkg/envoy/cds/response.go`: https://github.com/openservicemesh/osm/blob/release-v0.4/pkg/envoy/cds/response.go#L40-L47

We see `dstService`, `outboundServices`, `getRemoteServiceCluster` - in all of these we a

[2020-10-16 20:30] #1848 closed

[2020-10-16 22:58] #1859 closed

[2020-10-19 16:41] shashankram commented on #1817
Based on our discussions, some of the concerns regarding what namespaces get enabled for sidecar injection originally raised in this issue were alleviated.

The only remaining decision to make is to whether have OSM manage its own namespace, or let Helm manage it.

[2020-10-19 22:04] #1754 closed

[2020-10-19 22:10] snehachhabria commented on #1847
I re-ran the demo a couple of times and was unbale to reproduce the error. I checked the logs on the envoy of bookbuyer, bookstore-v1 and bookstore-v2 and did not find the related warning.

Closing the issue for now and we can re-open it if the problems comes up again

[2020-10-19 22:10] #1847 closed

[2020-10-20 16:45] phillipgibson commented on #1678
Currently testing layout and design.

[2020-10-20 17:49] #1842 closed

[2020-10-20 17:52] michelleN opened #1874 "Integrate OSM with OPA envoy plugin"
**Please describe the Improvement and/or Feature Request**
Integrate OSM with the ability to execute policies with OPA via the OPA envoy plugin https://github.com/open-policy-agent/opa-envoy-plugin

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split P

[2020-10-20 18:44] snehachhabria commented on #579
@shashankram do you think we will still need this ? We now have e2e tests for traffic split : https://github.com/openservicemesh/osm/blob/main/tests/e2e/e2e_trafficsplit_test.go and https://github.com/openservicemesh/osm/blob/main/tests/e2e/e2e_trafficsplit_same_sa_test.go

[2020-10-20 18:53] shashankram commented on #579
We still need a test to test whether traffic splitting correctly distributes traffic based on the weights. Maybe we can incorporate this in the e2e test.

[2020-10-20 18:54] snehachhabria commented on #579
Closing issue in lieu of the e2e test coverage

[2020-10-20 18:54] #579 closed

[2020-10-20 19:06] #1734 closed

[2020-10-20 21:08] nojnhuh opened #1877 "Run e2e tests concurrently in CI"
**Please describe the Improvement and/or Feature Request**

Currently, all e2e tests are run serially in CI. Running them concurrently would speed up CI considerably.

There are a few different elements to this:
- Define if and how to group e2e tests into buckets where each bucket contains potentially several tests that run in series and each bucket will run in parallel.
- Define a naming conventi

[2020-10-21 01:55] eduser25 opened #1879 "Namespace in termination state indefinitely"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI Tool                   [ ]
- Metrics

[2020-10-21 02:13] eduser25 opened #1880 "(e2e, CI) Namespace in termination state indefinitely"
[code]

Overview: `osm-system` namespace stays in termination state indefinitely after running e2e.
From some CI failures I'm seeing, it could have some relation with the recently added `Cert-Manager` test. I'm seeing multiple issues on some community threads where custom remaining webhooks could prevent a clean namespace deletion (can't confirm though):

[code]

**Bug description**:

**Affected a

[2020-10-21 02:20] eduser25 commented on #1880
from  https://github.com/kubernetes/kubernetes/issues/77086#issuecomment-559844228

[code]

[2020-10-21 02:31] eduser25 commented on #1880
Ok this worked, but this is terrible https://nasermirzaei89.net/2019/01/27/delete-namespace-stuck-at-terminating-state/
Other people have crossed similar issues out there. https://github.com/jetstack/cert-manager/issues/1514

[2020-10-21 16:13] shashankram commented on #1880
@eduser25 we should get to the bottom of why the cleanup fails. Are we cleaning up the webhook? Why is this only related to cert-manager tests? There could be cert-manager associated resources that are not being cleaned up.

[2020-10-21 16:15] shashankram commented on #1879
@eduser25 this bug doesn't seem to have any description. Kindly fill in the issue template.

[2020-10-21 16:42] eduser25 commented on #1880
Absolutely we should. Might be an ordering issue on deletion, not sure. Will talk to @nojnhuh to see how do we take it.

[2020-10-21 17:13] shashankram commented on #1879
Duplicate of #1880

[2020-10-21 17:13] #1879 closed

[2020-10-21 17:20] shashankram opened #1882 "Support testing functionality related to port forwarding to pods"
**Please describe the Improvement and/or Feature Request**
OSM cli and controller have code to port forward to pods using the client-go library. Given the nature of the client-go API to set up port forwarding, it is not trivial to unit test this since it requires mocking requests to a pod along with the signalling semantics exposed by the forwarding API.

Investigate and provide means to unit test

[2020-10-21 20:12] shashankram opened #1884 "cli: investigate usage of global namespace flag associated with osm-controller's namespace"
**Please describe the Improvement and/or Feature Request**
The cli has a global namespace flag set to be osm-controller's namespace, which is unused by several cli commands and causes confusion when individual cli commands also expose a `--namespace` flag with their commands. Moreover, the command help does not render the `namespace` flag for the command, but rather just the global namespace flag.

[2020-10-21 21:07] #1815 closed

[2020-10-21 21:09] #1762 closed

[2020-10-21 21:34] nojnhuh commented on #1880
I wonder if this could be because we're using Helm in the test to install cert-manager but just deleting the osm-system namespace. I'll try adding an explicit `helm delete` in the cleanup which would take care of the webhook.

[2020-10-22 15:06] michelleN opened #1891 "A destination should validate that the request is coming from a client/Pod that is allowed by validating a service account referenced in the certificate presented by the client."
We are currently associating a service account with a single service and thus baking in the service information in certificate. During the mTLS handshake, some SAN matching happens and the server determines if the service listed in the certificate from the client is allowed to talk to it.

This presents issues when
1. there are multiple Pods with different Service Accounts that are mapped to a sin

[2020-10-22 16:10] SanyaKochhar commented on #1721
Resolved by PR #1875

[2020-10-22 16:10] #1721 closed

[2020-10-22 16:48] michelleN opened #1892 "Design a high level plan for multicluster with osm"

[2020-10-22 17:36] shashankram opened #1893 "Describe if metrics stack is enabled and if not how to, with the demo documentation"
**Please describe what should be documented
Describe in the demo readme whether Prometheus and Grafana are enabled by default, and link to https://github.com/openservicemesh/osm/blob/main/docs/patterns/observability.md#automatic-bring-up on how to automate this with the manual demo.

**Please suggest where in the repo the document should be located
https://github.com/openservicemesh/osm/blob/main/

[2020-10-22 18:41] ritazh commented on #1817
To add more context, the original concern was around if a user created a namespace for helm install to install osm components to and if the namespace does not have the `openservicemesh.io/ignore` label, then it will not be exempted. This is alleviated by the mutatingwebhookconfig [matching on the existence of the `openservicemesh.io/monitored-by` label](https://github.com/openservicemesh/osm/blob/

[2020-10-22 18:41] #1817 closed

[2020-10-22 18:56] ritazh opened #1895 "Audit error level and above logs to ensure sensitive information is not logged, mask if needed"
**Please describe the Improvement and/or Feature Request**

Audit codebase for any error level and above logs to ensure sensitive information is not logged. e.g. password, credentials, urls. If sensitive data is included, mask it so it is not exposed in the log.

NOTE: This should be a first pass as this is an on-going activity. We should look into tools we can use to catch this for every PR.

Que

[2020-10-22 19:09] shashankram opened #1896 "Enable sidecar injection by default for namespaces being enrolled into the mesh"
**Please describe the Improvement and/or Feature Request**
Currently, when a namespace is added to the mesh using the `osm namespace add` command, sidecar injection is not enabled by default unless the `--enable-sidecar-injection` flag is passed. This was done based on the requirement that enabling sidecar injection on a namespace could be destructive for new users.

However, this proves to be a b

[2020-10-22 19:22] michelleN opened #1897 "enable observability related flags on osm install within manual demo"
so that folks don't get an error when playing with osm dashboard

[2020-10-22 19:26] michelleN opened #1898 "add a log forwarding example to docs"
**Please describe what should be documented
Add how to forward logs to a sink via fluent bit in osm (log sink example can be Azure log analytics)

**Please suggest where in the repo the document should be located
docs/patterns/observability/log-forwarding.md

cc @SanyaKochhar

[2020-10-22 22:20] snehachhabria commented on #1682
The following PR's remove the 1:1 mapping between services and service accounts : #1567 #1553

There is a CI test too that helps in validating this :  #1623 . The only issue we are facing now post this change is #1658 and its being tracked

[2020-10-22 23:38] snehachhabria commented on #1682
I have run the demo with the scenario of multiple services backed by one service account and it works as expected

[2020-10-22 23:38] #1682 closed

[2020-10-23 00:12] snehachhabria commented on #1658
@michelleN as FYI the new proposal for traffic split and client/server config that @ksubrmnn is working on will handle this case as well.

Once the changes are made we will need to validate the scenario

[2020-10-23 13:41] michelleN commented on #379
@jshaughn - OSM does make available metrics around success/error rate and latency available and you can view them already via the `osm dashboard` command. The [SMI metrics spec](https://github.com/servicemeshinterface/smi-spec/blob/master/apis/traffic-metrics/traffic-metrics-WD.md) requires us to compute some more granular metrics between a source and destination (for example between a two specifi

[2020-10-23 13:50] michelleN commented on #984
Now that the wasm work has been merged into Envoy, the next steps should be:
1. Wait for Envoy 1.17 release
2. Update Envoy to 1.17 in osm
3. merge the wasm filter work @nojnhuh has done into osm
4. Cut a release
5. Either create a new repo under openservicemesh to host the smi-metrics implementation OR merge smi-metrics implementation into the servicemeshinterface/smi-metrics repo (or both)
6. up

[2020-10-23 15:31] nojnhuh commented on #984
@michelleN That's what I was thinking of at a high level. I agree that we should think through how we want to merge everything. I was planning on splitting my OSM branch into a reasonable number of smaller commits and making each one of those a PR to the main branch. There's a lot of junk commits on my branch currently from when I was still trying to figure things out. I haven't gone through the e

[2020-10-23 16:32] shashankram commented on #1896
Resolved by https://github.com/openservicemesh/osm/commit/c5147aec3187e5b529a8f61cc34648d6d830d468

[2020-10-23 16:32] #1896 closed

[2020-10-23 16:33] shashankram commented on #1897
related issue to avoid confusing documentation: https://github.com/openservicemesh/osm/issues/1893

[2020-10-23 16:34] shashankram commented on #1884
Resolved by https://github.com/openservicemesh/osm/commit/a91ccad1c275e4faef28bc8e063fee4f5380e4fb

[2020-10-23 16:46] #1880 closed

[2020-10-23 16:56] #1884 closed

[2020-10-23 18:00] shashankram commented on #1670
@chrisvugrinec could you try this again with the latest release, it has additional logging when the command fails.

[2020-10-23 18:01] ritazh opened #1907 "Add helm uninstall to e2e"
**Please describe the Improvement and/or Feature Request**

We should test `helm uninstall` to ensure clean uninstall experience.
This will also help us:
- document what resources are expected to be left behind in the cluster post uninstall e.g. crd
- identify issues when resources are stuck in terminating state or not cleaned up correctly e.g. namespace, secret

**Scope (please mark with X where

[2020-10-23 19:09] SanyaKochhar commented on #1898
@michelleN I can merge this for v0.5.0, just waiting on one more review

[2020-10-23 19:13] #1898 closed

[2020-10-23 19:28] #1814 closed

[2020-10-23 20:00] eduser25 opened #1908 "Refactor e2e `InstallOSM` to to support helm install too"
https://github.com/openservicemesh/osm/pull/1889
`helm install` APIs were added to e2e, however it happens to separate apis to specifically just test the install.

It'd be a benefit in the long run that installing through helm was just an option for the test suite and used the available
APIs, so all tests could potentially run with helm installation instead of CLI installation just with a toggle/s

[2020-10-23 21:34] nojnhuh commented on #1714
Now that we have a baseline set of tests in the new e2e framework, we'll open up individual issues for any future cases we want to implement.

[2020-10-23 21:34] #1714 closed

[2020-10-23 22:49] ritazh opened #1909 "Add reconciler for osm resources"
**Please describe the Improvement and/or Feature Request**

- webhook mutatingwebhookconfiguration and secret
   Watch for changes in osm-webhook mwhc and secret resources to reconcile/ensure the CA cert in the mwhc is using the most recent CA cert from the secret.
- configmap
- custom resources

## Definition of **done**:
This issue should result in a documentation that describes what resources o

[2020-10-23 23:12] shashankram commented on #1909
The CA bundle in the mutatingwebhookconfigration gets patched as a part of the webhook's initialization: https://github.com/openservicemesh/osm/blob/0be40ed8bdb7dd64866f3c6812d73eb0380f5d15/pkg/injector/webhook.go#L80

The CA bundle gets created at the time of osm-controller startup, at which time the webhook gets initialized. So I am unsure why a reconciler is neccessary for this.

@ritazh could

[2020-10-24 00:42] ritazh commented on #1909
@shashankram sure. for example, you can modify the mutatingwebhookconfigration resource by using `kubectl edit`

[2020-10-26 13:06] jshaughn commented on #379
@michelleN Thanks for the response.  Pod-specific metrics are less interesting given the more dynamic nature of pods but the traffic for more logical aggregations of pods, like Deployments, is what I was looking for.

[2020-10-26 13:42] shalier opened #1910 "Add e2e testing for enableDebugServer feature"
**Please describe the Improvement and/or Feature Request**

We should test the enableDebugServer feature to make sure the debug server is automatically enabled/disabled when enableDebugServer field in configMap is toggled.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy

[2020-10-26 16:19] nojnhuh opened #1911 "Proposal: Modify "osm install" command to only set values when overriding the default"
**Please describe the Improvement and/or Feature Request**

Following up from discussion in #1889.

Currently, `osm install` explicitly sets every value for the chart that can be set from flags. This causes issues like the one solved by #1765 where a misspelled value name in values.yaml causes problems with `helm install` but not `osm install`. Only setting values when necessary will more closely

[2020-10-26 16:24] shashankram commented on #1909
If someone has permissions to mutate cluster wide resources, they can do a lot more than just update the mutatingwebhookconfiguration. The mutatingwebhookconfiguration is not the only resource OSM creates, there are several of them which the controller depends on for control plane logic - ConfigMaps, Secrets, CRDs etc. Any of those can be changed using `kubectl edit`. I don't see value in handling

[2020-10-26 16:40] ritazh commented on #1909
+1

This issue just starts with the mwhc resource, but definitely need to reconcile all the resources that osm creates.

[2020-10-26 16:45] shashankram commented on #1909
Maybe we should update the description to describe the long term goals as well, so that we consider this when we design and discuss the bigger solution.

[2020-10-26 16:48] #290 closed

[2020-10-26 16:53] ritazh commented on #1723
Let's make sure this also includes recommendations for resource specifications (limits and requests) based on the number of pods and policies.

[2020-10-26 17:45] michelleN commented on #1740
The PR to add this has not been merged yet. There are some tests we still need to write. Re-opening this and adding it to the next milestone.

[2020-10-26 17:57] michelleN commented on #705
To implement this in a way where routes associated with a traffic target are decoupled from a traffic split, we need to do the following steps in order:
1. Relax logic on how outbound clusters get programmed. Outbound clusters should be programmed with wildcard routes. Ensure that routes are programmed via RDS on the server side (already happening).
2. Any time an SMI traffic split is applied, cre

[2020-10-26 18:50] bridgetkromhout commented on #1703
Tracking in https://github.com/cncf/toc/issues/535 - all tasks complete.

[2020-10-26 18:50] #1703 closed

[2020-10-26 18:50] michelleN commented on #1718
Let's further refactor this to implement just the pods that are in a namespace.

[2020-10-26 19:12] ritazh opened #1912 "Definition of "stable""
Produce a documentation that describes what we mean by "stable" for the osm project.
This should be used as a guidance for v1.0.0 release.

[2020-10-26 19:28] shashankram opened #1913 "Optimize announcement channels and XDS config push in osm-controller"
**Please describe the Improvement and/or Feature Request**
In the current implementation of how announcements from various components are acted upon, mesh-catalog in osm-controller implements functionality to listen for events from components (KubeController, MeshSpec, Configurator etc.) and broadcasts these events to connected Envoy proxies via XDS. All events are treated the same, which will res

[2020-10-26 19:35] shashankram opened #1914 "Introduce publish subscribe interface for channels"
Channels are implemented as a FIFO, with the first reader being able to read from the channel when there are multiple readers for the same channel.

See https://github.com/openservicemesh/osm/pull/1871#discussion_r510299374 on why such an interface will be useful.

With a generic interface to publish and subscribe for events based on channels, there would be no issue when a single channel has mult

[2020-10-26 19:58] draychev commented on #1914
This project seems relevant and very interesting: https://github.com/grafov/bcast

[2020-10-26 20:11] michelleN opened #1915 "Milestone v0.6.0 Prep"
Please leave a comment with things/issues you think we should work on during the v0.6.0 milestone

[2020-10-26 20:21] shashankram commented on #1914
Thanks for sharing, there are few other implementations such as https://github.com/dustin/go-broadcast

[2020-10-26 20:49] michelleN opened #1916 "create a framework for measuring performance and scalability of an osm control plane"
As an initial metric, we should be able to run this tool and have it tell us how many gRPC streams (or Pods essentially) one osm control plane can support.

[2020-10-26 21:01] michelleN commented on #1916
@eduser25 - can you help us figure this out?

[2020-10-26 21:10] shashankram commented on #1916
There a few popular benchmarking and load testing frameworks available (ex. fortio) that can be used for perf testing. Is there a need to create a new framework for this?

[2020-10-26 21:13] draychev commented on #1071
Closing in favor  #1719

[2020-10-26 21:13] #1071 closed

[2020-10-26 21:21] michelleN commented on #1839
I don't think this should be possible in the current state because the mutatingwebhookname relies on the mesh name and it is a cluster scoped resource. If you try to install a control plane with the same name, the installation will fail. However, this issue exposes ambiguity around mesh name that can be cleaned up. What do you think about adding validation to ensure that a control plane should be

[2020-10-26 21:22] draychev commented on #1839
+1 on "adding validation to ensure that a control plane should be unique to a cluster" - would solve this issue

[2020-10-26 21:28] draychev commented on #1724
This is no longer needed.

[2020-10-26 21:28] #1724 closed

[2020-10-26 21:29] draychev commented on #1722
This is no longer needed.

[2020-10-26 21:29] #1722 closed

[2020-10-26 21:30] michelleN commented on #1672
@nshankar13 - are you still working on this?

[2020-10-26 21:37] shashankram commented on #1672
Let's close this in favor of https://github.com/openservicemesh/osm/issues/1882, we need a generic way to test port forwarding functionality, which applies to the dashboard cli command as well.

[2020-10-26 21:38] michelleN opened #1918 "Milestone v0.7.0 planning"
Comment with the GitHub Issue we should work on in preparation for the next milestone (December 2020 through January 2021).
These will be bundled in version 0.7 of OSM.

[2020-10-26 21:38] michelleN commented on #1918
https://github.com/openservicemesh/osm/issues/1388

[2020-10-26 21:41] draychev commented on #1282
The appearances of ADS in in the DESIGN doc refer to the aggregated discovery service, which is valid in these cases.

[2020-10-26 21:41] #1282 closed

[2020-10-26 21:42] michelleN commented on #448
Looks like this has been resolved. thanks!

[2020-10-26 21:42] #448 closed

[2020-10-26 21:44] draychev commented on #1085
We need to compose this document after #705 is finished - it will change these error messages.

[2020-10-26 21:51] michelleN commented on #951
You should only have `service` and `service:port` configured for a service that does indeed exist in the same namespace as the client. What do you think?

[2020-10-26 21:55] draychev commented on #917
This was completed.

[2020-10-26 21:55] draychev opened #1919 "Document tracing with OSM (howto; tools; configuration)"
Document how to configure tracing and how it works with OSM.

Document should be located (existing doc): ./docs/patterns/observability/tracing.md

[2020-10-26 21:55] draychev commented on #917
ref https://github.com/openservicemesh/osm/issues/1919

[2020-10-26 22:01] draychev opened #1921 "Implement distributed tracing w/ Jaeger and Envoy header forwarding"
Implement distributed tracing w/ Jaeger and Envoy header forwarding

---

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Contro

[2020-10-26 22:01] michelleN opened #1922 "cut release for v0.5.0-rc.1"

[2020-10-26 22:17] shashankram commented on #951
This makes sense.

[2020-10-26 22:22] michelleN commented on #1601
closing in favor of #1361

[2020-10-26 22:30] ritazh commented on #1916
Highly recommend https://github.com/kubernetes/perf-tests/tree/master/clusterloader2 as we have used it for other projects in the past.

[2020-10-27 16:02] nojnhuh commented on #984
Taking this off the v0.6.0 milestone since WASM will likely not GA in Envoy until early 2021 with v1.17.0.

[2020-10-27 16:23] ritazh commented on #1915
https://github.com/openservicemesh/osm/issues/1912
https://github.com/openservicemesh/osm/issues/1909
https://github.com/openservicemesh/osm/issues/1907
https://github.com/openservicemesh/osm/issues/1797
https://github.com/openservicemesh/osm/issues/1895

[2020-10-27 17:12] michelleN commented on #1895
Wonder what tools Kubernetes and other projects are doing to automate some of this kind of work.

[2020-10-27 18:39] shashankram commented on #1860
We decided that we would use the following terminology:
- downstream: when referring to the source service initiating the request
- upstream: when referring to the destination/remote service accepting the request

[2020-10-27 18:48] michelleN commented on #1427
@nojnhuh - what are the steps to publish a notarized macos binary? Do we need a developer account or something with apple?

[2020-10-27 19:01] nojnhuh commented on #1427
I've never done this before and don't know exactly what the whole process entails, but I would imagine that's one step.

[2020-10-27 20:18] flynnduism opened #1930 "Netlify bot causing PR check failures"
The addition of a docs website in #1840 is causing issues across other recent PRs on this project:

![Screen Shot 2020-10-27 at 1 06 36 PM](https://user-images.githubusercontent.com/686194/97356344-5c043b00-1855-11eb-89e5-1b3b4a7aa528.png)

Apologies for this, the deploy preview bot is resulting in failures ❌  as it tries to build a website that does not yet exist in `main`.

To quickly resolve th

[2020-10-27 20:26] bridgetkromhout commented on #1930
Hmm... if we remove the Netlify app, won't that disrupt your ability to work on the website? So that seems like a short-term fix at best. (I can do it if you think I should.)

Maybe we want to merge the PR to add the docs to the website but hide the link until it's the way we want it?

[2020-10-27 20:33] eduser25 opened #1931 "Reduce default 4096bit key size to 2048 for certs"
Tests specifics:
- Onboarding 20 pods at a time, testing traffic, repeat.

During performance assessment, saw that certificate generation can take a very long time under mildly stressful conditions. Cert generation happening synchronously in the webhook thread will cause the webhook to timeout, blocking the deployment and having k8s have to reissue the call.

This behavior does fix overtime, but s

[2020-10-27 20:34] bridgetkromhout commented on #1930
After conferring with @flynnduism I have temporarily removed the Netlify integration for this repo. (This doesn't remove the integration for the website repo.)

[2020-10-27 20:42] eduser25 opened #1933 "Make certificate key bit size configurable"
https://github.com/openservicemesh/osm/issues/1931 requests to lower the key bit size by default; we would like to have a mechanism to configure the key bit size on OSM, as opposed to a hardcoded value.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Envoy Control Plane        [X]
- Certificate Management     [X]

**Possible use cases**
Current default-only beha

[2020-10-27 21:05] eduser25 opened #1934 "Provided prometheus instance doesn't scale with default configs provided"
Current prometheus, when enabling metrics for all namespaces in the mesh, with the given default configuration it comes with, can't scale more than 20~30 pods due to memory exhaustion (OOMKilled by cgroups/k8s):
[code]
There's several aspects to tackle to make sure it better fits the given provisioning, so users do not face issues when ramping up with even a small number of pods.

- In the current

[2020-10-27 21:17] flynnduism commented on #1930
PR checks should be back to normal now. Thank you @bridgetkromhout!

Closing this.

[2020-10-27 21:17] #1930 closed

[2020-10-27 21:45] draychev opened #1937 "OSM CLI emits validation error when using --osm-namespace option"
While trying to run the following command

[code]

Got this error:
[code]
Version (`$ osm version`)
[code]

---

**Affected area (please mark with X where applicable)**:
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]

[2020-10-27 22:14] eduser25 opened #1938 "Redesign Envoy config creation, caching and distribution"
The following issue will state the high-level problems observed, multiple smaller issues can follow up.

Current implementation takes for granted the ability to recompute and push envoy configurations periodically, based on certain thresholds, notifications or events.

Multiple of these mechanisms exists, such as K8s sync channel for new or repeated events, ticker/repeater events and also Envoy re

[2020-10-27 22:21] eduser25 opened #1939 "Webhook/certificate generation split from XDS control plane"
Some discussions suggested we could separate the XDS control plane to the webhook and certificate generation for envoy onboarding.

This would ease up and decouple the system into finer responsibilities, potentially simplifying the later scalability, possible sharding and fine tuning the individual components at scale.

This issue tracks potential conversation over this matter.

- New Functionalit

[2020-10-28 00:09] ritazh opened #1941 "Create Pod Security Policy (PSP) for osm"
**Please describe the Improvement and/or Feature Request**

Adds the minimum required policy ("NET_ADMIN" "NET_RAW") to allow osm to work in PSP enabled clusters

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Pol

[2020-10-28 00:15] #951 closed

[2020-10-28 04:55] #1931 closed

[2020-10-28 14:15] phillipgibson commented on #1912
Document has been drafted and is under review.

[2020-10-28 17:13] shashankram opened #1945 "Add a cli command to validate if 2 pods are allowed to communicate based on SMI TrafficTarget policies"
**Please describe the Improvement and/or Feature Request**
This issue proposes to add a new cli command that will verify if 2 pods are allowed to communicate (direction matters) by going through the applied TrafficTarget SMI policies.

The command could look as follows:
[code]

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI T

[2020-10-28 17:19] aanandr commented on #1945
I love this idea. I think we have a monitoring item to show which services are allowed to communicate but a granular CLI command to show this for a service pair is very useful

[2020-10-28 17:43] shashankram commented on #1909
Some notes on reconciling certain resources:
- For resources created by Helm and later patched by the controller (such as mutatingwebhookconfiguration), the reconciling will have to take care of updating the resource to its latest state. Since such a resource was managed by Helm before, should the recreation be triggered by Helm so that it can manage it as initially intended?
- With a reconciler,

[2020-10-28 17:51] draychev opened #1946 "Create an e2e test for pod without service"
As a follow-up to https://github.com/openservicemesh/osm/pull/1932 - create an end-to-end test to ensure that a pod without a dedicated Kubernetes Service can cURL bookstore.

---

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Perm

[2020-10-28 18:09] #1798 closed

[2020-10-28 18:09] #1316 closed

[2020-10-28 18:23] shashankram commented on #1909
@ritazh this needs more thought.

[2020-10-28 19:26] eduser25 commented on #1946
@nojnhuh had already fixed this, and we already have a test for it if not mistaken (_e2e_pod_client_server_test.go_)

[2020-10-28 19:58] nojnhuh commented on #1946
@eduser that test still creates a service on the client side. I hadn't made this change yet since I knew it was going to fail without the service. It would be like a 3 line change to get rid of it though.

[2020-10-29 02:21] eduser25 opened #1958 "perf bottleneck at 400 pod scale (ADS times++), Rlock resource contention on K8s Namespace cache"
This is based on recent findings during scaling and perf ceiling assessment.

Test:
- Deploy 20 pods (10 clients, 10 servers. Servers are behind a 5-way traffic split).
- Repeat til traffic failure.

At 200~ scale, OSM is 100% busy re-running configuration based on multiple event calls, triggering the update-config routine.
With enough config triggers, we have enough go-routines (~200) contending

[2020-10-29 16:07] nojnhuh opened #1960 "CLI installed with Homebrew is missing version information"
**Bug description**:
After installing v0.4.2 of the CLI with `brew install osm`, `osm version` does not contain version information.

    % osm version
    Version: dev; Commit: ; Date: 2020-10-23-15:49

This is because the version information is parsed out of git but the Homebrew formula only downloads the source without the git data. https://github.com/Homebrew/homebrew-core/blob/9f1c3731538887e

[2020-10-29 16:16] nojnhuh commented on #1427
It looks like macOS only complains about the binary not being signed and notarized when it's downloaded from a browser, per https://github.com/helm/helm/issues/6615#issuecomment-551108259. Installing via something like `wget` or a package manager won't throw the same error. I tried `brew install osm` and it worked fine without any errors the first time it's run.

[2020-10-29 18:27] draychev commented on #815
Looking at the source code - this was already one over the course of the last few months!

[2020-10-29 18:27] #815 closed

[2020-10-29 18:29] draychev commented on #1919
ref https://github.com/openservicemesh/osm/issues/1921
ref https://github.com/openservicemesh/osm/issues/1511

[2020-10-29 18:29] draychev commented on #917
ref https://github.com/openservicemesh/osm/issues/1921
ref https://github.com/openservicemesh/osm/issues/1511

[2020-10-29 18:34] draychev commented on #977
We introduced reasonable defaults for many of the environment variables to where it is possible to run the demo without having much in the .env file.

[2020-10-29 18:34] #977 closed

[2020-10-29 18:38] draychev commented on #1152
@nitishm this is all yours if you want it!

[2020-10-29 18:45] draychev commented on #1945
ref https://github.com/openservicemesh/osm/issues/1388

[2020-10-29 18:45] draychev commented on #1388
Similar is the following GitHub issue, which will determine whether traffic is allowed between 2 pods: https://github.com/openservicemesh/osm/issues/1945

[2020-10-29 18:47] draychev commented on #1538
Hi @elsesiy, are you still interested in this issue?

[2020-10-29 18:50] elsesiy commented on #1538
Yes, I can take this on

[2020-10-29 19:39] nitishm commented on #1152
This would tie us to a helm based deployment model. I think the latter,

would be the best approach in the long run.

[2020-10-29 20:12] shashankram opened #1962 "Expose retrieving osm-config ConfigMap properties using helpers in pkg/configurator to reuse code"
There is a use case to parse and read the osm-config ConfigMap in the osm cli code. Since pkg/configurator already has the code to do so, reuse this and make the APIs to parse the configMap generic to be used by external packages.
https://github.com/openservicemesh/osm/pull/1961#discussion_r514511265

[2020-10-29 20:16] shashankram commented on #1152
You can retrieve the information from the controller pod by port-forwarding to the controller pod via the cli. cli already does this for a few commands namely `osm dashboard`, `osm proxy dump-config`

[2020-10-29 23:11] #1180 closed

[2020-10-29 23:11] #1946 closed

[2020-10-29 23:29] shashankram opened #1964 "Implement RBAC for inbound connections"
**Please describe the Improvement and/or Feature Request**
Implement network RBAC policies for inbound connections based on SMI TrafficTarget policies.

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
-

[2020-10-30 00:05] shashankram opened #1965 "Encode ServiceAccount in service certificates"
**Please describe the Improvement and/or Feature Request**
Current, service certificates have a CN of the form <service>.<namespace>.svc.cluster.local, add the ServiceAccount for the service so that service identities can be mapped to TrafficTarget's source and destination identities (which use Kubernetes ServiceAccounts).
The CN for a service certificate is assigned here: https://github.com/opens

[2020-10-30 00:27] nitishm commented on #1152
@shashankram correct me if I am wrong. For this task I will need to add a `/version` route to `pkg/httpserver` and then use port forward from the CLI to request that endpoint.

[2020-10-30 16:39] shashankram commented on #1152
If you go with the approach of exposing a `/version` endpoint on the osm-controller HTTP server then yes.

[2020-11-02 16:41] nojnhuh commented on #1427
Given that installing via homebrew doesn't exhibit errors related to the binary not being signed/notarized, we're going to prioritize improving the homebrew installation over this for the time being.

[2020-11-02 17:10] nojnhuh commented on #1530
`helm install` has an `--atomic` flag that will do exactly this which also implies `--wait`, which will wait for pods, pod workloads, services, PVCs, and CRDs to become ready before exiting. Is that the same behavior we want for `osm install`, or would we only want to to clean up resources on error conditions NOT checked by `--wait`?

[2020-11-02 18:24] #1601 closed

[2020-11-03 05:55] snehachhabria opened #1974 "Allow users to provide a CA bundle for configuring the mutatingWebhookConfiguration in OSM"
**Please describe the Improvement and/or Feature Request**
 Extend OSM, whereby a user is allowed to provide or bring their own CA bundle for the mwhc in OSM. This can be enabled/disabled using a feature flag.

In the scenario when a user brings their own CA bundle the lifecycle and management of the mwhc is the responsibility of the mesh owner.

**Scope (please mark with X where applicable)**
- N

[2020-11-03 05:57] snehachhabria commented on #1909
Based on an offline sync, we will use this issue to track the reconciliation of the CA bundle for the mwhc. The CA bundle reconciliation will take place only if the CA bundle is generated by OSM, Created another issue https://github.com/openservicemesh/osm/issues/1974 to extend out OSM to give mesh owners/ creators to bring their own CA bundle and hence own the management of the mwhc.

[2020-11-03 10:57] addozhang opened #1975 "Handle http probe during patching pod"
**Please describe the Improvement and/or Feature Request**

In `cds/cluster.go#getLocalServiceCluster`, filling endpoints of load assignment with `0.0.0.0` and **service's target port** instead of endpoint.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffi

[2020-11-03 16:52] #1962 closed

[2020-11-03 17:33] #1877 closed

[2020-11-03 19:31] shashankram commented on #172
@michelleN this seems very important to me. It will prevent misconfigured/incorrect policies from being applied giving users instant feedback, versus an incorrect policy being applied and traffic not working as expected.

Can we add this to the roadmap?

[2020-11-03 19:41] michelleN commented on #172
Yea let's do it

[2020-11-03 19:56] nojnhuh opened #1979 "Apex service of traffic split selecting a pod is programmed as a cluster by RDS"
**Bug description**:

When the `spec.selector` of the apex service of a traffic split matches the labels of a pod, RDS configures the apex service as a cluster alongside the backends of the traffic split, leading to intermittent HTTP 503 errors when making requests to the apex service.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access P

[2020-11-03 22:17] draychev commented on #1979
Here is a script to help repro the bug:  https://gist.github.com/draychev/e1de72642abd8607ea4ae3002373640c#file-osm-demo-sh
Wait for the script to finish deploying all the resources.
Notice:
[code]

[2020-11-04 02:42] draychev commented on #1979
I am working on a test to capture this scenario: https://github.com/openservicemesh/osm/pull/1982

[2020-11-04 16:06] #1361 closed

[2020-11-04 17:49] shashankram opened #1983 "Document usage of SMI traffic splitting and dependency on apex service"
**Please describe what should be documented
SMI traffic split uses an apex service, with the apex service being a Kubernetes Service resource. The apex service needs to be configured correctly (have the right namespace, port, selectors etc.) to be able to split traffic to leaf services.

**Please suggest where in the repo the document should be located
https://github.com/openservicemesh/osm/tree/m

[2020-11-04 17:53] shashankram commented on #1983
In https://github.com/openservicemesh/osm/issues/1979, the selectors configured on the root service resulted in a misconfiguration on the proxy.

[2020-11-04 17:54] nojnhuh commented on #1530
After discussing offline, I'll plan to hardcode `--atomic` to true and adding a `--timeout` flag to `osm install` which will pass through to Helm.

[2020-11-04 20:43] ritazh commented on #1912
We can use this as a guide: https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md#production-readiness-review-questionnaire

[2020-11-05 15:42] #1527 closed

[2020-11-05 22:13] #1740 closed

[2020-11-06 17:18] mudit-01 opened #1999 "Need clarity on OSM governance and CLA"
@phillipgibson  here are few points that OSM documents should cover:-
- Page on governance hierarchy like other CNCF sandbox projects
- More clarification on the corporate CLA/DCO like other sandbox projects as current one is not so clear

[2020-11-06 17:23] phillipgibson commented on #1999
Thanks @mudit-01 I moved this to our current milestone to be completed.

[2020-11-06 19:59] flynnduism opened #2004 "[docs] configure docs site deployments"
Follow up to #1840.

Currently auto-deploy of the docs website is disabled, as it was causing problematic 🔴  checks on pull requests.
Here I want to discuss and track some follow up tasks...

# Deploy Process

@shashankram you had a question there around deployment and process:

By default, Netlify will redeploy the site when any changes are merged to the `main` branch of this repo. This is automa

[2020-11-06 20:04] shashankram commented on #2004
Thanks for the details @flynnduism .

This seems reasonable as long as PRs are not capable of breaking the documentation on the website. I do think it would be valuable to fail PRs break the documentation website, or that do not follow the correct documentation style to be rendered on the website.

[2020-11-06 21:07] flynnduism commented on #2004
@shashankram ok I can add the Netlify notification to do this - it provides a build preview of the code changes in the PR site with success/failure status.

[2020-11-06 21:15] flynnduism opened #2006 "[docs] setup a docs subdomain"
The docs are being served via `osm-docs.netlify.app` - once everything is ready for inclusion on the main website, we should setup a clear and simple url like `docs.openservicemesh.io`.

AFAIK the openservicemesh.io domain is managed by the CNCF, so this would require a [Service Desk ticket](https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/user/login?destination=portal%2F1) to a

[2020-11-06 21:56] shashankram commented on #2004
Question here is whether a PR can break the website, and how we can prevent it. If the checks are going to pass normally, would adding the Netlify notification cause distraction, or are there possibilities for false alarms?

[2020-11-06 22:53] flynnduism commented on #2004
* It's pretty unlikely IMO. most OSM PRs will not touch the site. The ones that do will be adding/editing content which rebuilds the site but are pretty smooth
* Edits to the design, site layout or adjusting the config (for example adding plugins, translations etc) could break the site, but that's where the Netlify PR check comes in handy

If the checks are going to pass normally, would adding the

[2020-11-06 23:11] shashankram commented on #2004
Thanks, it seems like a good idea to integrate it with PRs.

[2020-11-06 23:31] #1965 closed

[2020-11-06 23:32] flynnduism opened #2008 "[docs] organize the docs"
The work in #1840 creates a site to hold the docs, but it does not reformat the existing docs into it.

That work is best separated and added in after #1840 - (i) to avoid a bunch of conflicts with other in-flight pull requests and (ii) ideally carried out by the OSM team to ensure editorial accuracy.

I'm creating this issue to recommend some edits:

- [ ] create a proper welcome/landing page (cu

[2020-11-09 12:20] addozhang opened #2012 "Allow a way to not enforce client side routes to simplify gradual migration of applications into the mesh"
**Please describe the Improvement and/or Feature Request**

Support features to gradually onboard new applications into a mesh. These include:
- optional mTLS based authentication (https://github.com/openservicemesh/osm/issues/2097)
- support to route HTTP traffic based on ip:port/ip HOST header (https://github.com/openservicemesh/osm/issues/2097)
- Granular policy enforcement to be able to suppor

[2020-11-09 17:02] shashankram commented on #2012
@addozhang currently OSM programs both client side and server side routes. Client side routes are programmed for TrafficSplit scenarios which require the client to load balance traffic. Server side routes are programmed based on SMI policies as well.

Could you share more details on what is it that you think is not correct?

[2020-11-09 17:32] #1530 closed

[2020-11-09 18:35] shashankram opened #2014 "Make pkg/kubernetes tests faster"
**Please describe the Improvement and/or Feature Request**
The unit tests in `pkg/kubernetes` are extremely slow, with each unit test taking up to 30 seconds to run most often (in my environment).

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Po

[2020-11-10 17:51] michelleN opened #2018 "add rate limiting functionality"
**Please describe the Improvement and/or Feature Request**
Design and implement rate limting.

- [x] Local rate limiting (Phase1)
    - [x] [Design doc](https://docs.google.com/document/d/1VTdte9v0JpX7odMtXlGsLlGwDlnXBAEZAf8PMJ_EyY4/edit?usp=sharing)
    - [x] Implementation
    - [x] Documentation

- [ ] Global rate limiting (Phase 2)
    - [x] [Design doc](https://docs.google.com/document/d/1fNf

[2020-11-10 18:12] #1909 closed

[2020-11-10 20:59] #2014 closed

[2020-11-10 22:07] draychev commented on #1501
Added a few more items related to the ticker to the description based on https://github.com/openservicemesh/osm/pull/2016#discussion_r520077203

[2020-11-11 00:57] shashankram opened #2020 "Running reconciler unit test locally fails"
**Bug description**:
Running the reconciler unit test locally fails with the following error:
[code]

This is occurring after PR https://github.com/openservicemesh/osm/pull/1976 was merged.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic

[2020-11-11 02:53] snehachhabria commented on #2020
You will need to download the kubebuilder package locally for the test to run. The steps are as follows :

os=$(go env GOOS)
arch=$(go env GOARCH)
curl -L https://go.kubebuilder.io/dl/2.3.1/${os}/${arch} | tar -xz -C /tmp/
sudo mv /tmp/kubebuilder_2.3.1_${os}_${arch} /usr/local/kubebuilder
export PATH=$PATH:/usr/local/kubebuilder/bin

[2020-11-11 05:16] nojnhuh commented on #1922
https://github.com/openservicemesh/osm/releases/tag/v0.5.0-rc.1

[2020-11-11 05:16] #1922 closed

[2020-11-11 06:35] snehachhabria opened #2022 "Add a reconciler for the OSM CA Bundle secret"
This issue is for the addition of a reconciler for the OSM CA Bundle Opaque secret named `osm-ca-bundle` in the `osm-system` namespace.

Like the reconciler for the mutating webhook that watches for the ca bundle, we will need another reconciler that watches for OSM's secret and creates a new one when it has been deleted.

Example of the secret:
[code]

When a user deletes the OSM secret this will

[2020-11-11 17:17] shashankram commented on #2020
@snehachhabria please automate this as a part of the test run, and move this outside of the unit tests suite to be under `tests/scenarios`. The reconciler tests are testing against an actual etcd server, so its better to add this as a part of our the additional suites under `tests/scenarios`.

[2020-11-11 17:19] shashankram commented on #2022
@snehachhabria could you describe in the issue which secret you are referring to.

[2020-11-11 17:43] shashankram opened #2024 "Have clients validate identity of servers and check if they are authorized to run the service"
**Please describe the Improvement and/or Feature Request**
Clients should validate the identity of upstream services and validate that the identity is authorized to run the service.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Pe

[2020-11-11 17:48] nshankar13 opened #2025 "Parameterize chart templates"
**Please describe the Improvement and/or Feature Request**

Use templating and parameterization with values.yaml to make it easier to modify chart in the future.
**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Poli

[2020-11-11 19:17] #1324 closed

[2020-11-11 23:03] michelleN opened #2034 "refactor how inbound and outbound VirtualHosts are programmed on Envoy proxies"
The way we currently couple SMI Traffic Split and SMI Traffic Target policies has proven difficult when trying to program the correct Envoy RouteConfiguration for inbound and outbound VirtualHosts to implement SMI Traffic Split v1alpha3. Until now, this was not an issue because HTTP route matching rules were only associated with Traffic Target resources. However, there are now a series of issues r

[2020-11-12 01:31] michelleN opened #2038 "consolidate GetServicesForServiceAccounts and GetServicesForServiceAccount"
https://github.com/openservicemesh/osm/pull/2037#discussion_r521748924

To be implemented after #2034 is complete.

[2020-11-12 01:31] #2024 closed

[2020-11-12 07:17] snehachhabria commented on #2022
This is the Kubernetes secret and ca bundle generated from the root certificate

[2020-11-12 07:20] snehachhabria commented on #1578
This was addressed with #2023

[2020-11-12 07:20] #1578 closed

[2020-11-12 11:15] snehachhabria opened #2041 "Enable errcheck on the repository"
**Please describe the Improvement and/or Feature Request**

Errcheck was disabled in this PR #2023 , we need to enable it back on the repository

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingres

[2020-11-12 18:09] #2020 closed

[2020-11-12 19:19] #2041 closed

[2020-11-12 23:02] michelleN opened #2048 "GetHostnamesForUpstreamService should replace GetResolvableHostnamesForUpstreamService"
See #2047 for more details.

To be completed after #2034.

[2020-11-13 03:04] michelleN opened #2052 "remove isValidTrafficTarget after tackling validating SMI resources more generally"
- More details [here]( https://github.com/openservicemesh/osm/pull/2051#issue-520288297)
- Tracking validating webhook for SMI resources [here](https://github.com/openservicemesh/osm/issues/172)

[2020-11-13 21:55] shashankram opened #2056 "Add unit test to test entire envoy listener configuration"
**Please describe the Improvement and/or Feature Request**
Currently, each listener configuration is separately tested. Add a test to test the entire listener configuration.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive

[2020-11-13 22:58] nojnhuh opened #2058 "Document how to publish patch releases"
**Please describe what should be documented

Currently, the [release guide](https://github.com/openservicemesh/osm/blob/3e374f0590fb11bdd1335b6b930c06b798dae84b/docs/release_guide.md) only contains details for minor version bump releases like vX.Y.0. The release guide should also include details for how to backport changes to the release branches from main and clearly differentiate which steps are

[2020-11-14 00:05] #1964 closed

[2020-11-16 18:46] #1910 closed

[2020-11-16 19:15] draychev opened #2064 "In permissive traffic mode (allow-all) only pods with services can communicate; not individual pods w/ service"
While in SMI-mode (not permissive traffic mode) with https://github.com/openservicemesh/osm/pull/1932 we added the ability for have a pod, *not backed by a service* to make calls to other pods -- as long as there are TrafficTarget policies permitting the 2 service accounts to communicate.

On the other hand, in permissive traffic mode, a pod without a backing service is not able to communicate w/

[2020-11-16 19:56] draychev commented on #2064
This may get resolved with #2035

[2020-11-16 19:57] draychev commented on #1979
This may get resolved w/ #2035

[2020-11-16 20:30] bridgetkromhout commented on #1999
From CNCF Slack:
[code]

[2020-11-16 20:41] bridgetkromhout commented on #1999
This is what we need to update: https://github.com/openservicemesh/osm/blob/main/CONTRIBUTING.md#contributor-license-agreement
https://github.com/openservicemesh/osm-www/blob/main/CONTRIBUTING.md#contributor-license-agreement

[2020-11-16 20:46] bridgetkromhout commented on #1999
TLDR: I think you need to open a ticket with the CNCF to get the URL to set up the CLA under CNCF.

[2020-11-16 21:55] bridgetkromhout opened #2065 "change license from MIT to Apache2"
Hi, folks -

We should have relicensed to Apache2 when we worked on the CNCF transfer in https://github.com/cncf/toc/issues/535. We now need to change the license from MIT to Apache2.

I can submit appropriate PRs but am looking first for maintainer agreement in this issue - please comment or 👍 - thanks.

[2020-11-16 22:51] flynnduism commented on #2004
The Netlify check is back in place - minimized it to one single check / notification.

<img width="932" alt="Screen Shot 2020-11-16 at 2 49 18 PM" src="https://user-images.githubusercontent.com/686194/99317522-0d760b00-281b-11eb-866f-61da78a5735b.png">

Clicking the `details` part of the UI on the right will open a deploy preview of the PR code.

[2020-11-16 23:10] draychev opened #2068 "Implement Hashcorp Vault delete-certificate API call"
We have `ReleaseCertificate` implemented for Hashicorp Vault.  This does not make the API call to delete the given certificate and it should.

Look for `TODO` in `func (cm *CertManager) ReleaseCertificate(cn certificate.CommonName) {`

https://github.com/openservicemesh/osm/blob/4be6e140ea39b851372adab568ea362fbba4ca15/pkg/certificate/providers/vault/certificate_manager.go#L123-L126

### Why is th

[2020-11-16 23:26] bridgetkromhout commented on #2065
Correction completed.

[2020-11-16 23:26] #2065 closed

[2020-11-17 15:49] #1538 closed

[2020-11-17 15:49] #1719 closed

[2020-11-17 18:10] #2004 closed

[2020-11-17 20:04] devigned opened #2078 "Binaries built outside of the Dockerfiles"
**Bug description**:

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI Tool                   [ ]
- Metrics

[2020-11-17 21:00] #1753 closed

[2020-11-17 21:02] ksubrmnn commented on #2078
@nojnhuh do you have any input on this issue?

[2020-11-17 21:10] ksubrmnn commented on #1897
Fixed by #1868

[2020-11-17 21:10] #1897 closed

[2020-11-17 21:10] ksubrmnn commented on #1893
Fixed by #1868

[2020-11-17 21:10] #1893 closed

[2020-11-17 21:16] nojnhuh commented on #2078
I'm not sure exactly how that decision got made initially to build the images natively vs. in Docker (@draychev, do you have more context?). The only reason I can see justifying keeping it the way we have it that it hasn't broken yet, but I agree that building the binaries within Docker would reduce the risk of the issues you describe, @devigned.

[2020-11-17 22:51] phillipgibson opened #2081 "Ability to use a preferred KMS (Key Management Solution)"
**Please describe the Improvement and/or Feature Request**
Ability to allow OSM to use an existing or particular KMS solution for certificate management

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]

[2020-11-17 22:56] phillipgibson opened #2082 "Provide Windows container support"
Provide the ability to service Windows containers / payloads in the mesh.

### Use Cases
For applications using Windows containers to participate in the service mesh

---

[2020-11-17 23:03] phillipgibson opened #2083 "Support of all APIs defined in the SMI specification"
**Please describe the Improvement and/or Feature Request**
As outlined in the SMI specification, ensure OSM can act on all documented APIs

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [X]
- SMI Traffic Specs Policy   [X]
- SMI Traffic Split Policy   [X]
- Permissive Traffic Policy  [ ]
- Ingress

[2020-11-17 23:16] phillipgibson opened #2084 "Enhanced debugging and troubleshooting abilities for the OSM control plane"
**Please describe the Improvement and/or Feature Request**
Higher fidelity of logging on control plan components to enhance debugging scenarios

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2020-11-17 23:22] phillipgibson opened #2085 "Ability to update OSM configurations outside of configmap"
**Please describe the Improvement and/or Feature Request**
Day 2 operations and beyond, the ability to make inline changes to OSM configurations without the need to manipulate the initial configmap

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split P

[2020-11-18 20:52] phillipgibson commented on #1999
DCO guidance has been added to the contributing.md doc, DCO bot has been added to the org level, and original CLA requirements have been removed from branch rules.

[2020-11-18 23:54] shashankram opened #2088 "RBAC package and model to craft policies"
**Please describe the Improvement and/or Feature Request**
https://github.com/openservicemesh/osm/issues/1964 implemented server side RBAC policies as a part of LDS. This needs to be extended out as a separate package to be able to build in XDS RBAC policy, preferably using a data model. This will also be used by RDS to build RBAC policies per route.

**Scope (please mark with X where applicable)*

[2020-11-19 07:23] addozhang opened #2091 "TrafficSplit service should removed from weighted cluster in route configuration"
**Bug description**:

Split config:

![image](https://user-images.githubusercontent.com/2224492/99634038-d30aa900-2a7a-11eb-8da8-2f12a3219acc.png)

Section of route config dump

![image](https://user-images.githubusercontent.com/2224492/99634135-f170a480-2a7a-11eb-9537-6487abedfbec.png)

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access

[2020-11-19 07:49] addozhang commented on #2012
@shashankram sorry for late reply.

Currently our system built with Spring cloud framework (Edgware) and running on Openshift (3.11, which kubernetes is 1.11). Service discovered is via Netflx Eureka and service accessing is via Feign which using pod ip and port directly.

We hope to migrate to mesh smoothly and implement Cancary release with power of envoy. Smooth requires we MUST upgrade microse

[2020-11-19 08:17] snehachhabria commented on #2091
Duplicate of issue : #1979

[2020-11-19 08:26] addozhang commented on #2091
@snehachhabria  oh, let me check.

[2020-11-19 08:31] addozhang commented on #2091
@snehachhabria It is not resolved yet? can be reproduced with master version.

[2020-11-19 08:51] snehachhabria commented on #2091
@addozhang yes its not yet resolved, we have a PR : https://github.com/openservicemesh/osm/pull/2035 that's in progress and will fix it in a cleaner manner

[2020-11-19 16:26] mudit-01 commented on #1999
@phillipgibson the governance part is still missing like other projects have a GOVERNANCE.md. Any updates on it?

[2020-11-19 17:07] phillipgibson commented on #1999
@mudit-01 the OSM repo does not contain a governance.md file. OSM is a CNCF sandbox project and falls under the CNCF governance for projects. Can you provide more specifics of what you are looking for? Thanks.

[2020-11-19 17:10] mudit-01 commented on #1999
@phillipgibson I was searching for the requisites for becoming maintainers usually they are are documented governance.md

[2020-11-19 17:12] phillipgibson commented on #1999
Understood. I will re-open this issue and get a draft of maintainers/contributors guidance in a governance.md file. Thanks for clarifying.

[2020-11-19 17:27] shashankram commented on #2091
Closing this is as a duplicate.

[2020-11-19 17:27] #2091 closed

[2020-11-19 17:55] shashankram commented on #2012
@addozhang thanks for providing more details.

Would your problem where the HOST header contains IP:Port be addressed if we program IP:Port in the `virtual_host` domains?

We do not want to open inbound listener for non-TLS traffic for in-mesh traffic. We do support non-TLS only for ingress traffic via Kubernetes ingress resource. At the moment, in-mesh inbound filterchain should not allow non-TLS

[2020-11-19 20:03] #1914 closed

[2020-11-19 22:46] addozhang commented on #2012
Currently we need to upgrade sdk in all microservices if we need HOST appear in HTTP header, it will be huge cost.

If not upgrade, client out traffic is sent by the `passthrough-outbound`, the `ORIGINAL_DST` filter. (this filter will handle the trffic like mysql .etc). It is configured as `protocol_selection: USE_DOWNSTREAM_PROTOCOL` in `passthrough-outbound` cluster. This means request will be s

[2020-11-19 23:20] eduser25 opened #2096 "Move Egress filter chain to use v3 `default_filter_chain`"
V3 supports `default_filter_chain`, which is the filter chain that is going to execute when non is matched on the `FilterChainMatch` list.

For egress, we are currently populating a full space of possible destinations, so anything not hitting a possible cluster endpoint IP is considered egress, as nothing else is assessed other than IP. In a sense, the space of things we hit is complete, so there

[2020-11-19 23:27] shashankram commented on #2012
`passthrough-outbound` is only meant for `egress` traffic, not traffic within the mesh. For traffic within the mesh, you either need to use permissive mode by setting `permissive_traffic_policy_mode=true` in the `osm-config` ConfigMap, or explicitly add SMI policies.

Here is a related issue: https://github.com/openservicemesh/osm/issues/1001 (disable mTLS using a flag). Will this address the TLS

[2020-11-19 23:35] shashankram opened #2097 "Program ip:port combinations as possible host headers in virtual_host.domains for HTTP routes"
**Please describe the Improvement and/or Feature Request**
Currently, OSM only programs service FQDNs (foo.bar.svc.cluster.local, foo.bar, etc.) as a part of `virtual_host.domains` in the route configuration. However, the HTTP request could have a host header corresponding to the IP:Port combination (ip:port, ip), in which case traffic will not be allowed because of `ip:port` not being programmed

[2020-11-19 23:40] shashankram commented on #1001
@addozhang hinted in https://github.com/openservicemesh/osm/issues/2012#issuecomment-730684175 that it would be desirable to turn off mTLS for gradual migration of new services into the mesh.

[2020-11-20 10:19] addozhang commented on #1001
@shashankram thanks.

Yes, this is our requirement. We are running hundreds of spring cloud serivces on openshift. The Netflix Eureka acts as service discovery. Access among services is via pod-ip:port, and there is only ip:port existing in HOST field of request.

We are planing to migrate to mesh architech to lervage power of mesh, such as trafflic split.

At the same time, we hope the migration

[2020-11-20 17:26] shashankram commented on #1001
@addozhang your requirements make sense to me. I will try to summarize the high level requirements in https://github.com/openservicemesh/osm/issues/2012.

[2020-11-20 18:40] fredstanley opened #2099 "OSM consistency checker for mesh health and mesh configuration on the proxies."
Wondering if there is anyway in OSM controller to check for consistency of the mesh. By consistency i mean is there a way to check if envoys on each containers are properly configured with the cluster informations of all other available services in the k8 cluster ? More in lines with a health check of the mesh configuration

**Scope (please mark with X where applicable)**
- New Functionality

[2020-11-20 18:47] nojnhuh opened #2100 "Make OSM control plane instances upgradeable"
**Please describe the Improvement and/or Feature Request**

OSM should support upgrading the control plane to a newer version without a complete reinstallation.

**Sub-tasks** (will link to open issues as they are defined)
- [ ] Tests (#2125)
- [ ] CLI Command (#1139)
- [ ] Documentation (#2151)

**Scope (please mark with X where applicable)**
- New Functionality          [X]
- Install

[2020-11-20 19:59] eduser25 opened #2103 "Add runtime config/osm boot flags to configure ticker/resyncs"
With on-event updates model, we do not rely on arbitrary resynchronization
mechanisms to detect and apply config chanes, so ticker was disabled and
kubernetes resyncs have been spaced in the order of minutes.

We would however want to be able to enable ticker on configmap updates, or
allow booting OSM with a certain k8s resync value, so both have to be intrumented
to be configurable.

**Scope (ple

[2020-11-20 21:54] eduser25 commented on #2096
pending for envoy 1.17 https://www.envoyproxy.io/docs/envoy/latest/version_history/current

[2020-11-20 22:57] ksubrmnn opened #2106 "Document User ID and ports used by OSM"
**Please describe what should be documented
The OSM repo lacks documentation detailing the various ports and the user ID used by OSM/Envoy so that users don't deploy conflicting services

**Please suggest where in the repo the document should be located
https://github.com/openservicemesh/osm/blob/main/docs/onboard_services.md

[2020-11-20 23:41] shashankram opened #2108 "flaky test in pkg/smi resulting in panic"
**Bug description**:
With the introduction of pubsub, it seems like some tests have become flaky. Noticed a test timeout due to panic from a failed CI run:
https://pipelines.actions.githubusercontent.com/FqYyUlFBwgcC4xlcAlRHSOZjGFqxSg5UdT6unwZ3oA6NkQIoht/_apis/pipelines/1/runs/7625/signedlogcontent/40?urlExpires=2020-11-20T23%3A36%3A04.2685328Z&urlSigningMethod=HMACV1&urlSignature=iYp0HOU21ndbGqh7

[2020-11-20 23:43] shashankram commented on #2108
@eduser25 why do we have so many goroutines being launched?

[code]

[2020-11-23 13:24] ezYakaEagle442 opened #2111 "multicluster: Add support for Azure-Arc"
Add OSM support to Azure Arc for server + Azure Arc for K8S to manage the Service-Mesh in a Multi-Cluster providers scenario.

**Scope (please mark with X where applicable)**
- New Functionality          [ X]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress

[2020-11-23 17:36] shashankram commented on #2111
@ezYakaEagle442 could you describe in more detail specifically what else is required apart from multi cluster support for this?

/cc @ritazh

[2020-11-23 19:36] ezYakaEagle442 commented on #2111
Service A runs in AKS
Service B runs in ARO
Service C runs in K3S
Service D runs in GKE

example of allowed services to services communication (any other call is denied) :
Service A ==> Service B
Service C ==> Service A

The idea would be to have OSM deployed through Azure Arc for K8S to all clusters connected through Arc,, Arc/OSM aware of the list of services deployed in all clusters and filteri

[2020-11-23 20:28] #2108 closed

[2020-11-24 00:04] shashankram opened #2115 "Retest HTTPS ingress and update documentation"
**Please describe what should be documented
The documentation for HTTPS ingress needs to be updated to reflect changes made to the CN in service certificates.

**Please suggest where in the repo the document should be located
https://github.com/openservicemesh/osm/blob/main/docs/content/docs/patterns/ingress.md

[2020-11-24 00:42] eduser25 commented on #1934
topk 20 most expensive metrics (in terms of how many time series each one has) at 200~ pod
![image](https://user-images.githubusercontent.com/5503924/100031446-87257000-2daa-11eb-83e0-f7e1b477e6ef.png)

[2020-11-24 02:07] eduser25 commented on #1934
With current config, prometheus is killed due to memory exhaustion (in an enabled 4Gb instance) at around ~200 pods.
- Assuming prometheus starts with roughly 120Mb of ram in use, that yields around *9.5Mb/envoy*, however
- There's a couple or three time-bucket series from API servers that scale pretty poorly too (apiserver_request_duration_seconds_bucket).

I'll be testing to see if these can be

[2020-11-24 02:10] eduser25 commented on #1934
By dropping all time-bucket series:
[code]
At 240 pods:
![image](https://user-images.githubusercontent.com/5503924/100037388-dc677e80-2db6-11eb-99c2-caec113f1b04.png)
![image](https://user-images.githubusercontent.com/5503924/100037409-e5f0e680-2db6-11eb-81b3-674e421596a4.png)

Substracting the initial 100Mb ram it is already using at boot, brings about 6.6Mb/envoy on prometheus.

[2020-11-25 18:08] nojnhuh opened #2121 "Manual demo fails with ADS error when traffic split weight is set to 0"
**Bug description**: Running the manual demo at `docs/example` does not work as described. After applying all of the manifests in `docs/example/manifests`, the following error is shown in the osm-controller pod logs about setting the weight of a cluster to 0 like the v2 traffic split does:

[code]

The `kubectl apply` of the traffic split succeeds and `kubectl get` returns the configuration with t

[2020-11-25 18:21] shashankram commented on #2121
Good find. It seems like the controller doesn't program the routes correctly when the weight for a backend is set to 0.

Could you share what the outbound route config looks like on the client proxy?

[2020-11-25 18:26] shashankram commented on #2121
@nojnhuh would it be possible to write a unit test for this and ensure we aren't programming invalid config. Possibly a weight of 0 is not allowed while programming weighted clusters, and the controller isn't handling backends that have a weight of 0 in a split policy.

[2020-11-25 18:41] eduser25 opened #2122 "Fix label scalability/allow list for prometheus metrics"
Too many labels causes time bucket series to scale poorly on prometheus backend. (#1934)

The difference in Mb/pod in Prometheus:
With time-bucket series: ~20MB/pod
Without time-bucket series: ~6MB/pod

We have temporarily disabled scraping `.*bucket.*` series (#2117) to allow prometheus to at least operate at reasonable numbers.

This however needs a scalable fix, probably in the form of only all

[2020-11-25 18:44] nojnhuh commented on #2121
Here's that route config after applying the split:
[code]

Yeah it should be simple to write a test for this. Is there an easy way to do that kind of validation in a unit test? If not it should be simple to check it ourselves.

[2020-11-25 18:46] shashankram commented on #2121
We started adding such kind of scenario testing under `tests/scenarios/`. We can continue adding new scenarios like these there.

[2020-11-30 16:52] #2088 closed

[2020-11-30 16:52] shashankram commented on #1918
https://github.com/openservicemesh/osm/issues/1521

[2020-11-30 17:25] nojnhuh opened #2125 "Implement OSM upgrade test scenarios"
Part of #2100

OSM should have e2e tests that perform control plane upgrades.

Tests will probably mostly look something like:
1. `osm install`
1. Install a sample workload within the mesh.
1. Verify the workload/control plane behavior.
1. Upgrade the OSM control plane.
1. Verify the workload/control plane behavior.

[2020-11-30 17:56] draychev opened #2126 "Document the statelessness of OSM Controller"
Please document the fact that OSM Controller *is stateless* and the nuances around it.

Please reflect this deliberate design choice in the `DESIGN.md` file as well as other technical documentation.

[2020-11-30 22:07] phillipgibson commented on #1999
At the current state of a CNCF sandbox project we do not need the governance doc completed at this point. We will be working on drafting the governance.md doc in the near future.

[2020-11-30 22:07] #1999 closed

[2020-12-01 18:36] nojnhuh opened #2131 "Upgrading osm-controller from v0.5.0 to commit 388f8282 causes HTTP 503"
**Bug description**: After installing OSM v0.5.0 and verifying two services can communicate when configured via SMI, upgrading the osm-controller to commit 388f8282 causes the client service to receive HTTP 503 errors with the following reason from Envoy:

[code]

Came across this while looking into #2125.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
-

[2020-12-01 18:48] eduser25 commented on #2131
I believe the resyncs/ticker that were dropped last week (#2095) broke this.

I think the issue is around the fact that the k8s cache might synchronize _before_ pubsub and event handlers are registered, so dispatcher doesn't trigger updates for the existing envoys. If I'm correct, the solution has to register first the pubsub hooks and event handlers first, and then synchronize the caches, which w

[2020-12-02 12:01] addozhang commented on #1975
@shashankram Is there any solution for this? With the workaround solution is to replace http probe to exec probe, which execute 'curl -sIk [http.schema]://localhost:[http.port]/[http.path]'. This should be done in injection phase and required curl command existing in docker image.

Another solution is fill the port of local cluster with the port in service, instead of endpoint.

[2020-12-02 12:27] addozhang opened #2134 "cluster_not_found occurs when multi services existing of one application"
**Bug description**:

Described in traffic split [workflow](https://github.com/servicemeshinterface/smi-spec/blob/master/apis/traffic-split/v1alpha3/traffic-split.md#workflow) in smi spec, there are two services form `foobar-v1` deployment: `foobar` and `foobar-v1`.

Before create any TrafficSplit for `foobar` service, the root service will be not filtered out from service list, in logic of `catal

[2020-12-02 12:28] addozhang commented on #2134
Solution, if the multi services founded, create local clusters with all services. The redundant one won't effect anything.

[2020-12-02 17:00] shashankram commented on #2134
@addozhang this will be fixed by @michelleN soon, where if multiple services are associated with a single proxy, multiple local cluster will be created.

[2020-12-02 19:42] eduser25 commented on #1916
Discussed with @ritazh, we've reviewed a number of frameworks and discussed both pros/cons of integrating a 3rd party framework vs extending our current one.

Based on discussion, these are at least some of the items we immediately want to qualify the control plane:

Control plane profiling - Given a single control plane and with set Mem and CPU limits:
- CPU trends
- Memory trends (mem increase p

[2020-12-03 00:45] addozhang commented on #2134
@shashankram  that's great, thanks.

[2020-12-03 16:36] aleigh6-gatech commented on #912
So if I don't have osm installed, and I run `osm install -v`, should I expect the osm to be installed, or just output that I haven't install any components? Another way to ask this question is, does `osm install -v` actually install osm, or just output installation status?

[2020-12-03 16:37] allenlsy commented on #912
So if I don't have osm installed, and I run osm install -v, should I expect the osm to be installed, or just output that I haven't install any components? Another way to ask this question is, does osm install -v actually install osm, or just output installation status?

[2020-12-03 17:51] eduser25 commented on #902
Adding:
- Time bucket for envoy configuration latency times (record how much time envoy configs take)
- Number of envoy configs / s (can be calculated with the above)

[2020-12-03 20:51] draychev commented on #2131
@eduser25 @nojnhuh I am curious if the `Secret is not supplied by SDS` error goes away at some point?  I'd expect to see this if everything else is set-up on an Envoy proxy, but OSM Controller has not had a chance to send the required certificates *yet*. Given that this is eventually consistent system - this would be possible. But if the error never goes away - (a) it may be an indication (as Edu

[2020-12-03 21:51] nojnhuh commented on #2131
@draychev The test I was running made HTTP requests for a minute before timing out. I didn't check to see that the SDS error was the same throughout that minute. Do you expect the responses to start succeeding after a certain period of time or fail with a different error? What's a reasonable timeout to set to see if the SDS error will never go away?

[2020-12-03 23:21] ksubrmnn opened #2141 "Make osm component namespaces separate from Helm release namespace"
**Please describe the Improvement and/or Feature Request**

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [X]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane

[2020-12-04 19:45] fredstanley opened #2145 "[OSM-Restart] Sidecar Envoys are not able to connect with OSM after osm controller was restarted."
I am trying a restart case of osm-controller. when i restart the controller i see the services sidecars (envoys) not able to access the osm-controller due to certificate failure.

**Environment**:
- OSM version (use `osm version`): Version: dev; Commit: c495d19; Date: 2020-09-10-19:20
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.1

[2020-12-04 19:56] shashankram commented on #2145
@fredstanley Thanks for reporting this issue. May I ask how are you restarting the controller?

I also see that you are using a forked version of OSM (`Version: dev; Commit: c495d19; Date: 2020-09-10-19:20`), do you see this issue in the latest release https://github.com/openservicemesh/osm/releases/tag/v0.5.0?

I recently tried restarting the controller pod using `kubectl delete osm-controller-xx

[2020-12-04 20:02] fredstanley commented on #2145
@shashankram we still did not move to the latest version. Is the fix available only in v.50 tag ?

Yes i tried restart the same way. (By issuing the delete pod command.)

[2020-12-04 20:30] shashankram commented on #2145
I don't know the base upstream version you are using, but a lot has changed since the last few versions. I recommend you try the upstream v0.5 version and see if the issue is reproducible. If it is, I can look into that specific version and test in my environment. Let me know if that sounds reasonable.

[2020-12-04 20:33] shashankram opened #2146 "e2e test for osm-controller pod restart"
**Please describe the Improvement and/or Feature Request**
Add an e2e test that restarts the osm-controller pod and verify connectivity to applications is not impacted post restart.

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Pe

[2020-12-04 20:33] shashankram commented on #2146
Related issue: https://github.com/openservicemesh/osm/issues/2145

[2020-12-04 21:30] fredstanley commented on #2145
ok I will try to upgrade to v.05 and update there.

[2020-12-05 00:09] ritazh commented on #1918
https://github.com/openservicemesh/osm/issues/1937

[2020-12-05 00:12] ksubrmnn commented on #1937
My guess is that this issue arises when osm is installed with one namespace, the controller gets cleaned up but some resources are leaked, then those resources cause a conflict when installing with a new namespace.

It would be good if we could modify `osm mesh uninstall` to be able to clean up these resources even if there is no osm-controller present.

[2020-12-05 01:52] ksubrmnn opened #2147 "EnforceSingleMesh label is only enforced when using OSM CLI"
**Bug description**:
The enforceSingleMesh label is only enforced when using the osm cli as that is where the logic for checking that label exists. A new mechanism should be developed to ensure enforceSingleMesh is honored when deployed without the CLI (such as with helm directly)

**Affected area (please mark with X where applicable)**:
- Install                    [X]
- SMI Traffic Access Policy

[2020-12-05 01:52] ksubrmnn commented on #2147
This is also true for other checks such as namespace/mesh name/ etc

[2020-12-05 03:03] addozhang commented on #2145
@fredstanley Encounter same issue before. It was fixed after specify ca bundle secret name with `--ca-bundle-secret-name` argument. With it, controller will save generated CA in bundle and extract it from secret in next start. Or, it will generate new CA every start.

[2020-12-05 06:12] allenlsy commented on #912
@michelleN I want some guidance on how to get the installed components? My idea is, after installation, `installClient.Run()` returns a `Release` object. I checked it, and found all the `deploments` CRD in the `manifest` of the `Release` object. Probably this is a feasible way. But any other suggestion on how to do it?

[2020-12-05 07:46] addozhang commented on #2134
@michelleN Will the same logic include in lds? coz there are multi services existing and root service won't be excluded before split created. The client may access with root service as authority.

[2020-12-07 10:09] addozhang opened #2148 "Can we keep tracking the update of main branch and raise issue?"
Dear,

our team is working on the mesh migration for system, and are tracking the update in main branch like requirement what we raised before.

During tracking, we found some bugs. Can we create issue for them?

[2020-12-07 12:38] snehachhabria commented on #2148
@addozhang yes please go ahead and create issues of type bugs

[2020-12-07 13:18] addozhang commented on #2148
@snehachhabria thanks

[2020-12-07 13:18] #2148 closed

[2020-12-07 13:23] addozhang opened #2149 "original_dst specified in inbound listener, but no original destination cluster specified"
**Bug description**:

`original_dst` filter configured in inbound_listener, but there is not filter chain to config original destination cluster.

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [

[2020-12-07 16:53] nojnhuh opened #2151 "Document how to upgrade OSM"
Document the process for upgrading an OSM control plane in a new file under `docs/` called something like `upgrade_guide.md`.

It should contain:
- a description of what an upgrade does
- our policy for what upgrade paths are supported and tested
- steps to perform an upgrade

[2020-12-07 17:02] michelleN opened #2152 "install readarray dependency being used in scripts/test-w-coverage.sh"
There should be instructions or a make command to install the `readarray` utility being used in scripts/test-w-coverage.sh

[2020-12-07 17:18] shashankram commented on #2145
By default the CA bundle secret argument is always passed: https://github.com/openservicemesh/osm/blob/main/charts/osm/templates/osm-deployment.yaml#L37

[2020-12-07 17:25] shashankram commented on #2149
The `original_dst` listener filter configured on the inbound listener is only used for 1 purpose:
- to restore the original destination address upon redirection of traffic from iptables.

https://github.com/openservicemesh/osm/blob/main/pkg/envoy/lds/listener.go#L64-L69

Currently OSM does not require any other use of the orignal_dst listener filter in the inbound listener.

[2020-12-07 17:25] #2149 closed

[2020-12-07 17:30] shashankram commented on #2148
@addozhang you can also join our Slack channel for general questions: https://github.com/openservicemesh/osm#community

[2020-12-07 23:22] shashankram opened #2156 "envoy stats prefix usage"
**Please describe the Improvement and/or Feature Request**
Currently, envoy configurations that export stats require a stat prefix as a part of the configuration, which envoy uses to prefix the stats emitted for the associated configuration.

The stats prefix can be used to identify specific statistics. This issue is to go over the existing usage and determine how the different stats emitted shoul

[2020-12-07 23:25] nojnhuh commented on #2152
`readarray` is a bash builtin added in bash 4.0. On my Mac I have version 3.2 is preinstalled, but 5.0 is available on Homebrew. That script is simple enough that there is probably a reasonable way to refactor it to remove `readarray` entirely.

[2020-12-08 01:16] addozhang commented on #2148
@shashankram joined.

[2020-12-08 11:01] nlamirault commented on #1424
@nshankar13 @SanyaKochhar Yes, it works fine :

[code]

[2020-12-08 11:04] #1424 closed

[2020-12-08 16:29] nojnhuh commented on #2141
I'm not sure I understand the use case here. If a user knows the namespace of the helm release, then they also know the namespace of all the namespaced resources. How does it make deployments more predictable? To me it looks like this would only make it possible to store the release in a different namespace than the other resources. Is there a use case for that?

[2020-12-08 17:17] michelleN commented on #2025
Closing this as it is complete. @nshankar13 - please add details when you can. Thank you.

[2020-12-08 17:17] #2025 closed

[2020-12-08 17:27] nshankar13 commented on #2025
Parameterized fields to make it easier for values-override in templates. Ex: fluent-bit output, webhook-config-name-prefix, etc.

[2020-12-08 17:51] SanyaKochhar opened #2159 "Add e2e to test accuracy of logs forwarded via fluent bit"
**Please describe the Improvement and/or Feature Request**

Currently, there is an e2e to check whether the Fluent Bit sidecar is running when enabled and not running when disabled. We need an additional e2e that checks whether all the expected logs are being correctly forwarded. This will ensure that the filters and output plugin are working correctly.

**Scope (please mark with X where applicabl

[2020-12-08 18:25] michelleN opened #2160 "cut release v0.6.0-rc.1"

[2020-12-08 22:06] michelleN commented on #1610
@ksubrmnn - What are your thoughts around this? Could you help us scope this work to see what all would be involved to support OpenShift?

[2020-12-08 23:04] michelleN opened #2167 "document process related to cutting a release candidate"
**Please describe what should be documented
document process related to cutting a release candidate

**Please suggest where in the repo the document should be located
docs/release_guide.md

[2020-12-08 23:09] michelleN commented on #705
Currently blocked on #2034

[2020-12-08 23:14] #1915 closed

[2020-12-08 23:17] michelleN opened #2168 "Milestone v0.8.0 planning"
Please comment with links to issues that you feel should be tackled in the v0.8.0 release cycle

[2020-12-08 23:18] shashankram commented on #1918
https://github.com/openservicemesh/osm/issues/2146

[2020-12-08 23:21] eduser25 commented on #1934
Closing for the time being. With augmented Ram and removed bucket types, we are at least unblocked for the time being.
We will revisit as soon as we need when unblocked by increase of scale.

[2020-12-08 23:21] #1934 closed

[2020-12-08 23:21] eduser25 commented on #1918
#1916 #1723 perf framework + perf assessment

[2020-12-08 23:23] draychev commented on #1388
I am a huge fan of this tool (yet to be designed).
Having this would answer the following questions:
1) do both pod A and pod B are belong to namespace(s) participating in the mesh
2) are there sidecars installed for both pods (no sidecar could point to old-pod/new-mesh; broken webhook; cert issue etc)
3) is there a policy to allow both pods to communicate
4) are there certs issued; are they curre

[2020-12-08 23:32] draychev commented on #1918
- #2167 **document process related to cutting a release candidate build and release**
 - #2146 **e2e test for osm-controller pod restart e2e**
-  #2145 **[OSM-Restart] Sidecar Envoys are not able to connect with OSM after osm controller was restarted.**
-  # 2126 **Document the statelessness of OSM Controller**

[2020-12-08 23:32] #1644 closed

[2020-12-08 23:57] draychev commented on #1974
This could help with #507

[2020-12-08 23:59] draychev commented on #1939
Could be positively impacted by #1974

[2020-12-09 00:05] draychev commented on #1736
Duplicate of https://github.com/openservicemesh/osm/issues/1892

[2020-12-09 00:05] #1736 closed

[2020-12-09 02:49] addozhang opened #2171 "listener filter timeout when connecting mysql after upgrade from v0.5.0 to 4b9e393c"
**Bug description**:

It works in v0.5.0 with egress enabled.

[code]

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [ ]
- Ingress                    [ ]
- Egress                     [ ]
- Envoy Control Plane        [ ]
- CLI To

[2020-12-09 03:15] addozhang opened #2172 "Support capability to incrementally migrate legacy services to a service mesh"
**Please describe the Improvement and/or Feature Request**

This is supplied description of #2012 .

As described before, we are working Spring Cloud on Kubernetes migrating to mesh, and expect it as smooth as possible, such as starting with part of services via adding injection annotation to them and make all namespaces monitored by osm.

Currently the service communicating with each other is via

[2020-12-09 07:59] addozhang commented on #2171
Checked source code, it is issue with the new added `envoy.filters.listener.http_inspector` in outbound listener.

When connecting to mysql, the inspector will keep waiting data from socket, but there is no http flag.

@shashankram I found your description in #2101, it only support HTTP protocol. How to handle the non-http traffic?

[2020-12-09 16:27] ritazh commented on #902
Adding:
Some of these can be follow up issues we add in future phases
- Number of namespaces monitored by the OSM controller
- Number and Types of SMI specs managed by the OSM controller
- Number of Ingresses observed

[2020-12-09 17:20] shashankram commented on #2171
Current OSM only supports HTTP traffic. If you require support for non HTTP traffic, please open an issue for the same.
We are working on adding TCP support tracked in #1521.

We need the `http_inspector` listener filter to detect outbound HTTP traffic for in-mesh destination traffic.

It seems like this issue will be resolved once https://github.com/openservicemesh/osm/issues/2096 is implemented.

[2020-12-09 17:24] shashankram commented on #2172
This will be supported after https://github.com/openservicemesh/osm/issues/2096 is implemented

This can be achieved using https://github.com/openservicemesh/osm/issues/1001

We do not plan to support multiple outbound listeners at this moment. We are using filter chains per IP range. It seems as though you would like an additional filter_chain matching pod IPs.

destination port based filter chai

[2020-12-09 19:58] michelleN commented on #902
From the estimation meeting, we'll break this up into the following tasks. Feel free to create sub issues.
- [ ] have a working prometheus endpoint
- [ ] Expose metrics related to envoy proxies
- [ ] Expose metric on latency
- [ ] Expose metrics around internal caches of resources( SMI resources, namespaces, ingresses)

[2020-12-09 20:04] michelleN commented on #1895
Need to figure out what is considered sensitive information.

[2020-12-09 20:07] michelleN commented on #1475
Already happens. TODO: add reference to that here and close.

[2020-12-09 20:08] michelleN commented on #1678
Current status: getting subdomain configured via cncf

[2020-12-09 21:09] ksubrmnn commented on #2141
@nojnhuh users can use the osmNamespace field in the values file to optionally hardcode the namespace of the osm-controller while still using the helm cli to specify the helm release namespace.

[2020-12-09 23:47] addozhang commented on #2172
Yes, saw your reply in another issue.

ok

I mean to add one more filter chain instead of outbound listener.
You're right, one more filter chain with POD CIDR (such as, 10.128.0.0/12) will handle this case. But did not find a mechanism to compute out 10.128.0.0 yet.

Yes, found it in commit days before. Great job.

[2020-12-10 00:01] shashankram commented on #2172
@addozhang for the service specific filter chain, refer to:
https://github.com/openservicemesh/osm/blob/d05ceb2e4263152beeb88b02f4142c7bcfc51b7d/pkg/envoy/lds/inmesh.go#L254

I am wondering why do you need the pod CIDR. OSM requires destination to always be a service fronting the pods. What is the use case to access pods directly without using k8s Service?

[2020-12-10 00:08] addozhang commented on #2172
@shashankram currently, our system are running Spring Cloud on Openshift. The service discovery is Netfilx Erueka which maintaining service instance with ip and port. In our case, the ip is the one of pod.

So we need a filter chain with pod cidr to match pod ip traffic to handle in mesh.

I think this is common case for micro service implemented with spring cloud.

[2020-12-10 00:15] shashankram commented on #2172
I see, so client app is using Netflix Eureka for service discovery and directly making API requests to the pod ip:port instead of Kubernetes service name?

[2020-12-10 00:27] addozhang commented on #2172
Yes, correct. This is why I am following to latest code find a solution. I think we can also abandon Netfilx Eureka gradually by using osm-controller and envoy to delegate discovery. One all service migrated to mesh, we will abandon eureka with upgrading our SDK.

But before that, we need the migration smoothly, and really hope osm can help us. :) . As I know, a lot of companies are facing same is

[2020-12-10 00:35] shashankram commented on #2172
I understand your use case for pod IP based routing now. Let me create a separate issue for this and reference this issue.

[2020-12-10 00:36] addozhang commented on #2172
@shashankram Thanks.

[2020-12-10 16:22] michelleN opened #2179 "links in design doc reference an old version of OSM"
**Please describe what should be documented
Links should point to docs in main so they are up to date. When a release is cut, the links should be updated to point to a version of the documentation.

See example links in [this section ](https://github.com/openservicemesh/osm/blob/main/DESIGN.md#containers)of the design doc

[2020-12-10 19:01] draychev commented on #1918
### Final set of GitHub Issues committed for [milestone v0.7](https://github.com/openservicemesh/osm/milestone/20)

| Issue | Title | T-Shirt Size | (estimated ideal days of work) |
|--|--|--|--|
| #902 | Implement minimum set of Prometheus metrics for OSM Controller pod | L | 5 |
| #1489 | Improve test coverage (goal: 80%) | XL | 10 |
| #1521 | Implement TCPRoute of SMI Spec | XL | 10 |
| #1658 |

[2020-12-10 23:26] #2141 closed

[2020-12-11 17:25] nojnhuh opened #2190 "Overriding default ADS port is not reflected in proxy bootstrap config"
**Bug description**:

A flag is included on the `osm-controller` binary to change the port used for ADS:
https://github.com/openservicemesh/osm/blob/d93b01b56e5746cfedc265db93dcf7f914fef36c/cmd/osm-controller/osm-controller.go#L76

But the default is used unconditionally in the proxy bootstrap configuration:
https://github.com/openservicemesh/osm/blob/d93b01b56e5746cfedc265db93dcf7f914fef36c/pkg/i

[2020-12-14 22:25] ksubrmnn opened #2197 "Document installing/uninstalling OSM via helm CLI"
**Please describe what should be documented
Installation and uninstallation steps should be documented using helm CLI

**Please suggest where in the repo the document should be located
docs/installation_guide.md
docs/uninstallation_guide.md

[2020-12-15 15:15] Hkyx commented on #2082
any update on this ?

[2020-12-15 20:01] draychev opened #2201 "Annotation to enable metrics collection should be user-configurable"
To allow for different metrics collectors to work w/ OSM, we need to make the annotation enabling scraping to be configurable.

Annotation: https://github.com/openservicemesh/osm/blob/83a0320ce210b3bcce0898080b3b8d8db6ca3770/pkg/constants/constants.go#L148

---

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Po

[2020-12-15 20:12] shashankram commented on #2201
@draychev could you describe the use case a bit more with an example. I recollect discussions around making the annotation configurable in the past but it wasn't required back then.

[2020-12-15 22:43] shashankram commented on #2145
@fredstanley are you able to reproduce this issue with the latest release?

[2020-12-15 22:45] fredstanley commented on #2145
@shashankram The rebase to upstream osm was bit involved in our case (had some private changes). Give us couple of weeks. I will update you on this issue.

[2020-12-16 00:25] shashankram commented on #2131
I see this issue manifest when the controller pod is restarted:
[code]

[2020-12-16 00:49] shashankram commented on #2131
Based on my testing, I don't see it being a transient error, it remains stuck at 503 indefinitely:

[code]

[2020-12-16 01:24] draychev commented on #2201
Gathering some context on a tool I want to integrate with -- will update the Issue when I have more. (I assigned it to myself for the time being)

[2020-12-16 01:28] draychev opened #2206 "When a namespace is annotated for metrics - annotate all existing pods with prometheus annotations"
When a namespace is enabled for metrics, only new pods will get the Prometheus annotations.

Example:
[code]

Would annotate the `bookstore` namespace with `openservicemesh.io/metrics`.

According to the code below - only new patches (now pods) will get the prometheus annotations.

https://github.com/openservicemesh/osm/blob/5e4d3404156e79c3f6d9386ad6211f9e5b6994a9/pkg/injector/patch.go#L87

This

[2020-12-16 17:21] shashankram commented on #2206
@draychev that isn't true because metrics must be enabled via `osm cli`, which enables metrics for existing pods as well:
https://github.com/openservicemesh/osm/blob/dcfaf0678b787f95ebd922c650fdce321688dcdb/cmd/cli/metrics_enable.go#L103-L105

[2020-12-16 17:25] draychev commented on #2206
@shashankram thanks for pointing this out - this is done then!

[2020-12-16 17:25] #2206 closed

[2020-12-16 17:30] draychev opened #2207 "Envoy must expose health probes of underlying service"
When an Envoy sidecar is injected, the Envoy must preserve the existing health probes configured on the Pod.

Currently - when a Pod w/ health probes is injected w/ OSM Envoy, health probes fail.

Related:
  - [ ] https://github.com/openservicemesh/osm/issues/2097  **Program ip:port combinations as possible host headers in virtual_host.domains for HTTP routes**
  - [x] https://github.com/openservi

[2020-12-16 23:41] #2131 closed

[2020-12-17 00:54] #2146 closed

[2020-12-17 00:56] shashankram commented on #2145
@fredstanley we added a test to ensure connectivity is not impacted after OSM controller restarts in https://github.com/openservicemesh/osm/pull/2212, and its passing right now.

There was a bug related to connectivity being impacted post controller restart which as been addressed: https://github.com/openservicemesh/osm/issues/2131

[2020-12-17 00:56] #2145 closed

[2020-12-17 15:55] shalier opened #2216 "Add e2e testing for validating webhook"
**Please describe the Improvement and/or Feature Request**

The validating webhook should be tested in e2e, particularly testing for when the webhook fails

**Scope (please mark with X where applicable)**
- New Functionality          [ ]
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [

[2020-12-17 18:42] shashankram opened #2218 "Use ServiceIdentity type in catalog APIs instead of service.K8sServiceAccount"
The type `identity.ServiceIdentity` was introduced to abstract the the identities assigned to services. Use this in catalog APIs instead of `k8s.ServiceAccount` to not leak Kubernetes primitives and identity abstraction across the `MeshCataloger` API boundaries.

This is where the current K8sServiceAccount is declared: https://github.com/openservicemesh/osm/blob/v0.8.2/pkg/service/types.go#L21-L25

[2020-12-17 20:06] mayurigupta13 commented on #902
Additional metric to collect is - How many certs are expired.

[2020-12-22 00:00] SanyaKochhar opened #2229 "Fluent Bit proxy does not work if httpProxy or httpsProxy value is missing"
**Bug description**: Outbound proxy support for fluent bit does not work if both httpProxy AND httpsProxy values aren't specified. This problem arises because proxy-config.yaml does not check for empty values; if enableProxySupport is true, it assumes both will be defined.

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: unknown object t

[2020-12-22 18:31] shashankram commented on #1891
This is no longer true, resolved by https://github.com/openservicemesh/osm/issues/1965.

Duplicate of #1965 , which has already been addressed in v0.6.0.

[2020-12-22 18:31] #1891 closed

[2020-12-22 19:08] SanyaKochhar commented on #2229
Issue arising because yaml treats empty values as nil. Fixed using `quote` function that makes the nil value into a permissible empty string

[2020-12-22 20:00] #2229 closed

[2020-12-23 18:14] shashankram commented on #2064
This isn't related to the routes refactor as much as more having to do with how certificates are issued to proxies. I discussed with @michelleN a proposed solution for this without needing to hack with synthetic services. I'll try to prototype a solution for this.

[2020-12-29 03:22] addozhang opened #2237 "multi exposed ports service resulting in lds error"
**Bug description**:

Two ports defined in service, and it contains one filter match which holding two same address_prefix.

Two same address_prefixs exists in one match with same prefix_len two.

[code]

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Perm

[2020-12-29 16:59] shashankram commented on #2237
Multiple ports per service is not yet supported and tested. Could you kindly open a feature request for this @addozhang.
This will likely be more work than just the LDS change.

[2020-12-29 19:23] #1788 closed

[2021-01-02 07:44] irbekrm commented on #1933
Hi @eduser25, could I work on this?

[2021-01-04 17:12] shashankram commented on #1933
Hey @irbekrm, you are welcome to work on this issue.

It would be good to make the bit size configurable irrespective of the certificate provider being used (tresor, cert-manager, vault etc.). Both cert-manager and tresor providers in OSM expose the key size as constants at the moment. To make this configurable, you will need to hook this config option via the `osm-config` ConfigMap.

ConfigMap:
h

[2021-01-04 20:10] bridgetkromhout commented on #1818
Quick question - do we want to provide a link somewhere so people can subscribe to the desired list? Or are we looking to have several individuals subscribe? We won't want to subscribe a mailing list to another mailing list.

[2021-01-04 20:28] ritazh commented on #1818
This issue is to ensure osm maintainers are part of Envoy's embargo CVE disclosure mailing list to make the necessary Envoy updates and tests in osm before cutting a new osm release.

[2021-01-04 20:40] michelleN commented on #2168
https://github.com/openservicemesh/osm/issues/685

[2021-01-04 22:09] draychev opened #2243 "injector: Generate init/init-iptables.sh dynamically from Go code and constants"
The init container executes the `init/init-iptables.sh` script which is a static bash script.  The bash script contains constants that are duplicated in Go code. A mismatch between these constants (port numbers) would cause breakage. These constants are currently synced manually. To prevent issues arising from inconsistencies between the bash and Go code - we should dynamically generate the `init/

[2021-01-04 22:27] draychev commented on #902
@mayurigupta13 this sounds interesting. How many certs have expired (and subsequently renewed) would be a function of how many side-cars we provisioned and the validity period (per cert).

A few more interesting metrics that come to mind:
 - [ ] total number of sidecars added
 - [ ] sidecars added per <time period>
 - [ ] total number of Envoy proxies connected (should match the total number of si

[2021-01-04 22:44] shashankram opened #2244 "e2e_helm_install_test failure on CI"
**Bug description**:
e2e_helm_install_test e2e test failed in the CI running on main post PR merges:
https://github.com/openservicemesh/osm/runs/1646641466?check_suite_focus=true

**Affected area (please mark with X where applicable)**:
- Install                    [ ]
- SMI Traffic Access Policy  [ ]
- SMI Traffic Specs Policy   [ ]
- SMI Traffic Split Policy   [ ]
- Permissive Traffic Policy  [

[2021-01-04 22:53] eduser25 commented on #902
- from what mem/cpu is concerned, we are already able to capture that through k8s.
From my last post

We probably also want:
- Number of failed XDS updates (NACKS) from envoy
- Number of XDS versioning/Nonce dropped updates
- Timebucket for webhook execution
- Number of webhooks/s (provided by the previous)
- timebucket for cert creation (track how much time does it take to create a cert)